{
  "openapi" : "3.0.3",
  "info" : {
    "title" : "InterServer Management API",
    "description" : "# Overview\n\nThe InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.\n\nThe API covers the following service categories:\n- [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management\n- [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting\n- [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers\n- [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html)\n- [Backups](https://www.interserver.net/storage/) — storage and backup services\n- Licenses — control panel and software licenses\n- [Mail](https://www.mail.baby/) — mail delivery services\n- SSL — certificate provisioning\n- Billing — invoices, payment methods, and account management\n\nFor interactive testing, see the [API documentation](/api-docs/).\n\n# Authentication\n\nMost endpoints require authentication. Two methods are supported:\n\n## API Key (Preferred)\n\nGenerate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:\n\n```\nX-API-KEY: your-api-key-here\n```\n\n## Session-Based Authentication\n\nAlternatively, authenticate by creating a session:\n\n1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier.\n2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:\n\n```\nsessionid: your-session-id-here\n```\n\nAPI key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.\n\n",
    "termsOfService" : "https://www.interserver.net/terms-of-service.html",
    "contact" : {
      "name" : "InterServer Support Staff",
      "url" : "https://www.interserver.net/contact-us.html",
      "email" : "support@interserver.net"
    },
    "license" : {
      "name" : "MIT License",
      "url" : "https://opensource.org/licenses/MIT"
    },
    "version" : "0.9.0"
  },
  "externalDocs" : {
    "description" : "Tips",
    "url" : "https://www.interserver.net/tips/"
  },
  "servers" : [ {
    "url" : "https://my.interserver.net/apiv2",
    "description" : "Live API Endpoint"
  } ],
  "security" : [ {
    "apiKeyAuth" : [ ]
  }, {
    "sessionIdHeaderAuth" : [ ]
  }, {
    "sessionIdCookieAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "Public",
    "description" : "Commands usable without an active session or api credentials."
  }, {
    "name" : "Account",
    "description" : "Account related items"
  }, {
    "name" : "Billing",
    "description" : "Billing related items"
  }, {
    "name" : "Backups",
    "description" : "Backup related services"
  }, {
    "name" : "DNS",
    "description" : "DNS related items"
  }, {
    "name" : "Domains",
    "description" : "Domain Registration related services"
  }, {
    "name" : "Floating_IPs",
    "description" : "Floating IP related items"
  }, {
    "name" : "Licenses",
    "description" : "Licensing related services"
  }, {
    "name" : "Mail",
    "description" : "Mail related items"
  }, {
    "name" : "QuickServers",
    "description" : "Rapid Deploy Servers related services"
  }, {
    "name" : "Servers",
    "description" : "Dedicated Servers related services"
  }, {
    "name" : "SSL-Certificates",
    "description" : "SSL Certificates related services"
  }, {
    "name" : "VPS",
    "description" : "VPS related services"
  }, {
    "name" : "Webhosting",
    "description" : "Webhosting related services"
  }, {
    "name" : "Tickets",
    "description" : "Support Request System"
  } ],
  "paths" : {
    "/account" : {
      "summary" : "User Account Information and Management",
      "description" : "This endpoint allows you to manage various user details, including contact information and account security.\n\n- Use the `GET` method to retrieve your account information.\n- Use the `POST` method to update your stored contact and billing information.\n",
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Retrieve Account Details",
        "description" : "Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with `POST /account`.",
        "operationId" : "getAccountInfo",
        "responses" : {
          "200" : {
            "description" : "Your account information.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountInfo"
                }
              }
            },
            "links" : {
              "UpdateAccountInfo" : {
                "operationId" : "updateAccountInfo",
                "description" : "Use the returned account data to pre-fill an update form and submit changes via POST /account."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Update Account Information",
        "description" : "Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.",
        "operationId" : "updateAccountInfo",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountInfoPost"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountInfoPost"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "422" : {
            "description" : "Validation error while updating account data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                },
                "examples" : {
                  "InvalidTimeZone" : {
                    "value" : {
                      "message" : "Invalid Time Zone"
                    }
                  },
                  "MissingRequiredFields" : {
                    "value" : {
                      "message" : "fname, lname cannot be empty!"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/account/2fa" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Get Two-Factor Setup Data",
        "description" : "Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the `2fa_google_key` as a QR code or display the `2fa_google_split` value for manual entry. After setup, verify with `POST /account/2fa`.",
        "operationId" : "getAccountTfaSetup",
        "responses" : {
          "200" : {
            "description" : "Two-factor authentication setup data.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Enable Two-Factor Authentication",
        "description" : "Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use `GET /account/2fa` first to retrieve the secret key for app setup.",
        "operationId" : "updateAccountTfa",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/account_2fa_body"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/account_2fa_body_1"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "422" : {
            "description" : "Provided two-factor verification code was invalid.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                },
                "examples" : {
                  "InvalidCode" : {
                    "value" : {
                      "message" : "Invalid Code"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Account" ],
        "summary" : "Disable Two-Factor Authentication",
        "description" : "Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.",
        "operationId" : "deleteAccountTfa",
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/apikey" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Generate New API Key",
        "description" : "Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.",
        "operationId" : "updateAccountApiKey",
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/creditcards" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Add Credit Card to Account",
        "description" : "Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.",
        "operationId" : "addAccountCreditCard",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/creditcards/{id}" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Update Credit Card",
        "description" : "Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.",
        "operationId" : "updateAccountCreditCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID. Use the card ID returned from `POST /account/creditcards` or listed in `/billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "delete" : {
        "tags" : [ "Billing" ],
        "summary" : "Remove Credit Card",
        "description" : "Removes a credit card from the account. If this is the default payment method, select a new default via `/billing/payment_method` afterward.",
        "operationId" : "deleteAccountCreditCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID. Use the card ID returned from `POST /account/creditcards` or listed in `/billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/account/features" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Update Account Feature Flags",
        "description" : "Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.",
        "operationId" : "updateAccountFeatures",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountFeatures"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountFeatures"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "422" : {
            "description" : "Request was valid but did not contain updatable values.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                },
                "examples" : {
                  "NoChanges" : {
                    "value" : {
                      "message" : "Nothing to update"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account/iplimits" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Add IP Access Restriction",
        "description" : "Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.",
        "operationId" : "updateAccountIpLimits",
        "requestBody" : {
          "description" : "The lower and upper bounds of an ip range.",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              },
              "examples" : {
                "IpLimitRangeFormExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/IpLimitRange"
              },
              "examples" : {
                "IpLimitRangeJsonExample" : {
                  "value" : {
                    "start" : "1.2.3.0",
                    "end" : "1.2.3.255"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "422" : {
            "description" : "IP limit payload contains an invalid address.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                },
                "examples" : {
                  "InvalidIp" : {
                    "value" : {
                      "message" : "Invalid IP Address"
                    }
                  }
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "patch" : {
        "tags" : [ "Account" ],
        "summary" : "Remove IP Access Restriction",
        "description" : "Removes an IP address range from the account's access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.",
        "operationId" : "deleteIpLimit",
        "requestBody" : {
          "content" : {
            "application/json" : { }
          }
        },
        "responses" : {
          "200" : {
            "description" : "IP Range removed.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GenericResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/oauth/{name}" : {
      "delete" : {
        "tags" : [ "Account" ],
        "summary" : "Unlink OAuth Account",
        "description" : "Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.",
        "operationId" : "deleteAccountOauthName",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/oauth/{name}/logout" : {
      "get" : {
        "tags" : [ "Account" ],
        "summary" : "Logout of OAuth",
        "description" : "Logs out of the specified OAuth provider session.",
        "operationId" : "logoutAccountOauth",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/password" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Change Account Password",
        "description" : "Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.",
        "operationId" : "updateAccountPassword",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PasswordRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/sshkey" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Update SSH Keys",
        "description" : "Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.",
        "operationId" : "updateAccountSshKey",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountSshKey"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountSshKey"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/account/username" : {
      "post" : {
        "tags" : [ "Account" ],
        "summary" : "Change Account Username",
        "description" : "Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.",
        "operationId" : "changeAccountUsername",
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified resource was not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                },
                "examples" : {
                  "InvalidTimezone" : {
                    "value" : {
                      "code" : 422,
                      "message" : "Invalid timezone"
                    }
                  },
                  "MissingCaptcha" : {
                    "value" : {
                      "code" : 422,
                      "message" : "missing captcha"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/banners" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "List Affiliate Banner Assets",
        "description" : "Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.",
        "operationId" : "getAffiliateBanners",
        "responses" : {
          "200" : {
            "description" : "Affiliate Banners Array",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AffiliateBannerRow"
                  },
                  "x-content-type" : "application/json"
                },
                "examples" : {
                  "AffiliateBannerExample" : {
                    "value" : [ {
                      "image" : "12946798.gif",
                      "width" : "125",
                      "height" : "125"
                    }, {
                      "image" : "12946800.gif",
                      "width" : "160",
                      "height" : "90"
                    }, {
                      "image" : "12946802.gif",
                      "width" : "160",
                      "height" : "190"
                    }, {
                      "image" : "12946806.gif",
                      "width" : "200",
                      "height" : "200"
                    }, {
                      "image" : "12946808.gif",
                      "width" : "250",
                      "height" : "250"
                    }, {
                      "image" : "12946811.gif",
                      "width" : "300",
                      "height" : "250"
                    } ]
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/landing_pg" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Configure Affiliate Landing Page",
        "description" : "Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.",
        "operationId" : "updateAffiliateLandingPage",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/dock_setup" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Configure Affiliate Dock Settings",
        "description" : "Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.",
        "operationId" : "updateAffiliateDockSetup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliateDockSetup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/payment_setup" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Configure Affiliate Payout Preferences",
        "description" : "Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.",
        "operationId" : "updateAffiliatePaymentSetup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliatePaymentSetup"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AffiliatePaymentSetup"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/rich_report" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Affiliate Performance Report",
        "description" : "Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.",
        "operationId" : "getAffiliateRichReport",
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/sales_graph" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Affiliate Sales Graph Data",
        "description" : "Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.",
        "operationId" : "getAffiliateSalesGraph",
        "parameters" : [ {
          "name" : "days",
          "in" : "query",
          "description" : "Number of days of sales history to include in the graph data. Determines the time window for the returned data points.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Affiliate sales graph data broken down by time period.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/StatusMonthlyBreakdown"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/sales_report" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Affiliate Sales Report",
        "description" : "Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.",
        "operationId" : "getAffiliateSalesReport",
        "responses" : {
          "200" : {
            "description" : "Response with a text message field.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/traffic_graph" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Affiliate Traffic Graph Data",
        "description" : "Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.",
        "operationId" : "getAffiliateTrafficGraph",
        "parameters" : [ {
          "name" : "days",
          "in" : "query",
          "description" : "Number of days of traffic history to include in the graph data. Determines the time window for the returned data points.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Affiliate traffic graph data broken down by time period.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MonthlyCounts"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/affiliate/web_traffic" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "List Affiliate Web Traffic Entries",
        "description" : "Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.",
        "operationId" : "getAffiliateWebTraffic",
        "responses" : {
          "200" : {
            "description" : "The recent affiliate web traffic",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AffiliateTrafficRow"
                  },
                  "x-content-type" : "application/json"
                },
                "examples" : {
                  "AffiliateWebTrafficResponseExample" : {
                    "value" : [ {
                      "traffic_id" : "91839913",
                      "traffic_ip" : "2a06:98c0:3600::",
                      "traffic_url" : "https://www.interserver.net/webhosting/?id=8",
                      "traffic_affiliate" : "8",
                      "traffic_referrer" : "",
                      "traffic_timestamp" : "2023-09-30 06:30:27"
                    }, {
                      "traffic_id" : "91831932",
                      "traffic_ip" : "2a06:98c0:3600::",
                      "traffic_url" : "https://www.interserver.net/webhosting/?id=8",
                      "traffic_affiliate" : "8",
                      "traffic_referrer" : "",
                      "traffic_timestamp" : "2023-09-30 03:15:13"
                    } ]
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/backups" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "List Backup Services",
        "description" : "Returns all backup storage services on your account. Each entry includes the `backup_id`, `backup_username`, `backup_ip`, `backup_status`, and `backup_quota`. Use the `backup_id` with `/backups/{id}` to retrieve full service details or `/backups/{id}/login` to obtain a storage panel session.",
        "operationId" : "getBackupsList",
        "responses" : {
          "200" : {
            "description" : "The listing of backup storage services on your account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/BackupRow"
                  },
                  "x-content-type" : "application/json"
                }
              }
            },
            "links" : {
              "GetBackupDetails" : {
                "operationId" : "getBackupInfo",
                "parameters" : {
                  "id" : "$response.body#/0/backup_id"
                },
                "description" : "Use the backup_id from the list to retrieve full service details including connection info and status."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/backups/order" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "Get Backup Order Form Data",
        "description" : "Returns available backup storage plans, pricing tiers, and form metadata needed to build an order form. Use the service type IDs from this response when submitting a validation request via `PUT /backups/order` or placing an order via `POST /backups/order`.",
        "operationId" : "getNewBackup",
        "responses" : {
          "200" : {
            "description" : "Information needed to generate an order form.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupsOrder"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Backups" ],
        "summary" : "Validate Backup Order",
        "description" : "Validates a backup storage order without placing it, returning calculated pricing and any validation errors. Use this to display a confirmation screen with the final price before submitting the order via `POST /backups/order`.",
        "operationId" : "validateBackupOrder",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Validate Backup Order Response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupOrderPutResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Backups" ],
        "summary" : "Place Backup Order",
        "description" : "Places a new backup storage order and generates an invoice. On success, the response includes invoice IDs that can be used with `/billing/invoices/{id}` to view the invoice or `/pay/{method}/{invoices}` to complete payment. The service is provisioned after payment is confirmed.",
        "operationId" : "addBackup",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BackupOrderPutRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Response from the backup order call including invoice IDs for payment.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupOrderPostResponse"
                }
              }
            },
            "links" : {
              "InitiatePayment" : {
                "operationId" : "getBillingInvoice",
                "parameters" : {
                  "id" : "$response.body#/invoices_id"
                },
                "description" : "Use the invoice ID from the order response to retrieve invoice details or proceed to payment."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/backups/{id}" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "Get Backup Service Details",
        "description" : "Returns detailed service information for the specified backup storage order, including `backup_username`, `backup_ip`, `backup_status`, and `backup_quota` in `serviceInfo`. Also returns `client_links`, `billingDetails`, `extraInfoTables`, `package`, and `custCurrency`.",
        "operationId" : "getBackupInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Full backup service details including serviceInfo, billingDetails, and client_links.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Backup"
                }
              }
            },
            "links" : {
              "GetBackupInvoices" : {
                "operationId" : "getBackupInvoices",
                "parameters" : {
                  "id" : "$request.path.id"
                },
                "description" : "Retrieve invoices for this backup service."
              },
              "GetBackupLogin" : {
                "operationId" : "getBackupLogin",
                "parameters" : {
                  "id" : "$request.path.id"
                },
                "description" : "Obtain a login session URL for the backup storage panel."
              },
              "CancelBackup" : {
                "operationId" : "cancelBackup",
                "parameters" : {
                  "id" : "$request.path.id"
                },
                "description" : "Cancel this backup service."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Backups" ],
        "summary" : "Update Backup Information",
        "description" : "Updates backup storage service metadata, such as stored credentials or settings for the order.",
        "operationId" : "updateBackupInfo",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "delete" : {
        "tags" : [ "Backups" ],
        "summary" : "Cancel Backup Service",
        "description" : "Cancels the specified backup storage service. The service remains accessible until the end of the current billing period. This action cannot be undone; a new order must be placed to restore service.",
        "operationId" : "cancelBackup",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Backups Cancel",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/invoices" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "Get Backup Order Invoices",
        "description" : "Retrieves invoices associated with the backup storage order. Use this to confirm billing status or locate invoices for payment.",
        "operationId" : "getBackupInvoices",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Get Invoices response",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeInvoiceRows"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/login" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "Get Backup Storage Panel Login",
        "description" : "Creates and returns a login session URL for the backup storage panel. The returned session URL can be used to redirect the user directly into the storage management interface without requiring separate credentials.",
        "operationId" : "getBackupLogin",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Login session details for the backup storage service.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BackupLoginResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/backups/{id}/welcome_email" : {
      "get" : {
        "tags" : [ "Backups" ],
        "summary" : "Resend Backup Welcome Email",
        "description" : "Resends the welcome email for the specified backup service. The email contains connection credentials and setup instructions. Use this when the original welcome email was lost or never received.",
        "operationId" : "getBackupsWelcomeEmail",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/cart" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Shopping Cart Contents",
        "description" : "Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to `/pay/{method}/{invoices}`.",
        "operationId" : "getBillingCart",
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/billing/prepays" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "List Prepay Balances",
        "description" : "Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting `prepay` as a payment method.",
        "operationId" : "getBillingPrePays",
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Create Prepay Deposit",
        "description" : "Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use `/billing/invoices/{id}` to retrieve the generated invoice details.",
        "operationId" : "addBillingPrepay",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingPrepayRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingPrepayRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/prepays/{id}" : {
      "delete" : {
        "tags" : [ "Billing" ],
        "summary" : "Delete Prepay Balance",
        "description" : "Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use `GET /billing/prepays` to list available prepay balances and their IDs.",
        "operationId" : "deleteBillingPrepay",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The prepay balance ID to delete.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "List Account Invoices",
        "description" : "Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with `/billing/invoices/{id}` to retrieve detailed line items, or with `/pay/{method}/{invoices}` to initiate payment.",
        "operationId" : "getBillingInvoices",
        "responses" : {
          "200" : {
            "description" : "Invoice listing and summary for the account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingInvoiceList"
                }
              }
            },
            "links" : {
              "GetInvoiceDetails" : {
                "operationId" : "getBillingInvoice",
                "parameters" : {
                  "id" : "$response.body#/invoices/0/id"
                },
                "description" : "Use an invoice ID from the list to retrieve the full invoice details for payment or review."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/{id}" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Invoice Details",
        "description" : "Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to `/pay/{method}/{invoices}` so you can display the exact amount due and confirm the invoice is still unpaid.",
        "operationId" : "getBillingInvoice",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The invoice ID. Use IDs from `GET /billing/invoices` or from order responses.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Detailed invoice payload for the requested invoice.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BillingInvoiceDetail"
                }
              }
            },
            "links" : {
              "DeleteInvoice" : {
                "operationId" : "deleteBillingInvoice",
                "parameters" : {
                  "id" : "$request.path.id"
                },
                "description" : "Delete this invoice if it is still unpaid."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Billing" ],
        "summary" : "Delete Invoice",
        "description" : "Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.",
        "operationId" : "deleteBillingInvoice",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The invoice ID to delete. Only unpaid invoices can be deleted.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/creditcards" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Add Credit Card for Billing",
        "description" : "Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via `GET /billing/creditcards/{id}/verify` followed by `POST /billing/creditcards/{id}/verify` before the card can be used for payments.",
        "operationId" : "addBillingCreditCard",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingAddCcRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/creditcards/{id}" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Update Credit Card Details",
        "description" : "Updates stored credit card metadata or retrieves the masked card details. Use this to refresh card data before verification or to update billing address information associated with the card.",
        "operationId" : "updateBillingCreditCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID. Use IDs from `GET /billing/creditcards` or the response from `POST /billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Billing" ],
        "summary" : "Delete Credit Card",
        "description" : "Removes the selected credit card from the account. Use `/billing/payment_method` to select a new default payment method after deleting a card.",
        "operationId" : "deleteBillingCreditCard",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID to remove. Use IDs from `GET /billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/creditcards/{id}/verify" : {
      "get" : {
        "tags" : [ "Billing" ],
        "summary" : "Get Credit Card Verification Requirements",
        "description" : "Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.",
        "operationId" : "getBillingCreditCardVerify",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID to verify. Use the ID returned from `POST /billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Submit Credit Card Verification",
        "description" : "Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by `GET /billing/creditcards/{id}/verify`. A successful response means the card is verified and can be selected as a payment method via `/billing/payment_method`.",
        "operationId" : "postBillingCreditCardVerify",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The credit card ID to verify. Use the ID returned from `POST /billing/creditcards`.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingVerifyCcRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingVerifyCcRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/billing/payment_method" : {
      "post" : {
        "tags" : [ "Billing" ],
        "summary" : "Update Default Payment Method",
        "description" : "Updates the account's default payment method, including selecting a verified credit card as the primary payment source or switching to PayPal when available.",
        "operationId" : "updateBillingPaymentMethod",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingPaymentMethodRequest"
              }
            },
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/BillingPaymentMethodRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "A response indicating the operation completed successfully with a text message.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SuccessTextResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/captcha" : {
      "get" : {
        "tags" : [ "Public" ],
        "summary" : "Get Captcha Challenge",
        "description" : "Returns a base64-encoded JPEG captcha image for human verification. Display this image to the user and submit their response along with the registration or order form. No authentication is required for this endpoint.",
        "operationId" : "getCaptcha",
        "responses" : {
          "200" : {
            "description" : "An array containing a `captcha` field containing a string with a base64 encoded captcha image.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CaptchaResponse"
                },
                "examples" : {
                  "CaptchaResponseExample" : {
                    "value" : {
                      "captcha" : "data:image/jpeg;base64,/9j/4AAQ"
                    }
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        },
        "security" : [ { } ]
      }
    },
    "/buy_now_servers_list" : {
      "get" : {
        "tags" : [ "Servers", "Public" ],
        "summary" : "List Marketplace Servers",
        "description" : "Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.",
        "operationId" : "getMPServers",
        "responses" : {
          "200" : {
            "description" : "Marketplace Buy it now servers list",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BuyItNowList"
                },
                "example" : [ {
                  "server_id" : "10467",
                  "cpu" : [ "Xeon E3-1270v6", {
                    "img" : "xeon-e3.png",
                    "type" : "XEON",
                    "speed" : "",
                    "num_cpus" : "1",
                    "num_cores" : "4"
                  } ],
                  "memory" : "64GB",
                  "disk" : {
                    "4TB SSD" : "4TB SSD"
                  },
                  "bandwidth" : "1Gbps Unmetered",
                  "ips" : "1 Vlan Ip (/30)",
                  "location" : "NYC Region",
                  "price" : 64
                } ]
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/dns" : {
      "summary" : "DNS Management",
      "description" : "View and manage your DNS domains and records",
      "get" : {
        "tags" : [ "DNS" ],
        "summary" : "List DNS Domains",
        "description" : "Returns the DNS domains on your account along with their primary A record content. Use the `id` from each entry with `/dns/{id}` to retrieve the full record set, or to add, update, and delete individual records.",
        "operationId" : "getDnsList",
        "responses" : {
          "200" : {
            "description" : "Listing of DNS domains on the account with their primary A record.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DnsListItem"
                  },
                  "x-content-type" : "application/json"
                },
                "examples" : {
                  "DnsListExample" : {
                    "value" : [ {
                      "id" : 68,
                      "name" : "hussfamily.com",
                      "content" : "64.20.35.186"
                    }, {
                      "id" : 1658,
                      "name" : "detain.interserver.net",
                      "content" : "66.45.228.74"
                    }, {
                      "id" : 1659,
                      "name" : "creation.interserver.net",
                      "content" : "66.23.239.99"
                    } ]
                  }
                }
              }
            },
            "links" : {
              "GetDnsDomain" : {
                "operationId" : "getDnsDomain",
                "parameters" : {
                  "id" : "$response.body#/0/id"
                },
                "description" : "Use the domain id from the list to retrieve all DNS records for that domain."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "DNS" ],
        "summary" : "Create DNS Domain",
        "description" : "Creates a new DNS domain and assigns an initial A record pointing to the supplied IP address. The domain is immediately available on InterServer's DNS servers. Use `/dns/{id}` to manage records after creation.",
        "operationId" : "addDnsDomain",
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsNewDomain"
              },
              "examples" : {
                "DnsNewDomainExample" : {
                  "value" : {
                    "domain" : "mydomain.com",
                    "ip" : "1.2.3.4"
                  }
                }
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsNewDomain"
              },
              "examples" : {
                "DnsNewDomainExampleJson" : {
                  "value" : {
                    "domain" : "mydomain.com",
                    "ip" : "1.2.3.4"
                  }
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response",
            "links" : {
              "GetNewDnsDomain" : {
                "operationId" : "getDnsDomain",
                "description" : "After creating the domain, use the returned domain ID with GET /dns/{id} to view its records."
              }
            }
          }
        }
      }
    },
    "/dns/{id}" : {
      "summary" : "DNS Domain Management",
      "description" : "View and manage a domain and the records for it.",
      "get" : {
        "tags" : [ "DNS" ],
        "summary" : "List Domain DNS Records",
        "description" : "Returns the full set of DNS records for the specified domain, including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record `id` values with `/dns/{domainId}/{recordId}` to update or delete individual records.",
        "operationId" : "getDnsDomain",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The DNS records for the specified domain.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DnsRecord"
                  },
                  "x-content-type" : "application/json"
                },
                "examples" : {
                  "DnsRecordExample" : {
                    "value" : [ {
                      "id" : "473",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "NS",
                      "content" : "cdns1.interserver.net",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    }, {
                      "id" : "474",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "NS",
                      "content" : "cdns2.interserver.net",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    }, {
                      "id" : "475",
                      "domain_id" : "68",
                      "name" : "hussfamily.com",
                      "type" : "A",
                      "content" : "64.20.35.186",
                      "ttl" : "86400",
                      "prio" : "0",
                      "disabled" : "0",
                      "ordername" : "",
                      "auth" : "1"
                    } ]
                  }
                }
              }
            },
            "links" : {
              "UpdateDnsRecord" : {
                "operationId" : "updateDnsRecord",
                "parameters" : {
                  "domainId" : "$request.path.id",
                  "recordId" : "$response.body#/0/id"
                },
                "description" : "Use a record id from the list to update that DNS record."
              },
              "DeleteDnsRecord" : {
                "operationId" : "deleteDnsRecord",
                "parameters" : {
                  "domainId" : "$request.path.id",
                  "recordId" : "$response.body#/0/id"
                },
                "description" : "Use a record id from the list to delete that DNS record."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "DNS" ],
        "summary" : "Add DNS Record to Domain",
        "description" : "Adds a new DNS record to the specified domain. Provide the record type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority. The record takes effect on the DNS servers immediately. Use `GET /dns/{id}` afterward to confirm the record was created.",
        "operationId" : "addDnsRecord",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The DNS Domain ID.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "examples" : {
            "DnsDomainIdExample" : {
              "value" : "472"
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsNewRecord"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsNewRecord"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Add DNS Domain Response"
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "DNS" ],
        "summary" : "Delete DNS Domain",
        "description" : "Deletes a DNS domain and all of its associated records from the DNS servers. This action is permanent and cannot be undone. Any services relying on these DNS records will be affected immediately.",
        "operationId" : "deleteDnsDomain",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The DNS domain ID to delete. Use the `id` from `GET /dns` to identify the domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/dns/{domainId}/{recordId}" : {
      "summary" : "DNS Record Management",
      "description" : "Manage a DNS Record for the given Domain.",
      "post" : {
        "tags" : [ "DNS" ],
        "summary" : "Update DNS Record",
        "description" : "Updates an existing DNS record with new values. Use `GET /dns/{id}` to list records and retrieve the record IDs before updating. Changes propagate to the DNS servers immediately.",
        "operationId" : "updateDnsRecord",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "requestBody" : {
          "description" : "The request data to update a dns record.",
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsUpdateRecord"
              }
            },
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DnsUpdateRecord"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      },
      "delete" : {
        "tags" : [ "DNS" ],
        "summary" : "Delete DNS Record",
        "description" : "Removes a DNS record from the specified domain. The deletion takes effect on the DNS servers immediately. Use `GET /dns/{id}` to verify the record has been removed.",
        "operationId" : "deleteDnsRecord",
        "parameters" : [ {
          "name" : "domainId",
          "in" : "path",
          "description" : "The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        }, {
          "name" : "recordId",
          "in" : "path",
          "description" : "The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "integer"
          }
        } ],
        "responses" : {
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "default" : {
            "description" : "Default response"
          }
        }
      }
    },
    "/domains" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "List Domain Orders",
        "description" : "Returns the domain services on your account, including the billing order ID, hostname, expiration date, and status. Use the `domain_id` from this response with `GET /domains/{id}` to fetch full service details, or with `/domains/{id}/nameservers`, `/domains/{id}/contact`, and `/domains/{id}/whois` to manage registration settings.",
        "operationId" : "getDomainsList",
        "responses" : {
          "200" : {
            "description" : "The listing of `Domains` services on your account.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DomainRow"
                  },
                  "x-content-type" : "application/json"
                },
                "examples" : {
                  "DomainsExample" : {
                    "value" : [ {
                      "domain_id" : "418295",
                      "domain_hostname" : "unixsrv10.com",
                      "domain_expire_date" : "",
                      "cost" : "11.00",
                      "domain_status" : "canceled"
                    }, {
                      "domain_id" : "592337",
                      "domain_hostname" : "detain.dev",
                      "domain_expire_date" : "2023-08-14T00:59:38.000Z",
                      "cost" : "18.00",
                      "domain_status" : "active"
                    } ]
                  }
                }
              }
            },
            "links" : {
              "getDomainInfo" : {
                "operationId" : "getDomainInfo",
                "parameters" : {
                  "id" : "$response.body#/0/domain_id"
                },
                "description" : "Use the `domain_id` from any item in the response array to fetch full service details via `GET /domains/{id}`."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          }
        }
      }
    },
    "/domains/lookup/{name}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Lookup Domain Availability and Pricing",
        "description" : "Checks a domain for availability and premium status, and returns pricing information for new, renewal, and transfer actions when possible. The response also includes the order field metadata you can pass to `/domains/order` when placing a registration or transfer.",
        "operationId" : "getDomainLookup",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "The full domain name to look up (for example `example.com`).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Availability, pricing, and field metadata for the requested domain.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainLookupResponse"
                }
              }
            },
            "links" : {
              "addDomain" : {
                "operationId" : "addDomain",
                "description" : "Use the pricing and field metadata from this lookup response to populate the order request for `POST /domains/order`."
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/inline_response_401"
                }
              }
            }
          },
          "422" : {
            "description" : "The domain input was invalid.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TextResponse"
                },
                "examples" : {
                  "InvalidDomainName" : {
                    "value" : {
                      "message" : "Invalid Domain"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/search/{name}" : {
      "get" : {
        "tags" : [ "Domains" ],
        "summary" : "Search Domain Suggestions",
        "description" : "Queries the registrar for suggested domains and availability data. Use the returned `lookup` results to identify availability and then call `/domains/lookup/{name}` or `/domains/order` to obtain pricing and order fields for the chosen domain.",
        "operationId" : "getDomainSearch",
        "parameters" : [ {
          "name" : "name",
          "in" : "path",
          "description" : "The base domain name to search (for example `example` or `example.com`).",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Suggested and lookup results for the supplied search term.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DomainSearchResponse"
                }
              }
            }
[...]
