/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.AccountInfo
import org.openapitools.client.models.GenericResponse
import org.openapitools.client.models.GetAccountInfo401Response
import org.openapitools.client.models.GetAccountTfaSetup200Response
import org.openapitools.client.models.Home
import org.openapitools.client.models.SearchAutocompleteResponse
import org.openapitools.client.models.SuccessTextResponse
import org.openapitools.client.models.TextResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class AccountApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.BASE_URL_KEY, "https://my.interserver.net/apiv2")
        }
    }

    /**
     * POST /account/username
     * Change Account Username
     * Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.
     * @return TextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun changeAccountUsername() : TextResponse {
        val localVarResponse = changeAccountUsernameWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/username
     * Change Account Username
     * Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.
     * @return ApiResponse<TextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun changeAccountUsernameWithHttpInfo() : ApiResponse<TextResponse?> {
        val localVariableConfig = changeAccountUsernameRequestConfig()

        return request<Unit, TextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation changeAccountUsername
     *
     * @return RequestConfig
     */
    fun changeAccountUsernameRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/username",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /account/oauth/{name}
     * Unlink OAuth Account
     * Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.
     * @param name 
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountOauthName(name: kotlin.String) : SuccessTextResponse {
        val localVarResponse = deleteAccountOauthNameWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /account/oauth/{name}
     * Unlink OAuth Account
     * Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.
     * @param name 
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountOauthNameWithHttpInfo(name: kotlin.String) : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = deleteAccountOauthNameRequestConfig(name = name)

        return request<Unit, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountOauthName
     *
     * @param name 
     * @return RequestConfig
     */
    fun deleteAccountOauthNameRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/account/oauth/{name}".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * DELETE /account/2fa
     * Disable Two-Factor Authentication
     * Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteAccountTfa() : SuccessTextResponse {
        val localVarResponse = deleteAccountTfaWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /account/2fa
     * Disable Two-Factor Authentication
     * Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteAccountTfaWithHttpInfo() : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = deleteAccountTfaRequestConfig()

        return request<Unit, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteAccountTfa
     *
     * @return RequestConfig
     */
    fun deleteAccountTfaRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/account/2fa",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * PATCH /account/iplimits
     * Remove IP Access Restriction
     * Removes an IP address range from the account&#39;s access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.
     * @return GenericResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteIpLimit() : GenericResponse {
        val localVarResponse = deleteIpLimitWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GenericResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PATCH /account/iplimits
     * Remove IP Access Restriction
     * Removes an IP address range from the account&#39;s access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.
     * @return ApiResponse<GenericResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteIpLimitWithHttpInfo() : ApiResponse<GenericResponse?> {
        val localVariableConfig = deleteIpLimitRequestConfig()

        return request<Unit, GenericResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteIpLimit
     *
     * @return RequestConfig
     */
    fun deleteIpLimitRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.PATCH,
            path = "/account/iplimits",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /account
     * Retrieve Account Details
     * Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with &#x60;POST /account&#x60;.
     * @return AccountInfo
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountInfo() : AccountInfo {
        val localVarResponse = getAccountInfoWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as AccountInfo
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /account
     * Retrieve Account Details
     * Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with &#x60;POST /account&#x60;.
     * @return ApiResponse<AccountInfo?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountInfoWithHttpInfo() : ApiResponse<AccountInfo?> {
        val localVariableConfig = getAccountInfoRequestConfig()

        return request<Unit, AccountInfo>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountInfo
     *
     * @return RequestConfig
     */
    fun getAccountInfoRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/account",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /account/2fa
     * Get Two-Factor Setup Data
     * Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the &#x60;2fa_google_key&#x60; as a QR code or display the &#x60;2fa_google_split&#x60; value for manual entry. After setup, verify with &#x60;POST /account/2fa&#x60;.
     * @return GetAccountTfaSetup200Response
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getAccountTfaSetup() : GetAccountTfaSetup200Response {
        val localVarResponse = getAccountTfaSetupWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GetAccountTfaSetup200Response
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /account/2fa
     * Get Two-Factor Setup Data
     * Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the &#x60;2fa_google_key&#x60; as a QR code or display the &#x60;2fa_google_split&#x60; value for manual entry. After setup, verify with &#x60;POST /account/2fa&#x60;.
     * @return ApiResponse<GetAccountTfaSetup200Response?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getAccountTfaSetupWithHttpInfo() : ApiResponse<GetAccountTfaSetup200Response?> {
        val localVariableConfig = getAccountTfaSetupRequestConfig()

        return request<Unit, GetAccountTfaSetup200Response>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getAccountTfaSetup
     *
     * @return RequestConfig
     */
    fun getAccountTfaSetupRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/account/2fa",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /home
     * Get Home Data
     * Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.
     * @return Home
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getHome() : Home {
        val localVarResponse = getHomeWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as Home
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /home
     * Get Home Data
     * Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.
     * @return ApiResponse<Home?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getHomeWithHttpInfo() : ApiResponse<Home?> {
        val localVariableConfig = getHomeRequestConfig()

        return request<Unit, Home>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getHome
     *
     * @return RequestConfig
     */
    fun getHomeRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/home",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /search
     * Search Autocomplete
     * Returns autocomplete results for the account&#39;s services and records. Use this endpoint to power global search experiences in the client portal.
     * @return SearchAutocompleteResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getSearch() : SearchAutocompleteResponse {
        val localVarResponse = getSearchWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SearchAutocompleteResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /search
     * Search Autocomplete
     * Returns autocomplete results for the account&#39;s services and records. Use this endpoint to power global search experiences in the client portal.
     * @return ApiResponse<SearchAutocompleteResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getSearchWithHttpInfo() : ApiResponse<SearchAutocompleteResponse?> {
        val localVariableConfig = getSearchRequestConfig()

        return request<Unit, SearchAutocompleteResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getSearch
     *
     * @return RequestConfig
     */
    fun getSearchRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /logout
     * Log Out
     * Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logout() : SuccessTextResponse {
        val localVarResponse = logoutWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /logout
     * Log Out
     * Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logoutWithHttpInfo() : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = logoutRequestConfig()

        return request<Unit, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logout
     *
     * @return RequestConfig
     */
    fun logoutRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/logout",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /account/oauth/{name}/logout
     * Logout of OAuth
     * Logs out of the specified OAuth provider session.
     * @param name 
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun logoutAccountOauth(name: kotlin.String) : SuccessTextResponse {
        val localVarResponse = logoutAccountOauthWithHttpInfo(name = name)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /account/oauth/{name}/logout
     * Logout of OAuth
     * Logs out of the specified OAuth provider session.
     * @param name 
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun logoutAccountOauthWithHttpInfo(name: kotlin.String) : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = logoutAccountOauthRequestConfig(name = name)

        return request<Unit, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation logoutAccountOauth
     *
     * @param name 
     * @return RequestConfig
     */
    fun logoutAccountOauthRequestConfig(name: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.GET,
            path = "/account/oauth/{name}/logout".replace("{"+"name"+"}", encodeURIComponent(name.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/apikey
     * Generate New API Key
     * Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountApiKey() : SuccessTextResponse {
        val localVarResponse = updateAccountApiKeyWithHttpInfo()

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/apikey
     * Generate New API Key
     * Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountApiKeyWithHttpInfo() : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = updateAccountApiKeyRequestConfig()

        return request<Unit, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountApiKey
     *
     * @return RequestConfig
     */
    fun updateAccountApiKeyRequestConfig() : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/apikey",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/features
     * Update Account Feature Flags
     * Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.
     * @param disableReset  (optional)
     * @param disableReinstall  (optional)
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountFeatures(disableReset: kotlin.Int? = null, disableReinstall: kotlin.Int? = null) : SuccessTextResponse {
        val localVarResponse = updateAccountFeaturesWithHttpInfo(disableReset = disableReset, disableReinstall = disableReinstall)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/features
     * Update Account Feature Flags
     * Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.
     * @param disableReset  (optional)
     * @param disableReinstall  (optional)
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountFeaturesWithHttpInfo(disableReset: kotlin.Int?, disableReinstall: kotlin.Int?) : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = updateAccountFeaturesRequestConfig(disableReset = disableReset, disableReinstall = disableReinstall)

        return request<Map<String, PartConfig<*>>, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountFeatures
     *
     * @param disableReset  (optional)
     * @param disableReinstall  (optional)
     * @return RequestConfig
     */
    fun updateAccountFeaturesRequestConfig(disableReset: kotlin.Int?, disableReinstall: kotlin.Int?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "disable_reset" to PartConfig(body = disableReset, headers = mutableMapOf()),
            "disable_reinstall" to PartConfig(body = disableReinstall, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/features",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account
     * Update Account Information
     * Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.
     * @param name Your name.
     * @param address Your address.
     * @param city Your city.
     * @param state Your state.
     * @param zip Your ZIP code.
     * @param country Your country.
     * @param phone Your phone number.
     * @param company Your company name. (optional)
     * @param address2 Additional address information. (optional)
     * @param locale Your preferred locale. (optional)
     * @param emailInvoices Your email for invoice notifications. (optional)
     * @param emailAbuse Your email for abuse notifications. (optional)
     * @param disableReset Set to &#x60;true&#x60; to disable account resets, or &#x60;false&#x60; to enable them. (optional)
     * @param disableReinstall Set to &#x60;true&#x60; to disable server reinstalls, or &#x60;false&#x60; to enable them. (optional)
     * @param disableServerNotifications Set to &#x60;true&#x60; to disable server notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param disableEmailNotifications Set to &#x60;true&#x60; to disable email notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param gstin Your GST identification number (if applicable). (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountInfo(name: kotlin.String, address: kotlin.String, city: kotlin.String, state: kotlin.String, zip: kotlin.String, country: kotlin.String, phone: kotlin.String, company: kotlin.String? = null, address2: kotlin.String? = null, locale: kotlin.String? = null, emailInvoices: kotlin.String? = null, emailAbuse: kotlin.String? = null, disableReset: kotlin.Boolean? = null, disableReinstall: kotlin.Boolean? = null, disableServerNotifications: kotlin.Boolean? = null, disableEmailNotifications: kotlin.Boolean? = null, gstin: kotlin.String? = null) : Unit {
        val localVarResponse = updateAccountInfoWithHttpInfo(name = name, address = address, city = city, state = state, zip = zip, country = country, phone = phone, company = company, address2 = address2, locale = locale, emailInvoices = emailInvoices, emailAbuse = emailAbuse, disableReset = disableReset, disableReinstall = disableReinstall, disableServerNotifications = disableServerNotifications, disableEmailNotifications = disableEmailNotifications, gstin = gstin)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account
     * Update Account Information
     * Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.
     * @param name Your name.
     * @param address Your address.
     * @param city Your city.
     * @param state Your state.
     * @param zip Your ZIP code.
     * @param country Your country.
     * @param phone Your phone number.
     * @param company Your company name. (optional)
     * @param address2 Additional address information. (optional)
     * @param locale Your preferred locale. (optional)
     * @param emailInvoices Your email for invoice notifications. (optional)
     * @param emailAbuse Your email for abuse notifications. (optional)
     * @param disableReset Set to &#x60;true&#x60; to disable account resets, or &#x60;false&#x60; to enable them. (optional)
     * @param disableReinstall Set to &#x60;true&#x60; to disable server reinstalls, or &#x60;false&#x60; to enable them. (optional)
     * @param disableServerNotifications Set to &#x60;true&#x60; to disable server notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param disableEmailNotifications Set to &#x60;true&#x60; to disable email notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param gstin Your GST identification number (if applicable). (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountInfoWithHttpInfo(name: kotlin.String, address: kotlin.String, city: kotlin.String, state: kotlin.String, zip: kotlin.String, country: kotlin.String, phone: kotlin.String, company: kotlin.String?, address2: kotlin.String?, locale: kotlin.String?, emailInvoices: kotlin.String?, emailAbuse: kotlin.String?, disableReset: kotlin.Boolean?, disableReinstall: kotlin.Boolean?, disableServerNotifications: kotlin.Boolean?, disableEmailNotifications: kotlin.Boolean?, gstin: kotlin.String?) : ApiResponse<Unit?> {
        val localVariableConfig = updateAccountInfoRequestConfig(name = name, address = address, city = city, state = state, zip = zip, country = country, phone = phone, company = company, address2 = address2, locale = locale, emailInvoices = emailInvoices, emailAbuse = emailAbuse, disableReset = disableReset, disableReinstall = disableReinstall, disableServerNotifications = disableServerNotifications, disableEmailNotifications = disableEmailNotifications, gstin = gstin)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountInfo
     *
     * @param name Your name.
     * @param address Your address.
     * @param city Your city.
     * @param state Your state.
     * @param zip Your ZIP code.
     * @param country Your country.
     * @param phone Your phone number.
     * @param company Your company name. (optional)
     * @param address2 Additional address information. (optional)
     * @param locale Your preferred locale. (optional)
     * @param emailInvoices Your email for invoice notifications. (optional)
     * @param emailAbuse Your email for abuse notifications. (optional)
     * @param disableReset Set to &#x60;true&#x60; to disable account resets, or &#x60;false&#x60; to enable them. (optional)
     * @param disableReinstall Set to &#x60;true&#x60; to disable server reinstalls, or &#x60;false&#x60; to enable them. (optional)
     * @param disableServerNotifications Set to &#x60;true&#x60; to disable server notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param disableEmailNotifications Set to &#x60;true&#x60; to disable email notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param gstin Your GST identification number (if applicable). (optional)
     * @return RequestConfig
     */
    fun updateAccountInfoRequestConfig(name: kotlin.String, address: kotlin.String, city: kotlin.String, state: kotlin.String, zip: kotlin.String, country: kotlin.String, phone: kotlin.String, company: kotlin.String?, address2: kotlin.String?, locale: kotlin.String?, emailInvoices: kotlin.String?, emailAbuse: kotlin.String?, disableReset: kotlin.Boolean?, disableReinstall: kotlin.Boolean?, disableServerNotifications: kotlin.Boolean?, disableEmailNotifications: kotlin.Boolean?, gstin: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "name" to PartConfig(body = name, headers = mutableMapOf()),
            "company" to PartConfig(body = company, headers = mutableMapOf()),
            "address" to PartConfig(body = address, headers = mutableMapOf()),
            "address2" to PartConfig(body = address2, headers = mutableMapOf()),
            "city" to PartConfig(body = city, headers = mutableMapOf()),
            "state" to PartConfig(body = state, headers = mutableMapOf()),
            "zip" to PartConfig(body = zip, headers = mutableMapOf()),
            "country" to PartConfig(body = country, headers = mutableMapOf()),
            "phone" to PartConfig(body = phone, headers = mutableMapOf()),
            "locale" to PartConfig(body = locale, headers = mutableMapOf()),
            "email_invoices" to PartConfig(body = emailInvoices, headers = mutableMapOf()),
            "email_abuse" to PartConfig(body = emailAbuse, headers = mutableMapOf()),
            "disable_reset" to PartConfig(body = disableReset, headers = mutableMapOf()),
            "disable_reinstall" to PartConfig(body = disableReinstall, headers = mutableMapOf()),
            "disable_server_notifications" to PartConfig(body = disableServerNotifications, headers = mutableMapOf()),
            "disable_email_notifications" to PartConfig(body = disableEmailNotifications, headers = mutableMapOf()),
            "gstin" to PartConfig(body = gstin, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/iplimits
     * Add IP Access Restriction
     * Adds an IP address range to the account&#39;s access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.
     * @param start The begining (or first) IP address in the range.
     * @param end The ending (or last) IP address in the range.
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountIpLimits(start: kotlin.String, end: kotlin.String) : Unit {
        val localVarResponse = updateAccountIpLimitsWithHttpInfo(start = start, end = end)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/iplimits
     * Add IP Access Restriction
     * Adds an IP address range to the account&#39;s access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.
     * @param start The begining (or first) IP address in the range.
     * @param end The ending (or last) IP address in the range.
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountIpLimitsWithHttpInfo(start: kotlin.String, end: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = updateAccountIpLimitsRequestConfig(start = start, end = end)

        return request<Map<String, PartConfig<*>>, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountIpLimits
     *
     * @param start The begining (or first) IP address in the range.
     * @param end The ending (or last) IP address in the range.
     * @return RequestConfig
     */
    fun updateAccountIpLimitsRequestConfig(start: kotlin.String, end: kotlin.String) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "start" to PartConfig(body = start, headers = mutableMapOf()),
            "end" to PartConfig(body = end, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/iplimits",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/password
     * Change Account Password
     * Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.
     * @param password 
     * @return TextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountPassword(password: kotlin.String) : TextResponse {
        val localVarResponse = updateAccountPasswordWithHttpInfo(password = password)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/password
     * Change Account Password
     * Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.
     * @param password 
     * @return ApiResponse<TextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountPasswordWithHttpInfo(password: kotlin.String) : ApiResponse<TextResponse?> {
        val localVariableConfig = updateAccountPasswordRequestConfig(password = password)

        return request<Map<String, PartConfig<*>>, TextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountPassword
     *
     * @param password 
     * @return RequestConfig
     */
    fun updateAccountPasswordRequestConfig(password: kotlin.String) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "password" to PartConfig(body = password, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/password",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/sshkey
     * Update SSH Keys
     * Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.
     * @param sshKey  (optional)
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountSshKey(sshKey: kotlin.String? = null) : SuccessTextResponse {
        val localVarResponse = updateAccountSshKeyWithHttpInfo(sshKey = sshKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/sshkey
     * Update SSH Keys
     * Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.
     * @param sshKey  (optional)
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountSshKeyWithHttpInfo(sshKey: kotlin.String?) : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = updateAccountSshKeyRequestConfig(sshKey = sshKey)

        return request<Map<String, PartConfig<*>>, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountSshKey
     *
     * @param sshKey  (optional)
     * @return RequestConfig
     */
    fun updateAccountSshKeyRequestConfig(sshKey: kotlin.String?) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "ssh_key" to PartConfig(body = sshKey, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/sshkey",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /account/2fa
     * Enable Two-Factor Authentication
     * Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use &#x60;GET /account/2fa&#x60; first to retrieve the secret key for app setup.
     * @param `2faGoogleCode` The 6-digit verification code from your authenticator app.
     * @return SuccessTextResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateAccountTfa(`2faGoogleCode`: kotlin.String) : SuccessTextResponse {
        val localVarResponse = updateAccountTfaWithHttpInfo(`2faGoogleCode` = `2faGoogleCode`)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /account/2fa
     * Enable Two-Factor Authentication
     * Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use &#x60;GET /account/2fa&#x60; first to retrieve the secret key for app setup.
     * @param `2faGoogleCode` The 6-digit verification code from your authenticator app.
     * @return ApiResponse<SuccessTextResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateAccountTfaWithHttpInfo(`2faGoogleCode`: kotlin.String) : ApiResponse<SuccessTextResponse?> {
        val localVariableConfig = updateAccountTfaRequestConfig(`2faGoogleCode` = `2faGoogleCode`)

        return request<Map<String, PartConfig<*>>, SuccessTextResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateAccountTfa
     *
     * @param `2faGoogleCode` The 6-digit verification code from your authenticator app.
     * @return RequestConfig
     */
    fun updateAccountTfaRequestConfig(`2faGoogleCode`: kotlin.String) : RequestConfig<Map<String, PartConfig<*>>> {
        val localVariableBody = mapOf(
            "2fa_google_code" to PartConfig(body = `2faGoogleCode`, headers = mutableMapOf()),)
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/account/2fa",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
