/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.AffiliateBannerRow
import io.swagger.client.models.AffiliateDockSetup
import io.swagger.client.models.AffiliatePaymentSetup
import io.swagger.client.models.AffiliateTrafficRow
import io.swagger.client.models.BillingAddCcRequest
import io.swagger.client.models.BillingInvoiceDetail
import io.swagger.client.models.BillingInvoiceList
import io.swagger.client.models.BillingPaymentMethodRequest
import io.swagger.client.models.BillingPrepayRequest
import io.swagger.client.models.BillingVerifyCcRequest
import io.swagger.client.models.InlineResponse2009
import io.swagger.client.models.InlineResponse401
import io.swagger.client.models.Invoice
import io.swagger.client.models.MonthlyCounts
import io.swagger.client.models.StatusMonthlyBreakdown
import io.swagger.client.models.SuccessTextResponse
import io.swagger.client.models.TextResponse

import myadmin-client-kotlin-client.infrastructure.*

class BillingApi(basePath: kotlin.String = "https://my.interserver.net/apiv2") : ApiClient(basePath) {

    /**
     * Add Credit Card to Account
     * Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
     * @param name  
     * @param address  
     * @param city  
     * @param state  
     * @param country  
     * @param zip  
     * @param cc  
     * @param ccExp  
     * @param ccCcv2  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addAccountCreditCard(name: kotlin.String, address: kotlin.String, city: kotlin.String, state: kotlin.String, country: kotlin.String, zip: kotlin.String, cc: kotlin.String, ccExp: kotlin.String, ccCcv2: kotlin.String): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("name" to "$name", "address" to "$address", "city" to "$city", "state" to "$state", "country" to "$country", "zip" to "$zip", "cc" to "$cc", "cc_exp" to "$ccExp", "cc_ccv2" to "$ccCcv2")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/account/creditcards", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Add Credit Card to Account
     * Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
     * @param body  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addAccountCreditCard(body: BillingAddCcRequest): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/account/creditcards", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Add Credit Card for Billing
     * Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via &#x60;GET /billing/creditcards/{id}/verify&#x60; followed by &#x60;POST /billing/creditcards/{id}/verify&#x60; before the card can be used for payments.
     * @param body  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addBillingCreditCard(body: BillingAddCcRequest): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/creditcards", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Add Credit Card for Billing
     * Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via &#x60;GET /billing/creditcards/{id}/verify&#x60; followed by &#x60;POST /billing/creditcards/{id}/verify&#x60; before the card can be used for payments.
     * @param name  
     * @param address  
     * @param city  
     * @param state  
     * @param country  
     * @param zip  
     * @param cc  
     * @param ccExp  
     * @param ccCcv2  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addBillingCreditCard(name: kotlin.String, address: kotlin.String, city: kotlin.String, state: kotlin.String, country: kotlin.String, zip: kotlin.String, cc: kotlin.String, ccExp: kotlin.String, ccCcv2: kotlin.String): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("name" to "$name", "address" to "$address", "city" to "$city", "state" to "$state", "country" to "$country", "zip" to "$zip", "cc" to "$cc", "cc_exp" to "$ccExp", "cc_ccv2" to "$ccCcv2")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/creditcards", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create Prepay Deposit
     * Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use &#x60;/billing/invoices/{id}&#x60; to retrieve the generated invoice details.
     * @param body  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addBillingPrepay(body: BillingPrepayRequest): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/prepays", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create Prepay Deposit
     * Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use &#x60;/billing/invoices/{id}&#x60; to retrieve the generated invoice details.
     * @param module  
     * @param amount  
     * @param automaticUse  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addBillingPrepay(module: kotlin.String, amount: java.math.BigDecimal, automaticUse: kotlin.String): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("module" to "$module", "amount" to "$amount", "automatic_use" to "$automaticUse")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/prepays", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Remove Credit Card
     * Removes a credit card from the account. If this is the default payment method, select a new default via &#x60;/billing/payment_method&#x60; afterward.
     * @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;. 
     * @return void
     */
    fun deleteAccountCreditCard(id: kotlin.String): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/account/creditcards/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Credit Card
     * Removes the selected credit card from the account. Use &#x60;/billing/payment_method&#x60; to select a new default payment method after deleting a card.
     * @param id The credit card ID to remove. Use IDs from &#x60;GET /billing/creditcards&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun deleteBillingCreditCard(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/billing/creditcards/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Invoice
     * Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.
     * @param id The invoice ID to delete. Only unpaid invoices can be deleted. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun deleteBillingInvoice(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/billing/invoices/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Prepay Balance
     * Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use &#x60;GET /billing/prepays&#x60; to list available prepay balances and their IDs.
     * @param id The prepay balance ID to delete. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun deleteBillingPrepay(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/billing/prepays/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Affiliate Banner Assets
     * Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.
     * @return kotlin.Array<AffiliateBannerRow>
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateBanners(): kotlin.Array<AffiliateBannerRow> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/banners", query = localVariableQuery
        )
        val response = request<kotlin.Array<AffiliateBannerRow>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<AffiliateBannerRow>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Affiliate Performance Report
     * Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateRichReport(): TextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/rich_report", query = localVariableQuery
        )
        val response = request<TextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Affiliate Sales Graph Data
     * Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.
     * @param days Number of days of sales history to include in the graph data. Determines the time window for the returned data points. (optional)
     * @return StatusMonthlyBreakdown
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateSalesGraph(days: kotlin.Int? = null): StatusMonthlyBreakdown {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (days != null) {
                put("days", listOf(days.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/sales_graph", query = localVariableQuery
        )
        val response = request<StatusMonthlyBreakdown>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as StatusMonthlyBreakdown
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Affiliate Sales Report
     * Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateSalesReport(): TextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/sales_report", query = localVariableQuery
        )
        val response = request<TextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Affiliate Traffic Graph Data
     * Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.
     * @param days Number of days of traffic history to include in the graph data. Determines the time window for the returned data points. (optional)
     * @return MonthlyCounts
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateTrafficGraph(days: kotlin.Int? = null): MonthlyCounts {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (days != null) {
                put("days", listOf(days.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/traffic_graph", query = localVariableQuery
        )
        val response = request<MonthlyCounts>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as MonthlyCounts
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Affiliate Web Traffic Entries
     * Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.
     * @return kotlin.Array<AffiliateTrafficRow>
     */
    @Suppress("UNCHECKED_CAST")
    fun getAffiliateWebTraffic(): kotlin.Array<AffiliateTrafficRow> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/affiliate/web_traffic", query = localVariableQuery
        )
        val response = request<kotlin.Array<AffiliateTrafficRow>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<AffiliateTrafficRow>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Shopping Cart Contents
     * Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to &#x60;/pay/{method}/{invoices}&#x60;.
     * @return void
     */
    fun getBillingCart(): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/billing/cart", query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Credit Card Verification Requirements
     * Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.
     * @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getBillingCreditCardVerify(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/billing/creditcards/{id}/verify".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Invoice Details
     * Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to &#x60;/pay/{method}/{invoices}&#x60; so you can display the exact amount due and confirm the invoice is still unpaid.
     * @param id The invoice ID. Use IDs from &#x60;GET /billing/invoices&#x60; or from order responses. 
     * @return BillingInvoiceDetail
     */
    @Suppress("UNCHECKED_CAST")
    fun getBillingInvoice(id: kotlin.Int): BillingInvoiceDetail {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/billing/invoices/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<BillingInvoiceDetail>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as BillingInvoiceDetail
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Account Invoices
     * Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with &#x60;/billing/invoices/{id}&#x60; to retrieve detailed line items, or with &#x60;/pay/{method}/{invoices}&#x60; to initiate payment.
     * @return BillingInvoiceList
     */
    @Suppress("UNCHECKED_CAST")
    fun getBillingInvoices(): BillingInvoiceList {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/billing/invoices", query = localVariableQuery
        )
        val response = request<BillingInvoiceList>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as BillingInvoiceList
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Prepay Balances
     * Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting &#x60;prepay&#x60; as a payment method.
     * @return void
     */
    fun getBillingPrePays(): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/billing/prepays", query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Invoices
     * Returns a paginated list of invoices for the authenticated account. Each invoice includes the invoice number, date, total amount, and payment status. Use the optional &#x60;searchString&#x60; parameter to filter results and &#x60;skip&#x60;/&#x60;limit&#x60; for pagination.
     * @param searchString pass an optional search string for looking up inventory (optional)
     * @param skip number of records to skip for pagination (optional)
     * @param limit maximum number of records to return (optional)
     * @return kotlin.Array<Invoice>
     */
    @Suppress("UNCHECKED_CAST")
    fun getInvoices(searchString: kotlin.String? = null, skip: kotlin.Int? = null, limit: kotlin.Int? = null): kotlin.Array<Invoice> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (searchString != null) {
                put("searchString", listOf(searchString.toString()))
            }
            if (skip != null) {
                put("skip", listOf(skip.toString()))
            }
            if (limit != null) {
                put("limit", listOf(limit.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/invoices", query = localVariableQuery
        )
        val response = request<kotlin.Array<Invoice>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<Invoice>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Initiate Payment
     * Initiates a payment for the specified invoices using the chosen payment method. The response type determines how your client should proceed: &#x60;redirect&#x60; means send the user to the provided URL, &#x60;submit&#x60; means POST a form with the provided fields, and &#x60;single&#x60; means the payment was processed immediately. Use invoice IDs obtained from order responses or &#x60;/billing/invoices&#x60;.
     * @param method The payment method to use. Valid values: &#x60;cc&#x60; (credit card), &#x60;paypal&#x60;, &#x60;prepay&#x60;, &#x60;payssion&#x60;, &#x60;payu&#x60;, &#x60;ccavenue&#x60;, &#x60;cashfree&#x60;, &#x60;coinbase&#x60;, &#x60;btcpay&#x60;. 
     * @param invoices A comma-separated list of invoice IDs to pay. These IDs are returned by order endpoints (e.g. &#x60;/backups/order&#x60;, &#x60;/vps/order&#x60;) and by &#x60;/billing/invoices&#x60;. 
     * @return InlineResponse2009
     */
    @Suppress("UNCHECKED_CAST")
    fun initiatePayment(method: kotlin.String, invoices: kotlin.String): InlineResponse2009 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/pay/{method}/{invoices}".replace("{" + "method" + "}", "$method").replace("{" + "invoices" + "}", "$invoices"), query = localVariableQuery
        )
        val response = request<InlineResponse2009>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse2009
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Submit Credit Card Verification
     * Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by &#x60;GET /billing/creditcards/{id}/verify&#x60;. A successful response means the card is verified and can be selected as a payment method via &#x60;/billing/payment_method&#x60;.
     * @param body  
     * @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun postBillingCreditCardVerify(body: BillingVerifyCcRequest, id: kotlin.Int): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/creditcards/{id}/verify".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Submit Credit Card Verification
     * Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by &#x60;GET /billing/creditcards/{id}/verify&#x60;. A successful response means the card is verified and can be selected as a payment method via &#x60;/billing/payment_method&#x60;.
     * @param idx  
     * @param ccCcv2  
     * @param ccAmount1  
     * @param ccAmount2  
     * @param terms  
     * @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun postBillingCreditCardVerify(idx: kotlin.Int, ccCcv2: kotlin.String, ccAmount1: kotlin.String, ccAmount2: kotlin.String, terms: kotlin.Boolean, id: kotlin.Int): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("idx" to "$idx", "cc_ccv2" to "$ccCcv2", "cc_amount1" to "$ccAmount1", "cc_amount2" to "$ccAmount2", "terms" to "$terms")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/creditcards/{id}/verify".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update Credit Card
     * Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.
     * @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;. 
     * @return void
     */
    fun updateAccountCreditCard(id: kotlin.Int): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/account/creditcards/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Dock Settings
     * Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
     * @param affiliateDockTitle  
     * @param affiliateDockDescription  
     * @param referrerCoupon  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliateDockSetup(affiliateDockTitle: kotlin.String, affiliateDockDescription: kotlin.String, referrerCoupon: kotlin.String): TextResponse {
        val localVariableBody: kotlin.Any? = mapOf("affiliate_dock_title" to "$affiliateDockTitle", "affiliate_dock_description" to "$affiliateDockDescription", "referrer_coupon" to "$referrerCoupon")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/dock_setup", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Dock Settings
     * Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
     * @param body  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliateDockSetup(body: AffiliateDockSetup): TextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/dock_setup", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Landing Page
     * Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
     * @param affiliateDockTitle  
     * @param affiliateDockDescription  
     * @param referrerCoupon  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliateLandingPage(affiliateDockTitle: kotlin.String, affiliateDockDescription: kotlin.String, referrerCoupon: kotlin.String): TextResponse {
        val localVariableBody: kotlin.Any? = mapOf("affiliate_dock_title" to "$affiliateDockTitle", "affiliate_dock_description" to "$affiliateDockDescription", "referrer_coupon" to "$referrerCoupon")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/landing_pg", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Landing Page
     * Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
     * @param body  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliateLandingPage(body: AffiliateDockSetup): TextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/landing_pg", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Payout Preferences
     * Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.
     * @param affiliatePaypal  
     * @param affiliatePaymentMethod  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliatePaymentSetup(affiliatePaypal: kotlin.String, affiliatePaymentMethod: kotlin.String): TextResponse {
        val localVariableBody: kotlin.Any? = mapOf("affiliate_paypal" to "$affiliatePaypal", "affiliate_payment_method" to "$affiliatePaymentMethod")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/payment_setup", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Configure Affiliate Payout Preferences
     * Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.
     * @param body  
     * @return TextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateAffiliatePaymentSetup(body: AffiliatePaymentSetup): TextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/affiliate/payment_setup", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<TextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as TextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update Credit Card Details
     * Updates stored credit card metadata or retrieves the masked card details. Use this to refresh card data before verification or to update billing address information associated with the card.
     * @param id The credit card ID. Use IDs from &#x60;GET /billing/creditcards&#x60; or the response from &#x60;POST /billing/creditcards&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateBillingCreditCard(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/creditcards/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update Default Payment Method
     * Updates the account&#x27;s default payment method, including selecting a verified credit card as the primary payment source or switching to PayPal when available.
     * @param body  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateBillingPaymentMethod(body: BillingPaymentMethodRequest): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/payment_method", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update Default Payment Method
     * Updates the account&#x27;s default payment method, including selecting a verified credit card as the primary payment source or switching to PayPal when available.
     * @param paymentMethod  
     * @param ccAuto  
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateBillingPaymentMethod(paymentMethod: kotlin.String, ccAuto: kotlin.String): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("payment_method" to "$paymentMethod", "cc_auto" to "$ccAuto")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "application/json")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/billing/payment_method", query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
