/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.ChargeInvoiceRows
import io.swagger.client.models.InlineResponse2003
import io.swagger.client.models.InlineResponse401
import io.swagger.client.models.IpObject
import io.swagger.client.models.ServiceOrderPostResponse
import io.swagger.client.models.SuccessTextResponse

import myadmin-client-kotlin-client.infrastructure.*

class FloatingIPsApi(basePath: kotlin.String = "https://my.interserver.net/apiv2") : ApiClient(basePath) {

    /**
     * Place Floating IP Order
     * Places an order for a new Floating IP service. Use &#x60;PUT /floating_ips/order&#x60; to validate the order first.
     * @return ServiceOrderPostResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun addFloatingIp(): ServiceOrderPostResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/floating_ips/order", query = localVariableQuery
        )
        val response = request<ServiceOrderPostResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ServiceOrderPostResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Cancel Floating IP
     * Cancels a Floating IP service. After cancellation the IP assignment is released and the service transitions to a canceled status. No further billing charges will be incurred.
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return InlineResponse2003
     */
    @Suppress("UNCHECKED_CAST")
    fun floatingIpsCancel(id: kotlin.Int): InlineResponse2003 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/floating_ips/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse2003>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse2003
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View Floating IP
     * Returns detailed information about a specific Floating IP service including its current target IP assignment.
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    fun getFloatingIpInfo(id: kotlin.Int): kotlin.Any {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/floating_ips/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<kotlin.Any>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Floating IP Invoices
     * Returns the billing invoices associated with this Floating IP service.
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return ChargeInvoiceRows
     */
    @Suppress("UNCHECKED_CAST")
    fun getFloatingIpInvoices(id: kotlin.Int): ChargeInvoiceRows {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/floating_ips/{id}/invoices".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ChargeInvoiceRows>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ChargeInvoiceRows
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Floating IPs
     * Returns all Floating IP services on the account with their current status and assignment details.
     * @return kotlin.Array<kotlin.Any>
     */
    @Suppress("UNCHECKED_CAST")
    fun getFloatingIpsList(): kotlin.Array<kotlin.Any> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/floating_ips", query = localVariableQuery
        )
        val response = request<kotlin.Array<kotlin.Any>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<kotlin.Any>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Resend Floating IPs Welcome Email
     * Resends the welcome email for the Floating IP service. The email contains setup instructions and connection details.
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun getFloatingIpsWelcomeEmail(id: kotlin.Int): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/floating_ips/{id}/welcome_email".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Floating IP Ordering Information
     * Retrieves available options and pricing for ordering a new Floating IP.
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    fun getNewFloatingIp(): kotlin.Any {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/floating_ips/order", query = localVariableQuery
        )
        val response = request<kotlin.Any>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Any
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Change Floating IP Target
     * Changes the target IP address that the Floating IP points to. The Floating IP service must be active. Use &#x60;GET /floating_ips/{id}&#x60; to view the current target before making changes.
     * @param ip  
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun postFloatingIpsChangeIp(ip: kotlin.String, id: kotlin.Int): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = mapOf("ip" to "$ip")
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/floating_ips/{id}/change_ip".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Change Floating IP Target
     * Changes the target IP address that the Floating IP points to. The Floating IP service must be active. Use &#x60;GET /floating_ips/{id}&#x60; to view the current target before making changes.
     * @param body  
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun postFloatingIpsChangeIp(body: IpObject, id: kotlin.Int): SuccessTextResponse {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf("Content-Type" to "multipart/form-data")
        localVariableHeaders["Accept"] = "application/json"
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/floating_ips/{id}/change_ip".replace("{" + "id" + "}", "$id"), query = localVariableQuery, headers = localVariableHeaders
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Validate Floating IP Order
     * Validates a Floating IP order before placing it. Use this to check for errors before committing to a purchase.
     * @return void
     */
    fun putFloatingIps(): Unit {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.PUT,
                "/floating_ips/order", query = localVariableQuery
        )
        val response = request<Any?>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Update Floating IP
     * Updates settings on a Floating IP service, such as its label or configuration metadata.
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. 
     * @return SuccessTextResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun updateFloatingIpInfo(id: kotlin.String): SuccessTextResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/floating_ips/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<SuccessTextResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as SuccessTextResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
