/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * OpenAPI spec version: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.ChargeInvoiceRows
import io.swagger.client.models.CreateFilter
import io.swagger.client.models.CreateFirewallRule
import io.swagger.client.models.CreateGeoFirewallRule
import io.swagger.client.models.Delete_Firewall_Rule
import io.swagger.client.models.Delete_Geo_Firewall_Rule
import io.swagger.client.models.InlineResponse20012
import io.swagger.client.models.InlineResponse20013
import io.swagger.client.models.InlineResponse20014
import io.swagger.client.models.InlineResponse20015
import io.swagger.client.models.InlineResponse20016
import io.swagger.client.models.InlineResponse20017
import io.swagger.client.models.InlineResponse20018
import io.swagger.client.models.InlineResponse201
import io.swagger.client.models.InlineResponse2011
import io.swagger.client.models.InlineResponse2012
import io.swagger.client.models.InlineResponse400
import io.swagger.client.models.InlineResponse4001
import io.swagger.client.models.InlineResponse4002
import io.swagger.client.models.InlineResponse4003
import io.swagger.client.models.InlineResponse4004
import io.swagger.client.models.InlineResponse4005
import io.swagger.client.models.InlineResponse401
import io.swagger.client.models.InlineResponse500
import io.swagger.client.models.InlineResponse5001
import io.swagger.client.models.InlineResponse5002
import io.swagger.client.models.InlineResponse5003
import io.swagger.client.models.InlineResponse5004
import io.swagger.client.models.InlineResponse5005
import io.swagger.client.models.ScrubIpFilterTypes
import io.swagger.client.models.ScrubIpPlaceOrder
import io.swagger.client.models.ScrubIpsLogRowSchema
import io.swagger.client.models.ScrubIpsRowSchema

import myadmin-client-kotlin-client.infrastructure.*

class ScrubIpsApi(basePath: kotlin.String = "https://my.interserver.net/apiv2") : ApiClient(basePath) {

    /**
     * Cancel Scrub IP Service
     * Cancels the Scrub IP DDoS protection service. The protection will be removed and billing will stop at the end of the current billing cycle.
     * @param id ScrubIp ID number 
     * @return InlineResponse20013
     */
    @Suppress("UNCHECKED_CAST")
    fun cancelScrubIp(id: kotlin.Int): InlineResponse20013 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.DELETE,
                "/scrub_ips/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20013>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20013
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create Traffic Filter
     * Creates a traffic filter for the Scrub IP service. Filters apply predefined scrubbing profiles (e.g., DNS, HTTP) to specific destination ports. Use &#x60;GET /scrub_ips/filter_types&#x60; to list available filter types.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse2011
     */
    @Suppress("UNCHECKED_CAST")
    fun createFilter(body: CreateFilter, id: kotlin.Int): InlineResponse2011 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/create_filter".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse2011>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse2011
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create Geo Firewall Rule
     * Creates a geographic-based firewall rule for the Scrub IP service. Geo rules allow you to block or allow traffic from specific countries or regions.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse201
     */
    @Suppress("UNCHECKED_CAST")
    fun createGeoRule(body: CreateGeoFirewallRule, id: kotlin.Int): InlineResponse201 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/create_geo_rule".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse201>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse201
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Create Firewall Rule
     * Creates a new firewall rule for the Scrub IP service. Rules allow you to block or allow traffic based on source IP, destination port, and protocol.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse201
     */
    @Suppress("UNCHECKED_CAST")
    fun createRule(body: CreateFirewallRule, id: kotlin.Int): InlineResponse201 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/create_rule".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse201>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse201
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Traffic Filter
     * Removes an existing traffic filter from the Scrub IP service. Provide the same filter parameters used during creation to identify which filter to remove.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse20017
     */
    @Suppress("UNCHECKED_CAST")
    fun deleteFilter(body: CreateFilter, id: kotlin.Int): InlineResponse20017 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/delete_filter".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20017>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20017
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Disable Scrub Protection
     * Disables DDoS scrubbing protection on the IP address. Traffic will no longer be routed through the scrubbing infrastructure.
     * @param id ScrubIp ID number 
     * @return InlineResponse20015
     */
    @Suppress("UNCHECKED_CAST")
    fun disableScrub(id: kotlin.Int): InlineResponse20015 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/{id}/disable".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20015>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20015
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Enable Scrub Protection
     * Enables DDoS scrubbing protection on the IP address associated with this service. Traffic will be routed through the scrubbing infrastructure to filter malicious packets.
     * @param id ScrubIp ID number 
     * @return InlineResponse20014
     */
    @Suppress("UNCHECKED_CAST")
    fun enableScrub(id: kotlin.Int): InlineResponse20014 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/{id}/enable".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20014>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20014
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Scrub IP Ordering Information
     * Returns the available Scrub IP service plans and pricing information needed to build an order form.
     * @return InlineResponse20018
     */
    @Suppress("UNCHECKED_CAST")
    fun getOrderDetail(): InlineResponse20018 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/order", query = localVariableQuery
        )
        val response = request<InlineResponse20018>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20018
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Scrub IP Details
     * Returns detailed information about a Scrub IP service, including connection details, billing information, active firewall rules, and traffic filters.
     * @param id ScrubIp ID number 
     * @return InlineResponse20012
     */
    @Suppress("UNCHECKED_CAST")
    fun getScrubIpDetails(id: kotlin.Int): InlineResponse20012 {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/{id}".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20012>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20012
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Scrub Filter Types
     * Returns the list of scrub filter types that can be used when creating filter rules via &#x60;/scrub_ips/{id}/create_filter&#x60;.
     * @return ScrubIpFilterTypes
     */
    @Suppress("UNCHECKED_CAST")
    fun getScrubIpFilterTypes(): ScrubIpFilterTypes {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/filter_types", query = localVariableQuery
        )
        val response = request<ScrubIpFilterTypes>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ScrubIpFilterTypes
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get ScrubIp Invoices
     * Retrieves invoices associated with the scrub IP service. Use these invoices to confirm billing status or to initiate payment.
     * @param id ScrubIp ID number 
     * @return ChargeInvoiceRows
     */
    @Suppress("UNCHECKED_CAST")
    fun getScrubIpInvoices(id: kotlin.Int): ChargeInvoiceRows {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/{id}/invoices".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<ChargeInvoiceRows>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as ChargeInvoiceRows
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get Scrub IP Logs
     * Returns the activity and event logs for the Scrub IP service, including scrubbing events and configuration changes.
     * @param id Scrub Order ID 
     * @return kotlin.Array<ScrubIpsLogRowSchema>
     */
    @Suppress("UNCHECKED_CAST")
    fun getScrubIpLogs(id: kotlin.String): kotlin.Array<ScrubIpsLogRowSchema> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips/{id}/logs".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<kotlin.Array<ScrubIpsLogRowSchema>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<ScrubIpsLogRowSchema>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * List Scrub IP Services
     * Returns all Scrub IP DDoS protection services on your account with their current status and associated IP addresses.
     * @return kotlin.Array<ScrubIpsRowSchema>
     */
    @Suppress("UNCHECKED_CAST")
    fun getScrubIpsList(): kotlin.Array<ScrubIpsRowSchema> {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/scrub_ips", query = localVariableQuery
        )
        val response = request<kotlin.Array<ScrubIpsRowSchema>>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as kotlin.Array<ScrubIpsRowSchema>
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Place Scrub IP Order
     * Places an order for a new Scrub IP DDoS protection service. On success, an invoice is generated for payment.
     * @param body  
     * @return InlineResponse2012
     */
    @Suppress("UNCHECKED_CAST")
    fun placeScrubOrder(body: ScrubIpPlaceOrder): InlineResponse2012 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/order", query = localVariableQuery
        )
        val response = request<InlineResponse2012>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse2012
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Geo Firewall Rule
     * Removes an existing geographic-based firewall rule from the Scrub IP service. Use the &#x60;rule_id&#x60; from the service details response to identify the rule to delete.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse20016
     */
    @Suppress("UNCHECKED_CAST")
    fun scrubIpsDeleteGeoRule(body: Delete_Geo_Firewall_Rule, id: kotlin.Int): InlineResponse20016 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/delete_geo_rule".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20016>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20016
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Delete Firewall Rule
     * Removes an existing firewall rule from the Scrub IP service. Use the &#x60;rule_id&#x60; from the service details response to identify the rule to delete.
     * @param body  
     * @param id ScrubIp ID number 
     * @return InlineResponse20016
     */
    @Suppress("UNCHECKED_CAST")
    fun scrubIpsDeleteRule(body: Delete_Firewall_Rule, id: kotlin.Int): InlineResponse20016 {
        val localVariableBody: kotlin.Any? = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.POST,
                "/scrub_ips/{id}/delete_rule".replace("{" + "id" + "}", "$id"), query = localVariableQuery
        )
        val response = request<InlineResponse20016>(
                localVariableConfig, localVariableBody
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as InlineResponse20016
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
