/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.DenyRuleNew
import org.openapitools.client.model.DenyRuleRecord
import org.openapitools.client.model.GenericResponse
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.MailAlertRequest
import org.openapitools.client.model.MailAlertUpdateRequest
import org.openapitools.client.model.MailAlertsResponse
import org.openapitools.client.model.MailBlocks
import org.openapitools.client.model.MailCancel200Response
import org.openapitools.client.model.MailDelistRequest
import org.openapitools.client.model.MailDelistResponse
import org.openapitools.client.model.MailDeliverabilityResponse
import org.openapitools.client.model.MailLog
import org.openapitools.client.model.MailOrder
import org.openapitools.client.model.MailRow
import org.openapitools.client.model.MailSchema
import org.openapitools.client.model.MailStatsType
import org.openapitools.client.model.SendMail
import org.openapitools.client.model.SendMailAdv
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.ViewMailLogStartDateParameter
import org.openapitools.client.core.JsonSupport._
import sttp.client4._
import sttp.model.Method

object MailApi {
  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new MailApi(baseUrl)
}

class MailApi(baseUrl: String) {

  /**
   * Places a Mail Baby order. On success, invoices are created for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addMail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(): Request[Either[ResponseException[String, Exception], Unit]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Adds a new deny rule to automatically block emails that match the specified criteria.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Deny rule created successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param denyRuleNew These are the fields needed to create a new email deny rule.
   */
  def addRule(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, denyRuleNew: DenyRuleNew): Request[Either[ResponseException[String, Exception], GenericResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/rules")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(denyRuleNew)
      .response(asJson[GenericResponse])

  /**
   * Creates a new alert for the mail service, such as delivery or quota notifications.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailAlertRequest 
   */
  def createMailAlert(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, mailAlertRequest: MailAlertRequest): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/alerts")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(mailAlertRequest)
      .response(asJson[SuccessTextResponse])

  /**
   * Deletes an existing alert definition for the mail service.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param alertId Alert ID to delete.
   */
  def deleteMailAlert(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, alertId: Int): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/mail/${id}/alerts?alert_id=${ alertId }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

  /**
   * Removes a deny rule from the mail service.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Deny rule deleted successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param rule The ID of the Rules entry.
   */
  def deleteRule(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, rule: String): Request[Either[ResponseException[String, Exception], GenericResponse]] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/mail/${id}/rules/${rule}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[GenericResponse])

  /**
   * Removes an email address from the mail service's block lists.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email address removed from block list successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param email an email address
   */
  def delistBlock(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, email: Option[String] = None): Request[Either[ResponseException[String, Exception], GenericResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/blocks/delete")
      .contentType("multipart/form-data")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .multipartBody(Seq(
                email.map(multipart("email", _))

      ).flatten)
      .response(asJson[GenericResponse])

  /**
   * Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
   * 
   * Expected answers:
   *   code 200 : MailAlertsResponse (Alert configuration for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailAlerts(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailAlertsResponse]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/alerts")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailAlertsResponse])

  /**
   * Displays a listing of the blocked email addresses
   * 
   * Expected answers:
   *   code 200 : MailBlocks (OK)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailBlocks(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailBlocks]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/blocks")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailBlocks])

  /**
   * Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
   * 
   * Expected answers:
   *   code 200 : MailDelistResponse (Blocklist entries and delist details for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailDelist(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailDelistResponse]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/delist")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailDelistResponse])

  /**
   * Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
   * 
   * Expected answers:
   *   code 200 : MailDeliverabilityResponse (Deliverability metrics for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailDeliverability(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailDeliverabilityResponse]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/deliverability")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailDeliverabilityResponse])

  /**
   * Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
   * 
   * Expected answers:
   *   code 200 : MailSchema (Mail Information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailSchema]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailSchema])

  /**
   * Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailInvoices(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], ChargeInvoiceRows]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/invoices")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[ChargeInvoiceRows])

  /**
   * Returns the Mail Baby services on your account. Use the `mail_id` from this list with `/mail/{id}` to retrieve service details, and with `/mail/{id}/stats` or `/mail/{id}/log` to review delivery statistics.
   * 
   * Expected answers:
   *   code 200 : Seq[MailRow] (The listing of `Mail` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getMailList(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(): Request[Either[ResponseException[String, Exception], Seq[MailRow]]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Seq[MailRow]])

  /**
   * Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailWelcomeEmail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/welcome_email")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

  /**
   * Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
   * 
   * Expected answers:
   *   code 200 : MailOrder (Mail ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewMail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(): Request[Either[ResponseException[String, Exception], MailOrder]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailOrder])

  /**
   * Returns a listing of all the deny block rules configured for this mail service.
   * 
   * Expected answers:
   *   code 200 : Seq[DenyRuleRecord] (List of configured deny rules.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getRules(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], Seq[DenyRuleRecord]]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/rules")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Seq[DenyRuleRecord]])

  /**
   * Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
   * 
   * Expected answers:
   *   code 200 : MailStatsType (Mail service usage statistics.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param time The timeframe for the statistics.
   */
  def getStats(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, time: Option[String] = None): Request[Either[ResponseException[String, Exception], MailStatsType]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/stats?time=${ time }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailStatsType])

  /**
   * Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
   * 
   * Expected answers:
   *   code 200 : MailCancel200Response (Mail Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def mailCancel(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], MailCancel200Response]] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/mail/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailCancel200Response])

  /**
   * Removes an email address from blocklists for the mail service. Provide the `unblock` email address from the delist status response.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailDelistRequest 
   */
  def postMailDelist(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, mailDelistRequest: MailDelistRequest): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/delist")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(mailDelistRequest)
      .response(asJson[SuccessTextResponse])

  /**
   * Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
   * 
   * Expected answers:
   *   code 200 :  (Validate Mail order response.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putMail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(): Request[Either[ResponseException[String, Exception], Unit]] =
    basicRequest
      .method(Method.PUT, uri"$baseUrl/mail/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Resets the Mail Baby service password and emails the new password to the account owner. Use `/mail/{id}` to retrieve updated credential data after the reset.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def resetMailPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/reset_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

  /**
   * Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use `POST /mail/{id}/send`.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email queued successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param sendMailAdv 
   */
  def sendAdvMail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, sendMailAdv: SendMailAdv): Request[Either[ResponseException[String, Exception], GenericResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/advsend")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(sendMailAdv)
      .response(asJson[GenericResponse])

  /**
   * Sends an email through one of your mail orders. For multiple recipients or file attachments, use `POST /mail/{id}/advsend` instead.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email queued successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param sendMail 
   */
  def sendMail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, sendMail: SendMail): Request[Either[ResponseException[String, Exception], GenericResponse]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}/send")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(sendMail)
      .response(asJson[GenericResponse])

  /**
   * Updates an existing alert definition for the mail service. Provide the `alert_id` returned by the list response along with updated fields.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailAlertUpdateRequest 
   */
  def updateMailAlert(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, mailAlertUpdateRequest: MailAlertUpdateRequest): Request[Either[ResponseException[String, Exception], SuccessTextResponse]] =
    basicRequest
      .method(Method.PUT, uri"$baseUrl/mail/${id}/alerts")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(mailAlertUpdateRequest)
      .response(asJson[SuccessTextResponse])

  /**
   * Updates mail service metadata for the order, such as stored settings or account details.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def updateMailInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: String): Request[Either[ResponseException[String, Exception], Unit]] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/mail/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.  **Row grouping** is controlled by the `groupby` parameter.  By default (`groupby=recipient`), the response contains one row per delivery attempt — so a single message sent to 4 recipients produces 4 rows, each with its own `recipient`, `delivered`, `response`, and `mxHostname` values.  Set `groupby=message` to collapse to one row per message (delivery fields will reflect one arbitrary recipient).  **Pagination** is controlled by `skip` and `limit`.  The `total` in the response reflects the row count **after** grouping, so it matches the number of pages you need to fetch.  **Date filtering** accepts either a Unix timestamp (integer) or a date string parseable by PHP `strtotime()` such as `2024-01-15`, `last monday`, or `2024-01-01 00:00:00`.  Examples: `startDate=1704067200&endDate=1706745599` or `startDate=2024-01-01&endDate=2024-01-31`.  **Sorting** is controlled by `sort` and `dir`.  Currently the only sort key is `time` (default), which orders by internal row ID.  **Delivery status** can be filtered with the `delivered` parameter: `delivered=1` returns only successfully delivered messages; `delivered=0` returns messages still in queue or that failed.  **Address filtering** distinguishes between the SMTP envelope address (`from`, `to`) and message headers (`headerfrom` for the `From:` header, `replyto` for `Reply-To:`). These may differ when a message is sent on behalf of another address.  The `mailid` parameter corresponds to the `id` field in the returned `MailLogEntry` objects, **not** the `_id` field.  It also matches the transaction ID returned in the `text` field of a successful send response.  The `messageId` parameter searches the `Message-ID` email header (case-insensitive substring match). 
   * 
   * Expected answers:
   *   code 200 : MailLog (Paginated list of mail log entries matching the specified filters.)
   *   code 400 :  (bad input parameter)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param id2 The numeric ID of the mail order to filter by.  When omitted, logs from the first active mail order are returned.  Obtain valid IDs from `GET /mail` or `GET /mail/{id}`.
   * @param origin Filter by the originating IP address from which the message was submitted to the relay.  Must be a valid IPv4 or IPv6 address.
   * @param mx Filter by the MX hostname the relay attempted delivery to.  For example `mx.google.com` would return messages destined for Gmail recipients. Maps to `mxHostname` in the `MailLogEntry` response.
   * @param from Filter by SMTP envelope `MAIL FROM` address (exact match).  This is the address the relay used for bounce handling and may differ from the `From:` message header.  For header-level filtering use `headerfrom`.
   * @param to Filter by SMTP envelope `RCPT TO` address (exact match).  This is the delivery address used by the relay and may differ from the `To:` header when BCC recipients are involved.
   * @param subject Filter by email `Subject` header (exact match).  MIME-encoded subjects are decoded automatically in the response.
   * @param mailid Filter by the relay-assigned mail ID string (exact match).  This corresponds to the `id` field in `MailLogEntry` and to the `text` value returned by the sending endpoints on success.  Format is an 18-19 character hexadecimal string such as `185997065c60008840`.
   * @param messageId Filter by the `Message-ID` email header using a substring (case-insensitive) match.  The `Message-ID` is assigned by the sending mail client and is visible in the `messageId` field of `MailLogEntry`.
   * @param replyto Filter by the `Reply-To` message header address (exact match).  Only returns messages where this header was explicitly set.
   * @param headerfrom Filter by the `From` message header address (exact match).  This is the human-visible sender address and may differ from the SMTP envelope `from` parameter when sending on behalf of another address.
   * @param delivered Filter by delivery status.  `1` returns only messages that were successfully delivered to the destination MX.  `0` returns messages that are still queued, deferred, or failed.  Omit to return all messages regardless of delivery status.
   * @param skip Number of records to skip for pagination.  Use in combination with `limit` to page through large result sets.  Defaults to `0` (no skip).
   * @param limit Maximum number of records to return per page.  Defaults to `100`. Maximum allowed value is `10000`.  The response also includes a `total` field with the full matched count so you can calculate the number of pages.
   * @param startDate Earliest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by `strtotime()` such as `2024-01-15` or `last monday`.  Messages with a `time` value **greater than or equal to** this value will be included.
   * @param endDate Latest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by `strtotime()` such as `2024-01-31` or `yesterday`.  Messages with a `time` value **less than or equal to** this value will be included.
   * @param sort Field to sort results by.  Currently only `time` is supported (sorts by internal row ID which corresponds to chronological order).
   * @param dir Sort direction.  `desc` returns newest first (default), `asc` returns oldest first.
   * @param groupby Controls how results are grouped.  `recipient` (default) returns one row per delivery attempt — a message sent to 4 recipients produces 4 rows, each with its own `recipient`, `delivered`, `response`, and delivery metadata.  `message` collapses to one row per unique message ID; delivery-level fields will reflect one arbitrary recipient per message.  The `total` count in the response matches the grouping mode.
   */
  def viewMailLog(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, id2: Option[Long] = None, origin: Option[String] = None, mx: Option[String] = None, from: Option[String] = None, to: Option[String] = None, subject: Option[String] = None, mailid: Option[String] = None, messageId: Option[String] = None, replyto: Option[String] = None, headerfrom: Option[String] = None, delivered: Option[Int] = None, skip: Option[Int] = None, limit: Option[Int] = None, startDate: Option[ViewMailLogStartDateParameter] = None, endDate: Option[ViewMailLogStartDateParameter] = None, sort: Option[String] = None, dir: Option[String] = None, groupby: Option[String] = None): Request[Either[ResponseException[String, Exception], MailLog]] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/mail/${id}/log?id=${ id2 }&origin=${ origin }&mx=${ mx }&from=${ from }&to=${ to }&subject=${ subject }&mailid=${ mailid }&messageId=${ messageId }&replyto=${ replyto }&headerfrom=${ headerfrom }&delivered=${ delivered }&skip=${ skip }&limit=${ limit }&startDate=${ startDate }&endDate=${ endDate }&sort=${ sort }&dir=${ dir }&groupby=${ groupby }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[MailLog])

}
