/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AccountInfo;
import org.openapitools.model.GenericResponse;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.GetAccountTfaSetup200Response;
import org.openapitools.model.Home;
import org.openapitools.model.SearchAutocompleteResponse;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T06:50:57.553290059-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface AccountApi {
    /**
     * Change Account Username
     * Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.
     *
     * @return TextResponse
     */
    @Post(uri="/account/username")
    @Consumes({"application/json"})
    Mono<TextResponse> changeAccountUsername();

    /**
     * Unlink OAuth Account
     * Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.
     *
     * @param name  (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/account/oauth/{name}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteAccountOauthName(
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * Disable Two-Factor Authentication
     * Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.
     *
     * @return SuccessTextResponse
     */
    @Delete(uri="/account/2fa")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteAccountTfa();

    /**
     * Remove IP Access Restriction
     * Removes an IP address range from the account&#39;s access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.
     *
     * @return GenericResponse
     */
    @Patch(uri="/account/iplimits")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<GenericResponse> deleteIpLimit();

    /**
     * Retrieve Account Details
     * Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with &#x60;POST /account&#x60;.
     *
     * @return AccountInfo
     */
    @Get(uri="/account")
    @Consumes({"application/json"})
    Mono<AccountInfo> getAccountInfo();

    /**
     * Get Two-Factor Setup Data
     * Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the &#x60;2fa_google_key&#x60; as a QR code or display the &#x60;2fa_google_split&#x60; value for manual entry. After setup, verify with &#x60;POST /account/2fa&#x60;.
     *
     * @return GetAccountTfaSetup200Response
     */
    @Get(uri="/account/2fa")
    @Consumes({"application/json"})
    Mono<GetAccountTfaSetup200Response> getAccountTfaSetup();

    /**
     * Get Home Data
     * Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.
     *
     * @return Home
     */
    @Get(uri="/home")
    @Consumes({"application/json"})
    Mono<Home> getHome();

    /**
     * Search Autocomplete
     * Returns autocomplete results for the account&#39;s services and records. Use this endpoint to power global search experiences in the client portal.
     *
     * @return SearchAutocompleteResponse
     */
    @Get(uri="/search")
    @Consumes({"application/json"})
    Mono<SearchAutocompleteResponse> getSearch();

    /**
     * Log Out
     * Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.
     *
     * @return SuccessTextResponse
     */
    @Get(uri="/logout")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> logout();

    /**
     * Logout of OAuth
     * Logs out of the specified OAuth provider session.
     *
     * @param name  (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/account/oauth/{name}/logout")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> logoutAccountOauth(
        @PathVariable(name="name") @NotNull String name
    );

    /**
     * Generate New API Key
     * Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.
     *
     * @return SuccessTextResponse
     */
    @Post(uri="/account/apikey")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateAccountApiKey();

    /**
     * Update Account Feature Flags
     * Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.
     *
     * @param disableReset  (optional)
     * @param disableReinstall  (optional)
     * @return SuccessTextResponse
     */
    @Post(uri="/account/features")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> updateAccountFeatures(
        @Nullable Integer disableReset, 
        @Nullable Integer disableReinstall
    );

    /**
     * Update Account Information
     * Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.
     *
     * @param name Your name. (required)
     * @param address Your address. (required)
     * @param city Your city. (required)
     * @param state Your state. (required)
     * @param zip Your ZIP code. (required)
     * @param country Your country. (required)
     * @param phone Your phone number. (required)
     * @param company Your company name. (optional)
     * @param address2 Additional address information. (optional)
     * @param locale Your preferred locale. (optional)
     * @param emailInvoices Your email for invoice notifications. (optional)
     * @param emailAbuse Your email for abuse notifications. (optional)
     * @param disableReset Set to &#x60;true&#x60; to disable account resets, or &#x60;false&#x60; to enable them. (optional)
     * @param disableReinstall Set to &#x60;true&#x60; to disable server reinstalls, or &#x60;false&#x60; to enable them. (optional)
     * @param disableServerNotifications Set to &#x60;true&#x60; to disable server notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param disableEmailNotifications Set to &#x60;true&#x60; to disable email notifications, or &#x60;false&#x60; to enable them. (optional)
     * @param gstin Your GST identification number (if applicable). (optional)
     * @return SuccessTextResponse
     */
    @Post(uri="/account")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> updateAccountInfo(
        @NotNull String name, 
        @NotNull String address, 
        @NotNull String city, 
        @NotNull String state, 
        @NotNull String zip, 
        @NotNull String country, 
        @NotNull String phone, 
        @Nullable String company, 
        @Nullable String address2, 
        @Nullable String locale, 
        @Nullable String emailInvoices, 
        @Nullable String emailAbuse, 
        @Nullable Boolean disableReset, 
        @Nullable Boolean disableReinstall, 
        @Nullable Boolean disableServerNotifications, 
        @Nullable Boolean disableEmailNotifications, 
        @Nullable String gstin
    );

    /**
     * Add IP Access Restriction
     * Adds an IP address range to the account&#39;s access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.
     *
     * @param start The begining (or first) IP address in the range. (required)
     * @param end The ending (or last) IP address in the range. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/account/iplimits")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> updateAccountIpLimits(
        @NotNull String start, 
        @NotNull String end
    );

    /**
     * Change Account Password
     * Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.
     *
     * @param password  (required)
     * @return TextResponse
     */
    @Post(uri="/account/password")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<TextResponse> updateAccountPassword(
        @NotNull String password
    );

    /**
     * Update SSH Keys
     * Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.
     *
     * @param sshKey  (optional)
     * @return SuccessTextResponse
     */
    @Post(uri="/account/sshkey")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> updateAccountSshKey(
        @Nullable String sshKey
    );

    /**
     * Enable Two-Factor Authentication
     * Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use &#x60;GET /account/2fa&#x60; first to retrieve the secret key for app setup.
     *
     * @param _2faGoogleCode The 6-digit verification code from your authenticator app. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/account/2fa")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> updateAccountTfa(
        @NotNull String _2faGoogleCode
    );

}
