/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.Backup;
import org.openapitools.model.BackupLoginResponse;
import org.openapitools.model.BackupOrderPostResponse;
import org.openapitools.model.BackupOrderPutResponse;
import org.openapitools.model.BackupRow;
import org.openapitools.model.BackupsOrder;
import org.openapitools.model.CancelBackup200Response;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.SuccessTextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T08:03:28.685588550-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BackupsApi {
    /**
     * Place Backup Order
     * Places a new backup storage order and generates an invoice. On success, the response includes invoice IDs that can be used with &#x60;/billing/invoices/{id}&#x60; to view the invoice or &#x60;/pay/{method}/{invoices}&#x60; to complete payment. The service is provisioned after payment is confirmed.
     *
     * @param validateOnly  (optional)
     * @param serviceType  (optional)
     * @param coupon  (optional)
     * @return BackupOrderPostResponse
     */
    @Post(uri="/backups/order")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<BackupOrderPostResponse> addBackup(
        @Nullable Boolean validateOnly, 
        @Nullable Integer serviceType, 
        @Nullable String coupon
    );

    /**
     * Cancel Backup Service
     * Cancels the specified backup storage service. The service remains accessible until the end of the current billing period. This action cannot be undone; a new order must be placed to restore service.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return CancelBackup200Response
     */
    @Delete(uri="/backups/{id}")
    @Consumes({"application/json"})
    Mono<CancelBackup200Response> cancelBackup(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Backup Service Details
     * Returns detailed service information for the specified backup storage order, including &#x60;backup_username&#x60;, &#x60;backup_ip&#x60;, &#x60;backup_status&#x60;, and &#x60;backup_quota&#x60; in &#x60;serviceInfo&#x60;. Also returns &#x60;client_links&#x60;, &#x60;billingDetails&#x60;, &#x60;extraInfoTables&#x60;, &#x60;package&#x60;, and &#x60;custCurrency&#x60;.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return Backup
     */
    @Get(uri="/backups/{id}")
    @Consumes({"application/json"})
    Mono<Backup> getBackupInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Backup Order Invoices
     * Retrieves invoices associated with the backup storage order. Use this to confirm billing status or locate invoices for payment.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/backups/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getBackupInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Backup Storage Panel Login
     * Creates and returns a login session URL for the backup storage panel. The returned session URL can be used to redirect the user directly into the storage management interface without requiring separate credentials.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return BackupLoginResponse
     */
    @Get(uri="/backups/{id}/login")
    @Consumes({"application/json"})
    Mono<BackupLoginResponse> getBackupLogin(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Backup Services
     * Returns all backup storage services on your account. Each entry includes the &#x60;backup_id&#x60;, &#x60;backup_username&#x60;, &#x60;backup_ip&#x60;, &#x60;backup_status&#x60;, and &#x60;backup_quota&#x60;. Use the &#x60;backup_id&#x60; with &#x60;/backups/{id}&#x60; to retrieve full service details or &#x60;/backups/{id}/login&#x60; to obtain a storage panel session.
     *
     * @return List&lt;BackupRow&gt;
     */
    @Get(uri="/backups")
    @Consumes({"application/json"})
    Mono<List<BackupRow>> getBackupsList();

    /**
     * Resend Backup Welcome Email
     * Resends the welcome email for the specified backup service. The email contains connection credentials and setup instructions. Use this when the original welcome email was lost or never received.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/backups/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getBackupsWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Backup Order Form Data
     * Returns available backup storage plans, pricing tiers, and form metadata needed to build an order form. Use the service type IDs from this response when submitting a validation request via &#x60;PUT /backups/order&#x60; or placing an order via &#x60;POST /backups/order&#x60;.
     *
     * @return BackupsOrder
     */
    @Get(uri="/backups/order")
    @Consumes({"application/json"})
    Mono<BackupsOrder> getNewBackup();

    /**
     * Update Backup Information
     * Updates backup storage service metadata, such as stored credentials or settings for the order.
     *
     * @param id The backup service ID. Use the &#x60;backup_id&#x60; from &#x60;GET /backups&#x60; to identify the service. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/backups/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateBackupInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Validate Backup Order
     * Validates a backup storage order without placing it, returning calculated pricing and any validation errors. Use this to display a confirmation screen with the final price before submitting the order via &#x60;POST /backups/order&#x60;.
     *
     * @param validateOnly  (optional)
     * @param serviceType  (optional)
     * @param coupon  (optional)
     * @return BackupOrderPutResponse
     */
    @Put(uri="/backups/order")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<BackupOrderPutResponse> validateBackupOrder(
        @Nullable Boolean validateOnly, 
        @Nullable Integer serviceType, 
        @Nullable String coupon
    );

}
