/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AffiliateBannerRow;
import org.openapitools.model.AffiliateTrafficRow;
import org.openapitools.model.BillingAddCcRequest;
import org.openapitools.model.BillingInvoiceDetail;
import org.openapitools.model.BillingInvoiceList;
import org.openapitools.model.BillingPaymentMethodRequest;
import org.openapitools.model.BillingPrepayRequest;
import org.openapitools.model.BillingVerifyCcRequest;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.InitiatePayment200Response;
import org.openapitools.model.Invoice;
import org.openapitools.model.MonthlyCounts;
import org.openapitools.model.StatusMonthlyBreakdown;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-12T01:47:40.928523750-04:00[America/New_York]", comments = "Generator version: 7.20.0")
@Client("${openapi-micronaut-client-base-path}")
public interface BillingApi {
    /**
     * Add Credit Card to Account
     * Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
     *
     * @param name  (optional)
     * @param address  (optional)
     * @param city  (optional)
     * @param state  (optional)
     * @param country  (optional)
     * @param zip  (optional)
     * @param cc  (optional)
     * @param ccExp  (optional)
     * @param ccCcv2  (optional)
     * @return SuccessTextResponse
     */
    @Post(uri="/account/creditcards")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> addAccountCreditCard(
        @Nullable String name, 
        @Nullable String address, 
        @Nullable String city, 
        @Nullable String state, 
        @Nullable String country, 
        @Nullable String zip, 
        @Nullable String cc, 
        @Nullable String ccExp, 
        @Nullable String ccCcv2
    );

    /**
     * Add Credit Card for Billing
     * Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via &#x60;GET /billing/creditcards/{id}/verify&#x60; followed by &#x60;POST /billing/creditcards/{id}/verify&#x60; before the card can be used for payments.
     *
     * @param billingAddCcRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/billing/creditcards")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> addBillingCreditCard(
        @Body @NotNull @Valid BillingAddCcRequest billingAddCcRequest
    );

    /**
     * Create Prepay Deposit
     * Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use &#x60;/billing/invoices/{id}&#x60; to retrieve the generated invoice details.
     *
     * @param billingPrepayRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/billing/prepays")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> addBillingPrepay(
        @Body @NotNull @Valid BillingPrepayRequest billingPrepayRequest
    );

    /**
     * Remove Credit Card
     * Removes a credit card from the account. If this is the default payment method, select a new default via &#x60;/billing/payment_method&#x60; afterward.
     *
     * @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;. (required)
     */
    @Delete(uri="/account/creditcards/{id}")
    @Consumes({"application/json"})
    Mono<Void> deleteAccountCreditCard(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Delete Credit Card
     * Removes the selected credit card from the account. Use &#x60;/billing/payment_method&#x60; to select a new default payment method after deleting a card.
     *
     * @param id The credit card ID to remove. Use IDs from &#x60;GET /billing/creditcards&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/billing/creditcards/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteBillingCreditCard(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Delete Invoice
     * Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.
     *
     * @param id The invoice ID to delete. Only unpaid invoices can be deleted. (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/billing/invoices/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteBillingInvoice(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Delete Prepay Balance
     * Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use &#x60;GET /billing/prepays&#x60; to list available prepay balances and their IDs.
     *
     * @param id The prepay balance ID to delete. (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/billing/prepays/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteBillingPrepay(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Affiliate Banner Assets
     * Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.
     *
     * @return List&lt;AffiliateBannerRow&gt;
     */
    @Get(uri="/affiliate/banners")
    @Consumes({"application/json"})
    Mono<List<AffiliateBannerRow>> getAffiliateBanners();

    /**
     * Get Affiliate Performance Report
     * Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.
     *
     * @return TextResponse
     */
    @Get(uri="/affiliate/rich_report")
    @Consumes({"application/json"})
    Mono<TextResponse> getAffiliateRichReport();

    /**
     * Get Affiliate Sales Graph Data
     * Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.
     *
     * @param days Number of days of sales history to include in the graph data. Determines the time window for the returned data points. (optional)
     * @return StatusMonthlyBreakdown
     */
    @Get(uri="/affiliate/sales_graph")
    @Consumes({"application/json"})
    Mono<StatusMonthlyBreakdown> getAffiliateSalesGraph(
        @QueryValue(value="days") @Nullable Integer days
    );

    /**
     * Get Affiliate Sales Report
     * Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.
     *
     * @return TextResponse
     */
    @Get(uri="/affiliate/sales_report")
    @Consumes({"application/json"})
    Mono<TextResponse> getAffiliateSalesReport();

    /**
     * Get Affiliate Traffic Graph Data
     * Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.
     *
     * @param days Number of days of traffic history to include in the graph data. Determines the time window for the returned data points. (optional)
     * @return MonthlyCounts
     */
    @Get(uri="/affiliate/traffic_graph")
    @Consumes({"application/json"})
    Mono<MonthlyCounts> getAffiliateTrafficGraph(
        @QueryValue(value="days") @Nullable Integer days
    );

    /**
     * List Affiliate Web Traffic Entries
     * Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.
     *
     * @return List&lt;AffiliateTrafficRow&gt;
     */
    @Get(uri="/affiliate/web_traffic")
    @Consumes({"application/json"})
    Mono<List<AffiliateTrafficRow>> getAffiliateWebTraffic();

    /**
     * Get Shopping Cart Contents
     * Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to &#x60;/pay/{method}/{invoices}&#x60;.
     *
     */
    @Get(uri="/billing/cart")
    @Consumes({"application/json"})
    Mono<Void> getBillingCart();

    /**
     * Get Credit Card Verification Requirements
     * Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.
     *
     * @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/billing/creditcards/{id}/verify")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getBillingCreditCardVerify(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Invoice Details
     * Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to &#x60;/pay/{method}/{invoices}&#x60; so you can display the exact amount due and confirm the invoice is still unpaid.
     *
     * @param id The invoice ID. Use IDs from &#x60;GET /billing/invoices&#x60; or from order responses. (required)
     * @return BillingInvoiceDetail
     */
    @Get(uri="/billing/invoices/{id}")
    @Consumes({"application/json"})
    Mono<BillingInvoiceDetail> getBillingInvoice(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Account Invoices
     * Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with &#x60;/billing/invoices/{id}&#x60; to retrieve detailed line items, or with &#x60;/pay/{method}/{invoices}&#x60; to initiate payment.
     *
     * @return BillingInvoiceList
     */
    @Get(uri="/billing/invoices")
    @Consumes({"application/json"})
    Mono<BillingInvoiceList> getBillingInvoices();

    /**
     * List Prepay Balances
     * Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting &#x60;prepay&#x60; as a payment method.
     *
     */
    @Get(uri="/billing/prepays")
    @Consumes({"application/json"})
    Mono<Void> getBillingPrePays();

    /**
     * Get Invoices
     * Returns a paginated list of invoices for the authenticated account. Each invoice includes the invoice number, date, total amount, and payment status. Use the optional &#x60;searchString&#x60; parameter to filter results and &#x60;skip&#x60;/&#x60;limit&#x60; for pagination.
     *
     * @param searchString pass an optional search string for looking up inventory (optional)
     * @param skip number of records to skip for pagination (optional)
     * @param limit maximum number of records to return (optional)
     * @return List&lt;Invoice&gt;
     */
    @Get(uri="/invoices")
    @Consumes({"application/json"})
    Mono<List<Invoice>> getInvoices(
        @QueryValue(value="searchString") @Nullable String searchString, 
        @QueryValue(value="skip") @Nullable @Min(0) Integer skip, 
        @QueryValue(value="limit") @Nullable @Min(0) @Max(50) Integer limit
    );

    /**
     * Initiate Payment
     * Initiates a payment for the specified invoices using the chosen payment method. The response type determines how your client should proceed: &#x60;redirect&#x60; means send the user to the provided URL, &#x60;submit&#x60; means POST a form with the provided fields, and &#x60;single&#x60; means the payment was processed immediately. Use invoice IDs obtained from order responses or &#x60;/billing/invoices&#x60;.
     *
     * @param method The payment method to use. Valid values: &#x60;cc&#x60; (credit card), &#x60;paypal&#x60;, &#x60;prepay&#x60;, &#x60;payssion&#x60;, &#x60;payu&#x60;, &#x60;ccavenue&#x60;, &#x60;cashfree&#x60;, &#x60;coinbase&#x60;, &#x60;btcpay&#x60;. (required)
     * @param invoices A comma-separated list of invoice IDs to pay. These IDs are returned by order endpoints (e.g. &#x60;/backups/order&#x60;, &#x60;/vps/order&#x60;) and by &#x60;/billing/invoices&#x60;. (required)
     * @return InitiatePayment200Response
     */
    @Get(uri="/pay/{method}/{invoices}")
    @Consumes({"application/json"})
    Mono<InitiatePayment200Response> initiatePayment(
        @PathVariable(name="method") @NotNull String method, 
        @PathVariable(name="invoices") @NotNull String invoices
    );

    /**
     * Submit Credit Card Verification
     * Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by &#x60;GET /billing/creditcards/{id}/verify&#x60;. A successful response means the card is verified and can be selected as a payment method via &#x60;/billing/payment_method&#x60;.
     *
     * @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;. (required)
     * @param billingVerifyCcRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/billing/creditcards/{id}/verify")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> postBillingCreditCardVerify(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid BillingVerifyCcRequest billingVerifyCcRequest
    );

    /**
     * Update Credit Card
     * Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.
     *
     * @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;. (required)
     */
    @Post(uri="/account/creditcards/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateAccountCreditCard(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Configure Affiliate Dock Settings
     * Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
     *
     * @param affiliateDockTitle  (optional)
     * @param affiliateDockDescription  (optional)
     * @param referrerCoupon  (optional)
     * @return TextResponse
     */
    @Post(uri="/affiliate/dock_setup")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<TextResponse> updateAffiliateDockSetup(
        @Nullable String affiliateDockTitle, 
        @Nullable String affiliateDockDescription, 
        @Nullable String referrerCoupon
    );

    /**
     * Configure Affiliate Landing Page
     * Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
     *
     * @param affiliateDockTitle  (optional)
     * @param affiliateDockDescription  (optional)
     * @param referrerCoupon  (optional)
     * @return TextResponse
     */
    @Post(uri="/affiliate/landing_pg")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<TextResponse> updateAffiliateLandingPage(
        @Nullable String affiliateDockTitle, 
        @Nullable String affiliateDockDescription, 
        @Nullable String referrerCoupon
    );

    /**
     * Configure Affiliate Payout Preferences
     * Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.
     *
     * @param affiliatePaypal  (optional)
     * @param affiliatePaymentMethod  (optional)
     * @return TextResponse
     */
    @Post(uri="/affiliate/payment_setup")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<TextResponse> updateAffiliatePaymentSetup(
        @Nullable String affiliatePaypal, 
        @Nullable String affiliatePaymentMethod
    );

    /**
     * Update Credit Card Details
     * Updates stored credit card metadata or retrieves the masked card details. Use this to refresh card data before verification or to update billing address information associated with the card.
     *
     * @param id The credit card ID. Use IDs from &#x60;GET /billing/creditcards&#x60; or the response from &#x60;POST /billing/creditcards&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/billing/creditcards/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateBillingCreditCard(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update Default Payment Method
     * Updates the account&#39;s default payment method, including selecting a verified credit card as the primary payment source or switching to PayPal when available.
     *
     * @param billingPaymentMethodRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/billing/payment_method")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> updateBillingPaymentMethod(
        @Body @NotNull @Valid BillingPaymentMethodRequest billingPaymentMethodRequest
    );

}
