/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.DnsListItem;
import org.openapitools.model.DnsRecord;
import org.openapitools.model.DnsRecordType;
import org.openapitools.model.GetAccountInfo401Response;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-12T01:47:40.928523750-04:00[America/New_York]", comments = "Generator version: 7.20.0")
@Client("${openapi-micronaut-client-base-path}")
public interface DnsApi {
    /**
     * Create DNS Domain
     * Creates a new DNS domain and assigns an initial A record pointing to the supplied IP address. The domain is immediately available on InterServer&#39;s DNS servers. Use &#x60;/dns/{id}&#x60; to manage records after creation.
     *
     * @param domain The domain name. (required)
     * @param ip IP Address to point the domain to. (required)
     */
    @Post(uri="/dns")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<Void> addDnsDomain(
        @NotNull String domain, 
        @NotNull String ip
    );

    /**
     * Add DNS Record to Domain
     * Adds a new DNS record to the specified domain. Provide the record type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority. The record takes effect on the DNS servers immediately. Use &#x60;GET /dns/{id}&#x60; afterward to confirm the record was created.
     *
     * @param id The DNS Domain ID. (required)
     * @param name Name part of record (required)
     * @param type  (required)
     * @param content Content of record (required)
     * @param ttl Time-to-live (optional, default to 86400)
     * @param prio Priority (optional, default to 0)
     */
    @Post(uri="/dns/{id}")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<Void> addDnsRecord(
        @PathVariable(name="id") @NotNull String id, 
        @NotNull String name, 
        @NotNull DnsRecordType type, 
        @NotNull String content, 
        @Nullable Integer ttl, 
        @Nullable Integer prio
    );

    /**
     * Delete DNS Domain
     * Deletes a DNS domain and all of its associated records from the DNS servers. This action is permanent and cannot be undone. Any services relying on these DNS records will be affected immediately.
     *
     * @param id The DNS domain ID to delete. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. (required)
     */
    @Delete(uri="/dns/{id}")
    @Consumes({"application/json"})
    Mono<Void> deleteDnsDomain(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Delete DNS Record
     * Removes a DNS record from the specified domain. The deletion takes effect on the DNS servers immediately. Use &#x60;GET /dns/{id}&#x60; to verify the record has been removed.
     *
     * @param domainId The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. (required)
     * @param recordId The DNS record ID within the domain. Use the record &#x60;id&#x60; from &#x60;GET /dns/{id}&#x60; to identify the record. (required)
     */
    @Delete(uri="/dns/{domainId}/{recordId}")
    @Consumes({"application/json"})
    Mono<Void> deleteDnsRecord(
        @PathVariable(name="domainId") @NotNull Integer domainId, 
        @PathVariable(name="recordId") @NotNull Integer recordId
    );

    /**
     * List Domain DNS Records
     * Returns the full set of DNS records for the specified domain, including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record &#x60;id&#x60; values with &#x60;/dns/{domainId}/{recordId}&#x60; to update or delete individual records.
     *
     * @param id The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. (required)
     * @return List&lt;DnsRecord&gt;
     */
    @Get(uri="/dns/{id}")
    @Consumes({"application/json"})
    Mono<List<DnsRecord>> getDnsDomain(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List DNS Domains
     * Returns the DNS domains on your account along with their primary A record content. Use the &#x60;id&#x60; from each entry with &#x60;/dns/{id}&#x60; to retrieve the full record set, or to add, update, and delete individual records.
     *
     * @return List&lt;DnsListItem&gt;
     */
    @Get(uri="/dns")
    @Consumes({"application/json"})
    Mono<List<DnsListItem>> getDnsList();

    /**
     * Update DNS Record
     * Updates an existing DNS record with new values. Use &#x60;GET /dns/{id}&#x60; to list records and retrieve the record IDs before updating. Changes propagate to the DNS servers immediately.
     *
     * @param domainId The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. (required)
     * @param recordId The DNS record ID within the domain. Use the record &#x60;id&#x60; from &#x60;GET /dns/{id}&#x60; to identify the record. (required)
     * @param name  (optional)
     * @param type  (optional)
     * @param content  (optional)
     * @param ttl  (optional)
     * @param prio  (optional)
     * @param disabled  (optional)
     * @param ordername  (optional)
     * @param auth  (optional)
     */
    @Post(uri="/dns/{domainId}/{recordId}")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<Void> updateDnsRecord(
        @PathVariable(name="domainId") @NotNull Integer domainId, 
        @PathVariable(name="recordId") @NotNull Integer recordId, 
        @Nullable String name, 
        @Nullable DnsRecordType type, 
        @Nullable String content, 
        @Nullable String ttl, 
        @Nullable String prio, 
        @Nullable String disabled, 
        @Nullable String ordername, 
        @Nullable String auth
    );

}
