/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.FloatingIpsCancel200Response;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.SuccessTextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-25T16:38:58.640178313-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface FloatingIpsApi {
    /**
     * Place Floating IP Order
     * Places an order for a new Floating IP service. Use &#x60;PUT /floating_ips/order&#x60; to validate the order first.
     *
     */
    @Post(uri="/floating_ips/order")
    @Consumes({"application/json"})
    Mono<Void> addFloatingIp();

    /**
     * Cancel Floating IP
     * Cancels a Floating IP service. After cancellation the IP assignment is released and the service transitions to a canceled status. No further billing charges will be incurred.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     * @return FloatingIpsCancel200Response
     */
    @Delete(uri="/floating_ips/{id}")
    @Consumes({"application/json"})
    Mono<FloatingIpsCancel200Response> floatingIpsCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * View Floating IP
     * Returns detailed information about a specific Floating IP service including its current target IP assignment.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     */
    @Get(uri="/floating_ips/{id}")
    @Consumes({"application/json"})
    Mono<Void> getFloatingIpInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Floating IP Invoices
     * Returns the billing invoices associated with this Floating IP service.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/floating_ips/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getFloatingIpInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Floating IPs
     * Returns all Floating IP services on the account with their current status and assignment details.
     *
     */
    @Get(uri="/floating_ips")
    @Consumes({"application/json"})
    Mono<Void> getFloatingIpsList();

    /**
     * Resend Floating IPs Welcome Email
     * Resends the welcome email for the Floating IP service. The email contains setup instructions and connection details.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/floating_ips/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getFloatingIpsWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Floating IP Ordering Information
     * Retrieves available options and pricing for ordering a new Floating IP.
     *
     */
    @Get(uri="/floating_ips/order")
    @Consumes({"application/json"})
    Mono<Void> getNewFloatingIp();

    /**
     * Change Floating IP Target
     * Changes the target IP address that the Floating IP points to. The Floating IP service must be active. Use &#x60;GET /floating_ips/{id}&#x60; to view the current target before making changes.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     * @param ip IP Address (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/floating_ips/{id}/change_ip")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<SuccessTextResponse> postFloatingIpsChangeIp(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String ip
    );

    /**
     * Validate Floating IP Order
     * Validates a Floating IP order before placing it. Use this to check for errors before committing to a purchase.
     *
     */
    @Put(uri="/floating_ips/order")
    @Consumes({"application/json"})
    Mono<Void> putFloatingIps();

    /**
     * Update Floating IP
     * Updates settings on a Floating IP service, such as its label or configuration metadata.
     *
     * @param id The Floating IP service ID. Use the ID from &#x60;GET /floating_ips&#x60;. (required)
     */
    @Post(uri="/floating_ips/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateFloatingIpInfo(
        @PathVariable(name="id") @NotNull String id
    );

}
