/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.IpObject;
import org.openapitools.model.License;
import org.openapitools.model.LicenseRow;
import org.openapitools.model.LicensesCancel200Response;
import org.openapitools.model.LicensesOrder;
import org.openapitools.model.SuccessTextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-25T16:38:58.640178313-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface LicensesApi {
    /**
     * Place License Order
     * Places an order for a new software license. Use &#x60;PUT /licenses/order&#x60; to validate the order first.
     *
     */
    @Post(uri="/licenses/order")
    @Consumes({"application/json"})
    Mono<Void> addLicense();

    /**
     * Get License
     * Returns detailed information about a specific license including its type, IP assignment, and status.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     * @return License
     */
    @Get(uri="/licenses/{id}")
    @Consumes({"application/json"})
    Mono<License> getLicenseInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get License Invoices
     * Returns the billing invoices associated with this license service.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/licenses/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getLicenseInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Licenses
     * Returns all software license services on the account with their current status and IP assignments.
     *
     * @return List&lt;LicenseRow&gt;
     */
    @Get(uri="/licenses")
    @Consumes({"application/json"})
    Mono<List<LicenseRow>> getLicenseList();

    /**
     * Get License Order Information for Category
     * Returns the available license types and pricing for a specific license category. Use the category tags from &#x60;GET /licenses/order&#x60; to identify valid values.
     *
     * @param catTag The license category tag (e.g. &#x60;cpanel&#x60;, &#x60;plesk&#x60;). Obtain valid values from the &#x60;GET /licenses/order&#x60; response. (required)
     */
    @Get(uri="/licenses/order/{catTag}")
    @Consumes({"application/json"})
    Mono<Void> getLicenseOrderCatTagInfo(
        @PathVariable(name="catTag") @NotNull String catTag
    );

    /**
     * Resend License Welcome Email
     * Resends the welcome email for the license service. The email contains the license key and activation instructions.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/licenses/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getLicensesWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get License Order Information
     * Retrieves available license types, categories, and pricing for ordering a new license.
     *
     * @return LicensesOrder
     */
    @Get(uri="/licenses/order")
    @Consumes({"application/json"})
    Mono<LicensesOrder> getNewLicense();

    /**
     * Cancel License
     * Cancels a license service. After cancellation the license key is deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     * @return LicensesCancel200Response
     */
    @Delete(uri="/licenses/{id}")
    @Consumes({"application/json"})
    Mono<LicensesCancel200Response> licensesCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Change License IP
     * Changes the IP address associated with the license. The service must be active. Use &#x60;GET /licenses/{id}&#x60; to view the current IP assignment before making changes.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     * @param ipObject  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/licenses/{id}/change_ip")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> postLicenseChangeIp(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid IpObject ipObject
    );

    /**
     * Validate License Order
     * Validates a license order before placing it. Use this to check for errors before committing to a purchase.
     *
     */
    @Put(uri="/licenses/order")
    @Consumes({"application/json"})
    Mono<Void> putLicenses();

    /**
     * Update License
     * Updates settings on a license service such as its assigned IP.
     *
     * @param id The license service ID. Use &#x60;license_id&#x60; from &#x60;GET /licenses&#x60;. (required)
     */
    @Post(uri="/licenses/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateLicenseInfo(
        @PathVariable(name="id") @NotNull String id
    );

}
