/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.DenyRuleNew;
import org.openapitools.model.DenyRuleRecord;
import org.openapitools.model.GenericResponse;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.MailAlertRequest;
import org.openapitools.model.MailAlertUpdateRequest;
import org.openapitools.model.MailAlertsResponse;
import org.openapitools.model.MailBlocks;
import org.openapitools.model.MailCancel200Response;
import org.openapitools.model.MailDelistRequest;
import org.openapitools.model.MailDelistResponse;
import org.openapitools.model.MailDeliverabilityResponse;
import org.openapitools.model.MailLog;
import org.openapitools.model.MailOrder;
import org.openapitools.model.MailRow;
import org.openapitools.model.MailSchema;
import org.openapitools.model.MailStatsType;
import org.openapitools.model.SendMail;
import org.openapitools.model.SendMailAdv;
import org.openapitools.model.ServiceOrderPostResponse;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.ViewMailLogStartDateParameter;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T08:03:28.685588550-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface MailApi {
    /**
     * Place Mail Order
     * Places a Mail Baby order. On success, invoices are created for payment; use &#x60;/billing/invoices/{id}&#x60; or &#x60;/pay/{method}/{invoices}&#x60; to complete payment.
     *
     * @return ServiceOrderPostResponse
     */
    @Post(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<ServiceOrderPostResponse> addMail();

    /**
     * Create Deny Rule
     * Adds a new deny rule to automatically block emails that match the specified criteria.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param denyRuleNew These are the fields needed to create a new email deny rule. (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/rules")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> addRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DenyRuleNew denyRuleNew
    );

    /**
     * Create Mail Alert
     * Creates a new alert for the mail service, such as delivery or quota notifications.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailAlertRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> createMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailAlertRequest mailAlertRequest
    );

    /**
     * Delete Mail Alert
     * Deletes an existing alert definition for the mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param alertId Alert ID to delete. (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="alert_id") @NotNull Integer alertId
    );

    /**
     * Delete Deny Rule
     * Removes a deny rule from the mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param rule The ID of the Rules entry. (required)
     * @return GenericResponse
     */
    @Delete(uri="/mail/{id}/rules/{rule}")
    @Consumes({"application/json"})
    Mono<GenericResponse> deleteRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @PathVariable(name="rule") @NotNull String rule
    );

    /**
     * Remove Email Address from Block List
     * Removes an email address from the mail service&#39;s block lists.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param email an email address (optional)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/blocks/delete")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<GenericResponse> delistBlock(
        @PathVariable(name="id") @NotNull Integer id, 
        @Nullable String email
    );

    /**
     * List Mail Alerts
     * Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailAlertsResponse
     */
    @Get(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    Mono<MailAlertsResponse> getMailAlerts(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Blocked Email Addresses
     * Displays a listing of the blocked email addresses
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailBlocks
     */
    @Get(uri="/mail/{id}/blocks")
    @Consumes({"application/json"})
    Mono<MailBlocks> getMailBlocks(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Delist Status
     * Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailDelistResponse
     */
    @Get(uri="/mail/{id}/delist")
    @Consumes({"application/json"})
    Mono<MailDelistResponse> getMailDelist(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Deliverability Metrics
     * Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailDeliverabilityResponse
     */
    @Get(uri="/mail/{id}/deliverability")
    @Consumes({"application/json"})
    Mono<MailDeliverabilityResponse> getMailDeliverability(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Order
     * Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailSchema
     */
    @Get(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<MailSchema> getMailInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Invoices
     * Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/mail/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getMailInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Mail Orders
     * Returns the Mail Baby services on your account. Use the &#x60;mail_id&#x60; from this list with &#x60;/mail/{id}&#x60; to retrieve service details, and with &#x60;/mail/{id}/stats&#x60; or &#x60;/mail/{id}/log&#x60; to review delivery statistics.
     *
     * @return List&lt;MailRow&gt;
     */
    @Get(uri="/mail")
    @Consumes({"application/json"})
    Mono<List<MailRow>> getMailList();

    /**
     * Resend Mail Welcome Email
     * Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/mail/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getMailWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Ordering Information
     * Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
     *
     * @return MailOrder
     */
    @Get(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<MailOrder> getNewMail();

    /**
     * List Deny Rules
     * Returns a listing of all the deny block rules configured for this mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return List&lt;DenyRuleRecord&gt;
     */
    @Get(uri="/mail/{id}/rules")
    @Consumes({"application/json"})
    Mono<List<DenyRuleRecord>> getRules(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Usage Statistics
     * Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param time The timeframe for the statistics. (optional)
     * @return MailStatsType
     */
    @Get(uri="/mail/{id}/stats")
    @Consumes({"application/json"})
    Mono<MailStatsType> getStats(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="time") @Nullable String time
    );

    /**
     * Cancel Mail
     * Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailCancel200Response
     */
    @Delete(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<MailCancel200Response> mailCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Delist a Blocked Sender
     * Removes an email address from blocklists for the mail service. Provide the &#x60;unblock&#x60; email address from the delist status response.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailDelistRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/mail/{id}/delist")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> postMailDelist(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailDelistRequest mailDelistRequest
    );

    /**
     * Validate Mail Order
     * Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
     *
     */
    @Put(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<Void> putMail();

    /**
     * Reset Mail Password
     * Resets the Mail Baby service password and emails the new password to the account owner. Use &#x60;/mail/{id}&#x60; to retrieve updated credential data after the reset.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/mail/{id}/reset_password")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> resetMailPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Send Email with Advanced Options
     * Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use &#x60;POST /mail/{id}/send&#x60;.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param sendMailAdv  (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/advsend")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> sendAdvMail(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid SendMailAdv sendMailAdv
    );

    /**
     * Send Email
     * Sends an email through one of your mail orders. For multiple recipients or file attachments, use &#x60;POST /mail/{id}/advsend&#x60; instead.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param sendMail  (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/send")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> sendMail(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid SendMail sendMail
    );

    /**
     * Update Mail Alert
     * Updates an existing alert definition for the mail service. Provide the &#x60;alert_id&#x60; returned by the list response along with updated fields.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailAlertUpdateRequest  (required)
     * @return SuccessTextResponse
     */
    @Put(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> updateMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailAlertUpdateRequest mailAlertUpdateRequest
    );

    /**
     * Update Mail Order
     * Updates mail service metadata for the order, such as stored settings or account details.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateMailInfo(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * View Mail Log
     * Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.  **Row grouping** is controlled by the &#x60;groupby&#x60; parameter.  By default (&#x60;groupby&#x3D;recipient&#x60;), the response contains one row per delivery attempt — so a single message sent to 4 recipients produces 4 rows, each with its own &#x60;recipient&#x60;, &#x60;delivered&#x60;, &#x60;response&#x60;, and &#x60;mxHostname&#x60; values.  Set &#x60;groupby&#x3D;message&#x60; to collapse to one row per message (delivery fields will reflect one arbitrary recipient).  **Pagination** is controlled by &#x60;skip&#x60; and &#x60;limit&#x60;.  The &#x60;total&#x60; in the response reflects the row count **after** grouping, so it matches the number of pages you need to fetch.  **Date filtering** accepts either a Unix timestamp (integer) or a date string parseable by PHP &#x60;strtotime()&#x60; such as &#x60;2024-01-15&#x60;, &#x60;last monday&#x60;, or &#x60;2024-01-01 00:00:00&#x60;.  Examples: &#x60;startDate&#x3D;1704067200&amp;endDate&#x3D;1706745599&#x60; or &#x60;startDate&#x3D;2024-01-01&amp;endDate&#x3D;2024-01-31&#x60;.  **Sorting** is controlled by &#x60;sort&#x60; and &#x60;dir&#x60;.  Currently the only sort key is &#x60;time&#x60; (default), which orders by internal row ID.  **Delivery status** can be filtered with the &#x60;delivered&#x60; parameter: &#x60;delivered&#x3D;1&#x60; returns only successfully delivered messages; &#x60;delivered&#x3D;0&#x60; returns messages still in queue or that failed.  **Address filtering** distinguishes between the SMTP envelope address (&#x60;from&#x60;, &#x60;to&#x60;) and message headers (&#x60;headerfrom&#x60; for the &#x60;From:&#x60; header, &#x60;replyto&#x60; for &#x60;Reply-To:&#x60;). These may differ when a message is sent on behalf of another address.  The &#x60;mailid&#x60; parameter corresponds to the &#x60;id&#x60; field in the returned &#x60;MailLogEntry&#x60; objects, **not** the &#x60;_id&#x60; field.  It also matches the transaction ID returned in the &#x60;text&#x60; field of a successful send response.  The &#x60;messageId&#x60; parameter searches the &#x60;Message-ID&#x60; email header (case-insensitive substring match). 
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param id2 The numeric ID of the mail order to filter by.  When omitted, logs from the first active mail order are returned.  Obtain valid IDs from &#x60;GET /mail&#x60; or &#x60;GET /mail/{id}&#x60;. (optional)
     * @param origin Filter by the originating IP address from which the message was submitted to the relay.  Must be a valid IPv4 or IPv6 address. (optional)
     * @param mx Filter by the MX hostname the relay attempted delivery to.  For example &#x60;mx.google.com&#x60; would return messages destined for Gmail recipients. Maps to &#x60;mxHostname&#x60; in the &#x60;MailLogEntry&#x60; response. (optional)
     * @param from Filter by SMTP envelope &#x60;MAIL FROM&#x60; address (exact match).  This is the address the relay used for bounce handling and may differ from the &#x60;From:&#x60; message header.  For header-level filtering use &#x60;headerfrom&#x60;. (optional)
     * @param to Filter by SMTP envelope &#x60;RCPT TO&#x60; address (exact match).  This is the delivery address used by the relay and may differ from the &#x60;To:&#x60; header when BCC recipients are involved. (optional)
     * @param subject Filter by email &#x60;Subject&#x60; header (exact match).  MIME-encoded subjects are decoded automatically in the response. (optional)
     * @param mailid Filter by the relay-assigned mail ID string (exact match).  This corresponds to the &#x60;id&#x60; field in &#x60;MailLogEntry&#x60; and to the &#x60;text&#x60; value returned by the sending endpoints on success.  Format is an 18-19 character hexadecimal string such as &#x60;185997065c60008840&#x60;. (optional)
     * @param messageId Filter by the &#x60;Message-ID&#x60; email header using a substring (case-insensitive) match. The &#x60;Message-ID&#x60; is assigned by the sending mail client and is visible in the &#x60;messageId&#x60; field of &#x60;MailLogEntry&#x60;. (optional)
     * @param replyto Filter by the &#x60;Reply-To&#x60; message header address (exact match).  Only returns messages where this header was explicitly set. (optional)
     * @param headerfrom Filter by the &#x60;From&#x60; message header address (exact match).  This is the human-visible sender address and may differ from the SMTP envelope &#x60;from&#x60; parameter when sending on behalf of another address. (optional)
     * @param delivered Filter by delivery status.  &#x60;1&#x60; returns only messages that were successfully delivered to the destination MX.  &#x60;0&#x60; returns messages that are still queued, deferred, or failed.  Omit to return all messages regardless of delivery status. (optional)
     * @param skip Number of records to skip for pagination.  Use in combination with &#x60;limit&#x60; to page through large result sets.  Defaults to &#x60;0&#x60; (no skip). (optional, default to 0)
     * @param limit Maximum number of records to return per page.  Defaults to &#x60;100&#x60;. Maximum allowed value is &#x60;10000&#x60;.  The response also includes a &#x60;total&#x60; field with the full matched count so you can calculate the number of pages. (optional, default to 100)
     * @param startDate Earliest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by &#x60;strtotime()&#x60; such as &#x60;2024-01-15&#x60; or &#x60;last monday&#x60;.  Messages with a &#x60;time&#x60; value **greater than or equal to** this value will be included. (optional)
     * @param endDate Latest date to include.  Accepts either a Unix timestamp (integer seconds since epoch) or a date string parseable by &#x60;strtotime()&#x60; such as &#x60;2024-01-31&#x60; or &#x60;yesterday&#x60;. Messages with a &#x60;time&#x60; value **less than or equal to** this value will be included. (optional)
     * @param sort Field to sort results by.  Currently only &#x60;time&#x60; is supported (sorts by internal row ID which corresponds to chronological order). (optional, default to time)
     * @param dir Sort direction.  &#x60;desc&#x60; returns newest first (default), &#x60;asc&#x60; returns oldest first. (optional, default to desc)
     * @param groupby Controls how results are grouped.  &#x60;recipient&#x60; (default) returns one row per delivery attempt — a message sent to 4 recipients produces 4 rows, each with its own &#x60;recipient&#x60;, &#x60;delivered&#x60;, &#x60;response&#x60;, and delivery metadata.  &#x60;message&#x60; collapses to one row per unique message ID; delivery-level fields will reflect one arbitrary recipient per message.  The &#x60;total&#x60; count in the response matches the grouping mode. (optional, default to recipient)
     * @return MailLog
     */
    @Get(uri="/mail/{id}/log")
    @Consumes({"application/json"})
    Mono<MailLog> viewMailLog(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="id") @Nullable Long id2, 
        @QueryValue(value="origin") @Nullable String origin, 
        @QueryValue(value="mx") @Nullable String mx, 
        @QueryValue(value="from") @Nullable @Email String from, 
        @QueryValue(value="to") @Nullable @Email String to, 
        @QueryValue(value="subject") @Nullable String subject, 
        @QueryValue(value="mailid") @Nullable @Size(min=18, max=19) String mailid, 
        @QueryValue(value="messageId") @Nullable String messageId, 
        @QueryValue(value="replyto") @Nullable @Email String replyto, 
        @QueryValue(value="headerfrom") @Nullable @Email String headerfrom, 
        @QueryValue(value="delivered") @Nullable Integer delivered, 
        @QueryValue(value="skip", defaultValue="0") @Nullable @Min(0) Integer skip, 
        @QueryValue(value="limit", defaultValue="100") @Nullable @Min(1) @Max(10000) Integer limit, 
        @QueryValue(value="startDate") @Nullable @Valid ViewMailLogStartDateParameter startDate, 
        @QueryValue(value="endDate") @Nullable @Valid ViewMailLogStartDateParameter endDate, 
        @QueryValue(value="sort", defaultValue="time") @Nullable String sort, 
        @QueryValue(value="dir", defaultValue="desc") @Nullable String dir, 
        @QueryValue(value="groupby", defaultValue="recipient") @Nullable String groupby
    );

}
