/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.DenyRuleNew;
import org.openapitools.model.DenyRuleRecord;
import org.openapitools.model.GenericResponse;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.MailAlertRequest;
import org.openapitools.model.MailAlertUpdateRequest;
import org.openapitools.model.MailAlertsResponse;
import org.openapitools.model.MailBlocks;
import org.openapitools.model.MailCancel200Response;
import org.openapitools.model.MailDelistRequest;
import org.openapitools.model.MailDelistResponse;
import org.openapitools.model.MailDeliverabilityResponse;
import org.openapitools.model.MailLog;
import org.openapitools.model.MailOrder;
import org.openapitools.model.MailRow;
import org.openapitools.model.MailSchema;
import org.openapitools.model.MailStatsType;
import org.openapitools.model.SendMail;
import org.openapitools.model.SendMailAdv;
import org.openapitools.model.SuccessTextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-12T01:47:40.928523750-04:00[America/New_York]", comments = "Generator version: 7.20.0")
@Client("${openapi-micronaut-client-base-path}")
public interface MailApi {
    /**
     * Place Mail Order
     * Places a Mail Baby order. On success, invoices are created for payment; use &#x60;/billing/invoices/{id}&#x60; or &#x60;/pay/{method}/{invoices}&#x60; to complete payment.
     *
     */
    @Post(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<Void> addMail();

    /**
     * Create Deny Rule
     * Adds a new deny rule to automatically block emails that match the specified criteria.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param denyRuleNew These are the fields needed to create a new email deny rule. (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/rules")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> addRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DenyRuleNew denyRuleNew
    );

    /**
     * Create Mail Alert
     * Creates a new alert for the mail service, such as delivery or quota notifications.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailAlertRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> createMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailAlertRequest mailAlertRequest
    );

    /**
     * Delete Mail Alert
     * Deletes an existing alert definition for the mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param alertId Alert ID to delete. (required)
     * @return SuccessTextResponse
     */
    @Delete(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="alert_id") @NotNull Integer alertId
    );

    /**
     * Delete Deny Rule
     * Removes a deny rule from the mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param rule The ID of the Rules entry. (required)
     * @return GenericResponse
     */
    @Delete(uri="/mail/{id}/rules/{rule}")
    @Consumes({"application/json"})
    Mono<GenericResponse> deleteRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @PathVariable(name="rule") @NotNull String rule
    );

    /**
     * Remove Email Address from Block List
     * Removes an email address from the mail service&#39;s block lists.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param email an email address (optional)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/blocks/delete")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<GenericResponse> delistBlock(
        @PathVariable(name="id") @NotNull Integer id, 
        @Nullable String email
    );

    /**
     * List Mail Alerts
     * Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailAlertsResponse
     */
    @Get(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    Mono<MailAlertsResponse> getMailAlerts(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Blocked Email Addresses
     * Displays a listing of the blocked email addresses
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailBlocks
     */
    @Get(uri="/mail/{id}/blocks")
    @Consumes({"application/json"})
    Mono<MailBlocks> getMailBlocks(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Delist Status
     * Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailDelistResponse
     */
    @Get(uri="/mail/{id}/delist")
    @Consumes({"application/json"})
    Mono<MailDelistResponse> getMailDelist(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Deliverability Metrics
     * Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailDeliverabilityResponse
     */
    @Get(uri="/mail/{id}/deliverability")
    @Consumes({"application/json"})
    Mono<MailDeliverabilityResponse> getMailDeliverability(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Order
     * Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailSchema
     */
    @Get(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<MailSchema> getMailInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Invoices
     * Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/mail/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getMailInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Mail Orders
     * Returns the Mail Baby services on your account. Use the &#x60;mail_id&#x60; from this list with &#x60;/mail/{id}&#x60; to retrieve service details, and with &#x60;/mail/{id}/stats&#x60; or &#x60;/mail/{id}/log&#x60; to review delivery statistics.
     *
     * @return List&lt;MailRow&gt;
     */
    @Get(uri="/mail")
    @Consumes({"application/json"})
    Mono<List<MailRow>> getMailList();

    /**
     * Resend Mail Welcome Email
     * Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/mail/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getMailWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Ordering Information
     * Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
     *
     * @return MailOrder
     */
    @Get(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<MailOrder> getNewMail();

    /**
     * List Deny Rules
     * Returns a listing of all the deny block rules configured for this mail service.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return List&lt;DenyRuleRecord&gt;
     */
    @Get(uri="/mail/{id}/rules")
    @Consumes({"application/json"})
    Mono<List<DenyRuleRecord>> getRules(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Mail Usage Statistics
     * Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param time The timeframe for the statistics. (optional)
     * @return MailStatsType
     */
    @Get(uri="/mail/{id}/stats")
    @Consumes({"application/json"})
    Mono<MailStatsType> getStats(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="time") @Nullable String time
    );

    /**
     * Cancel Mail
     * Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return MailCancel200Response
     */
    @Delete(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<MailCancel200Response> mailCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Delist a Blocked Sender
     * Removes an email address from blocklists for the mail service. Provide the &#x60;unblock&#x60; email address from the delist status response.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailDelistRequest  (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/mail/{id}/delist")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> postMailDelist(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailDelistRequest mailDelistRequest
    );

    /**
     * Validate Mail Order
     * Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
     *
     */
    @Put(uri="/mail/order")
    @Consumes({"application/json"})
    Mono<Void> putMail();

    /**
     * Reset Mail Password
     * Resets the Mail Baby service password and emails the new password to the account owner. Use &#x60;/mail/{id}&#x60; to retrieve updated credential data after the reset.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/mail/{id}/reset_password")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> resetMailPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Send Email with Advanced Options
     * Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use &#x60;POST /mail/{id}/send&#x60;.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param sendMailAdv  (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/advsend")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> sendAdvMail(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid SendMailAdv sendMailAdv
    );

    /**
     * Send Email
     * Sends an email through one of your mail orders. For multiple recipients or file attachments, use &#x60;POST /mail/{id}/advsend&#x60; instead.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param sendMail  (required)
     * @return GenericResponse
     */
    @Post(uri="/mail/{id}/send")
    @Consumes({"application/json"})
    @Produces({"application/json", "application/x-www-form-urlencoded"})
    Mono<GenericResponse> sendMail(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid SendMail sendMail
    );

    /**
     * Update Mail Alert
     * Updates an existing alert definition for the mail service. Provide the &#x60;alert_id&#x60; returned by the list response along with updated fields.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param mailAlertUpdateRequest  (required)
     * @return SuccessTextResponse
     */
    @Put(uri="/mail/{id}/alerts")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<SuccessTextResponse> updateMailAlert(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid MailAlertUpdateRequest mailAlertUpdateRequest
    );

    /**
     * Update Mail Order
     * Updates mail service metadata for the order, such as stored settings or account details.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     */
    @Post(uri="/mail/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateMailInfo(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * View Mail Log
     * Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.
     *
     * @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;. (required)
     * @param id2 The ID of your mail order this will be sent through. (optional)
     * @param origin originating ip address sending mail (optional)
     * @param mx mx record mail was sent to (optional)
     * @param from from email address (optional)
     * @param to to/destination email address (optional)
     * @param subject subject containing this string (optional)
     * @param mailid mail id (optional)
     * @param skip number of records to skip for pagination (optional, default to 0)
     * @param limit maximum number of records to return (optional, default to 100)
     * @param startDate earliest date to get emails in unix timestamp format (optional)
     * @param endDate Latest date to get emails in unix timestamp format. (optional)
     * @param delivered Filter emails by whether or not they were delivered. (optional)
     * @return MailLog
     */
    @Get(uri="/mail/{id}/log")
    @Consumes({"application/json"})
    Mono<MailLog> viewMailLog(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="id") @Nullable Long id2, 
        @QueryValue(value="origin") @Nullable String origin, 
        @QueryValue(value="mx") @Nullable String mx, 
        @QueryValue(value="from") @Nullable String from, 
        @QueryValue(value="to") @Nullable String to, 
        @QueryValue(value="subject") @Nullable String subject, 
        @QueryValue(value="mailid") @Nullable String mailid, 
        @QueryValue(value="skip", defaultValue="0") @Nullable @Min(0) Integer skip, 
        @QueryValue(value="limit", defaultValue="100") @Nullable @Min(1) @Max(10000) Integer limit, 
        @QueryValue(value="startDate") @Nullable @Min(0L) @Max(9999999999L) Long startDate, 
        @QueryValue(value="endDate") @Nullable @Min(0L) @Max(9999999999L) Long endDate, 
        @QueryValue(value="delivered") @Nullable String delivered
    );

}
