/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.BuyItNowList;
import org.openapitools.model.CaptchaResponse;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.GetOauthRedirect200Response;
import org.openapitools.model.LoginErrorResponse;
import org.openapitools.model.LoginInfo;
import org.openapitools.model.LoginSubmissionExample;
import org.openapitools.model.LoginSubmissionExampleGRecaptchaResponse;
import org.openapitools.model.LoginSuccessResponse;
import org.openapitools.model.PatchOauthTwoFactor200Response;
import org.openapitools.model.PatchOauthTwoFactorRequest;
import org.openapitools.model.PostOauthCallback200Response;
import org.openapitools.model.PostOauthCallbackRequest;
import org.openapitools.model.ServicesInfo;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-25T16:38:58.640178313-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface PublicApi {
    /**
     * Get Captcha Challenge
     * Returns a base64-encoded JPEG captcha image for human verification. Display this image to the user and submit their response along with the registration or order form. No authentication is required for this endpoint.
     *
     * @return CaptchaResponse
     */
    @Get(uri="/captcha")
    @Consumes({"application/json"})
    Mono<CaptchaResponse> getCaptcha();

    /**
     * Get Countries
     * Returns a map of country codes to country names. Use the optional &#x60;fetch_by&#x60; parameter to select the key format: &#x60;iso2&#x60; (default, two-letter codes), &#x60;iso3&#x60; (three-letter codes), or &#x60;numcode&#x60; (numeric codes). Use these values when populating country fields in account registration or domain contact forms.
     *
     * @param fetchBy Get countries by iso2 or iso3 or numcode (optional)
     * @return Object
     */
    @Get(uri="/account/countries")
    @Consumes({"application/json"})
    Mono<Object> getCountries(
        @QueryValue(value="fetch_by") @Nullable String fetchBy
    );

    /**
     * Get Server Info
     * Returns metadata about the API server&#39;s available modules, service packages, categories, and types. This public endpoint does not require authentication and is useful for discovering supported services before placing orders.
     *
     * @return ServicesInfo
     */
    @Get(uri="/info")
    @Consumes({"application/json"})
    Mono<ServicesInfo> getInfo();

    /**
     * Get Login Info
     * Gets the various pieces of information useful for generating a login page.
     *
     * @return LoginInfo
     */
    @Get(uri="/login")
    @Consumes({"application/json"})
    Mono<LoginInfo> getLoginInfo();

    /**
     * List Marketplace Servers
     * Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.
     *
     * @return BuyItNowList
     */
    @Get(uri="/buy_now_servers_list")
    @Consumes({"application/json"})
    Mono<BuyItNowList> getMPServers();

    /**
     * Get OAuth Redirect URL
     * Returns the OAuth redirect URL for the specified provider. Redirect the user to this URL to begin the OAuth authentication flow. After the user authorizes, the provider will redirect back to your callback endpoint where you should call &#x60;POST /oauth&#x60;.
     *
     * @param provider The OAuth provider name (e.g. &#x60;Google&#x60;). (required)
     * @return GetOauthRedirect200Response
     */
    @Get(uri="/oauth")
    @Consumes({"application/json"})
    Mono<GetOauthRedirect200Response> getOauthRedirect(
        @QueryValue(value="provider") @NotNull String provider
    );

    /**
     * Get Available Timezones
     * Returns the complete list of available timezone identifiers (e.g. &#x60;America/New_York&#x60;, &#x60;UTC&#x60;). Use these values when updating timezone settings on your account or on VPS and QuickServer services via &#x60;/vps/{id}/change_timezone&#x60; or &#x60;/qs/{id}/change_timezone&#x60;.
     *
     * @return List&lt;String&gt;
     */
    @Get(uri="/account/timezones")
    @Consumes({"application/json"})
    Mono<List<String>> getTimezones();

    /**
     * Complete OAuth Two-Factor Verification
     * Completes the OAuth login by verifying a two-factor authentication code. Use the &#x60;account_id&#x60; returned by &#x60;POST /oauth&#x60; when the response contained &#x60;error_code: \&quot;2fa_required\&quot;&#x60;.
     *
     * @param patchOauthTwoFactorRequest  (required)
     * @return PatchOauthTwoFactor200Response
     */
    @Patch(uri="/oauth")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<PatchOauthTwoFactor200Response> patchOauthTwoFactor(
        @Body @NotNull @Valid PatchOauthTwoFactorRequest patchOauthTwoFactorRequest
    );

    /**
     * Ping Server
     * Performs a single ping/pong request to let you know if the server is up.
     *
     * @return String
     */
    @Get(uri="/ping")
    @Consumes({"application/json"})
    Mono<String> pingServer();

    /**
     * OAuth Callback
     * Handles the OAuth callback after the user authorizes with the provider. Returns the login status. If the account has two-factor authentication enabled, the response will include &#x60;error_code: \&quot;2fa_required\&quot;&#x60; and an &#x60;account_id&#x60;; use &#x60;PATCH /oauth&#x60; with the 2FA code and account ID to complete login.
     *
     * @param provider The OAuth provider name (e.g. &#x60;Google&#x60;). (required)
     * @param postOauthCallbackRequest  (optional)
     * @return PostOauthCallback200Response
     */
    @Post(uri="/oauth")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<PostOauthCallback200Response> postOauthCallback(
        @QueryValue(value="provider") @NotNull String provider, 
        @Body @Nullable @Valid PostOauthCallbackRequest postOauthCallbackRequest
    );

    /**
     * Submit Login Information
     * Authenticates using the provided login credentials and returns a session token. Include the returned session ID in the &#x60;sessionid&#x60; header on subsequent requests. If authentication fails, a &#x60;402&#x60; error is returned.
     *
     * @param login  (required)
     * @param passwd  (required)
     * @param remember  (optional)
     * @param gRecaptchaResponse  (optional)
     * @param tfa Two Factor Authentication Response. (optional)
     * @return LoginSuccessResponse
     */
    @Post(uri="/login")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<LoginSuccessResponse> submitLogin(
        @NotNull String login, 
        @NotNull String passwd, 
        @Nullable String remember, 
        @Nullable @Valid LoginSubmissionExampleGRecaptchaResponse gRecaptchaResponse, 
        @Nullable String tfa
    );

    /**
     * Submit Signup Information
     * Creates a new account in our system using the provided information.
     *
     * @param loginSubmissionExample  (optional)
     */
    @Post(uri="/signup")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<Void> submitSignup(
        @Body @Nullable @Valid LoginSubmissionExample loginSubmissionExample
    );

}
