/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.DownloadQsBackup200Response;
import org.openapitools.model.DownloadQsBackupRequest;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.QueueResponse;
import org.openapitools.model.Quickserver;
import org.openapitools.model.QuickserverOrder;
import org.openapitools.model.QuickserverRow;
import org.openapitools.model.QuickserversCancel200Response;
import org.openapitools.model.RestoreRequest;
import org.openapitools.model.ReverseDnsEntries;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import org.openapitools.model.VpsBackupRows;
import org.openapitools.model.VpsTemplatesList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-25T16:38:58.640178313-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface QuickServersApi {
    /**
     * Place QuickServer Order
     * Places a QuickServer order. On success, invoices are generated for payment; use &#x60;/billing/invoices/{id}&#x60; or &#x60;/pay/{method}/{invoices}&#x60; to complete payment.
     *
     */
    @Post(uri="/qs/order")
    @Consumes({"application/json"})
    Mono<Void> addQs();

    /**
     * Delete QuickServer Backup
     * Permanently removes the specified backup file from storage. Use &#x60;GET /qs/{id}/backups&#x60; to list available backup filenames before deleting.
     *
     * @param id QuickServer ID number (required)
     * @param _file The backup filename to delete. (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer. (optional)
     * @return SuccessTextResponse
     */
    @Delete(uri="/qs/{id}/backups")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteQsBackup(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="file") @NotNull String _file, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * Block QuickServer SMTP
     * Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/block_smtp")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsBlockSmtp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Disable CD Drive
     * Disables the virtual CD drive for the QuickServer.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/disable_cd")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsDisableCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Disable Quotas
     * Disables disk quota enforcement for the QuickServer.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/disable_quota")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsDisableQuota(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Eject CD Drive
     * Ejects the virtual CD from the QuickServer&#39;s CD drive.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/eject_cd")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsEjectCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Enable Quotas
     * Enables disk quota enforcement for the QuickServer.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/enable_quota")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsEnableQuota(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Restart QuickServer
     * Restarts the QuickServer. The server will be shut down and started again.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/restart")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsRestart(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Start QuickServer
     * Powers on the QuickServer.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/start")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsStart(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Stop QuickServer
     * Powers off the QuickServer.
     *
     * @param id QuickServer ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/qs/{id}/stop")
    @Consumes({"application/json"})
    Mono<QueueResponse> doQsStop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Download QuickServer Backup
     * Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /qs/{id}/backups&#x60; to list available backup filenames.
     *
     * @param id QuickServer ID number (required)
     * @param downloadQsBackupRequest  (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer. (optional)
     * @return DownloadQsBackup200Response
     */
    @Patch(uri="/qs/{id}/backups")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<DownloadQsBackup200Response> downloadQsBackup(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DownloadQsBackupRequest downloadQsBackupRequest, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * Get QuickServer Ordering Information
     * Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.
     *
     * @return QuickserverOrder
     */
    @Get(uri="/qs/order")
    @Consumes({"application/json"})
    Mono<QuickserverOrder> getNewQs();

    /**
     * List QuickServer Backups
     * Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup &#x60;name&#x60; value with &#x60;PATCH /qs/{id}/backups&#x60; to download or &#x60;DELETE /qs/{id}/backups&#x60; to remove a backup. Use &#x60;POST /qs/{id}/restore&#x60; to restore from a backup.
     *
     * @param id QuickServer ID number (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer. (optional)
     * @return VpsBackupRows
     */
    @Get(uri="/qs/{id}/backups")
    @Consumes({"application/json"})
    Mono<VpsBackupRows> getQsBackups(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * Get QuickServer Hostname
     * Retrieves the current hostname and any validation requirements for changing it.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/change_hostname")
    @Consumes({"application/json"})
    Mono<Void> getQsChangeHostname(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Change Root Password Info
     * Retrieves instructions or metadata needed to reset the root password.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/change_root_password")
    @Consumes({"application/json"})
    Mono<Void> getQsChangeRootPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Timezone Info
     * Returns the list of available timezones that can be set on the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return List&lt;String&gt;
     */
    @Get(uri="/qs/{id}/change_timezone")
    @Consumes({"application/json"})
    Mono<List<String>> getQsChangeTimezone(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Webuzo Change Pass Info
     * Retrieves instructions or metadata for changing the Webuzo control panel password.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/change_webuzo_password")
    @Consumes({"application/json"})
    Mono<Void> getQsChangeWebuzoPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get QuickServer Order
     * Returns detailed QuickServer information, including credentials, IPs, and available client actions.
     *
     * @param id QuickServer ID number. (required)
     * @return Quickserver
     */
    @Get(uri="/qs/{id}")
    @Consumes({"application/json"})
    Mono<Quickserver> getQsInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Insert CD Information
     * Returns available ISO images that can be mounted in the QuickServer&#39;s virtual CD drive.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/insert_cd")
    @Consumes({"application/json"})
    Mono<Void> getQsInsertCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get QuickServer Invoices
     * Returns the billing invoices associated with this QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/qs/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getQsInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List QuickServers
     * Returns the QuickServer services on your account. Use the &#x60;qs_id&#x60; values with &#x60;/qs/{id}&#x60; for details or with the action endpoints (restart, backup, etc.) to manage each server.
     *
     * @return List&lt;QuickserverRow&gt;
     */
    @Get(uri="/qs")
    @Consumes({"application/json"})
    Mono<List<QuickserverRow>> getQsList();

    /**
     * QuickServer Reinstall OS Options
     * Returns the list of available operating system templates for reinstalling the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return VpsTemplatesList
     */
    @Get(uri="/qs/{id}/reinstall_os")
    @Consumes({"application/json"})
    Mono<VpsTemplatesList> getQsReinstallOs(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Reset QuickServer Password Info
     * Returns information needed before resetting the QuickServer&#39;s root password.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/reset_password")
    @Consumes({"application/json"})
    Mono<Void> getQsResetPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Reverse DNS Info
     * Returns the current reverse DNS (PTR record) entries for the QuickServer&#39;s IP addresses.
     *
     * @param id QuickServer ID number (required)
     * @return ReverseDnsEntries
     */
    @Get(uri="/qs/{id}/reverse_dns")
    @Consumes({"application/json"})
    Mono<ReverseDnsEntries> getQsReverseDns(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * VNC Setup Info
     * Returns the current VNC connection information for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/setup_vnc")
    @Consumes({"application/json"})
    Mono<Void> getQsSetupVnc(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Traffic Usage
     * Returns bandwidth traffic usage data for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/traffic_usage")
    @Consumes({"application/json"})
    Mono<Void> getQsTrafficUsage(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get View Desktop Info
     * Returns remote desktop connection information for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     */
    @Get(uri="/qs/{id}/view_desktop")
    @Consumes({"application/json"})
    Mono<Void> getQsViewDesktop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Resend QuickServer Welcome Email
     * Resends the welcome email containing connection details and credentials for the QuickServer order.
     *
     * @param id Quickserver ID (required)
     * @return TextResponse
     */
    @Get(uri="/qs/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<TextResponse> getQsWelcomeEmail(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Create QuickServer Backup
     * Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/backup")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsBackup(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update QuickServer Hostname
     * Submits a hostname change request for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/change_hostname")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsChangeHostname(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Change Root Password
     * Triggers a root password reset for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/change_root_password")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsChangeRootPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Change QuickServer Timezone
     * Changes the system timezone on the QuickServer. Use &#x60;GET /qs/{id}/change_timezone&#x60; to list available options first.
     *
     * @param id QuickServer ID number (required)
     * @param timezone The time zone (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/change_timezone")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postQsChangeTimezone(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String timezone
    );

    /**
     * Change Webuzo Password
     * Resets the Webuzo control panel password for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/change_webuzo_password")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsChangeWebuzoPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Insert CD in QuickServer
     * Mounts an ISO image in the QuickServer&#39;s virtual CD drive. Use &#x60;GET /qs/{id}/insert_cd&#x60; to list available images.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/insert_cd")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsInsertCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Reinstall QuickServer OS
     * Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/reinstall_os")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsReinstallOs(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Reset QuickServer Password
     * Resets the root password on the QuickServer to a new randomly generated password.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/reset_password")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsResetPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update Reverse DNS
     * Updates the reverse DNS (PTR record) entries for the QuickServer&#39;s IP addresses.
     *
     * @param id QuickServer ID number (required)
     * @param reverseDnsEntries  (required)
     * @return TextResponse
     */
    @Post(uri="/qs/{id}/reverse_dns")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<TextResponse> postQsReverseDns(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid ReverseDnsEntries reverseDnsEntries
    );

    /**
     * Setup VNC
     * Sets up or refreshes the VNC console connection for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/setup_vnc")
    @Consumes({"application/json"})
    Mono<QueueResponse> postQsSetupVnc(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Search Traffic Usage
     * Searches and filters the QuickServer&#39;s bandwidth traffic usage data by date range.
     *
     * @param id QuickServer ID number (required)
     */
    @Post(uri="/qs/{id}/traffic_usage")
    @Consumes({"application/json"})
    Mono<Void> postQsTrafficUsage(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update View Desktop
     * Updates or refreshes the remote desktop session for the QuickServer.
     *
     * @param id QuickServer ID number (required)
     */
    @Post(uri="/qs/{id}/view_desktop")
    @Consumes({"application/json"})
    Mono<Void> postQsViewDesktop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Restore QuickServer from Backup
     * Initiates a restore of the QuickServer from a previously created backup. The restore operation overwrites the current disk contents. Use &#x60;GET /qs/{id}/backups&#x60; to retrieve available backup names.
     *
     * @param id QuickServer ID number (required)
     * @param restoreRequest QuickServer Restore request (required)
     * @return QueueResponse
     */
    @Post(uri="/qs/{id}/restore")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<QueueResponse> postQuickServerRestore(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid RestoreRequest restoreRequest
    );

    /**
     * Validate QuickServer Order
     * Validates a QuickServer order and returns pricing or validation errors. Use this before submitting the final order.
     *
     */
    @Put(uri="/qs/order")
    @Consumes({"application/json"})
    Mono<Void> putQs();

    /**
     * Cancel QuickServer Order
     * Cancels the QuickServer service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
     *
     * @param id QuickServer ID number (required)
     * @return QuickserversCancel200Response
     */
    @Delete(uri="/qs/{id}")
    @Consumes({"application/json"})
    Mono<QuickserversCancel200Response> quickserversCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update QuickServer Order
     * Updates QuickServer metadata or stored settings associated with the order.
     *
     * @param id QuickServer ID number. (required)
     */
    @Post(uri="/qs/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateQsInfo(
        @PathVariable(name="id") @NotNull String id
    );

}
