/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.CancelScrubIp200Response;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.CreateFilter;
import org.openapitools.model.CreateFilter201Response;
import org.openapitools.model.CreateFilter400Response;
import org.openapitools.model.CreateFilter500Response;
import org.openapitools.model.CreateFirewallRule;
import org.openapitools.model.CreateGeoFirewallRule;
import org.openapitools.model.CreateGeoRule400Response;
import org.openapitools.model.CreateRule201Response;
import org.openapitools.model.CreateRule400Response;
import org.openapitools.model.CreateRule500Response;
import org.openapitools.model.DeleteFilter200Response;
import org.openapitools.model.DeleteFilter400Response;
import org.openapitools.model.DeleteFilter500Response;
import org.openapitools.model.DeleteFirewallRule;
import org.openapitools.model.DeleteGeoFirewallRule;
import org.openapitools.model.DisableScrub200Response;
import org.openapitools.model.DisableScrub400Response;
import org.openapitools.model.DisableScrub500Response;
import org.openapitools.model.EnableScrub200Response;
import org.openapitools.model.EnableScrub500Response;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.GetOrderDetail200Response;
import org.openapitools.model.GetScrubIpDetails200Response;
import org.openapitools.model.PlaceScrubOrder201Response;
import org.openapitools.model.ScrubIpFilterTypes;
import org.openapitools.model.ScrubIpPlaceOrder;
import org.openapitools.model.ScrubIpsDeleteRule200Response;
import org.openapitools.model.ScrubIpsDeleteRule400Response;
import org.openapitools.model.ScrubIpsDeleteRule500Response;
import org.openapitools.model.ScrubIpsLogRowSchema;
import org.openapitools.model.ScrubIpsRowSchema;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T08:03:28.685588550-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ScrubIpsApi {
    /**
     * Cancel Scrub IP Service
     * Cancels the Scrub IP DDoS protection service. The protection will be removed and billing will stop at the end of the current billing cycle.
     *
     * @param id ScrubIp ID number (required)
     * @return CancelScrubIp200Response
     */
    @Delete(uri="/scrub_ips/{id}")
    @Consumes({"application/json"})
    Mono<CancelScrubIp200Response> cancelScrubIp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Create Traffic Filter
     * Creates a traffic filter for the Scrub IP service. Filters apply predefined scrubbing profiles (e.g., DNS, HTTP) to specific destination ports. Use &#x60;GET /scrub_ips/filter_types&#x60; to list available filter types.
     *
     * @param id ScrubIp ID number (required)
     * @param createFilter  (required)
     * @return CreateFilter201Response
     */
    @Post(uri="/scrub_ips/{id}/create_filter")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CreateFilter201Response> createFilter(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid CreateFilter createFilter
    );

    /**
     * Create Geo Firewall Rule
     * Creates a geographic-based firewall rule for the Scrub IP service. Geo rules allow you to block or allow traffic from specific countries or regions.
     *
     * @param id ScrubIp ID number (required)
     * @param createGeoFirewallRule  (required)
     * @return CreateRule201Response
     */
    @Post(uri="/scrub_ips/{id}/create_geo_rule")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CreateRule201Response> createGeoRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid CreateGeoFirewallRule createGeoFirewallRule
    );

    /**
     * Create Firewall Rule
     * Creates a new firewall rule for the Scrub IP service. Rules allow you to block or allow traffic based on source IP, destination port, and protocol.
     *
     * @param id ScrubIp ID number (required)
     * @param createFirewallRule  (required)
     * @return CreateRule201Response
     */
    @Post(uri="/scrub_ips/{id}/create_rule")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<CreateRule201Response> createRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid CreateFirewallRule createFirewallRule
    );

    /**
     * Delete Traffic Filter
     * Removes an existing traffic filter from the Scrub IP service. Provide the same filter parameters used during creation to identify which filter to remove.
     *
     * @param id ScrubIp ID number (required)
     * @param createFilter  (required)
     * @return DeleteFilter200Response
     */
    @Post(uri="/scrub_ips/{id}/delete_filter")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<DeleteFilter200Response> deleteFilter(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid CreateFilter createFilter
    );

    /**
     * Disable Scrub Protection
     * Disables DDoS scrubbing protection on the IP address. Traffic will no longer be routed through the scrubbing infrastructure.
     *
     * @param id ScrubIp ID number (required)
     * @return DisableScrub200Response
     */
    @Get(uri="/scrub_ips/{id}/disable")
    @Consumes({"application/json"})
    Mono<DisableScrub200Response> disableScrub(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Enable Scrub Protection
     * Enables DDoS scrubbing protection on the IP address associated with this service. Traffic will be routed through the scrubbing infrastructure to filter malicious packets.
     *
     * @param id ScrubIp ID number (required)
     * @return EnableScrub200Response
     */
    @Get(uri="/scrub_ips/{id}/enable")
    @Consumes({"application/json"})
    Mono<EnableScrub200Response> enableScrub(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Scrub IP Ordering Information
     * Returns the available Scrub IP service plans and pricing information needed to build an order form.
     *
     * @return GetOrderDetail200Response
     */
    @Get(uri="/scrub_ips/order")
    @Consumes({"application/json"})
    Mono<GetOrderDetail200Response> getOrderDetail();

    /**
     * Get Scrub IP Details
     * Returns detailed information about a Scrub IP service, including connection details, billing information, active firewall rules, and traffic filters.
     *
     * @param id ScrubIp ID number (required)
     * @return GetScrubIpDetails200Response
     */
    @Get(uri="/scrub_ips/{id}")
    @Consumes({"application/json"})
    Mono<GetScrubIpDetails200Response> getScrubIpDetails(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Scrub Filter Types
     * Returns the list of scrub filter types that can be used when creating filter rules via &#x60;/scrub_ips/{id}/create_filter&#x60;.
     *
     * @return ScrubIpFilterTypes
     */
    @Get(uri="/scrub_ips/filter_types")
    @Consumes({"application/json"})
    Mono<ScrubIpFilterTypes> getScrubIpFilterTypes();

    /**
     * Get ScrubIp Invoices
     * Retrieves invoices associated with the scrub IP service. Use these invoices to confirm billing status or to initiate payment.
     *
     * @param id ScrubIp ID number (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/scrub_ips/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getScrubIpInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Scrub IP Logs
     * Returns the activity and event logs for the Scrub IP service, including scrubbing events and configuration changes.
     *
     * @param id Scrub Order ID (required)
     * @return List&lt;ScrubIpsLogRowSchema&gt;
     */
    @Get(uri="/scrub_ips/{id}/logs")
    @Consumes({"application/json"})
    Mono<List<ScrubIpsLogRowSchema>> getScrubIpLogs(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * List Scrub IP Services
     * Returns all Scrub IP DDoS protection services on your account with their current status and associated IP addresses.
     *
     * @return List&lt;ScrubIpsRowSchema&gt;
     */
    @Get(uri="/scrub_ips")
    @Consumes({"application/json"})
    Mono<List<ScrubIpsRowSchema>> getScrubIpsList();

    /**
     * Place Scrub IP Order
     * Places an order for a new Scrub IP DDoS protection service. On success, an invoice is generated for payment.
     *
     * @param scrubIpPlaceOrder  (required)
     * @return PlaceScrubOrder201Response
     */
    @Post(uri="/scrub_ips/order")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<PlaceScrubOrder201Response> placeScrubOrder(
        @Body @NotNull @Valid ScrubIpPlaceOrder scrubIpPlaceOrder
    );

    /**
     * Delete Geo Firewall Rule
     * Removes an existing geographic-based firewall rule from the Scrub IP service. Use the &#x60;rule_id&#x60; from the service details response to identify the rule to delete.
     *
     * @param id ScrubIp ID number (required)
     * @param deleteGeoFirewallRule  (required)
     * @return ScrubIpsDeleteRule200Response
     */
    @Post(uri="/scrub_ips/{id}/delete_geo_rule")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ScrubIpsDeleteRule200Response> scrubIpsDeleteGeoRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DeleteGeoFirewallRule deleteGeoFirewallRule
    );

    /**
     * Delete Firewall Rule
     * Removes an existing firewall rule from the Scrub IP service. Use the &#x60;rule_id&#x60; from the service details response to identify the rule to delete.
     *
     * @param id ScrubIp ID number (required)
     * @param deleteFirewallRule  (required)
     * @return ScrubIpsDeleteRule200Response
     */
    @Post(uri="/scrub_ips/{id}/delete_rule")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ScrubIpsDeleteRule200Response> scrubIpsDeleteRule(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DeleteFirewallRule deleteFirewallRule
    );

}
