/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.AddServer200Response;
import org.openapitools.model.BuyItNowList;
import org.openapitools.model.BuyItNowServerOrder200Response;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.PlaceBuyNowServerRequest;
import org.openapitools.model.ReverseDnsEntries;
import org.openapitools.model.Server;
import org.openapitools.model.ServerIpmiLiveInfo;
import org.openapitools.model.ServerOrder;
import org.openapitools.model.ServerRow;
import org.openapitools.model.ServersBuyNowError;
import org.openapitools.model.ServersBuyNowResponse;
import org.openapitools.model.ServersCancel200Response;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T06:50:57.553290059-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface ServersApi {
    /**
     * Place Server Order
     * Places an order for a new dedicated server. Use &#x60;PUT /servers/order&#x60; to validate the order first.
     *
     * @return AddServer200Response
     */
    @Post(uri="/servers/order")
    @Consumes({"application/json"})
    Mono<AddServer200Response> addServer();

    /**
     * Get Buy Now Server Options
     * Returns the configuration options and pricing for buy-it-now dedicated servers, including available bandwidth packages, IP blocks, operating systems, control panels, and RAID configurations. Use the returned option IDs when placing an order via &#x60;POST /servers/order/buy_now_server&#x60;.
     *
     * @return BuyItNowServerOrder200Response
     */
    @Get(uri="/servers/order/buy_now_server")
    @Consumes({"application/json"})
    Mono<BuyItNowServerOrder200Response> buyItNowServerOrder();

    /**
     * List Marketplace Servers
     * Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.
     *
     * @return BuyItNowList
     */
    @Get(uri="/buy_now_servers_list")
    @Consumes({"application/json"})
    Mono<BuyItNowList> getMPServers();

    /**
     * Server Ordering Information
     * Retrieves available server configurations and pricing for ordering a new dedicated server.
     *
     * @return ServerOrder
     */
    @Get(uri="/servers/order")
    @Consumes({"application/json"})
    Mono<ServerOrder> getNewServer();

    /**
     * Get Server Order
     * Returns detailed information about a specific server including its hardware configuration, IPs, and status.
     *
     * @param id Server ID number. (required)
     * @return Server
     */
    @Get(uri="/servers/{id}")
    @Consumes({"application/json"})
    Mono<Server> getServerInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Server Invoices
     * Returns the billing invoices associated with this dedicated server.
     *
     * @param id Server ID number (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/servers/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getServerInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List Servers
     * Returns all dedicated server services on the account with their current status and configuration.
     *
     * @return List&lt;ServerRow&gt;
     */
    @Get(uri="/servers")
    @Consumes({"application/json"})
    Mono<List<ServerRow>> getServerList();

    /**
     * Reverse DNS Info
     * Returns the current reverse DNS (PTR record) entries for the server&#39;s IP addresses.
     *
     * @param id Server ID number (required)
     * @return ReverseDnsEntries
     */
    @Get(uri="/servers/{id}/reverse_dns")
    @Consumes({"application/json"})
    Mono<ReverseDnsEntries> getServerReverseDns(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Resend Server Welcome Email
     * Resends the welcome email for the order.
     *
     * @param id Server ID number (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/servers/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getServersWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Place Buy Now Server Order
     * Places an order for a buy-it-now dedicated server. Use &#x60;GET /servers/order/buy_now_server&#x60; to retrieve available server configurations and their IDs before ordering.
     *
     * @param placeBuyNowServerRequest  (optional)
     * @return ServersBuyNowResponse
     */
    @Post(uri="/servers/order/buy_now_server")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    Mono<ServersBuyNowResponse> placeBuyNowServer(
        @Body @Nullable @Valid PlaceBuyNowServerRequest placeBuyNowServerRequest
    );

    /**
     * Update Reverse DNS
     * Updates the reverse DNS (PTR record) entries for the server&#39;s IP addresses.
     *
     * @param id Server ID number (required)
     * @param reverseDnsEntries  (required)
     * @return TextResponse
     */
    @Post(uri="/servers/{id}/reverse_dns")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<TextResponse> postServerReverseDns(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid ReverseDnsEntries reverseDnsEntries
    );

    /**
     * Validate Server Order
     * Validates a server order before placing it. Use this to check for errors before committing to a purchase.
     *
     */
    @Put(uri="/servers/order")
    @Consumes({"application/json"})
    Mono<Void> putServers();

    /**
     * Server IPMI Live Information
     * Returns the current IPMI live connection information for the server.
     *
     * @param id Server ID number (required)
     * @return ServerIpmiLiveInfo
     */
    @Get(uri="/servers/{id}/ipmi_live")
    @Consumes({"application/json"})
    Mono<ServerIpmiLiveInfo> serverIpmiLiveGet(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Server IPMI Live Setup
     * Configures IPMI live access by whitelisting your current IP address for connections to the server&#39;s IPMI management interface.
     *
     * @param id Server ID number (required)
     * @param ip Your IP Address you wish to connect to the IPMI system from. (required)
     * @param asset Asset ID (optional)
     * @return ServerIpmiLiveInfo
     */
    @Post(uri="/servers/{id}/ipmi_live")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<ServerIpmiLiveInfo> serverIpmiLivePost(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String ip, 
        @Nullable Integer asset
    );

    /**
     * Get IPMI Power Status
     * Returns the chassis power status from ipmi.
     *
     * @param id Server ID number (required)
     * @return TextResponse
     */
    @Get(uri="/servers/{id}/ipmi_power")
    @Consumes({"application/json"})
    Mono<TextResponse> serverIpmiPowerGet(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Server IPMI Power
     * Uses the IPMI interface to set the Power status on the server.
     *
     * @param id Server ID number (required)
     * @param action The power action to send to the ipmi controller. (required)
     * @param asset The Asset ID (optional)
     * @return TextResponse
     */
    @Post(uri="/servers/{id}/ipmi_power")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<TextResponse> serverIpmiPowerPost(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String action, 
        @Nullable Integer asset
    );

    /**
     * Cancel Server Service
     * Cancels the dedicated server service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
     *
     * @param id Server ID number (required)
     * @return ServersCancel200Response
     */
    @Delete(uri="/servers/{id}")
    @Consumes({"application/json"})
    Mono<ServersCancel200Response> serversCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update Server Order
     * Updates settings on a dedicated server order.
     *
     * @param id Server ID number. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/servers/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateServerInfo(
        @PathVariable(name="id") @NotNull String id
    );

}
