/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.SslCancel200Response;
import org.openapitools.model.SuccessTextResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-03-12T01:47:40.928523750-04:00[America/New_York]", comments = "Generator version: 7.20.0")
@Client("${openapi-micronaut-client-base-path}")
public interface SslCertificatesApi {
    /**
     * Place SSL Cert Order
     * Places an order for a new SSL certificate. Use &#x60;PUT /ssl/order&#x60; to validate the order first.
     *
     */
    @Post(uri="/ssl/order")
    @Consumes({"application/json"})
    Mono<Void> addSsl();

    /**
     * SSL Cert Ordering Information
     * Retrieves available SSL certificate types and pricing for ordering.
     *
     */
    @Get(uri="/ssl/order")
    @Consumes({"application/json"})
    Mono<Void> getNewSsl();

    /**
     * Get SSL Cert Info
     * Returns detailed information about a specific SSL certificate including its domain and expiration.
     *
     * @param id SSL certificate ID number. (required)
     */
    @Get(uri="/ssl/{id}")
    @Consumes({"application/json"})
    Mono<Void> getSslInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get SSL Cert Invoices
     * Returns the billing invoices associated with this SSL certificate.
     *
     * @param id SSL Cert ID number (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/ssl/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getSslInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List SSL Certs
     * Returns all SSL certificate services on the account with their current status.
     *
     */
    @Get(uri="/ssl")
    @Consumes({"application/json"})
    Mono<Void> getSslList();

    /**
     * Resend SSL Welcome Email
     * Resends the welcome email for the order.
     *
     * @param id SSL Cert ID number (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/ssl/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getSslWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Validate SSL Cert Order
     * Validates an SSL certificate order before placing it.
     *
     */
    @Put(uri="/ssl/order")
    @Consumes({"application/json"})
    Mono<Void> putSsl();

    /**
     * Cancel SSL Certificate Service
     * Cancels the SSL certificate service. The certificate will not be renewed and billing will stop at the end of the current billing cycle.
     *
     * @param id SSL Cert ID number (required)
     * @return SslCancel200Response
     */
    @Delete(uri="/ssl/{id}")
    @Consumes({"application/json"})
    Mono<SslCancel200Response> sslCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update SSL Cert Order
     * Updates settings on an SSL certificate order.
     *
     * @param id SSL certificate ID number. (required)
     */
    @Post(uri="/ssl/{id}")
    @Consumes({"application/json"})
    Mono<Void> updateSslInfo(
        @PathVariable(name="id") @NotNull String id
    );

}
