/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import java.math.BigDecimal;
import org.openapitools.model.CloseTicketResponseSchema;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.ReplyTicketRequest;
import org.openapitools.model.ReplyTicketResponseSchema;
import org.openapitools.model.TicketNew;
import org.openapitools.model.TicketNewResponse;
import org.openapitools.model.Tickets;
import org.openapitools.model.UpdateTicket;
import org.openapitools.model.UpdateTicketResponseSchema;
import org.openapitools.model.ViewTicketResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T08:03:28.685588550-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface TicketsApi {
    /**
     * Create New Ticket
     * Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
     *
     * @param ticketNew  (required)
     * @return TicketNewResponse
     */
    @Post(uri="/tickets/new")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<TicketNewResponse> addNewTicket(
        @Body @NotNull @Valid TicketNew ticketNew
    );

    /**
     * Close Ticket
     * Closes the specified support ticket. Closed tickets can still be viewed but will no longer appear in the active inbox.
     *
     * @param id Ticket ID (required)
     * @return CloseTicketResponseSchema
     */
    @Get(uri="/tickets/{id}/close")
    @Consumes({"application/json"})
    Mono<CloseTicketResponseSchema> closeTicket(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Close Ticket
     * Closes the support ticket.
     *
     * @param id Ticket ID number. (required)
     * @return ViewTicketResponse
     */
    @Delete(uri="/tickets/{id}")
    @Consumes({"application/json"})
    Mono<ViewTicketResponse> deleteTicketInfo(
        @PathVariable(name="id") @NotNull BigDecimal id
    );

    /**
     * Gets Information for creating a new ticket.
     * Returns the form data needed to create a new support ticket, such as available departments and service categories.
     *
     */
    @Get(uri="/tickets/new")
    @Consumes({"application/json"})
    Mono<Void> getNewTicket();

    /**
     * Get Ticket Information
     * Returns the full details of a support ticket including its history of replies.
     *
     * @param id Ticket ID number. (required)
     * @return ViewTicketResponse
     */
    @Get(uri="/tickets/{id}")
    @Consumes({"application/json"})
    Mono<ViewTicketResponse> getTicketInfo(
        @PathVariable(name="id") @NotNull BigDecimal id
    );

    /**
     * List Support Tickets
     * Returns a paginated list of support tickets on the account. Filter by status and time period.
     *
     * @param page Page number for paginated results. (optional, default to 1)
     * @param period How far back to show tickets from. Value is in days. (optional, default to 30)
     * @param view The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types. (optional)
     * @return Tickets
     */
    @Get(uri="/tickets")
    @Consumes({"application/json"})
    Mono<Tickets> getTicketsList(
        @QueryValue(value="page", defaultValue="1") @Nullable Integer page, 
        @QueryValue(value="period", defaultValue="30") @Nullable String period, 
        @QueryValue(value="view") @Nullable String view
    );

    /**
     * Reply To Ticket
     * Adds a reply to an existing support ticket.
     *
     * @param id Ticket ID number. (required)
     * @return ViewTicketResponse
     */
    @Post(uri="/tickets/{id}")
    @Consumes({"application/json"})
    Mono<ViewTicketResponse> postTicketInfo(
        @PathVariable(name="id") @NotNull BigDecimal id
    );

    /**
     * Search Support Tickets
     * Searches support tickets by email, subject, or ticket mask ID.
     *
     * @return Tickets
     */
    @Post(uri="/tickets")
    @Consumes({"application/json"})
    Mono<Tickets> postTicketsList();

    /**
     * Update Ticket
     * Updates a support ticket&#39;s properties such as subject or status.
     *
     * @param id Ticket ID number. (required)
     * @return ViewTicketResponse
     */
    @Put(uri="/tickets/{id}")
    @Consumes({"application/json"})
    Mono<ViewTicketResponse> putTicketInfo(
        @PathVariable(name="id") @NotNull BigDecimal id
    );

    /**
     * Reply Ticket
     * Posts a reply to an existing support ticket thread.
     *
     * @param id The ticket ID number. (required)
     * @param replyTicketRequest  (optional)
     * @return ReplyTicketResponseSchema
     */
    @Post(uri="/tickets/{id}/reply")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<ReplyTicketResponseSchema> replyTicket(
        @PathVariable(name="id") @NotNull BigDecimal id, 
        @Body @Nullable @Valid ReplyTicketRequest replyTicketRequest
    );

    /**
     * Update Ticket
     * Updates a support ticket&#39;s subject or body content.
     *
     * @param id The ticket ID number. (required)
     * @param updateTicket  (optional)
     * @return UpdateTicketResponseSchema
     */
    @Post(uri="/tickets/{id}/update")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<UpdateTicketResponseSchema> updateTicketInfo(
        @PathVariable(name="id") @NotNull BigDecimal id, 
        @Body @Nullable @Valid UpdateTicket updateTicket
    );

}
