/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.DownloadQsBackup200Response;
import org.openapitools.model.DownloadQsBackupRequest;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.QueueResponse;
import org.openapitools.model.RestoreRequest;
import org.openapitools.model.ReverseDnsEntries;
import org.openapitools.model.ServiceOrderPostResponse;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import org.openapitools.model.VPSCancel200Response;
import org.openapitools.model.Vps;
import org.openapitools.model.VpsBackupRows;
import org.openapitools.model.VpsOrder;
import org.openapitools.model.VpsOrderPostRequest;
import org.openapitools.model.VpsOrderPutRequest;
import org.openapitools.model.VpsOrderPutResponse;
import org.openapitools.model.VpsRow;
import org.openapitools.model.VpsTemplatesList;
import org.openapitools.model.VpsTrafficResponse;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T06:50:57.553290059-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface VpsApi {
    /**
     * Place VPS Order
     * Places an order for a new VPS. Use &#x60;PUT /vps/order&#x60; to validate the order first.
     *
     * @param vpsOrderPostRequest  (optional)
     * @return ServiceOrderPostResponse
     */
    @Post(uri="/vps/order")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<ServiceOrderPostResponse> addVps(
        @Body @Nullable @Valid VpsOrderPostRequest vpsOrderPostRequest
    );

    /**
     * Delete VPS Backup
     * Permanently removes the specified backup file from storage. Use &#x60;GET /vps/{id}/backups&#x60; to list available backup filenames before deleting.
     *
     * @param id VPS ID number (required)
     * @param _file The backup filename to delete. (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS. (optional)
     * @return SuccessTextResponse
     */
    @Delete(uri="/vps/{id}/backups")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> deleteVpsBackup(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="file") @NotNull String _file, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * Blocks SMTP
     * Blocks outbound SMTP (port 25) on the VPS to prevent spam. Useful for VPS that do not need to send email.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/block_smtp")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsBlockSmtp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Disable CD Drive
     * Disables the virtual CD drive on the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/disable_cd")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsDisableCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Disable Quotas
     * Disables disk quota enforcement on the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/disable_quota")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsDisableQuota(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Eject CD Drive
     * Ejects the virtual CD from the VPS CD drive.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/eject_cd")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsEjectCd(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Enable Quotas
     * Enables disk quota enforcement on the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/enable_quota")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsEnableQuota(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Restart VPS
     * Restarts the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/restart")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsRestart(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Start VPS
     * Powers on the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/start")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsStart(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Stop VPS
     * Powers off the VPS.
     *
     * @param id VPS ID number. (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/stop")
    @Consumes({"application/json"})
    Mono<QueueResponse> doVpsStop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Download VPS Backup
     * Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /vps/{id}/backups&#x60; to list available backup filenames.
     *
     * @param id VPS ID number (required)
     * @param downloadQsBackupRequest  (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS. (optional)
     * @return DownloadQsBackup200Response
     */
    @Patch(uri="/vps/{id}/backups")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<DownloadQsBackup200Response> downloadVpsBackup(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid DownloadQsBackupRequest downloadQsBackupRequest, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * VPS Ordering Information
     * Retrieves available VPS configurations, OS templates, and pricing for ordering.
     *
     * @return VpsOrder
     */
    @Get(uri="/vps/order")
    @Consumes({"application/json"})
    Mono<VpsOrder> getNewVps();

    /**
     * Get VPS Backups List
     * Returns the available backups for the VPS across all storage systems (Swift, MinIO, ZFS). Use the backup &#x60;name&#x60; value with &#x60;PATCH /vps/{id}/backups&#x60; to download or &#x60;DELETE /vps/{id}/backups&#x60; to remove a backup. Use &#x60;POST /vps/{id}/restore&#x60; to restore from a backup.
     *
     * @param id VPS ID number (required)
     * @param all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS. (optional)
     * @return VpsBackupRows
     */
    @Get(uri="/vps/{id}/backups")
    @Consumes({"application/json"})
    Mono<VpsBackupRows> getVpsBackups(
        @PathVariable(name="id") @NotNull Integer id, 
        @QueryValue(value="all") @Nullable String all
    );

    /**
     * HD Space Addon Info
     * Returns available hard drive space addon options and pricing for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Get(uri="/vps/{id}/buy_hd_space")
    @Consumes({"application/json"})
    Mono<Void> getVpsBuyHdSpace(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Additional IP Addon Info
     * Returns available additional IP address options and pricing for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Get(uri="/vps/{id}/buy_ip")
    @Consumes({"application/json"})
    Mono<Void> getVpsBuyIp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Timezone Info
     * Returns the list of available timezones that can be set on the VPS.
     *
     * @param id VPS ID number (required)
     * @return List&lt;String&gt;
     */
    @Get(uri="/vps/{id}/change_timezone")
    @Consumes({"application/json"})
    Mono<List<String>> getVpsChangeTimezone(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get VPS Order
     * Returns detailed information about a specific VPS including its IPs, hostname, OS, and resource allocation.
     *
     * @param id VPS ID number (required)
     * @return Vps
     */
    @Get(uri="/vps/{id}")
    @Consumes({"application/json"})
    Mono<Vps> getVpsInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get VPS Invoices
     * Returns the billing invoices associated with this VPS.
     *
     * @param id VPS ID number (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/vps/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getVpsInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * List VPS Orders
     * Returns all VPS services on the account with their current status and configuration.
     *
     * @return List&lt;VpsRow&gt;
     */
    @Get(uri="/vps")
    @Consumes({"application/json"})
    Mono<List<VpsRow>> getVpsList();

    /**
     * VPS Reinstall OS Options
     * Returns the list of available OS templates for reinstalling the VPS.
     *
     * @param id VPS ID number (required)
     * @return VpsTemplatesList
     */
    @Get(uri="/vps/{id}/reinstall_os")
    @Consumes({"application/json"})
    Mono<VpsTemplatesList> getVpsReinstallOs(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Reverse DNS Info
     * Returns the current reverse DNS (PTR record) entries for the VPS IP addresses.
     *
     * @param id VPS ID number (required)
     * @return ReverseDnsEntries
     */
    @Get(uri="/vps/{id}/reverse_dns")
    @Consumes({"application/json"})
    Mono<ReverseDnsEntries> getVpsReverseDns(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * VNC Setup Info
     * Returns the current VNC connection information for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Get(uri="/vps/{id}/setup_vnc")
    @Consumes({"application/json"})
    Mono<Void> getVpsSetupVnc(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Slice Upgrade Info
     * Returns available slice upgrade options and pricing for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Get(uri="/vps/{id}/slices")
    @Consumes({"application/json"})
    Mono<Void> getVpsSlices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Traffic Usage
     * Returns bandwidth traffic usage data for the VPS.
     *
     * @param id VPS ID number (required)
     * @return VpsTrafficResponse
     */
    @Get(uri="/vps/{id}/traffic_usage")
    @Consumes({"application/json"})
    Mono<VpsTrafficResponse> getVpsTrafficUsage(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get View Desktop Info
     * Returns remote desktop connection information for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Get(uri="/vps/{id}/view_desktop")
    @Consumes({"application/json"})
    Mono<Void> getVpsViewDesktop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Resend VPS Welcome Email
     * Resends the welcome email containing connection details and credentials for the VPS order.
     *
     * @param id VPS ID (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/vps/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getVpsWelcomeEmail(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Start a VPS Backup
     * Creates a backup of the VPS. The backup can be downloaded or restored later via the backups endpoints.
     *
     * @param id VPS ID number (required)
     * @return QueueResponse
     */
    @Get(uri="/vps/{id}/backup")
    @Consumes({"application/json"})
    Mono<QueueResponse> postVpsBackup(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Purchase HD Space Addon
     * Purchases additional hard drive space for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Post(uri="/vps/{id}/buy_hd_space")
    @Consumes({"application/json"})
    Mono<Void> postVpsBuyHdSpace(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Purchase Additional IP
     * Purchases an additional IP address for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Post(uri="/vps/{id}/buy_ip")
    @Consumes({"application/json"})
    Mono<Void> postVpsBuyIp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update VPS Hostname
     * Changes the hostname of the VPS. This queues a background task to update the server.
     *
     * @param id VPS ID number (required)
     * @param hostname  (optional)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/change_hostname")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsChangeHostname(
        @PathVariable(name="id") @NotNull Integer id, 
        @Nullable String hostname
    );

    /**
     * Change VPS Root Password
     * Changes the root password of the VPS.
     *
     * @param id VPS ID number (required)
     * @param password  (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/change_root_password")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsChangeRootPassword(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String password
    );

    /**
     * Change VPS Timezone
     * Changes the system timezone on the VPS.
     *
     * @param id VPS ID number (required)
     * @param timezone The time zone (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/change_timezone")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsChangeTimezone(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String timezone
    );

    /**
     * Change Webuzo Password
     * Changes the Webuzo control panel password on the VPS.
     *
     * @param id VPS ID number (required)
     * @param password  (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/change_webuzo_password")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsChangeWebuzoPassword(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String password
    );

    /**
     * Insert CD in VPS
     * Mounts an ISO image in the VPS virtual CD drive from the given URL.
     *
     * @param id VPS ID number (required)
     * @param url  (optional)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/insert_cd")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsInsertCd(
        @PathVariable(name="id") @NotNull Integer id, 
        @Nullable String url
    );

    /**
     * Reinstall VPS OS
     * Reinstalls the operating system on the VPS. Warning - all data will be erased.
     *
     * @param id VPS ID number (required)
     * @param template OS Template Filename (required)
     * @param localPassword Password for this account. (required)
     * @param password Password for Root / Administrator Account. (optional)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/reinstall_os")
    @Consumes({"application/json"})
    @Produces({"multipart/form-data", "application/json"})
    Mono<QueueResponse> postVpsReinstallOs(
        @PathVariable(name="id") @NotNull Integer id, 
        @NotNull String template, 
        @NotNull String localPassword, 
        @Nullable @Size(min=6) String password
    );

    /**
     * Reset VPS Password
     * Resets the root password on the VPS to a new randomly generated password.
     *
     * @param id VPS ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/reset_password")
    @Consumes({"application/json"})
    Mono<QueueResponse> postVpsResetPassword(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Restore VPS from Backup
     * Initiates a restore of the VPS from a previously created backup. The restore operation overwrites the current disk contents. Use &#x60;GET /vps/{id}/backups&#x60; to retrieve available backup names.
     *
     * @param id VPS ID number (required)
     * @param restoreRequest VPS Restore request (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/restore")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<QueueResponse> postVpsRestore(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid RestoreRequest restoreRequest
    );

    /**
     * Update Reverse DNS
     * Updates the reverse DNS (PTR record) entries for the VPS IP addresses.
     *
     * @param id VPS ID number (required)
     * @param reverseDnsEntries  (required)
     * @return TextResponse
     */
    @Post(uri="/vps/{id}/reverse_dns")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<TextResponse> postVpsReverseDns(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid ReverseDnsEntries reverseDnsEntries
    );

    /**
     * Setup VNC
     * Sets up or refreshes the VNC console connection for the VPS.
     *
     * @param id VPS ID number (required)
     * @return QueueResponse
     */
    @Post(uri="/vps/{id}/setup_vnc")
    @Consumes({"application/json"})
    Mono<QueueResponse> postVpsSetupVnc(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Purchase Slice Upgrade
     * Purchases a slice upgrade for the VPS to increase CPU, RAM, and disk resources.
     *
     * @param id VPS ID number (required)
     */
    @Post(uri="/vps/{id}/slices")
    @Consumes({"application/json"})
    Mono<Void> postVpsSlices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update View Desktop
     * Updates or refreshes the remote desktop session for the VPS.
     *
     * @param id VPS ID number (required)
     */
    @Post(uri="/vps/{id}/view_desktop")
    @Consumes({"application/json"})
    Mono<Void> postVpsViewDesktop(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Validate VPS Order
     * Validates a VPS order before placing it. Returns cost breakdown and any validation errors.
     *
     * @param vpsOrderPutRequest  (optional)
     * @return VpsOrderPutResponse
     */
    @Put(uri="/vps/order")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<VpsOrderPutResponse> putVps(
        @Body @Nullable @Valid VpsOrderPutRequest vpsOrderPutRequest
    );

    /**
     * Update VPS Order
     * Updates settings on a VPS order.
     *
     * @param id VPS ID number. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/vps/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateVpsInfo(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Cancel VPS Service
     * Cancels the VPS service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
     *
     * @param id VPS ID number (required)
     * @return VPSCancel200Response
     */
    @Delete(uri="/vps/{id}")
    @Consumes({"application/json"})
    Mono<VPSCancel200Response> vPSCancel(
        @PathVariable(name="id") @NotNull Integer id
    );

}
