/*
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.ChargeInvoiceRows;
import org.openapitools.model.GetAccountInfo401Response;
import org.openapitools.model.GetWebsiteBuyIp200Response;
import org.openapitools.model.PostWebsiteBuyIp200Response;
import org.openapitools.model.PostWebsiteBuyIpRequest;
import org.openapitools.model.PostWebsiteMigration200Response;
import org.openapitools.model.PostWebsiteMigrationRequest;
import org.openapitools.model.PostWebsiteMigrationRequest1;
import org.openapitools.model.ReverseDnsEntries;
import org.openapitools.model.ServiceOrderPostResponse;
import org.openapitools.model.SuccessTextResponse;
import org.openapitools.model.TextResponse;
import org.openapitools.model.WebhostingCancel200Response;
import org.openapitools.model.Website;
import org.openapitools.model.WebsiteBackups;
import org.openapitools.model.WebsiteLoginResponse;
import org.openapitools.model.WebsiteRow;
import org.openapitools.model.WebsitesOrder;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2026-04-02T08:03:28.685588550-04:00[America/New_York]", comments = "Generator version: 7.21.0")
@Client("${openapi-micronaut-client-base-path}")
public interface WebhostingApi {
    /**
     * Place Website Order
     * Places an order for a new webhosting package. Use &#x60;PUT /websites/order&#x60; to validate the order first.
     *
     * @return ServiceOrderPostResponse
     */
    @Post(uri="/websites/order")
    @Consumes({"application/json"})
    Mono<ServiceOrderPostResponse> addWebsite();

    /**
     * Website Ordering Information
     * Retrieves available webhosting plans and pricing for ordering.
     *
     * @return WebsitesOrder
     */
    @Get(uri="/websites/order")
    @Consumes({"application/json"})
    Mono<WebsitesOrder> getNewWebsite();

    /**
     * Get Website IP Information
     * Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via &#x60;POST /websites/{id}/buy_ip&#x60;.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return GetWebsiteBuyIp200Response
     */
    @Get(uri="/websites/{id}/buy_ip")
    @Consumes({"application/json"})
    Mono<GetWebsiteBuyIp200Response> getWebsiteBuyIp(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Website Order
     * Returns detailed information about a specific webhosting order including its domain, plan, and status.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return Website
     */
    @Get(uri="/websites/{id}")
    @Consumes({"application/json"})
    Mono<Website> getWebsiteInfo(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Website Invoices
     * Returns the billing invoices associated with this webhosting service.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ChargeInvoiceRows
     */
    @Get(uri="/websites/{id}/invoices")
    @Consumes({"application/json"})
    Mono<ChargeInvoiceRows> getWebsiteInvoices(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Website Listing
     * Gets a listing of your webhosting orders and service details.
     *
     * @return List&lt;WebsiteRow&gt;
     */
    @Get(uri="/websites")
    @Consumes({"application/json", "multipart/form-data"})
    Mono<List<WebsiteRow>> getWebsiteList();

    /**
     * Get Website Backups
     * Gets a list of the backups that exist for a website and their sizes.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return WebsiteBackups
     */
    @Get(uri="/websites/{id}/backups")
    @Consumes({"application/json"})
    Mono<WebsiteBackups> getWebsitesBackups(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Hosting Panel Auto Login
     * Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return WebsiteLoginResponse
     */
    @Get(uri="/websites/{id}/login")
    @Consumes({"application/json"})
    Mono<WebsiteLoginResponse> getWebsitesLogin(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Resend Website Welcome Email
     * Resends the welcome email containing hosting credentials and panel access details for the webhosting order.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Get(uri="/websites/{id}/welcome_email")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> getWebsitesWelcomeEmail(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Get Website Reverse DNS
     * Returns the current reverse DNS (PTR record) entries for the website&#39;s IP addresses.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return ReverseDnsEntries
     */
    @Get(uri="/websites/{id}/reverse_dns")
    @Consumes({"application/json"})
    Mono<ReverseDnsEntries> gettWebsiteReverseDns(
        @PathVariable(name="id") @NotNull Integer id
    );

    /**
     * Update Website IP DNS
     * Updates the reverse DNS hostnames for the website&#39;s IP addresses. Provide an &#x60;ips&#x60; object mapping each IP address to its desired hostname.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param postWebsiteBuyIpRequest  (required)
     * @return PostWebsiteBuyIp200Response
     */
    @Post(uri="/websites/{id}/buy_ip")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<PostWebsiteBuyIp200Response> postWebsiteBuyIp(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid PostWebsiteBuyIpRequest postWebsiteBuyIpRequest
    );

    /**
     * Request Website Migration
     * Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned &#x60;ticket&#x60; ID with &#x60;/tickets/{id}&#x60; to monitor status.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param postWebsiteMigrationRequest  (required)
     * @return PostWebsiteMigration200Response
     */
    @Post(uri="/websites/{id}/migration")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<PostWebsiteMigration200Response> postWebsiteMigration(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid PostWebsiteMigrationRequest postWebsiteMigrationRequest
    );

    /**
     * Update Website Reverse DNS
     * Updates the reverse DNS entries for each of the IP addresses for the website.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @param reverseDnsEntries  (required)
     * @return TextResponse
     */
    @Post(uri="/websites/{id}/reverse_dns")
    @Consumes({"application/json"})
    @Produces({"application/json", "multipart/form-data"})
    Mono<TextResponse> postWebsitesReverseDns(
        @PathVariable(name="id") @NotNull Integer id, 
        @Body @NotNull @Valid ReverseDnsEntries reverseDnsEntries
    );

    /**
     * Validate Webhosting Order
     * Validates a webhosting order before placing it.
     *
     */
    @Put(uri="/websites/order")
    @Consumes({"application/json"})
    Mono<Void> putWebsites();

    /**
     * Update Website Order
     * Updates settings on a webhosting order.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return SuccessTextResponse
     */
    @Post(uri="/websites/{id}")
    @Consumes({"application/json"})
    Mono<SuccessTextResponse> updateWebsiteInfo(
        @PathVariable(name="id") @NotNull String id
    );

    /**
     * Cancel Website
     * Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.
     *
     * @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;. (required)
     * @return WebhostingCancel200Response
     */
    @Delete(uri="/websites/{id}")
    @Consumes({"application/json"})
    Mono<WebhostingCancel200Response> webhostingCancel(
        @PathVariable(name="id") @NotNull String id
    );

}
