# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Account do
  @moduledoc """
  API calls for all endpoints tagged `Account`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Change Account Username
  Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec change_account_username(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def change_account_username(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/username")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Unlink OAuth Account
  Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `name` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_account_oauth_name(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_account_oauth_name(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/account/oauth/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Disable Two-Factor Authentication
  Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_account_tfa(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_account_tfa(connection, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/account/2fa")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Remove IP Access Restriction
  Removes an IP address range from the account's access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (IpLimitRange): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_ip_limit(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_ip_limit(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:patch)
      |> url("/account/iplimits")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Retrieve Account Details
  Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with `POST /account`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.AccountInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_account_info(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.AccountInfo.t} | {:error, Tesla.Env.t}
  def get_account_info(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/account")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.AccountInfo},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Two-Factor Setup Data
  Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the `2fa_google_key` as a QR code or display the `2fa_google_split` value for manual entry. After setup, verify with `POST /account/2fa`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GetAccountTfaSetup200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_account_tfa_setup(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.GetAccountTfaSetup200Response.t} | {:error, Tesla.Env.t}
  def get_account_tfa_setup(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/account/2fa")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GetAccountTfaSetup200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Home Data
  Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Home.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_home(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.Home.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_home(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/home")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Home},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Search Autocomplete
  Returns autocomplete results for the account's services and records. Use this endpoint to power global search experiences in the client portal.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SearchAutocompleteResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_search(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.SearchAutocompleteResponse.t} | {:error, Tesla.Env.t}
  def get_search(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/search")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SearchAutocompleteResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Log Out
  Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec logout(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def logout(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/logout")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Logout of OAuth
  Logs out of the specified OAuth provider session.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `name` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec logout_account_oauth(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def logout_account_oauth(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/account/oauth/#{name}/logout")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Generate New API Key
  Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_api_key(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_account_api_key(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/apikey")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Account Feature Flags
  Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:disable_reset` (integer()): 
    - `:disable_reinstall` (integer()): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_features(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:error, Tesla.Env.t}
  def update_account_features(connection, opts \\ []) do
    optional_params = %{
      :disable_reset => :form,
      :disable_reinstall => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/account/features")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {422, InterServerManagementAPI.Model.TextResponse}
    ])
  end

  @doc """
  Update Account Information
  Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `name` (String.t): Your name.
  - `address` (String.t): Your address.
  - `city` (String.t): Your city.
  - `state` (String.t): Your state.
  - `zip` (String.t): Your ZIP code.
  - `country` (String.t): Your country.
  - `phone` (String.t): Your phone number.
  - `opts` (keyword): Optional parameters
    - `:company` (String.t): Your company name.
    - `:address2` (String.t): Additional address information.
    - `:locale` (String.t): Your preferred locale.
    - `:email_invoices` (String.t): Your email for invoice notifications.
    - `:email_abuse` (String.t): Your email for abuse notifications.
    - `:disable_reset` (boolean()): Set to `true` to disable account resets, or `false` to enable them.
    - `:disable_reinstall` (boolean()): Set to `true` to disable server reinstalls, or `false` to enable them.
    - `:disable_server_notifications` (boolean()): Set to `true` to disable server notifications, or `false` to enable them.
    - `:disable_email_notifications` (boolean()): Set to `true` to disable email notifications, or `false` to enable them.
    - `:gstin` (String.t): Your GST identification number (if applicable).

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_info(Tesla.Env.client, String.t, String.t, String.t, String.t, String.t, String.t, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:error, Tesla.Env.t}
  def update_account_info(connection, name, address, city, state, zip, country, phone, opts \\ []) do
    optional_params = %{
      :company => :form,
      :address2 => :form,
      :locale => :form,
      :email_invoices => :form,
      :email_abuse => :form,
      :disable_reset => :form,
      :disable_reinstall => :form,
      :disable_server_notifications => :form,
      :disable_email_notifications => :form,
      :gstin => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/account")
      |> add_param(:form, :name, name)
      |> add_param(:form, :address, address)
      |> add_param(:form, :city, city)
      |> add_param(:form, :state, state)
      |> add_param(:form, :zip, zip)
      |> add_param(:form, :country, country)
      |> add_param(:form, :phone, phone)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {422, InterServerManagementAPI.Model.TextResponse}
    ])
  end

  @doc """
  Add IP Access Restriction
  Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `start` (String.t): The begining (or first) IP address in the range.
  - `end_var` (String.t): The ending (or last) IP address in the range.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_ip_limits(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:error, Tesla.Env.t}
  def update_account_ip_limits(connection, start, end_var, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/iplimits")
      |> add_param(:form, :start, start)
      |> add_param(:form, :end, end_var)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {422, InterServerManagementAPI.Model.TextResponse}
    ])
  end

  @doc """
  Change Account Password
  Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `password` (String.t): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_password(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_account_password(connection, password, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/password")
      |> add_param(:form, :password, password)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update SSH Keys
  Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:ssh_key` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_ssh_key(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_account_ssh_key(connection, opts \\ []) do
    optional_params = %{
      :ssh_key => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/account/sshkey")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Enable Two-Factor Authentication
  Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use `GET /account/2fa` first to retrieve the secret key for app setup.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `2fa_google_code` (String.t): The 6-digit verification code from your authenticator app.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_tfa(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:error, Tesla.Env.t}
  def update_account_tfa(connection, 2fa_google_code, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/2fa")
      |> add_param(:form, :"2fa_google_code", 2fa_google_code)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {422, InterServerManagementAPI.Model.TextResponse}
    ])
  end
end
