# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Backups do
  @moduledoc """
  API calls for all endpoints tagged `Backups`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place Backup Order
  Places a new backup storage order and generates an invoice. On success, the response includes invoice IDs that can be used with `/billing/invoices/{id}` to view the invoice or `/pay/{method}/{invoices}` to complete payment. The service is provisioned after payment is confirmed.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:validateOnly` (boolean()): 
    - `:serviceType` (integer()): 
    - `:coupon` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BackupOrderPostResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_backup(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BackupOrderPostResponse.t} | {:error, Tesla.Env.t}
  def add_backup(connection, opts \\ []) do
    optional_params = %{
      :validateOnly => :form,
      :serviceType => :form,
      :coupon => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/backups/order")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BackupOrderPostResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Cancel Backup Service
  Cancels the specified backup storage service. The service remains accessible until the end of the current billing period. This action cannot be undone; a new order must be placed to restore service.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.CancelBackup200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cancel_backup(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.CancelBackup200Response.t} | {:error, Tesla.Env.t}
  def cancel_backup(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/backups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.CancelBackup200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Backup Service Details
  Returns detailed service information for the specified backup storage order, including `backup_username`, `backup_ip`, `backup_status`, and `backup_quota` in `serviceInfo`. Also returns `client_links`, `billingDetails`, `extraInfoTables`, `package`, and `custCurrency`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Backup.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.Backup.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backup_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Backup},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Backup Order Invoices
  Retrieves invoices associated with the backup storage order. Use this to confirm billing status or locate invoices for payment.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_backup_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Backup Storage Panel Login
  Creates and returns a login session URL for the backup storage panel. The returned session URL can be used to redirect the user directly into the storage management interface without requiring separate credentials.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BackupLoginResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backup_login(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BackupLoginResponse.t} | {:error, Tesla.Env.t}
  def get_backup_login(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/login")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BackupLoginResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Backup Services
  Returns all backup storage services on your account. Each entry includes the `backup_id`, `backup_username`, `backup_ip`, `backup_status`, and `backup_quota`. Use the `backup_id` with `/backups/{id}` to retrieve full service details or `/backups/{id}/login` to obtain a storage panel session.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%BackupRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backups_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.BackupRow.t]} | {:error, Tesla.Env.t}
  def get_backups_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BackupRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend Backup Welcome Email
  Resends the welcome email for the specified backup service. The email contains connection credentials and setup instructions. Use this when the original welcome email was lost or never received.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_backups_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_backups_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Backup Order Form Data
  Returns available backup storage plans, pricing tiers, and form metadata needed to build an order form. Use the service type IDs from this response when submitting a validation request via `PUT /backups/order` or placing an order via `POST /backups/order`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BackupsOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_backup(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BackupsOrder.t} | {:error, Tesla.Env.t}
  def get_new_backup(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/backups/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BackupsOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Backup Information
  Updates backup storage service metadata, such as stored credentials or settings for the order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_backup_info(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_backup_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/backups/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Validate Backup Order
  Validates a backup storage order without placing it, returning calculated pricing and any validation errors. Use this to display a confirmation screen with the final price before submitting the order via `POST /backups/order`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:validateOnly` (boolean()): 
    - `:serviceType` (integer()): 
    - `:coupon` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BackupOrderPutResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec validate_backup_order(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BackupOrderPutResponse.t} | {:error, Tesla.Env.t}
  def validate_backup_order(connection, opts \\ []) do
    optional_params = %{
      :validateOnly => :form,
      :serviceType => :form,
      :coupon => :form
    }

    request =
      %{}
      |> method(:put)
      |> url("/backups/order")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BackupOrderPutResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end
end
