# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Billing do
  @moduledoc """
  API calls for all endpoints tagged `Billing`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Add Credit Card to Account
  Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:name` (String.t): 
    - `:address` (String.t): 
    - `:city` (String.t): 
    - `:state` (String.t): 
    - `:country` (String.t): 
    - `:zip` (String.t): 
    - `:cc` (String.t): 
    - `:cc_exp` (String.t): 
    - `:cc_ccv2` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_account_credit_card(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_account_credit_card(connection, opts \\ []) do
    optional_params = %{
      :name => :form,
      :address => :form,
      :city => :form,
      :state => :form,
      :country => :form,
      :zip => :form,
      :cc => :form,
      :cc_exp => :form,
      :cc_ccv2 => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/account/creditcards")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Add Credit Card for Billing
  Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via `GET /billing/creditcards/{id}/verify` followed by `POST /billing/creditcards/{id}/verify` before the card can be used for payments.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `billing_add_cc_request` (BillingAddCcRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_billing_credit_card(Tesla.Env.client, InterServerManagementAPI.Model.BillingAddCcRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_billing_credit_card(connection, billing_add_cc_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/billing/creditcards")
      |> add_param(:body, :body, billing_add_cc_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Create Prepay Deposit
  Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use `/billing/invoices/{id}` to retrieve the generated invoice details.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `billing_prepay_request` (BillingPrepayRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_billing_prepay(Tesla.Env.client, InterServerManagementAPI.Model.BillingPrepayRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_billing_prepay(connection, billing_prepay_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/billing/prepays")
      |> add_param(:body, :body, billing_prepay_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Remove Credit Card
  Removes a credit card from the account. If this is the default payment method, select a new default via `/billing/payment_method` afterward.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The credit card ID. Use the card ID returned from `POST /account/creditcards` or listed in `/billing/creditcards`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_account_credit_card(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_account_credit_card(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/account/creditcards/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Delete Credit Card
  Removes the selected credit card from the account. Use `/billing/payment_method` to select a new default payment method after deleting a card.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The credit card ID to remove. Use IDs from `GET /billing/creditcards`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_billing_credit_card(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_billing_credit_card(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/billing/creditcards/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete Invoice
  Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The invoice ID to delete. Only unpaid invoices can be deleted.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_billing_invoice(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_billing_invoice(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/billing/invoices/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete Prepay Balance
  Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use `GET /billing/prepays` to list available prepay balances and their IDs.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The prepay balance ID to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_billing_prepay(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_billing_prepay(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/billing/prepays/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Affiliate Banner Assets
  Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%AffiliateBannerRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_banners(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.AffiliateBannerRow.t]} | {:error, Tesla.Env.t}
  def get_affiliate_banners(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/affiliate/banners")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.AffiliateBannerRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Affiliate Performance Report
  Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_rich_report(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_affiliate_rich_report(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/affiliate/rich_report")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Affiliate Sales Graph Data
  Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:days` (integer()): Number of days of sales history to include in the graph data. Determines the time window for the returned data points.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.StatusMonthlyBreakdown.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_sales_graph(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.StatusMonthlyBreakdown.t} | {:error, Tesla.Env.t}
  def get_affiliate_sales_graph(connection, opts \\ []) do
    optional_params = %{
      :days => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/affiliate/sales_graph")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.StatusMonthlyBreakdown},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Affiliate Sales Report
  Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_sales_report(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_affiliate_sales_report(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/affiliate/sales_report")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Affiliate Traffic Graph Data
  Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:days` (integer()): Number of days of traffic history to include in the graph data. Determines the time window for the returned data points.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MonthlyCounts.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_traffic_graph(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MonthlyCounts.t} | {:error, Tesla.Env.t}
  def get_affiliate_traffic_graph(connection, opts \\ []) do
    optional_params = %{
      :days => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/affiliate/traffic_graph")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MonthlyCounts},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Affiliate Web Traffic Entries
  Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%AffiliateTrafficRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_affiliate_web_traffic(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.AffiliateTrafficRow.t]} | {:error, Tesla.Env.t}
  def get_affiliate_web_traffic(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/affiliate/web_traffic")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.AffiliateTrafficRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Shopping Cart Contents
  Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to `/pay/{method}/{invoices}`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_billing_cart(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_billing_cart(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/billing/cart")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Get Credit Card Verification Requirements
  Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The credit card ID to verify. Use the ID returned from `POST /billing/creditcards`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_billing_credit_card_verify(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_billing_credit_card_verify(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/billing/creditcards/#{id}/verify")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Invoice Details
  Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to `/pay/{method}/{invoices}` so you can display the exact amount due and confirm the invoice is still unpaid.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The invoice ID. Use IDs from `GET /billing/invoices` or from order responses.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BillingInvoiceDetail.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_billing_invoice(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.BillingInvoiceDetail.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_billing_invoice(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/billing/invoices/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BillingInvoiceDetail},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Account Invoices
  Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with `/billing/invoices/{id}` to retrieve detailed line items, or with `/pay/{method}/{invoices}` to initiate payment.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BillingInvoiceList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_billing_invoices(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BillingInvoiceList.t} | {:error, Tesla.Env.t}
  def get_billing_invoices(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/billing/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BillingInvoiceList},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Prepay Balances
  Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting `prepay` as a payment method.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_billing_pre_pays(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_billing_pre_pays(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/billing/prepays")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Get Invoices
  Returns a paginated list of invoices for the authenticated account. Each invoice includes the invoice number, date, total amount, and payment status. Use the optional `searchString` parameter to filter results and `skip`/`limit` for pagination.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:searchString` (String.t): pass an optional search string for looking up inventory
    - `:skip` (integer()): number of records to skip for pagination
    - `:limit` (integer()): maximum number of records to return

  ### Returns

  - `{:ok, [%Invoice{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_invoices(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.Invoice.t]} | {:error, Tesla.Env.t}
  def get_invoices(connection, opts \\ []) do
    optional_params = %{
      :searchString => :query,
      :skip => :query,
      :limit => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/invoices")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Invoice},
      {400, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Initiate Payment
  Initiates a payment for the specified invoices using the chosen payment method. The response type determines how your client should proceed: `redirect` means send the user to the provided URL, `submit` means POST a form with the provided fields, and `single` means the payment was processed immediately. Use invoice IDs obtained from order responses or `/billing/invoices`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `method` (String.t): The payment method to use. Valid values: `cc` (credit card), `paypal`, `prepay`, `payssion`, `payu`, `ccavenue`, `cashfree`, `coinbase`, `btcpay`.
  - `invoices` (String.t): A comma-separated list of invoice IDs to pay. These IDs are returned by order endpoints (e.g. `/backups/order`, `/vps/order`) and by `/billing/invoices`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.InitiatePayment200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec initiate_payment(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.InitiatePayment200Response.t} | {:error, Tesla.Env.t}
  def initiate_payment(connection, method, invoices, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/pay/#{method}/#{invoices}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.InitiatePayment200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Submit Credit Card Verification
  Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by `GET /billing/creditcards/{id}/verify`. A successful response means the card is verified and can be selected as a payment method via `/billing/payment_method`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The credit card ID to verify. Use the ID returned from `POST /billing/creditcards`.
  - `billing_verify_cc_request` (BillingVerifyCcRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_billing_credit_card_verify(Tesla.Env.client, integer(), InterServerManagementAPI.Model.BillingVerifyCcRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_billing_credit_card_verify(connection, id, billing_verify_cc_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/billing/creditcards/#{id}/verify")
      |> add_param(:body, :body, billing_verify_cc_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Credit Card
  Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The credit card ID. Use the card ID returned from `POST /account/creditcards` or listed in `/billing/creditcards`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_account_credit_card(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_account_credit_card(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/account/creditcards/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Configure Affiliate Dock Settings
  Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:affiliate_dock_title` (String.t): 
    - `:affiliate_dock_description` (String.t): 
    - `:referrer_coupon` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_affiliate_dock_setup(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_affiliate_dock_setup(connection, opts \\ []) do
    optional_params = %{
      :affiliate_dock_title => :form,
      :affiliate_dock_description => :form,
      :referrer_coupon => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/affiliate/dock_setup")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Configure Affiliate Landing Page
  Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:affiliate_dock_title` (String.t): 
    - `:affiliate_dock_description` (String.t): 
    - `:referrer_coupon` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_affiliate_landing_page(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_affiliate_landing_page(connection, opts \\ []) do
    optional_params = %{
      :affiliate_dock_title => :form,
      :affiliate_dock_description => :form,
      :referrer_coupon => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/affiliate/landing_pg")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Configure Affiliate Payout Preferences
  Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:affiliate_paypal` (String.t): 
    - `:affiliate_payment_method` (String.t): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_affiliate_payment_setup(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_affiliate_payment_setup(connection, opts \\ []) do
    optional_params = %{
      :affiliate_paypal => :form,
      :affiliate_payment_method => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/affiliate/payment_setup")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Credit Card Details
  Updates stored credit card metadata or retrieves the masked card details. Use this to refresh card data before verification or to update billing address information associated with the card.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The credit card ID. Use IDs from `GET /billing/creditcards` or the response from `POST /billing/creditcards`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_billing_credit_card(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_billing_credit_card(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/billing/creditcards/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Default Payment Method
  Updates the account's default payment method, including selecting a verified credit card as the primary payment source or switching to PayPal when available.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `billing_payment_method_request` (BillingPaymentMethodRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_billing_payment_method(Tesla.Env.client, InterServerManagementAPI.Model.BillingPaymentMethodRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_billing_payment_method(connection, billing_payment_method_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/billing/payment_method")
      |> add_param(:body, :body, billing_payment_method_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end
end
