# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.DNS do
  @moduledoc """
  API calls for all endpoints tagged `DNS`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Create DNS Domain
  Creates a new DNS domain and assigns an initial A record pointing to the supplied IP address. The domain is immediately available on InterServer's DNS servers. Use `/dns/{id}` to manage records after creation.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `domain` (String.t): The domain name.
  - `ip` (String.t): IP Address to point the domain to.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_dns_domain(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_dns_domain(connection, domain, ip, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/dns")
      |> add_param(:form, :domain, domain)
      |> add_param(:form, :ip, ip)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Add DNS Record to Domain
  Adds a new DNS record to the specified domain. Provide the record type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority. The record takes effect on the DNS servers immediately. Use `GET /dns/{id}` afterward to confirm the record was created.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The DNS Domain ID.
  - `name` (String.t): Name part of record
  - `type` (InterServerManagementAPI.Model.DnsRecordType.t): 
  - `content` (String.t): Content of record
  - `opts` (keyword): Optional parameters
    - `:ttl` (integer()): Time-to-live
    - `:prio` (integer()): Priority

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_dns_record(Tesla.Env.client, String.t, String.t, InterServerManagementAPI.Model.DnsRecordType.t, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_dns_record(connection, id, name, type, content, opts \\ []) do
    optional_params = %{
      :ttl => :form,
      :prio => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/dns/#{id}")
      |> add_param(:form, :name, name)
      |> add_param(:form, :type, type)
      |> add_param(:form, :content, content)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete DNS Domain
  Deletes a DNS domain and all of its associated records from the DNS servers. This action is permanent and cannot be undone. Any services relying on these DNS records will be affected immediately.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The DNS domain ID to delete. Use the `id` from `GET /dns` to identify the domain.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_dns_domain(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_dns_domain(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/dns/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Delete DNS Record
  Removes a DNS record from the specified domain. The deletion takes effect on the DNS servers immediately. Use `GET /dns/{id}` to verify the record has been removed.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `domain_id` (integer()): The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
  - `record_id` (integer()): The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_dns_record(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_dns_record(connection, domain_id, record_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/dns/#{domain_id}/#{record_id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  List Domain DNS Records
  Returns the full set of DNS records for the specified domain, including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record `id` values with `/dns/{domainId}/{recordId}` to update or delete individual records.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%DnsRecord{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_dns_domain(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.DnsRecord.t]} | {:error, Tesla.Env.t}
  def get_dns_domain(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/dns/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DnsRecord},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List DNS Domains
  Returns the DNS domains on your account along with their primary A record content. Use the `id` from each entry with `/dns/{id}` to retrieve the full record set, or to add, update, and delete individual records.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%DnsListItem{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_dns_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.DnsListItem.t]} | {:error, Tesla.Env.t}
  def get_dns_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/dns")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DnsListItem},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update DNS Record
  Updates an existing DNS record with new values. Use `GET /dns/{id}` to list records and retrieve the record IDs before updating. Changes propagate to the DNS servers immediately.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `domain_id` (integer()): The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
  - `record_id` (integer()): The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.
  - `opts` (keyword): Optional parameters
    - `:name` (String.t): 
    - `:type` (InterServerManagementAPI.Model.DnsRecordType.t): 
    - `:content` (String.t): 
    - `:ttl` (String.t): 
    - `:prio` (String.t): 
    - `:disabled` (String.t): 
    - `:ordername` (String.t): 
    - `:auth` (String.t): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_dns_record(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_dns_record(connection, domain_id, record_id, opts \\ []) do
    optional_params = %{
      :name => :form,
      :type => :form,
      :content => :form,
      :ttl => :form,
      :prio => :form,
      :disabled => :form,
      :ordername => :form,
      :auth => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/dns/#{domain_id}/#{record_id}")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
