# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Domains do
  @moduledoc """
  API calls for all endpoints tagged `Domains`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place Domain Order
  Places a new domain registration or transfer order. Use the results from `/domains/lookup/{name}` or `/domains/order/{domain}/{regType}` to populate the required domain fields before submitting the order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_domain(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_domain(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Add Domain DNSSEC Records
  Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `domain_dnssec_request` (DomainDnssecRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_domain_dnssec(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DomainDnssecRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_domain_dnssec(connection, id, domain_dnssec_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/dnssec")
      |> add_param(:body, :body, domain_dnssec_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Add Registered Nameserver
  Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use `GET /domains/{id}/nameservers` to confirm that the new entry exists.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `domain_nameserver_post_request` (DomainNameserverPostRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_domain_nameserver(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DomainNameserverPostRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_domain_nameserver(connection, id, domain_nameserver_post_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/nameservers")
      |> add_param(:body, :body, domain_nameserver_post_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel Domain Order
  Cancels the domain order in the billing system. After cancellation the service will no longer auto-renew and will transition to a `canceled` status. The domain registration itself may remain active at the registrar until its current expiration date, but no further renewals will be processed. Treat the domain as inactive in downstream automation after this call succeeds.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.CancelDomain200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec cancel_domain(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.CancelDomain200Response.t} | {:error, Tesla.Env.t}
  def cancel_domain(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/domains/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.CancelDomain200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Remove Domain DNSSEC Records
  Removes DNSSEC DS records from the domain registration. Use this to disable DNSSEC at the registrar level.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `action` (String.t): Set to `delete` to remove all DNSSEC records.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_domain_dnssec(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_domain_dnssec(connection, id, action, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/domains/#{id}/dnssec")
      |> add_param(:query, :action, action)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete Registered Nameserver
  Removes a registered nameserver (glue record) from the domain. Specify the zero-based `index` of the nameserver to remove as returned by `GET /domains/{id}/nameservers`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `index` (integer()): The index of the registered nameserver from the registered nameservers list to delete.  
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_domain_nameserver(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_domain_nameserver(connection, id, index, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/domains/#{id}/nameservers")
      |> add_param(:query, :index, index)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Contact Details
  Returns the current domain contact details that will be used for the registrant, admin, technical, and billing contact records. Use this response as the basis for any contact updates.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainContactDetails.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_contact(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.DomainContactDetails.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_contact(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/contact")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainContactDetails},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain DNSSEC Records
  Returns the DNSSEC DS records registered with the domain. Use the record data if you need to synchronize DNSSEC settings with another registry or to prepare an update request.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainDnssecRecords.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_dnssec(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.DomainDnssecRecords.t} | {:error, Tesla.Env.t}
  def get_domain_dnssec(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/dnssec")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainDnssecRecords},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Order
  Fetches the detailed domain service record (billing, registration, and service metadata) for the specified order ID. Use the `domain_hostname` from this response when calling `/domains/lookup/{name}` or when interacting with nameserver and DNSSEC management endpoints.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Domain.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Domain.t} | {:error, Tesla.Env.t}
  def get_domain_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Domain},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Invoices
  Retrieves invoice records associated with the domain order. Use this to reconcile billing or to confirm whether renewals or add-ons (such as Whois privacy) have been invoiced.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_domain_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Lookup Domain Availability and Pricing
  Checks a domain for availability and premium status, and returns pricing information for new, renewal, and transfer actions when possible. The response also includes the order field metadata you can pass to `/domains/order` when placing a registration or transfer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `name` (String.t): The full domain name to look up (for example `example.com`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainLookupResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_lookup(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.DomainLookupResponse.t} | {:error, Tesla.Env.t}
  def get_domain_lookup(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/lookup/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainLookupResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {422, InterServerManagementAPI.Model.TextResponse}
    ])
  end

  @doc """
  List Registered Nameservers
  Returns the registered nameserver hosts and glue IP addresses currently configured at the registrar. Use the returned list when adding, updating, or deleting individual nameserver records.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainNameserverGetResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_nameservers(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.DomainNameserverGetResponse.t} | {:error, Tesla.Env.t}
  def get_domain_nameservers(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/nameservers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainNameserverGetResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Order Fields
  Returns the registration-type-specific form fields required to place a domain order for the given hostname. Use the returned fields to build the POST body for `POST /domains/order`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `domain` (String.t): The fully qualified domain name (e.g. `example.com`).
  - `reg_type` (String.t): The registration type. Common values include `register` for new registrations and `transfer` for inbound transfers.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_order_fields(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_order_fields(connection, domain, reg_type, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/order/#{domain}/#{reg_type}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Order Search Results
  Returns order data for the specified domain hostname, including availability and pricing details. Use this to preview order information before placing a registration or transfer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `domain` (String.t): The fully qualified domain name to look up (e.g. `example.com`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_order_search_results(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_order_search_results(connection, domain, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/order/#{domain}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Start Domain Renewal Flow
  Starts the domain renewal workflow for an active domain. This endpoint currently returns a status message indicating that renewal handling has been triggered.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_renewal(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_renewal(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/renew")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Search Domain Suggestions
  Queries the registrar for suggested domains and availability data. Use the returned `lookup` results to identify availability and then call `/domains/lookup/{name}` or `/domains/order` to obtain pricing and order fields for the chosen domain.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `name` (String.t): The base domain name to search (for example `example` or `example.com`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainSearchResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_search(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.DomainSearchResponse.t} | {:error, Tesla.Env.t}
  def get_domain_search(connection, name, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/search/#{name}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainSearchResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.TextResponse}
    ])
  end

  @doc """
  Start Domain Transfer Flow
  Initiates the transfer workflow for a domain already in your account. Use this in coordination with `/domains/{id}/contact` to ensure registrant details are ready for the transfer request.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_transfer(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_transfer(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/transfer")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Whois Privacy Status
  Returns status text for the Whois privacy add-on on the domain. Use this to determine whether privacy can be enabled or disabled for the current TLD before submitting updates.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domain_whois_privacy(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domain_whois_privacy(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/whois")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Domain Orders
  Returns the domain services on your account, including the billing order ID, hostname, expiration date, and status. Use the `domain_id` from this response with `GET /domains/{id}` to fetch full service details, or with `/domains/{id}/nameservers`, `/domains/{id}/contact`, and `/domains/{id}/whois` to manage registration settings.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%DomainRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domains_list(Tesla.Env.client, keyword()) :: {:ok, [InterServerManagementAPI.Model.DomainRow.t]} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domains_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend Domain Welcome Email
  Resends the welcome email for the domain service. The email contains registration details and management instructions.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_domains_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_domains_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Domain Ordering Information
  Returns the catalog of available domain services, including TLD service IDs and base Whois privacy pricing. Use the `tldServices` map to resolve a TLD into a service ID when you build an order request for `/domains/order` (POST) or the domain-field lookup endpoints.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DomainOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_domain(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.DomainOrder.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_domain(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/domains/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DomainOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate Domain Order
  Returns the domain-specific field requirements for the supplied hostname and registration type. Use this to build the form data required for `/domains/order` (POST).

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec patch_domains(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def patch_domains(connection, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/domains/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Request Domain Renewal
  Submits a domain renewal request for the order. Use `/domains/{id}/invoices` to identify any invoices created as part of the renewal flow.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_domain_renewal(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_domain_renewal(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/renew")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Request Domain Transfer
  Submits a transfer request for the domain order. Use `/domains/{id}/invoices` to identify any invoices generated as part of the transfer process.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_domain_transfer(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_domain_transfer(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/transfer")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Domain Order Search
  Returns validation data for a domain order request (such as availability and pricing information). This is typically used as a pre-flight check before submitting a POST order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_domains(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_domains(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/domains/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Domain Contact Details
  Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `domain_contact_details` (DomainContactDetails): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_domain_contact(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DomainContactDetails.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_domain_contact(connection, id, domain_contact_details, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/contact")
      |> add_param(:body, :body, domain_contact_details)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Domain Order
  Updates the domain service record for the order. Use this for account-level changes such as updating stored registration metadata or transfer attributes.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The domain service ID. Use `domain_id` from `GET /domains`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_domain_info(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_domain_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Replace Nameserver Set
  Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `domain_nameserver_put_request` (DomainNameserverPutRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_domain_nameservers(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DomainNameserverPutRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_domain_nameservers(connection, id, domain_nameserver_put_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/domains/#{id}/nameservers")
      |> add_param(:body, :body, domain_nameserver_put_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Whois Privacy
  Enables or disables the Whois privacy add-on for the domain. The API may create invoices when enabling privacy; use `/domains/{id}/invoices` to track billing events.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The domain service ID. Use `domain_id` from `GET /domains`.
  - `domain_whois_privacy_request` (DomainWhoisPrivacyRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_domain_whois_privacy(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DomainWhoisPrivacyRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_domain_whois_privacy(connection, id, domain_whois_privacy_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/domains/#{id}/whois")
      |> add_param(:body, :body, domain_whois_privacy_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end
end
