# NOTE: This file is auto generated by OpenAPI Generator 7.20.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Mail do
  @moduledoc """
  API calls for all endpoints tagged `Mail`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place Mail Order
  Places a Mail Baby order. On success, invoices are created for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_mail(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_mail(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Create Deny Rule
  Adds a new deny rule to automatically block emails that match the specified criteria.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `deny_rule_new` (DenyRuleNew): These are the fields needed to create a new email deny rule.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_rule(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DenyRuleNew.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_rule(connection, id, deny_rule_new, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/rules")
      |> add_param(:body, :body, deny_rule_new)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Create Mail Alert
  Creates a new alert for the mail service, such as delivery or quota notifications.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_alert_request` (MailAlertRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec create_mail_alert(Tesla.Env.client, integer(), InterServerManagementAPI.Model.MailAlertRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def create_mail_alert(connection, id, mail_alert_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/alerts")
      |> add_param(:body, :body, mail_alert_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete Mail Alert
  Deletes an existing alert definition for the mail service.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `alert_id` (integer()): Alert ID to delete.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_mail_alert(Tesla.Env.client, integer(), integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_mail_alert(connection, id, alert_id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}/alerts")
      |> add_param(:query, :alert_id, alert_id)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delete Deny Rule
  Removes a deny rule from the mail service.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `rule` (String.t): The ID of the Rules entry.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_rule(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_rule(connection, id, rule, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}/rules/#{rule}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Remove Email Address from Block List
  Removes an email address from the mail service's block lists.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:email` (String.t): an email address

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delist_block(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delist_block(connection, id, opts \\ []) do
    optional_params = %{
      :email => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/blocks/delete")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Mail Alerts
  Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailAlertsResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_alerts(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.MailAlertsResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_alerts(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/alerts")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailAlertsResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Blocked Email Addresses
  Displays a listing of the blocked email addresses

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailBlocks.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_blocks(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailBlocks.t} | {:error, Tesla.Env.t}
  def get_mail_blocks(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/blocks")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailBlocks},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Delist Status
  Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailDelistResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_delist(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailDelistResponse.t} | {:error, Tesla.Env.t}
  def get_mail_delist(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/delist")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailDelistResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Deliverability Metrics
  Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailDeliverabilityResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_deliverability(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailDeliverabilityResponse.t} | {:error, Tesla.Env.t}
  def get_mail_deliverability(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/deliverability")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailDeliverabilityResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Mail Order
  Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailSchema.t} | {:error, Tesla.Env.t}
  def get_mail_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailSchema},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Mail Invoices
  Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_mail_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Mail Orders
  Returns the Mail Baby services on your account. Use the `mail_id` from this list with `/mail/{id}` to retrieve service details, and with `/mail/{id}/stats` or `/mail/{id}/log` to review delivery statistics.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%MailRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.MailRow.t]} | {:error, Tesla.Env.t}
  def get_mail_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend Mail Welcome Email
  Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mail_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_mail_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Mail Ordering Information
  Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_mail(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailOrder.t} | {:error, Tesla.Env.t}
  def get_new_mail(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Deny Rules
  Returns a listing of all the deny block rules configured for this mail service.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%DenyRuleRecord{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_rules(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.DenyRuleRecord.t]} | {:error, Tesla.Env.t}
  def get_rules(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/rules")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DenyRuleRecord},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Mail Usage Statistics
  Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:time` (String.t): The timeframe for the statistics.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailStatsType.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_stats(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailStatsType.t} | {:error, Tesla.Env.t}
  def get_stats(connection, id, opts \\ []) do
    optional_params = %{
      :time => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/stats")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailStatsType},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel Mail
  Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec mail_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.MailCancel200Response.t} | {:error, Tesla.Env.t}
  def mail_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/mail/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailCancel200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Delist a Blocked Sender
  Removes an email address from blocklists for the mail service. Provide the `unblock` email address from the delist status response.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_delist_request` (MailDelistRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_mail_delist(Tesla.Env.client, integer(), InterServerManagementAPI.Model.MailDelistRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_mail_delist(connection, id, mail_delist_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/delist")
      |> add_param(:body, :body, mail_delist_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate Mail Order
  Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_mail(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_mail(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/mail/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reset Mail Password
  Resets the Mail Baby service password and emails the new password to the account owner. Use `/mail/{id}` to retrieve updated credential data after the reset.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reset_mail_password(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def reset_mail_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/reset_password")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Send Email with Advanced Options
  Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use `POST /mail/{id}/send`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `send_mail_adv` (SendMailAdv): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec send_adv_mail(Tesla.Env.client, integer(), InterServerManagementAPI.Model.SendMailAdv.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def send_adv_mail(connection, id, send_mail_adv, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/advsend")
      |> add_param(:body, :body, send_mail_adv)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Send Email
  Sends an email through one of your mail orders. For multiple recipients or file attachments, use `POST /mail/{id}/advsend` instead.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `send_mail` (SendMail): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GenericResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec send_mail(Tesla.Env.client, integer(), InterServerManagementAPI.Model.SendMail.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GenericResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def send_mail(connection, id, send_mail, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}/send")
      |> add_param(:body, :body, send_mail)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GenericResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Mail Alert
  Updates an existing alert definition for the mail service. Provide the `alert_id` returned by the list response along with updated fields.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `mail_alert_update_request` (MailAlertUpdateRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_mail_alert(Tesla.Env.client, integer(), InterServerManagementAPI.Model.MailAlertUpdateRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_mail_alert(connection, id, mail_alert_update_request, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/mail/#{id}/alerts")
      |> add_param(:body, :body, mail_alert_update_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Mail Order
  Updates mail service metadata for the order, such as stored settings or account details.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_mail_info(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_mail_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/mail/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  View Mail Log
  Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The mail service ID. Use `mail_id` from `GET /mail`.
  - `opts` (keyword): Optional parameters
    - `:id` (integer()): The ID of your mail order this will be sent through.
    - `:origin` (String.t): originating ip address sending mail
    - `:mx` (String.t): mx record mail was sent to
    - `:from` (String.t): from email address
    - `:to` (String.t): to/destination email address
    - `:subject` (String.t): subject containing this string
    - `:mailid` (String.t): mail id
    - `:skip` (integer()): number of records to skip for pagination
    - `:limit` (integer()): maximum number of records to return
    - `:startDate` (integer()): earliest date to get emails in unix timestamp format
    - `:endDate` (integer()): Latest date to get emails in unix timestamp format.
    - `:delivered` (String.t): Filter emails by whether or not they were delivered.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.MailLog.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec view_mail_log(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.MailLog.t} | {:error, Tesla.Env.t}
  def view_mail_log(connection, id, opts \\ []) do
    optional_params = %{
      :id => :query,
      :origin => :query,
      :mx => :query,
      :from => :query,
      :to => :query,
      :subject => :query,
      :mailid => :query,
      :skip => :query,
      :limit => :query,
      :startDate => :query,
      :endDate => :query,
      :delivered => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/mail/#{id}/log")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.MailLog},
      {400, false}
    ])
  end
end
