# NOTE: This file is auto generated by OpenAPI Generator 7.20.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Public do
  @moduledoc """
  API calls for all endpoints tagged `Public`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Get Captcha Challenge
  Returns a base64-encoded JPEG captcha image for human verification. Display this image to the user and submit their response along with the registration or order form. No authentication is required for this endpoint.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.CaptchaResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_captcha(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.CaptchaResponse.t} | {:error, Tesla.Env.t}
  def get_captcha(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/captcha")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.CaptchaResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Countries
  Returns a map of country codes to country names. Use the optional `fetch_by` parameter to select the key format: `iso2` (default, two-letter codes), `iso3` (three-letter codes), or `numcode` (numeric codes). Use these values when populating country fields in account registration or domain contact forms.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:fetch_by` (String.t): Get countries by iso2 or iso3 or numcode

  ### Returns

  - `{:ok, map()}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_countries(Tesla.Env.client, keyword()) :: {:ok, map()} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_countries(connection, opts \\ []) do
    optional_params = %{
      :fetch_by => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/account/countries")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %{}},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Server Info
  Returns metadata about the API server's available modules, service packages, categories, and types. This public endpoint does not require authentication and is useful for discovering supported services before placing orders.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServicesInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_info(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServicesInfo.t} | {:error, Tesla.Env.t}
  def get_info(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/info")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServicesInfo},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Login Info
  Gets the various pieces of information useful for generating a login page.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.LoginInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_login_info(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.LoginInfo.t} | {:ok, InterServerManagementAPI.Model.LoginErrorResponse.t} | {:error, Tesla.Env.t}
  def get_login_info(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/login")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.LoginInfo},
      {403, InterServerManagementAPI.Model.LoginErrorResponse}
    ])
  end

  @doc """
  List Marketplace Servers
  Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BuyItNowList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mp_servers(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BuyItNowList.t} | {:error, Tesla.Env.t}
  def get_mp_servers(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/buy_now_servers_list")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BuyItNowList},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get OAuth Redirect URL
  Returns the OAuth redirect URL for the specified provider. Redirect the user to this URL to begin the OAuth authentication flow. After the user authorizes, the provider will redirect back to your callback endpoint where you should call `POST /oauth`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `provider` (String.t): The OAuth provider name (e.g. `Google`).
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GetOauthRedirect200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_oauth_redirect(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetOauthRedirect200Response.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_oauth_redirect(connection, provider, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/oauth")
      |> add_param(:query, :provider, provider)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GetOauthRedirect200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Available Timezones
  Returns the complete list of available timezone identifiers (e.g. `America/New_York`, `UTC`). Use these values when updating timezone settings on your account or on VPS and QuickServer services via `/vps/{id}/change_timezone` or `/qs/{id}/change_timezone`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%String.t{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_timezones(Tesla.Env.client, keyword()) :: {:ok, [String.t]} | {:error, Tesla.Env.t}
  def get_timezones(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/account/timezones")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []}
    ])
  end

  @doc """
  Complete OAuth Two-Factor Verification
  Completes the OAuth login by verifying a two-factor authentication code. Use the `account_id` returned by `POST /oauth` when the response contained `error_code: \"2fa_required\"`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `patch_oauth_two_factor_request` (PatchOauthTwoFactorRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.PatchOauthTwoFactor200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec patch_oauth_two_factor(Tesla.Env.client, InterServerManagementAPI.Model.PatchOauthTwoFactorRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.PatchOauthTwoFactor200Response.t} | {:error, Tesla.Env.t}
  def patch_oauth_two_factor(connection, patch_oauth_two_factor_request, _opts \\ []) do
    request =
      %{}
      |> method(:patch)
      |> url("/oauth")
      |> add_param(:body, :body, patch_oauth_two_factor_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.PatchOauthTwoFactor200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Ping Server
  Performs a single ping/pong request to let you know if the server is up.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, String.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ping_server(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, String.t} | {:error, Tesla.Env.t}
  def ping_server(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ping")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  OAuth Callback
  Handles the OAuth callback after the user authorizes with the provider. Returns the login status. If the account has two-factor authentication enabled, the response will include `error_code: \"2fa_required\"` and an `account_id`; use `PATCH /oauth` with the 2FA code and account ID to complete login.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `provider` (String.t): The OAuth provider name (e.g. `Google`).
  - `opts` (keyword): Optional parameters
    - `:body` (PostOauthCallbackRequest): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.PostOauthCallback200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_oauth_callback(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.PostOauthCallback200Response.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_oauth_callback(connection, provider, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/oauth")
      |> add_param(:query, :provider, provider)
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.PostOauthCallback200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Submit Login Information
  Authenticates using the provided login credentials and returns a session token. Include the returned session ID in the `sessionid` header on subsequent requests. If authentication fails, a `402` error is returned.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `login` (String.t): 
  - `passwd` (String.t): 
  - `opts` (keyword): Optional parameters
    - `:remember` (String.t): 
    - `:"g-recaptcha-response"` (InterServerManagementAPI.Model.LoginSubmissionExampleGRecaptchaResponse.t): 
    - `:tfa` (String.t): Two Factor Authentication Response.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.LoginSuccessResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec submit_login(Tesla.Env.client, String.t, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.LoginSuccessResponse.t} | {:ok, InterServerManagementAPI.Model.LoginErrorResponse.t} | {:error, Tesla.Env.t}
  def submit_login(connection, login, passwd, opts \\ []) do
    optional_params = %{
      :remember => :form,
      :"g-recaptcha-response" => :form,
      :tfa => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/login")
      |> add_param(:form, :login, login)
      |> add_param(:form, :passwd, passwd)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.LoginSuccessResponse},
      {402, InterServerManagementAPI.Model.LoginErrorResponse},
      {:default, false}
    ])
  end

  @doc """
  Submit Signup Information
  Creates a new account in our system using the provided information.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (LoginSubmissionExample): 

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec submit_signup(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.LoginErrorResponse.t} | {:error, Tesla.Env.t}
  def submit_signup(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/signup")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {402, InterServerManagementAPI.Model.LoginErrorResponse}
    ])
  end
end
