# NOTE: This file is auto generated by OpenAPI Generator 7.20.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.QuickServers do
  @moduledoc """
  API calls for all endpoints tagged `QuickServers`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place QuickServer Order
  Places a QuickServer order. On success, invoices are generated for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_qs(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_qs(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Delete QuickServer Backup
  Permanently removes the specified backup file from storage. Use `GET /qs/{id}/backups` to list available backup filenames before deleting.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `file` (String.t): The backup filename to delete.
  - `opts` (keyword): Optional parameters
    - `:all` (String.t): Set to `1` to list all backups across all services, not just the ones for the given QuickServer.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_qs_backup(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def delete_qs_backup(connection, id, file, opts \\ []) do
    optional_params = %{
      :all => :query
    }

    request =
      %{}
      |> method(:delete)
      |> url("/qs/#{id}/backups")
      |> add_param(:query, :file, file)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Block QuickServer SMTP
  Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_block_smtp(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_block_smtp(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/block_smtp")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Disable CD Drive
  Disables the virtual CD drive for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_disable_cd(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_disable_cd(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/disable_cd")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Disable Quotas
  Disables disk quota enforcement for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_disable_quota(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_disable_quota(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/disable_quota")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Eject CD Drive
  Ejects the virtual CD from the QuickServer's CD drive.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_eject_cd(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_eject_cd(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/eject_cd")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Enable Quotas
  Enables disk quota enforcement for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_enable_quota(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_enable_quota(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/enable_quota")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Restart QuickServer
  Restarts the QuickServer. The server will be shut down and started again.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_restart(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_restart(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/restart")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Start QuickServer
  Powers on the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_start(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_start(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/start")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Stop QuickServer
  Powers off the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec do_qs_stop(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def do_qs_stop(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/stop")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Download QuickServer Backup
  Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /qs/{id}/backups` to list available backup filenames.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `download_qs_backup_request` (DownloadQsBackupRequest): 
  - `opts` (keyword): Optional parameters
    - `:all` (String.t): Set to `1` to list all backups across all services, not just the ones for the given QuickServer.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.DownloadQsBackup200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec download_qs_backup(Tesla.Env.client, integer(), InterServerManagementAPI.Model.DownloadQsBackupRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.DownloadQsBackup200Response.t} | {:error, Tesla.Env.t}
  def download_qs_backup(connection, id, download_qs_backup_request, opts \\ []) do
    optional_params = %{
      :all => :query
    }

    request =
      %{}
      |> method(:patch)
      |> url("/qs/#{id}/backups")
      |> add_param(:body, :body, download_qs_backup_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.DownloadQsBackup200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get QuickServer Ordering Information
  Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QuickserverOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_qs(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QuickserverOrder.t} | {:error, Tesla.Env.t}
  def get_new_qs(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QuickserverOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List QuickServer Backups
  Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /qs/{id}/backups` to download or `DELETE /qs/{id}/backups` to remove a backup. Use `POST /qs/{id}/restore` to restore from a backup.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters
    - `:all` (String.t): Set to `1` to list all backups across all services, not just the ones for the given QuickServer.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.VpsBackupRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_backups(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.VpsBackupRows.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_backups(connection, id, opts \\ []) do
    optional_params = %{
      :all => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/backups")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.VpsBackupRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get QuickServer Hostname
  Retrieves the current hostname and any validation requirements for changing it.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_change_hostname(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_change_hostname(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/change_hostname")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Change Root Password Info
  Retrieves instructions or metadata needed to reset the root password.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_change_root_password(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_change_root_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/change_root_password")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Timezone Info
  Returns the list of available timezones that can be set on the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%String.t{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_change_timezone(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [String.t]} | {:error, Tesla.Env.t}
  def get_qs_change_timezone(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/change_timezone")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, []},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Webuzo Change Pass Info
  Retrieves instructions or metadata for changing the Webuzo control panel password.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_change_webuzo_password(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_change_webuzo_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/change_webuzo_password")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get QuickServer Order
  Returns detailed QuickServer information, including credentials, IPs, and available client actions.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Quickserver.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Quickserver.t} | {:error, Tesla.Env.t}
  def get_qs_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Quickserver},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Insert CD Information
  Returns available ISO images that can be mounted in the QuickServer's virtual CD drive.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_insert_cd(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_insert_cd(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/insert_cd")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get QuickServer Invoices
  Returns the billing invoices associated with this QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_qs_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List QuickServers
  Returns the QuickServer services on your account. Use the `qs_id` values with `/qs/{id}` for details or with the action endpoints (restart, backup, etc.) to manage each server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%QuickserverRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.QuickserverRow.t]} | {:error, Tesla.Env.t}
  def get_qs_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QuickserverRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  QuickServer Reinstall OS Options
  Returns the list of available operating system templates for reinstalling the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.VpsTemplatesList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_reinstall_os(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.VpsTemplatesList.t} | {:error, Tesla.Env.t}
  def get_qs_reinstall_os(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/reinstall_os")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.VpsTemplatesList},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reset QuickServer Password Info
  Returns information needed before resetting the QuickServer's root password.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_reset_password(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_reset_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/reset_password")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reverse DNS Info
  Returns the current reverse DNS (PTR record) entries for the QuickServer's IP addresses.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_reverse_dns(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_reverse_dns(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/reverse_dns")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ReverseDnsEntries},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  VNC Setup Info
  Returns the current VNC connection information for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_setup_vnc(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_setup_vnc(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/setup_vnc")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Traffic Usage
  Returns bandwidth traffic usage data for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_traffic_usage(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_traffic_usage(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/traffic_usage")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get View Desktop Info
  Returns remote desktop connection information for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_view_desktop(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_view_desktop(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/view_desktop")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend QuickServer Welcome Email
  Resends the welcome email containing connection details and credentials for the QuickServer order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): Quickserver ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_qs_welcome_email(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_qs_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/qs/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Create QuickServer Backup
  Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_backup(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_backup(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/backup")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update QuickServer Hostname
  Submits a hostname change request for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_change_hostname(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_change_hostname(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/change_hostname")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Change Root Password
  Triggers a root password reset for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_change_root_password(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_change_root_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/change_root_password")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Change QuickServer Timezone
  Changes the system timezone on the QuickServer. Use `GET /qs/{id}/change_timezone` to list available options first.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `timezone` (String.t): The time zone
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_change_timezone(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_change_timezone(connection, id, timezone, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/change_timezone")
      |> add_param(:form, :timezone, timezone)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Change Webuzo Password
  Resets the Webuzo control panel password for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_change_webuzo_password(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_change_webuzo_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/change_webuzo_password")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Insert CD in QuickServer
  Mounts an ISO image in the QuickServer's virtual CD drive. Use `GET /qs/{id}/insert_cd` to list available images.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_insert_cd(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_insert_cd(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/insert_cd")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reinstall QuickServer OS
  Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_reinstall_os(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_reinstall_os(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/reinstall_os")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reset QuickServer Password
  Resets the root password on the QuickServer to a new randomly generated password.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_reset_password(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_reset_password(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/reset_password")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Reverse DNS
  Updates the reverse DNS (PTR record) entries for the QuickServer's IP addresses.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `reverse_dns_entries` (ReverseDnsEntries): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_reverse_dns(Tesla.Env.client, integer(), InterServerManagementAPI.Model.ReverseDnsEntries.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_qs_reverse_dns(connection, id, reverse_dns_entries, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/reverse_dns")
      |> add_param(:body, :body, reverse_dns_entries)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Setup VNC
  Sets up or refreshes the VNC console connection for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_setup_vnc(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_qs_setup_vnc(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/setup_vnc")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Search Traffic Usage
  Searches and filters the QuickServer's bandwidth traffic usage data by date range.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_traffic_usage(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_qs_traffic_usage(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/traffic_usage")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update View Desktop
  Updates or refreshes the remote desktop session for the QuickServer.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_qs_view_desktop(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_qs_view_desktop(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/view_desktop")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Restore QuickServer from Backup
  Initiates a restore of the QuickServer from a previously created backup. The restore operation overwrites the current disk contents. Use `GET /qs/{id}/backups` to retrieve available backup names.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `restore_request` (RestoreRequest): QuickServer Restore request
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QueueResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_quick_server_restore(Tesla.Env.client, integer(), InterServerManagementAPI.Model.RestoreRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QueueResponse.t} | {:error, Tesla.Env.t}
  def post_quick_server_restore(connection, id, restore_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}/restore")
      |> add_param(:body, :body, restore_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QueueResponse},
      {400, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate QuickServer Order
  Validates a QuickServer order and returns pricing or validation errors. Use this before submitting the final order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_qs(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_qs(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/qs/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel QuickServer Order
  Cancels the QuickServer service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): QuickServer ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.QuickserversCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec quickservers_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.QuickserversCancel200Response.t} | {:error, Tesla.Env.t}
  def quickservers_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/qs/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.QuickserversCancel200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update QuickServer Order
  Updates QuickServer metadata or stored settings associated with the order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): QuickServer ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_qs_info(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_qs_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/qs/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
