# NOTE: This file is auto generated by OpenAPI Generator 7.20.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Servers do
  @moduledoc """
  API calls for all endpoints tagged `Servers`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place Server Order
  Places an order for a new dedicated server. Use `PUT /servers/order` to validate the order first.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_server(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_server(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Get Buy Now Server Options
  Returns the configuration options and pricing for buy-it-now dedicated servers, including available bandwidth packages, IP blocks, operating systems, control panels, and RAID configurations. Use the returned option IDs when placing an order via `POST /servers/order/buy_now_server`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BuyItNowServerOrder200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec buy_it_now_server_order(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BuyItNowServerOrder200Response.t} | {:error, Tesla.Env.t}
  def buy_it_now_server_order(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/order/buy_now_server")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BuyItNowServerOrder200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Marketplace Servers
  Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.BuyItNowList.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_mp_servers(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.BuyItNowList.t} | {:error, Tesla.Env.t}
  def get_mp_servers(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/buy_now_servers_list")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.BuyItNowList},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Server Ordering Information
  Retrieves available server configurations and pricing for ordering a new dedicated server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServerOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_server(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.ServerOrder.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_server(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServerOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Server Order
  Returns detailed information about a specific server including its hardware configuration, IPs, and status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Server.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Server.t} | {:error, Tesla.Env.t}
  def get_server_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Server},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Server Invoices
  Returns the billing invoices associated with this dedicated server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_server_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List Servers
  Returns all dedicated server services on the account with their current status and configuration.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%ServerRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.ServerRow.t]} | {:error, Tesla.Env.t}
  def get_server_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServerRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reverse DNS Info
  Returns the current reverse DNS (PTR record) entries for the server's IP addresses.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_server_reverse_dns(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_server_reverse_dns(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/reverse_dns")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ReverseDnsEntries},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend Server Welcome Email
  Resends the welcome email for the order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_servers_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_servers_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Place Buy Now Server Order
  Places an order for a buy-it-now dedicated server. Use `GET /servers/order/buy_now_server` to retrieve available server configurations and their IDs before ordering.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:body` (PlaceBuyNowServerRequest): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServersBuyNowResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec place_buy_now_server(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServersBuyNowResponse.t} | {:ok, InterServerManagementAPI.Model.ServersBuyNowError.t} | {:error, Tesla.Env.t}
  def place_buy_now_server(connection, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/order/buy_now_server")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServersBuyNowResponse},
      {400, InterServerManagementAPI.Model.ServersBuyNowError},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Update Reverse DNS
  Updates the reverse DNS (PTR record) entries for the server's IP addresses.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `reverse_dns_entries` (ReverseDnsEntries): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_server_reverse_dns(Tesla.Env.client, integer(), InterServerManagementAPI.Model.ReverseDnsEntries.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_server_reverse_dns(connection, id, reverse_dns_entries, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/reverse_dns")
      |> add_param(:body, :body, reverse_dns_entries)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate Server Order
  Validates a server order before placing it. Use this to check for errors before committing to a purchase.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_servers(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_servers(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/servers/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Server IPMI Live Information
  Returns the current IPMI live connection information for the server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServerIpmiLiveInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_live_get(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServerIpmiLiveInfo.t} | {:error, Tesla.Env.t}
  def server_ipmi_live_get(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/ipmi_live")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServerIpmiLiveInfo},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Server IPMI Live Setup
  Configures IPMI live access by whitelisting your current IP address for connections to the server's IPMI management interface.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `ip` (String.t): Your IP Address you wish to connect to the IPMI system from.
  - `opts` (keyword): Optional parameters
    - `:asset` (integer()): Asset ID

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServerIpmiLiveInfo.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_live_post(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServerIpmiLiveInfo.t} | {:error, Tesla.Env.t}
  def server_ipmi_live_post(connection, id, ip, opts \\ []) do
    optional_params = %{
      :asset => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/ipmi_live")
      |> add_param(:form, :ip, ip)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServerIpmiLiveInfo},
      {404, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get IPMI Power Status
  Returns the chassis power status from ipmi.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_power_get(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_power_get(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/servers/#{id}/ipmi_power")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Server IPMI Power
  Uses the IPMI interface to set the Power status on the server.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `action` (String.t): The power action to send to the ipmi controller.
  - `opts` (keyword): Optional parameters
    - `:asset` (integer()): The Asset ID

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec server_ipmi_power_post(Tesla.Env.client, integer(), String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def server_ipmi_power_post(connection, id, action, opts \\ []) do
    optional_params = %{
      :asset => :form
    }

    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}/ipmi_power")
      |> add_param(:form, :action, action)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {400, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel Server Service
  Cancels the dedicated server service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): Server ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServersCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec servers_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServersCancel200Response.t} | {:error, Tesla.Env.t}
  def servers_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/servers/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServersCancel200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Server Order
  Updates settings on a dedicated server order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): Server ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_server_info(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_server_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/servers/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
