# NOTE: This file is auto generated by OpenAPI Generator 7.20.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.SSLCertificates do
  @moduledoc """
  API calls for all endpoints tagged `SSLCertificates`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place SSL Cert Order
  Places an order for a new SSL certificate. Use `PUT /ssl/order` to validate the order first.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_ssl(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def add_ssl(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ssl/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  SSL Cert Ordering Information
  Retrieves available SSL certificate types and pricing for ordering.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_ssl(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_ssl(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ssl/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Get SSL Cert Info
  Returns detailed information about a specific SSL certificate including its domain and expiration.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): SSL certificate ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ssl_info(Tesla.Env.client, integer(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_ssl_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ssl/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Get SSL Cert Invoices
  Returns the billing invoices associated with this SSL certificate.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): SSL Cert ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ssl_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_ssl_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ssl/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  List SSL Certs
  Returns all SSL certificate services on the account with their current status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ssl_list(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_ssl_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ssl")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Resend SSL Welcome Email
  Resends the welcome email for the order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): SSL Cert ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ssl_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_ssl_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/ssl/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate SSL Cert Order
  Validates an SSL certificate order before placing it.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_ssl(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_ssl(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/ssl/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel SSL Certificate Service
  Cancels the SSL certificate service. The certificate will not be renewed and billing will stop at the end of the current billing cycle.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): SSL Cert ID number
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SslCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec ssl_cancel(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.SslCancel200Response.t} | {:error, Tesla.Env.t}
  def ssl_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/ssl/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SslCancel200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update SSL Cert Order
  Updates settings on an SSL certificate order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): SSL certificate ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_ssl_info(Tesla.Env.client, String.t, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_ssl_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/ssl/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
