# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Tickets do
  @moduledoc """
  API calls for all endpoints tagged `Tickets`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Create New Ticket
  Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `ticket_new` (TicketNew): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TicketNewResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_new_ticket(Tesla.Env.client, InterServerManagementAPI.Model.TicketNew.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.TicketNewResponse.t} | {:error, Tesla.Env.t}
  def add_new_ticket(connection, ticket_new, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets/new")
      |> add_param(:body, :body, ticket_new)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TicketNewResponse},
      {400, InterServerManagementAPI.Model.TicketNewResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Close Ticket
  Closes the specified support ticket. Closed tickets can still be viewed but will no longer appear in the active inbox.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): Ticket ID
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.CloseTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec close_ticket(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.CloseTicketResponseSchema.t} | {:error, Tesla.Env.t}
  def close_ticket(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/#{id}/close")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.CloseTicketResponseSchema},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Close Ticket
  Closes the support ticket.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec delete_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ViewTicketResponse.t} | {:error, Tesla.Env.t}
  def delete_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/tickets/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ViewTicketResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Gets Information for creating a new ticket.
  Returns the form data needed to create a new support ticket, such as available departments and service categories.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_ticket(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_ticket(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/new")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Ticket Information
  Returns the full details of a support ticket including its history of replies.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ViewTicketResponse.t} | {:error, Tesla.Env.t}
  def get_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/tickets/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ViewTicketResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  List Support Tickets
  Returns a paginated list of support tickets on the account. Filter by status and time period.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters
    - `:page` (integer()): Page number for paginated results.
    - `:period` (String.t): How far back to show tickets from. Value is in days.
    - `:view` (String.t): The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types.

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Tickets.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_tickets_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Tickets.t} | {:error, Tesla.Env.t}
  def get_tickets_list(connection, opts \\ []) do
    optional_params = %{
      :page => :query,
      :period => :query,
      :view => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/tickets")
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Tickets},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Reply To Ticket
  Adds a reply to an existing support ticket.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ViewTicketResponse.t} | {:error, Tesla.Env.t}
  def post_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ViewTicketResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Search Support Tickets
  Searches support tickets by email, subject, or ticket mask ID.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Tickets.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_tickets_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Tickets.t} | {:error, Tesla.Env.t}
  def post_tickets_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/tickets")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Tickets},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Ticket
  Updates a support ticket's properties such as subject or status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): Ticket ID number.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ViewTicketResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ViewTicketResponse.t} | {:error, Tesla.Env.t}
  def put_ticket_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/tickets/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ViewTicketResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Reply Ticket
  Posts a reply to an existing support ticket thread.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): The ticket ID number.
  - `opts` (keyword): Optional parameters
    - `:body` (ReplyTicketRequest): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ReplyTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec reply_ticket(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.ReplyTicketResponseSchema.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def reply_ticket(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}/reply")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ReplyTicketResponseSchema},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end

  @doc """
  Update Ticket
  Updates a support ticket's subject or body content.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (number()): The ticket ID number.
  - `opts` (keyword): Optional parameters
    - `:body` (UpdateTicket): 

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.UpdateTicketResponseSchema.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_ticket_info(Tesla.Env.client, number(), keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.UpdateTicketResponseSchema.t} | {:error, Tesla.Env.t}
  def update_ticket_info(connection, id, opts \\ []) do
    optional_params = %{
      :body => :body
    }

    request =
      %{}
      |> method(:post)
      |> url("/tickets/#{id}/update")
      |> add_optional_params(optional_params, opts)
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.UpdateTicketResponseSchema},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response},
      {:default, false}
    ])
  end
end
