# NOTE: This file is auto generated by OpenAPI Generator 7.21.0 (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule InterServerManagementAPI.Api.Webhosting do
  @moduledoc """
  API calls for all endpoints tagged `Webhosting`.
  """

  alias InterServerManagementAPI.Connection
  import InterServerManagementAPI.RequestBuilder

  @doc """
  Place Website Order
  Places an order for a new webhosting package. Use `PUT /websites/order` to validate the order first.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ServiceOrderPostResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec add_website(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ServiceOrderPostResponse.t} | {:error, Tesla.Env.t}
  def add_website(connection, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/websites/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ServiceOrderPostResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Website Ordering Information
  Retrieves available webhosting plans and pricing for ordering.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.WebsitesOrder.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_new_website(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.WebsitesOrder.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_new_website(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/order")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.WebsitesOrder},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website IP Information
  Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via `POST /websites/{id}/buy_ip`.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.GetWebsiteBuyIp200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_website_buy_ip(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.GetWebsiteBuyIp200Response.t} | {:error, Tesla.Env.t}
  def get_website_buy_ip(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/buy_ip")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.GetWebsiteBuyIp200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website Order
  Returns detailed information about a specific webhosting order including its domain, plan, and status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.Website.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_website_info(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.Website.t} | {:error, Tesla.Env.t}
  def get_website_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.Website},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website Invoices
  Returns the billing invoices associated with this webhosting service.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_website_invoices(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.ChargeInvoiceRows.t} | {:error, Tesla.Env.t}
  def get_website_invoices(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/invoices")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ChargeInvoiceRows},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website Listing
  Gets a listing of your webhosting orders and service details.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, [%WebsiteRow{}, ...]}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_website_list(Tesla.Env.client, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, [InterServerManagementAPI.Model.WebsiteRow.t]} | {:error, Tesla.Env.t}
  def get_website_list(connection, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.WebsiteRow},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website Backups
  Gets a list of the backups that exist for a website and their sizes.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.WebsiteBackups.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_websites_backups(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.WebsiteBackups.t} | {:error, Tesla.Env.t}
  def get_websites_backups(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/backups")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.WebsiteBackups},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Hosting Panel Auto Login
  Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.WebsiteLoginResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_websites_login(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.WebsiteLoginResponse.t} | {:error, Tesla.Env.t}
  def get_websites_login(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/login")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.WebsiteLoginResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Resend Website Welcome Email
  Resends the welcome email containing hosting credentials and panel access details for the webhosting order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec get_websites_welcome_email(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def get_websites_welcome_email(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/welcome_email")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Get Website Reverse DNS
  Returns the current reverse DNS (PTR record) entries for the website's IP addresses.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec gett_website_reverse_dns(Tesla.Env.client, integer(), keyword()) :: {:ok, InterServerManagementAPI.Model.ReverseDnsEntries.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def gett_website_reverse_dns(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:get)
      |> url("/websites/#{id}/reverse_dns")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.ReverseDnsEntries},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Website IP DNS
  Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `post_website_buy_ip_request` (PostWebsiteBuyIpRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.PostWebsiteBuyIp200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_website_buy_ip(Tesla.Env.client, integer(), InterServerManagementAPI.Model.PostWebsiteBuyIpRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.PostWebsiteBuyIp200Response.t} | {:error, Tesla.Env.t}
  def post_website_buy_ip(connection, id, post_website_buy_ip_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/websites/#{id}/buy_ip")
      |> add_param(:body, :body, post_website_buy_ip_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.PostWebsiteBuyIp200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Request Website Migration
  Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `post_website_migration_request` (PostWebsiteMigrationRequest): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.PostWebsiteMigration200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_website_migration(Tesla.Env.client, integer(), InterServerManagementAPI.Model.PostWebsiteMigrationRequest.t, keyword()) :: {:ok, InterServerManagementAPI.Model.PostWebsiteMigration200Response.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_website_migration(connection, id, post_website_migration_request, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/websites/#{id}/migration")
      |> add_param(:body, :body, post_website_migration_request)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.PostWebsiteMigration200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Website Reverse DNS
  Updates the reverse DNS entries for each of the IP addresses for the website.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (integer()): The website service ID. Use `website_id` from `GET /websites`.
  - `reverse_dns_entries` (ReverseDnsEntries): 
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.TextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec post_websites_reverse_dns(Tesla.Env.client, integer(), InterServerManagementAPI.Model.ReverseDnsEntries.t, keyword()) :: {:ok, InterServerManagementAPI.Model.TextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def post_websites_reverse_dns(connection, id, reverse_dns_entries, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/websites/#{id}/reverse_dns")
      |> add_param(:body, :body, reverse_dns_entries)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.TextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Validate Webhosting Order
  Validates a webhosting order before placing it.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, nil}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec put_websites(Tesla.Env.client, keyword()) :: {:ok, nil} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def put_websites(connection, _opts \\ []) do
    request =
      %{}
      |> method(:put)
      |> url("/websites/order")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, false},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Update Website Order
  Updates settings on a webhosting order.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.SuccessTextResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec update_website_info(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.SuccessTextResponse.t} | {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:error, Tesla.Env.t}
  def update_website_info(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/websites/#{id}")
      |> ensure_body()
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.SuccessTextResponse},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end

  @doc """
  Cancel Website
  Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.

  ### Parameters

  - `connection` (InterServerManagementAPI.Connection): Connection to server
  - `id` (String.t): The website service ID. Use `website_id` from `GET /websites`.
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, InterServerManagementAPI.Model.WebhostingCancel200Response.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec webhosting_cancel(Tesla.Env.client, String.t, keyword()) :: {:ok, InterServerManagementAPI.Model.GetAccountInfo401Response.t} | {:ok, InterServerManagementAPI.Model.WebhostingCancel200Response.t} | {:error, Tesla.Env.t}
  def webhosting_cancel(connection, id, _opts \\ []) do
    request =
      %{}
      |> method(:delete)
      |> url("/websites/#{id}")
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, InterServerManagementAPI.Model.WebhostingCancel200Response},
      {401, InterServerManagementAPI.Model.GetAccountInfo401Response}
    ])
  end
end
