/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.DownloadQsBackup200Response
import org.openapitools.client.model.DownloadQsBackupRequest
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.QueueResponse
import org.openapitools.client.model.Quickserver
import org.openapitools.client.model.QuickserverOrder
import org.openapitools.client.model.QuickserverRow
import org.openapitools.client.model.QuickserversCancel200Response
import org.openapitools.client.model.RestoreRequest
import org.openapitools.client.model.ReverseDnsEntries
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.TextResponse
import org.openapitools.client.model.VpsBackupRows
import org.openapitools.client.model.VpsTemplatesList
import org.openapitools.client.core.JsonSupport._
import sttp.client3._
import sttp.model.Method

object QuickServersApi {
  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new QuickServersApi(baseUrl)
}

class QuickServersApi(baseUrl: String) {

  /**
   * Places a QuickServer order. On success, invoices are generated for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addQs(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], ServiceOrderPostResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[ServiceOrderPostResponse])

  /**
   * Permanently removes the specified backup file from storage. Use `GET /qs/{id}/backups` to list available backup filenames before deleting.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param file The backup filename to delete.
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def deleteQsBackup(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, file: String, all: Option[String] = None
): Request[Either[ResponseException[String, Exception], SuccessTextResponse], Any] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/qs/${id}/backups?all=${ all }&file=${ file }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

  /**
   * Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsBlockSmtp(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/block_smtp")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Disables the virtual CD drive for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsDisableCd(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/disable_cd")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Disables disk quota enforcement for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsDisableQuota(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/disable_quota")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Ejects the virtual CD from the QuickServer's CD drive.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsEjectCd(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/eject_cd")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Enables disk quota enforcement for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsEnableQuota(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/enable_quota")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Restarts the QuickServer. The server will be shut down and started again.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsRestart(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/restart")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Powers on the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsStart(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/start")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Powers off the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsStop(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/stop")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /qs/{id}/backups` to list available backup filenames.
   * 
   * Expected answers:
   *   code 200 : DownloadQsBackup200Response (Download URL for the backup file.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param downloadQsBackupRequest 
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def downloadQsBackup(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, downloadQsBackupRequest: DownloadQsBackupRequest, all: Option[String] = None
): Request[Either[ResponseException[String, Exception], DownloadQsBackup200Response], Any] =
    basicRequest
      .method(Method.PATCH, uri"$baseUrl/qs/${id}/backups?all=${ all }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(downloadQsBackupRequest)
      .response(asJson[DownloadQsBackup200Response])

  /**
   * Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.
   * 
   * Expected answers:
   *   code 200 : QuickserverOrder (Quickserver Ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewQs(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], QuickserverOrder], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QuickserverOrder])

  /**
   * Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /qs/{id}/backups` to download or `DELETE /qs/{id}/backups` to remove a backup. Use `POST /qs/{id}/restore` to restore from a backup.
   * 
   * Expected answers:
   *   code 200 : VpsBackupRows (The listing of available backups for the QuickServer.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def getQsBackups(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, all: Option[String] = None
): Request[Either[ResponseException[String, Exception], VpsBackupRows], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/backups?all=${ all }")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[VpsBackupRows])

  /**
   * Retrieves the current hostname and any validation requirements for changing it.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Hostname info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeHostname(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/change_hostname")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Retrieves instructions or metadata needed to reset the root password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Root Password response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeRootPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/change_root_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns the list of available timezones that can be set on the QuickServer.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (QuickServer Change Timezone info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeTimezone(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Seq[String]], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/change_timezone")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Seq[String]])

  /**
   * Retrieves instructions or metadata for changing the Webuzo control panel password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Webuzo Password info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeWebuzoPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/change_webuzo_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns detailed QuickServer information, including credentials, IPs, and available client actions.
   * 
   * Expected answers:
   *   code 200 : Quickserver (Quickserver details)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def getQsInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Quickserver], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Quickserver])

  /**
   * Returns available ISO images that can be mounted in the QuickServer's virtual CD drive.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Insert CD info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsInsertCd(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/insert_cd")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns the billing invoices associated with this QuickServer.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsInvoices(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], ChargeInvoiceRows], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/invoices")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[ChargeInvoiceRows])

  /**
   * Returns the QuickServer services on your account. Use the `qs_id` values with `/qs/{id}` for details or with the action endpoints (restart, backup, etc.) to manage each server.
   * 
   * Expected answers:
   *   code 200 : Seq[QuickserverRow] (The listing of `Quickservers` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getQsList(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], Seq[QuickserverRow]], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[Seq[QuickserverRow]])

  /**
   * Returns the list of available operating system templates for reinstalling the QuickServer.
   * 
   * Expected answers:
   *   code 200 : VpsTemplatesList (QuickServer Reinstall OS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsReinstallOs(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], VpsTemplatesList], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/reinstall_os")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[VpsTemplatesList])

  /**
   * Returns information needed before resetting the QuickServer's root password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Reset password info)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsResetPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/reset_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns the current reverse DNS (PTR record) entries for the QuickServer's IP addresses.
   * 
   * Expected answers:
   *   code 200 : ReverseDnsEntries (QuickServer Reverse DNS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsReverseDns(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], ReverseDnsEntries], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/reverse_dns")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[ReverseDnsEntries])

  /**
   * Returns the current VNC connection information for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer Setup VNC Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsSetupVnc(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/setup_vnc")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns bandwidth traffic usage data for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer Traffic usage)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsTrafficUsage(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/traffic_usage")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns remote desktop connection information for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsViewDesktop(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/view_desktop")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Resends the welcome email containing connection details and credentials for the QuickServer order.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Quickserver ID
   */
  def getQsWelcomeEmail(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: String
): Request[Either[ResponseException[String, Exception], TextResponse], Any] =
    basicRequest
      .method(Method.GET, uri"$baseUrl/qs/${id}/welcome_email")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[TextResponse])

  /**
   * Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsBackup(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/backup")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Submits a hostname change request for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeHostname(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/change_hostname")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Triggers a root password reset for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeRootPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/change_root_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Changes the system timezone on the QuickServer. Use `GET /qs/{id}/change_timezone` to list available options first.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param timezone The time zone
   */
  def postQsChangeTimezone(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, timezone: String
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/change_timezone")
      .contentType("multipart/form-data")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .multipartBody(Seq(
                multipart("timezone", timezone)

      ).flatten)
      .response(asJson[QueueResponse])

  /**
   * Resets the Webuzo control panel password for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeWebuzoPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/change_webuzo_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Mounts an ISO image in the QuickServer's virtual CD drive. Use `GET /qs/{id}/insert_cd` to list available images.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsInsertCd(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/insert_cd")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsReinstallOs(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/reinstall_os")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Resets the root password on the QuickServer to a new randomly generated password.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsResetPassword(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/reset_password")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Updates the reverse DNS (PTR record) entries for the QuickServer's IP addresses.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Update QuickServer Reverse DNS response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param reverseDnsEntries 
   */
  def postQsReverseDns(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, reverseDnsEntries: ReverseDnsEntries
): Request[Either[ResponseException[String, Exception], TextResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/reverse_dns")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(reverseDnsEntries)
      .response(asJson[TextResponse])

  /**
   * Sets up or refreshes the VNC console connection for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsSetupVnc(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/setup_vnc")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QueueResponse])

  /**
   * Searches and filters the QuickServer's bandwidth traffic usage data by date range.
   * 
   * Expected answers:
   *   code 200 :  (Submit QuickServer Traffic Usage)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsTrafficUsage(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/traffic_usage")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Updates or refreshes the remote desktop session for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Submit QuickServer View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsViewDesktop(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/view_desktop")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Initiates a restore of the QuickServer from a previously created backup. The restore operation overwrites the current disk contents. Use `GET /qs/{id}/backups` to retrieve available backup names.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 400 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param restoreRequest QuickServer Restore request
   */
  def postQuickServerRestore(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int, restoreRequest: RestoreRequest
): Request[Either[ResponseException[String, Exception], QueueResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}/restore")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .body(restoreRequest)
      .response(asJson[QueueResponse])

  /**
   * Validates a QuickServer order and returns pricing or validation errors. Use this before submitting the final order.
   * 
   * Expected answers:
   *   code 200 :  (Validate QuickServer Order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putQs(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(
): Request[Either[ResponseException[String, Exception], Unit], Any] =
    basicRequest
      .method(Method.PUT, uri"$baseUrl/qs/order")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Cancels the QuickServer service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
   * 
   * Expected answers:
   *   code 200 : QuickserversCancel200Response (Rapid Deploy Servers Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def quickserversCancel(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: Int
): Request[Either[ResponseException[String, Exception], QuickserversCancel200Response], Any] =
    basicRequest
      .method(Method.DELETE, uri"$baseUrl/qs/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[QuickserversCancel200Response])

  /**
   * Updates QuickServer metadata or stored settings associated with the order.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def updateQsInfo(apiKeyCookie: String, apiKeyHeader: String, apiKeyHeader: String)(id: String
): Request[Either[ResponseException[String, Exception], SuccessTextResponse], Any] =
    basicRequest
      .method(Method.POST, uri"$baseUrl/qs/${id}")
      .contentType("application/json")
      .cookie("sessionid", apiKeyCookie)
      .header("X-API-KEY", apiKeyHeader)
      .header("sessionid", apiKeyHeader)
      .response(asJson[SuccessTextResponse])

}
