=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Credit Card to Account
    # Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
    # @param name 
    # @param address 
    # @param city 
    # @param state 
    # @param country 
    # @param zip 
    # @param cc 
    # @param cc_exp 
    # @param cc_ccv2 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_account_credit_card(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts = {})
      data, _status_code, _headers = add_account_credit_card_with_http_info(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts)
      data
    end

    # Add Credit Card to Account
    # Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
    # @param name 
    # @param address 
    # @param city 
    # @param state 
    # @param country 
    # @param zip 
    # @param cc 
    # @param cc_exp 
    # @param cc_ccv2 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_account_credit_card_with_http_info(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_account_credit_card ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'zip' is set
      if @api_client.config.client_side_validation && zip.nil?
        fail ArgumentError, "Missing the required parameter 'zip' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'cc' is set
      if @api_client.config.client_side_validation && cc.nil?
        fail ArgumentError, "Missing the required parameter 'cc' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'cc_exp' is set
      if @api_client.config.client_side_validation && cc_exp.nil?
        fail ArgumentError, "Missing the required parameter 'cc_exp' when calling BillingApi.add_account_credit_card"
      end
      # verify the required parameter 'cc_ccv2' is set
      if @api_client.config.client_side_validation && cc_ccv2.nil?
        fail ArgumentError, "Missing the required parameter 'cc_ccv2' when calling BillingApi.add_account_credit_card"
      end
      # resource path
      local_var_path = '/account/creditcards'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['address'] = address
      form_params['city'] = city
      form_params['state'] = state
      form_params['country'] = country
      form_params['zip'] = zip
      form_params['cc'] = cc
      form_params['cc_exp'] = cc_exp
      form_params['cc_ccv2'] = cc_ccv2

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_account_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Credit Card to Account
    # Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_account_credit_card(body, opts = {})
      data, _status_code, _headers = add_account_credit_card_with_http_info(body, opts)
      data
    end

    # Add Credit Card to Account
    # Adds a new credit card to the account for billing. Card details are validated and stored securely. The card may require verification before it can be used as a payment method.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_account_credit_card_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_account_credit_card ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.add_account_credit_card"
      end
      # resource path
      local_var_path = '/account/creditcards'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['address'] = address
      form_params['city'] = city
      form_params['state'] = state
      form_params['country'] = country
      form_params['zip'] = zip
      form_params['cc'] = cc
      form_params['cc_exp'] = cc_exp
      form_params['cc_ccv2'] = cc_ccv2

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_account_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Credit Card for Billing
    # Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via `GET /billing/creditcards/{id}/verify` followed by `POST /billing/creditcards/{id}/verify` before the card can be used for payments.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_billing_credit_card(body, opts = {})
      data, _status_code, _headers = add_billing_credit_card_with_http_info(body, opts)
      data
    end

    # Add Credit Card for Billing
    # Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via &#x60;GET /billing/creditcards/{id}/verify&#x60; followed by &#x60;POST /billing/creditcards/{id}/verify&#x60; before the card can be used for payments.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_billing_credit_card_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_billing_credit_card ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.add_billing_credit_card"
      end
      # resource path
      local_var_path = '/billing/creditcards'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['address'] = address
      form_params['city'] = city
      form_params['state'] = state
      form_params['country'] = country
      form_params['zip'] = zip
      form_params['cc'] = cc
      form_params['cc_exp'] = cc_exp
      form_params['cc_ccv2'] = cc_ccv2

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_billing_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Credit Card for Billing
    # Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via `GET /billing/creditcards/{id}/verify` followed by `POST /billing/creditcards/{id}/verify` before the card can be used for payments.
    # @param name 
    # @param address 
    # @param city 
    # @param state 
    # @param country 
    # @param zip 
    # @param cc 
    # @param cc_exp 
    # @param cc_ccv2 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_billing_credit_card(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts = {})
      data, _status_code, _headers = add_billing_credit_card_with_http_info(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts)
      data
    end

    # Add Credit Card for Billing
    # Adds a new credit card to the account for use as a payment method. If the card requires verification, the response indicates the next step. Complete verification via &#x60;GET /billing/creditcards/{id}/verify&#x60; followed by &#x60;POST /billing/creditcards/{id}/verify&#x60; before the card can be used for payments.
    # @param name 
    # @param address 
    # @param city 
    # @param state 
    # @param country 
    # @param zip 
    # @param cc 
    # @param cc_exp 
    # @param cc_ccv2 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_billing_credit_card_with_http_info(name, address, city, state, country, zip, cc, cc_exp, cc_ccv2, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_billing_credit_card ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'zip' is set
      if @api_client.config.client_side_validation && zip.nil?
        fail ArgumentError, "Missing the required parameter 'zip' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'cc' is set
      if @api_client.config.client_side_validation && cc.nil?
        fail ArgumentError, "Missing the required parameter 'cc' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'cc_exp' is set
      if @api_client.config.client_side_validation && cc_exp.nil?
        fail ArgumentError, "Missing the required parameter 'cc_exp' when calling BillingApi.add_billing_credit_card"
      end
      # verify the required parameter 'cc_ccv2' is set
      if @api_client.config.client_side_validation && cc_ccv2.nil?
        fail ArgumentError, "Missing the required parameter 'cc_ccv2' when calling BillingApi.add_billing_credit_card"
      end
      # resource path
      local_var_path = '/billing/creditcards'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['address'] = address
      form_params['city'] = city
      form_params['state'] = state
      form_params['country'] = country
      form_params['zip'] = zip
      form_params['cc'] = cc
      form_params['cc_exp'] = cc_exp
      form_params['cc_ccv2'] = cc_ccv2

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_billing_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Prepay Deposit
    # Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use `/billing/invoices/{id}` to retrieve the generated invoice details.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_billing_prepay(body, opts = {})
      data, _status_code, _headers = add_billing_prepay_with_http_info(body, opts)
      data
    end

    # Create Prepay Deposit
    # Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use &#x60;/billing/invoices/{id}&#x60; to retrieve the generated invoice details.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_billing_prepay_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_billing_prepay ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.add_billing_prepay"
      end
      # resource path
      local_var_path = '/billing/prepays'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['module'] = _module
      form_params['amount'] = amount
      form_params['automatic_use'] = automatic_use

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_billing_prepay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Prepay Deposit
    # Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use `/billing/invoices/{id}` to retrieve the generated invoice details.
    # @param _module 
    # @param amount 
    # @param automatic_use 
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_billing_prepay(_module, amount, automatic_use, opts = {})
      data, _status_code, _headers = add_billing_prepay_with_http_info(_module, amount, automatic_use, opts)
      data
    end

    # Create Prepay Deposit
    # Creates a new prepay balance deposit and returns the invoice ID that must be paid to activate it. The prepay balance can then be used as a payment method for future orders. Use &#x60;/billing/invoices/{id}&#x60; to retrieve the generated invoice details.
    # @param _module 
    # @param amount 
    # @param automatic_use 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_billing_prepay_with_http_info(_module, amount, automatic_use, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.add_billing_prepay ...'
      end
      # verify the required parameter '_module' is set
      if @api_client.config.client_side_validation && _module.nil?
        fail ArgumentError, "Missing the required parameter '_module' when calling BillingApi.add_billing_prepay"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling BillingApi.add_billing_prepay"
      end
      # verify the required parameter 'automatic_use' is set
      if @api_client.config.client_side_validation && automatic_use.nil?
        fail ArgumentError, "Missing the required parameter 'automatic_use' when calling BillingApi.add_billing_prepay"
      end
      # resource path
      local_var_path = '/billing/prepays'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['module'] = _module
      form_params['amount'] = amount
      form_params['automatic_use'] = automatic_use

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#add_billing_prepay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove Credit Card
    # Removes a credit card from the account. If this is the default payment method, select a new default via `/billing/payment_method` afterward.
    # @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_account_credit_card(id, opts = {})
      delete_account_credit_card_with_http_info(id, opts)
      nil
    end

    # Remove Credit Card
    # Removes a credit card from the account. If this is the default payment method, select a new default via &#x60;/billing/payment_method&#x60; afterward.
    # @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_account_credit_card_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.delete_account_credit_card ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.delete_account_credit_card"
      end
      # resource path
      local_var_path = '/account/creditcards/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#delete_account_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Credit Card
    # Removes the selected credit card from the account. Use `/billing/payment_method` to select a new default payment method after deleting a card.
    # @param id The credit card ID to remove. Use IDs from &#x60;GET /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def delete_billing_credit_card(id, opts = {})
      data, _status_code, _headers = delete_billing_credit_card_with_http_info(id, opts)
      data
    end

    # Delete Credit Card
    # Removes the selected credit card from the account. Use &#x60;/billing/payment_method&#x60; to select a new default payment method after deleting a card.
    # @param id The credit card ID to remove. Use IDs from &#x60;GET /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_billing_credit_card_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.delete_billing_credit_card ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.delete_billing_credit_card"
      end
      # resource path
      local_var_path = '/billing/creditcards/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#delete_billing_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Invoice
    # Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.
    # @param id The invoice ID to delete. Only unpaid invoices can be deleted.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def delete_billing_invoice(id, opts = {})
      data, _status_code, _headers = delete_billing_invoice_with_http_info(id, opts)
      data
    end

    # Delete Invoice
    # Deletes a pending (unpaid) invoice from the account. Only invoices with a pending payment status can be deleted. Paid invoices cannot be removed. Related service records and repeat invoices are also cleaned up.
    # @param id The invoice ID to delete. Only unpaid invoices can be deleted.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_billing_invoice_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.delete_billing_invoice ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.delete_billing_invoice"
      end
      # resource path
      local_var_path = '/billing/invoices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#delete_billing_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Prepay Balance
    # Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use `GET /billing/prepays` to list available prepay balances and their IDs.
    # @param id The prepay balance ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def delete_billing_prepay(id, opts = {})
      data, _status_code, _headers = delete_billing_prepay_with_http_info(id, opts)
      data
    end

    # Delete Prepay Balance
    # Deletes a prepay balance from the account. The balance must have remaining funds to be eligible for deletion. Use &#x60;GET /billing/prepays&#x60; to list available prepay balances and their IDs.
    # @param id The prepay balance ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_billing_prepay_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.delete_billing_prepay ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.delete_billing_prepay"
      end
      # resource path
      local_var_path = '/billing/prepays/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#delete_billing_prepay\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Affiliate Banner Assets
    # Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.
    # @param [Hash] opts the optional parameters
    # @return [Array<AffiliateBannerRow>]
    def get_affiliate_banners(opts = {})
      data, _status_code, _headers = get_affiliate_banners_with_http_info(opts)
      data
    end

    # List Affiliate Banner Assets
    # Returns the catalog of available affiliate banner images with their dimensions. Use these assets to build marketing creatives for your affiliate campaigns. Each banner includes the image filename, width, and height for layout purposes.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AffiliateBannerRow>, Integer, Hash)>] Array<AffiliateBannerRow> data, response status code and response headers
    def get_affiliate_banners_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_banners ...'
      end
      # resource path
      local_var_path = '/affiliate/banners'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<AffiliateBannerRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_banners\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Affiliate Performance Report
    # Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def get_affiliate_rich_report(opts = {})
      data, _status_code, _headers = get_affiliate_rich_report_with_http_info(opts)
      data
    end

    # Get Affiliate Performance Report
    # Returns a detailed affiliate performance report with commission totals, conversion rates, and traffic summary. Use this for a comprehensive overview of your affiliate program performance in a single request.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def get_affiliate_rich_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_rich_report ...'
      end
      # resource path
      local_var_path = '/affiliate/rich_report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_rich_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Affiliate Sales Graph Data
    # Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days of sales history to include in the graph data. Determines the time window for the returned data points.
    # @return [StatusMonthlyBreakdown]
    def get_affiliate_sales_graph(opts = {})
      data, _status_code, _headers = get_affiliate_sales_graph_with_http_info(opts)
      data
    end

    # Get Affiliate Sales Graph Data
    # Returns time-series sales data for the requested number of days. Use this to render sales trend charts in an affiliate dashboard. Each data point represents aggregated sales for a time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days of sales history to include in the graph data. Determines the time window for the returned data points.
    # @return [Array<(StatusMonthlyBreakdown, Integer, Hash)>] StatusMonthlyBreakdown data, response status code and response headers
    def get_affiliate_sales_graph_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_sales_graph ...'
      end
      # resource path
      local_var_path = '/affiliate/sales_graph'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'StatusMonthlyBreakdown' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_sales_graph\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Affiliate Sales Report
    # Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def get_affiliate_sales_report(opts = {})
      data, _status_code, _headers = get_affiliate_sales_report_with_http_info(opts)
      data
    end

    # Get Affiliate Sales Report
    # Returns the affiliate sales report with commission amounts and order summaries. Use this for tabular sales data export or to reconcile commission payouts against individual referral orders.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def get_affiliate_sales_report_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_sales_report ...'
      end
      # resource path
      local_var_path = '/affiliate/sales_report'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_sales_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Affiliate Traffic Graph Data
    # Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days of traffic history to include in the graph data. Determines the time window for the returned data points.
    # @return [MonthlyCounts]
    def get_affiliate_traffic_graph(opts = {})
      data, _status_code, _headers = get_affiliate_traffic_graph_with_http_info(opts)
      data
    end

    # Get Affiliate Traffic Graph Data
    # Returns time-series traffic data for the requested number of days. Use this to render click and visit trend charts in an affiliate dashboard. Each data point represents aggregated traffic counts for a time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :days Number of days of traffic history to include in the graph data. Determines the time window for the returned data points.
    # @return [Array<(MonthlyCounts, Integer, Hash)>] MonthlyCounts data, response status code and response headers
    def get_affiliate_traffic_graph_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_traffic_graph ...'
      end
      # resource path
      local_var_path = '/affiliate/traffic_graph'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MonthlyCounts' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_traffic_graph\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Affiliate Web Traffic Entries
    # Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.
    # @param [Hash] opts the optional parameters
    # @return [Array<AffiliateTrafficRow>]
    def get_affiliate_web_traffic(opts = {})
      data, _status_code, _headers = get_affiliate_web_traffic_with_http_info(opts)
      data
    end

    # List Affiliate Web Traffic Entries
    # Returns individual web traffic log entries for affiliate referrals, including visitor IP address, referral URL, and timestamp. Use this to audit traffic sources, identify top referrers, or investigate suspicious click patterns.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AffiliateTrafficRow>, Integer, Hash)>] Array<AffiliateTrafficRow> data, response status code and response headers
    def get_affiliate_web_traffic_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_affiliate_web_traffic ...'
      end
      # resource path
      local_var_path = '/affiliate/web_traffic'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<AffiliateTrafficRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_affiliate_web_traffic\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Shopping Cart Contents
    # Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to `/pay/{method}/{invoices}`.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_billing_cart(opts = {})
      get_billing_cart_with_http_info(opts)
      nil
    end

    # Get Shopping Cart Contents
    # Returns the current cart contents, available payment methods, and checkout metadata for the authenticated account. Use this to display the cart page, show totals, and determine which payment options are available before directing the user to &#x60;/pay/{method}/{invoices}&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_billing_cart_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_cart ...'
      end
      # resource path
      local_var_path = '/billing/cart'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_cart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Credit Card Verification Requirements
    # Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_billing_credit_card_verify(id, opts = {})
      data, _status_code, _headers = get_billing_credit_card_verify_with_http_info(id, opts)
      data
    end

    # Get Credit Card Verification Requirements
    # Retrieves the verification requirements for a newly added credit card. The response indicates whether the card requires micro-charge amount confirmation or CVV validation. Use this before presenting a verification form to the user.
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_billing_credit_card_verify_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_credit_card_verify ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.get_billing_credit_card_verify"
      end
      # resource path
      local_var_path = '/billing/creditcards/{id}/verify'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_credit_card_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Invoice Details
    # Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to `/pay/{method}/{invoices}` so you can display the exact amount due and confirm the invoice is still unpaid.
    # @param id The invoice ID. Use IDs from &#x60;GET /billing/invoices&#x60; or from order responses.
    # @param [Hash] opts the optional parameters
    # @return [BillingInvoiceDetail]
    def get_billing_invoice(id, opts = {})
      data, _status_code, _headers = get_billing_invoice_with_http_info(id, opts)
      data
    end

    # Get Invoice Details
    # Retrieves the full invoice information including line items, amounts, and payment status. Use this before redirecting to &#x60;/pay/{method}/{invoices}&#x60; so you can display the exact amount due and confirm the invoice is still unpaid.
    # @param id The invoice ID. Use IDs from &#x60;GET /billing/invoices&#x60; or from order responses.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingInvoiceDetail, Integer, Hash)>] BillingInvoiceDetail data, response status code and response headers
    def get_billing_invoice_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_invoice ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.get_billing_invoice"
      end
      # resource path
      local_var_path = '/billing/invoices/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BillingInvoiceDetail' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Account Invoices
    # Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with `/billing/invoices/{id}` to retrieve detailed line items, or with `/pay/{method}/{invoices}` to initiate payment.
    # @param [Hash] opts the optional parameters
    # @return [BillingInvoiceList]
    def get_billing_invoices(opts = {})
      data, _status_code, _headers = get_billing_invoices_with_http_info(opts)
      data
    end

    # List Account Invoices
    # Returns the invoice list for the account with summary totals. Use the invoice IDs from the response with &#x60;/billing/invoices/{id}&#x60; to retrieve detailed line items, or with &#x60;/pay/{method}/{invoices}&#x60; to initiate payment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BillingInvoiceList, Integer, Hash)>] BillingInvoiceList data, response status code and response headers
    def get_billing_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_invoices ...'
      end
      # resource path
      local_var_path = '/billing/invoices'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BillingInvoiceList' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Prepay Balances
    # Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting `prepay` as a payment method.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_billing_pre_pays(opts = {})
      get_billing_pre_pays_with_http_info(opts)
      nil
    end

    # List Prepay Balances
    # Lists prepay balances and their associated metadata. Use this to determine whether an account has usable prepay funds before selecting &#x60;prepay&#x60; as a payment method.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_billing_pre_pays_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_pre_pays ...'
      end
      # resource path
      local_var_path = '/billing/prepays'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_pre_pays\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Invoices
    # Returns a paginated list of invoices for the authenticated account. Each invoice includes the invoice number, date, total amount, and payment status. Use the optional `searchString` parameter to filter results and `skip`/`limit` for pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_string pass an optional search string for looking up inventory
    # @option opts [Integer] :skip number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<Invoice>]
    def get_invoices(opts = {})
      data, _status_code, _headers = get_invoices_with_http_info(opts)
      data
    end

    # Get Invoices
    # Returns a paginated list of invoices for the authenticated account. Each invoice includes the invoice number, date, total amount, and payment status. Use the optional &#x60;searchString&#x60; parameter to filter results and &#x60;skip&#x60;/&#x60;limit&#x60; for pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search_string pass an optional search string for looking up inventory
    # @option opts [Integer] :skip number of records to skip for pagination
    # @option opts [Integer] :limit maximum number of records to return
    # @return [Array<(Array<Invoice>, Integer, Hash)>] Array<Invoice> data, response status code and response headers
    def get_invoices_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_invoices ...'
      end
      # resource path
      local_var_path = '/invoices'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'searchString'] = opts[:'search_string'] if !opts[:'search_string'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<Invoice>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Initiate Payment
    # Initiates a payment for the specified invoices using the chosen payment method. The response type determines how your client should proceed: `redirect` means send the user to the provided URL, `submit` means POST a form with the provided fields, and `single` means the payment was processed immediately. Use invoice IDs obtained from order responses or `/billing/invoices`.
    # @param method The payment method to use. Valid values: &#x60;cc&#x60; (credit card), &#x60;paypal&#x60;, &#x60;prepay&#x60;, &#x60;payssion&#x60;, &#x60;payu&#x60;, &#x60;ccavenue&#x60;, &#x60;cashfree&#x60;, &#x60;coinbase&#x60;, &#x60;btcpay&#x60;.
    # @param invoices A comma-separated list of invoice IDs to pay. These IDs are returned by order endpoints (e.g. &#x60;/backups/order&#x60;, &#x60;/vps/order&#x60;) and by &#x60;/billing/invoices&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2009]
    def initiate_payment(method, invoices, opts = {})
      data, _status_code, _headers = initiate_payment_with_http_info(method, invoices, opts)
      data
    end

    # Initiate Payment
    # Initiates a payment for the specified invoices using the chosen payment method. The response type determines how your client should proceed: &#x60;redirect&#x60; means send the user to the provided URL, &#x60;submit&#x60; means POST a form with the provided fields, and &#x60;single&#x60; means the payment was processed immediately. Use invoice IDs obtained from order responses or &#x60;/billing/invoices&#x60;.
    # @param method The payment method to use. Valid values: &#x60;cc&#x60; (credit card), &#x60;paypal&#x60;, &#x60;prepay&#x60;, &#x60;payssion&#x60;, &#x60;payu&#x60;, &#x60;ccavenue&#x60;, &#x60;cashfree&#x60;, &#x60;coinbase&#x60;, &#x60;btcpay&#x60;.
    # @param invoices A comma-separated list of invoice IDs to pay. These IDs are returned by order endpoints (e.g. &#x60;/backups/order&#x60;, &#x60;/vps/order&#x60;) and by &#x60;/billing/invoices&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2009, Integer, Hash)>] InlineResponse2009 data, response status code and response headers
    def initiate_payment_with_http_info(method, invoices, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.initiate_payment ...'
      end
      # verify the required parameter 'method' is set
      if @api_client.config.client_side_validation && method.nil?
        fail ArgumentError, "Missing the required parameter 'method' when calling BillingApi.initiate_payment"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['cc', 'paypal', 'prepay', 'payssion', 'payu', 'ccavenue', 'cashfree', 'coinbase', 'btcpay'].include?(method)
        fail ArgumentError, "invalid value for 'method', must be one of cc, paypal, prepay, payssion, payu, ccavenue, cashfree, coinbase, btcpay"
      end
      # verify the required parameter 'invoices' is set
      if @api_client.config.client_side_validation && invoices.nil?
        fail ArgumentError, "Missing the required parameter 'invoices' when calling BillingApi.initiate_payment"
      end
      # resource path
      local_var_path = '/pay/{method}/{invoices}'.sub('{' + 'method' + '}', method.to_s).sub('{' + 'invoices' + '}', invoices.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2009' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#initiate_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Submit Credit Card Verification
    # Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by `GET /billing/creditcards/{id}/verify`. A successful response means the card is verified and can be selected as a payment method via `/billing/payment_method`.
    # @param body 
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_billing_credit_card_verify(body, id, opts = {})
      data, _status_code, _headers = post_billing_credit_card_verify_with_http_info(body, id, opts)
      data
    end

    # Submit Credit Card Verification
    # Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by &#x60;GET /billing/creditcards/{id}/verify&#x60;. A successful response means the card is verified and can be selected as a payment method via &#x60;/billing/payment_method&#x60;.
    # @param body 
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_billing_credit_card_verify_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.post_billing_credit_card_verify ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.post_billing_credit_card_verify"
      end
      # resource path
      local_var_path = '/billing/creditcards/{id}/verify'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['idx'] = idx
      form_params['cc_ccv2'] = cc_ccv2
      form_params['cc_amount1'] = cc_amount1
      form_params['cc_amount2'] = cc_amount2
      form_params['terms'] = terms

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#post_billing_credit_card_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Submit Credit Card Verification
    # Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by `GET /billing/creditcards/{id}/verify`. A successful response means the card is verified and can be selected as a payment method via `/billing/payment_method`.
    # @param idx 
    # @param cc_ccv2 
    # @param cc_amount1 
    # @param cc_amount2 
    # @param terms 
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_billing_credit_card_verify(idx, cc_ccv2, cc_amount1, cc_amount2, terms, id, opts = {})
      data, _status_code, _headers = post_billing_credit_card_verify_with_http_info(idx, cc_ccv2, cc_amount1, cc_amount2, terms, id, opts)
      data
    end

    # Submit Credit Card Verification
    # Completes the credit card verification flow by submitting the micro-charge amounts or CVV as required by &#x60;GET /billing/creditcards/{id}/verify&#x60;. A successful response means the card is verified and can be selected as a payment method via &#x60;/billing/payment_method&#x60;.
    # @param idx 
    # @param cc_ccv2 
    # @param cc_amount1 
    # @param cc_amount2 
    # @param terms 
    # @param id The credit card ID to verify. Use the ID returned from &#x60;POST /billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_billing_credit_card_verify_with_http_info(idx, cc_ccv2, cc_amount1, cc_amount2, terms, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.post_billing_credit_card_verify ...'
      end
      # verify the required parameter 'idx' is set
      if @api_client.config.client_side_validation && idx.nil?
        fail ArgumentError, "Missing the required parameter 'idx' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'cc_ccv2' is set
      if @api_client.config.client_side_validation && cc_ccv2.nil?
        fail ArgumentError, "Missing the required parameter 'cc_ccv2' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'cc_amount1' is set
      if @api_client.config.client_side_validation && cc_amount1.nil?
        fail ArgumentError, "Missing the required parameter 'cc_amount1' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'cc_amount2' is set
      if @api_client.config.client_side_validation && cc_amount2.nil?
        fail ArgumentError, "Missing the required parameter 'cc_amount2' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'terms' is set
      if @api_client.config.client_side_validation && terms.nil?
        fail ArgumentError, "Missing the required parameter 'terms' when calling BillingApi.post_billing_credit_card_verify"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.post_billing_credit_card_verify"
      end
      # resource path
      local_var_path = '/billing/creditcards/{id}/verify'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['idx'] = idx
      form_params['cc_ccv2'] = cc_ccv2
      form_params['cc_amount1'] = cc_amount1
      form_params['cc_amount2'] = cc_amount2
      form_params['terms'] = terms

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#post_billing_credit_card_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Credit Card
    # Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.
    # @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_account_credit_card(id, opts = {})
      update_account_credit_card_with_http_info(id, opts)
      nil
    end

    # Update Credit Card
    # Updates an existing credit card on the account. Use this to refresh stored card metadata such as expiration date or billing address.
    # @param id The credit card ID. Use the card ID returned from &#x60;POST /account/creditcards&#x60; or listed in &#x60;/billing/creditcards&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_account_credit_card_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_account_credit_card ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BillingApi.update_account_credit_card"
      end
      # resource path
      local_var_path = '/account/creditcards/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_account_credit_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure Affiliate Dock Settings
    # Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
    # @param affiliate_dock_title 
    # @param affiliate_dock_description 
    # @param referrer_coupon 
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_affiliate_dock_setup(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts = {})
      data, _status_code, _headers = update_affiliate_dock_setup_with_http_info(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts)
      data
    end

    # Configure Affiliate Dock Settings
    # Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
    # @param affiliate_dock_title 
    # @param affiliate_dock_description 
    # @param referrer_coupon 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_affiliate_dock_setup_with_http_info(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_affiliate_dock_setup ...'
      end
      # verify the required parameter 'affiliate_dock_title' is set
      if @api_client.config.client_side_validation && affiliate_dock_title.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_dock_title' when calling BillingApi.update_affiliate_dock_setup"
      end
      # verify the required parameter 'affiliate_dock_description' is set
      if @api_client.config.client_side_validation && affiliate_dock_description.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_dock_description' when calling BillingApi.update_affiliate_dock_setup"
      end
      # verify the required parameter 'referrer_coupon' is set
      if @api_client.config.client_side_validation && referrer_coupon.nil?
        fail ArgumentError, "Missing the required parameter 'referrer_coupon' when calling BillingApi.update_affiliate_dock_setup"
      end
      # resource path
      local_var_path = '/affiliate/dock_setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['affiliate_dock_title'] = affiliate_dock_title
      form_params['affiliate_dock_description'] = affiliate_dock_description
      form_params['referrer_coupon'] = referrer_coupon

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_affiliate_dock_setup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure Affiliate Dock Settings
    # Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_affiliate_dock_setup(body, opts = {})
      data, _status_code, _headers = update_affiliate_dock_setup_with_http_info(body, opts)
      data
    end

    # Configure Affiliate Dock Settings
    # Updates the affiliate dock settings including the referral coupon and marketing copy. The dock is the branded landing page shown to visitors arriving via your affiliate link. Use this to customize the coupon code and promotional text.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_affiliate_dock_setup_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_affiliate_dock_setup ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.update_affiliate_dock_setup"
      end
      # resource path
      local_var_path = '/affiliate/dock_setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['affiliate_dock_title'] = affiliate_dock_title
      form_params['affiliate_dock_description'] = affiliate_dock_description
      form_params['referrer_coupon'] = referrer_coupon

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_affiliate_dock_setup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure Affiliate Landing Page
    # Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
    # @param affiliate_dock_title 
    # @param affiliate_dock_description 
    # @param referrer_coupon 
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_affiliate_landing_page(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts = {})
      data, _status_code, _headers = update_affiliate_landing_page_with_http_info(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts)
      data
    end

    # Configure Affiliate Landing Page
    # Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
    # @param affiliate_dock_title 
    # @param affiliate_dock_description 
    # @param referrer_coupon 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_affiliate_landing_page_with_http_info(affiliate_dock_title, affiliate_dock_description, referrer_coupon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_affiliate_landing_page ...'
      end
      # verify the required parameter 'affiliate_dock_title' is set
      if @api_client.config.client_side_validation && affiliate_dock_title.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_dock_title' when calling BillingApi.update_affiliate_landing_page"
      end
      # verify the required parameter 'affiliate_dock_description' is set
      if @api_client.config.client_side_validation && affiliate_dock_description.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_dock_description' when calling BillingApi.update_affiliate_landing_page"
      end
      # verify the required parameter 'referrer_coupon' is set
      if @api_client.config.client_side_validation && referrer_coupon.nil?
        fail ArgumentError, "Missing the required parameter 'referrer_coupon' when calling BillingApi.update_affiliate_landing_page"
      end
      # resource path
      local_var_path = '/affiliate/landing_pg'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['affiliate_dock_title'] = affiliate_dock_title
      form_params['affiliate_dock_description'] = affiliate_dock_description
      form_params['referrer_coupon'] = referrer_coupon

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_affiliate_landing_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure Affiliate Landing Page
    # Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_affiliate_landing_page(body, opts = {})
      data, _status_code, _headers = update_affiliate_landing_page_with_http_info(body, opts)
      data
    end

    # Configure Affiliate Landing Page
    # Updates the affiliate landing page configuration, including the title, description, and coupon code. Visitors who arrive through your affiliate link see this customized page. Changes are published immediately.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_affiliate_landing_page_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_affiliate_landing_page ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BillingApi.update_affiliate_landing_page"
      end
      # resource path
      local_var_path = '/affiliate/landing_pg'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['affiliate_dock_title'] = affiliate_dock_title
      form_params['affiliate_dock_description'] = affiliate_dock_description
      form_params['referrer_coupon'] = referrer_coupon

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_affiliate_landing_page\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Configure Affiliate Payout Preferences
    # Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.
    # @param affiliate_paypal 
    # @param affiliate_payment_method 
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_affiliate_payment_setup(affiliate_paypal, affiliate_payment_method, opts = {})
      data, _status_code, _headers = update_affiliate_payment_setup_with_http_info(affiliate_paypal, affiliate_payment_method, opts)
      data
    end

    # Configure Affiliate Payout Preferences
    # Updates how you receive affiliate commission payouts. Choose between prepay credit applied to your account balance or PayPal disbursement. When selecting PayPal, provide the email address linked to your PayPal account.
    # @param affiliate_paypal 
    # @param affiliate_payment_method 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_affiliate_payment_setup_with_http_info(affiliate_paypal, affiliate_payment_method, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_affiliate_payment_setup ...'
      end
      # verify the required parameter 'affiliate_paypal' is set
      if @api_client.config.client_side_validation && affiliate_paypal.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_paypal' when calling BillingApi.update_affiliate_payment_setup"
      end
      # verify the required parameter 'affiliate_payment_method' is set
      if @api_client.config.client_side_validation && affiliate_payment_method.nil?
        fail ArgumentError, "Missing the required parameter 'affiliate_payment_method' when calling BillingApi.update_affiliate_payment_setup"
      end
      # resource path
      local_var_path = '/affiliate/payment_setup'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['affiliate_paypal'] = affiliate_paypal
      form_params['affiliate_payment_method'] = affiliate_payment_method

      # http body (model)
[...]
