=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class DomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place Domain Order
    # Places a new domain registration or transfer order. Use the results from `/domains/lookup/{name}` or `/domains/order/{domain}/{regType}` to populate the required domain fields before submitting the order.
    # @param [Hash] opts the optional parameters
    # @return [ServiceOrderPostResponse]
    def add_domain(opts = {})
      data, _status_code, _headers = add_domain_with_http_info(opts)
      data
    end

    # Place Domain Order
    # Places a new domain registration or transfer order. Use the results from &#x60;/domains/lookup/{name}&#x60; or &#x60;/domains/order/{domain}/{regType}&#x60; to populate the required domain fields before submitting the order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceOrderPostResponse, Integer, Hash)>] ServiceOrderPostResponse data, response status code and response headers
    def add_domain_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.add_domain ...'
      end
      # resource path
      local_var_path = '/domains/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServiceOrderPostResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#add_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Domain DNSSEC Records
    # Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_domain_dnssec(body, id, opts = {})
      data, _status_code, _headers = add_domain_dnssec_with_http_info(body, id, opts)
      data
    end

    # Add Domain DNSSEC Records
    # Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_domain_dnssec_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.add_domain_dnssec ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DomainsApi.add_domain_dnssec"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.add_domain_dnssec"
      end
      # resource path
      local_var_path = '/domains/{id}/dnssec'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['algorithm'] = @api_client.build_collection_param(algorithm, :multi)
      form_params['digest_type'] = @api_client.build_collection_param(digest_type, :multi)
      form_params['digest'] = @api_client.build_collection_param(digest, :multi)
      form_params['key_tag'] = @api_client.build_collection_param(key_tag, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#add_domain_dnssec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Domain DNSSEC Records
    # Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.
    # @param algorithm 
    # @param digest_type 
    # @param digest 
    # @param key_tag 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def add_domain_dnssec(algorithm, digest_type, digest, key_tag, id, opts = {})
      data, _status_code, _headers = add_domain_dnssec_with_http_info(algorithm, digest_type, digest, key_tag, id, opts)
      data
    end

    # Add Domain DNSSEC Records
    # Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.
    # @param algorithm 
    # @param digest_type 
    # @param digest 
    # @param key_tag 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def add_domain_dnssec_with_http_info(algorithm, digest_type, digest, key_tag, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.add_domain_dnssec ...'
      end
      # verify the required parameter 'algorithm' is set
      if @api_client.config.client_side_validation && algorithm.nil?
        fail ArgumentError, "Missing the required parameter 'algorithm' when calling DomainsApi.add_domain_dnssec"
      end
      # verify the required parameter 'digest_type' is set
      if @api_client.config.client_side_validation && digest_type.nil?
        fail ArgumentError, "Missing the required parameter 'digest_type' when calling DomainsApi.add_domain_dnssec"
      end
      # verify the required parameter 'digest' is set
      if @api_client.config.client_side_validation && digest.nil?
        fail ArgumentError, "Missing the required parameter 'digest' when calling DomainsApi.add_domain_dnssec"
      end
      # verify the required parameter 'key_tag' is set
      if @api_client.config.client_side_validation && key_tag.nil?
        fail ArgumentError, "Missing the required parameter 'key_tag' when calling DomainsApi.add_domain_dnssec"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.add_domain_dnssec"
      end
      # resource path
      local_var_path = '/domains/{id}/dnssec'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['algorithm'] = @api_client.build_collection_param(algorithm, :multi)
      form_params['digest_type'] = @api_client.build_collection_param(digest_type, :multi)
      form_params['digest'] = @api_client.build_collection_param(digest, :multi)
      form_params['key_tag'] = @api_client.build_collection_param(key_tag, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#add_domain_dnssec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Registered Nameserver
    # Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use `GET /domains/{id}/nameservers` to confirm that the new entry exists.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def add_domain_nameserver(body, id, opts = {})
      data, _status_code, _headers = add_domain_nameserver_with_http_info(body, id, opts)
      data
    end

    # Add Registered Nameserver
    # Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use &#x60;GET /domains/{id}/nameservers&#x60; to confirm that the new entry exists.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def add_domain_nameserver_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.add_domain_nameserver ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DomainsApi.add_domain_nameserver"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.add_domain_nameserver"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['ipAddress'] = ip_address

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#add_domain_nameserver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Registered Nameserver
    # Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use `GET /domains/{id}/nameservers` to confirm that the new entry exists.
    # @param name 
    # @param ip_address 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def add_domain_nameserver(name, ip_address, id, opts = {})
      data, _status_code, _headers = add_domain_nameserver_with_http_info(name, ip_address, id, opts)
      data
    end

    # Add Registered Nameserver
    # Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use &#x60;GET /domains/{id}/nameservers&#x60; to confirm that the new entry exists.
    # @param name 
    # @param ip_address 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def add_domain_nameserver_with_http_info(name, ip_address, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.add_domain_nameserver ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DomainsApi.add_domain_nameserver"
      end
      # verify the required parameter 'ip_address' is set
      if @api_client.config.client_side_validation && ip_address.nil?
        fail ArgumentError, "Missing the required parameter 'ip_address' when calling DomainsApi.add_domain_nameserver"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.add_domain_nameserver"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['name'] = name
      form_params['ipAddress'] = ip_address

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#add_domain_nameserver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel Domain Order
    # Cancels the domain order in the billing system. After cancellation the service will no longer auto-renew and will transition to a `canceled` status. The domain registration itself may remain active at the registrar until its current expiration date, but no further renewals will be processed. Treat the domain as inactive in downstream automation after this call succeeds.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2002]
    def cancel_domain(id, opts = {})
      data, _status_code, _headers = cancel_domain_with_http_info(id, opts)
      data
    end

    # Cancel Domain Order
    # Cancels the domain order in the billing system. After cancellation the service will no longer auto-renew and will transition to a &#x60;canceled&#x60; status. The domain registration itself may remain active at the registrar until its current expiration date, but no further renewals will be processed. Treat the domain as inactive in downstream automation after this call succeeds.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2002, Integer, Hash)>] InlineResponse2002 data, response status code and response headers
    def cancel_domain_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.cancel_domain ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.cancel_domain"
      end
      # resource path
      local_var_path = '/domains/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2002' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#cancel_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove Domain DNSSEC Records
    # Removes DNSSEC DS records from the domain registration. Use this to disable DNSSEC at the registrar level.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param action Set to &#x60;delete&#x60; to remove all DNSSEC records.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def delete_domain_dnssec(id, action, opts = {})
      data, _status_code, _headers = delete_domain_dnssec_with_http_info(id, action, opts)
      data
    end

    # Remove Domain DNSSEC Records
    # Removes DNSSEC DS records from the domain registration. Use this to disable DNSSEC at the registrar level.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param action Set to &#x60;delete&#x60; to remove all DNSSEC records.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_domain_dnssec_with_http_info(id, action, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.delete_domain_dnssec ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.delete_domain_dnssec"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling DomainsApi.delete_domain_dnssec"
      end
      # resource path
      local_var_path = '/domains/{id}/dnssec'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'action'] = action

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#delete_domain_dnssec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Registered Nameserver
    # Removes a registered nameserver (glue record) from the domain. Specify the zero-based `index` of the nameserver to remove as returned by `GET /domains/{id}/nameservers`.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param index The index of the registered nameserver from the registered nameservers list to delete.  
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def delete_domain_nameserver(id, index, opts = {})
      data, _status_code, _headers = delete_domain_nameserver_with_http_info(id, index, opts)
      data
    end

    # Delete Registered Nameserver
    # Removes a registered nameserver (glue record) from the domain. Specify the zero-based &#x60;index&#x60; of the nameserver to remove as returned by &#x60;GET /domains/{id}/nameservers&#x60;.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param index The index of the registered nameserver from the registered nameservers list to delete.  
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def delete_domain_nameserver_with_http_info(id, index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.delete_domain_nameserver ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.delete_domain_nameserver"
      end
      # verify the required parameter 'index' is set
      if @api_client.config.client_side_validation && index.nil?
        fail ArgumentError, "Missing the required parameter 'index' when calling DomainsApi.delete_domain_nameserver"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'index'] = index

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#delete_domain_nameserver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Contact Details
    # Returns the current domain contact details that will be used for the registrant, admin, technical, and billing contact records. Use this response as the basis for any contact updates.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [DomainContactDetails]
    def get_domain_contact(id, opts = {})
      data, _status_code, _headers = get_domain_contact_with_http_info(id, opts)
      data
    end

    # Get Domain Contact Details
    # Returns the current domain contact details that will be used for the registrant, admin, technical, and billing contact records. Use this response as the basis for any contact updates.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainContactDetails, Integer, Hash)>] DomainContactDetails data, response status code and response headers
    def get_domain_contact_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_contact ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_contact"
      end
      # resource path
      local_var_path = '/domains/{id}/contact'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainContactDetails' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain DNSSEC Records
    # Returns the DNSSEC DS records registered with the domain. Use the record data if you need to synchronize DNSSEC settings with another registry or to prepare an update request.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [DomainDnssecRecords]
    def get_domain_dnssec(id, opts = {})
      data, _status_code, _headers = get_domain_dnssec_with_http_info(id, opts)
      data
    end

    # Get Domain DNSSEC Records
    # Returns the DNSSEC DS records registered with the domain. Use the record data if you need to synchronize DNSSEC settings with another registry or to prepare an update request.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainDnssecRecords, Integer, Hash)>] DomainDnssecRecords data, response status code and response headers
    def get_domain_dnssec_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_dnssec ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_dnssec"
      end
      # resource path
      local_var_path = '/domains/{id}/dnssec'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainDnssecRecords' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_dnssec\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Order
    # Fetches the detailed domain service record (billing, registration, and service metadata) for the specified order ID. Use the `domain_hostname` from this response when calling `/domains/lookup/{name}` or when interacting with nameserver and DNSSEC management endpoints.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Domain]
    def get_domain_info(id, opts = {})
      data, _status_code, _headers = get_domain_info_with_http_info(id, opts)
      data
    end

    # Get Domain Order
    # Fetches the detailed domain service record (billing, registration, and service metadata) for the specified order ID. Use the &#x60;domain_hostname&#x60; from this response when calling &#x60;/domains/lookup/{name}&#x60; or when interacting with nameserver and DNSSEC management endpoints.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Domain, Integer, Hash)>] Domain data, response status code and response headers
    def get_domain_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_info"
      end
      # resource path
      local_var_path = '/domains/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Domain' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Invoices
    # Retrieves invoice records associated with the domain order. Use this to reconcile billing or to confirm whether renewals or add-ons (such as Whois privacy) have been invoiced.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_domain_invoices(id, opts = {})
      data, _status_code, _headers = get_domain_invoices_with_http_info(id, opts)
      data
    end

    # Get Domain Invoices
    # Retrieves invoice records associated with the domain order. Use this to reconcile billing or to confirm whether renewals or add-ons (such as Whois privacy) have been invoiced.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_domain_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_invoices"
      end
      # resource path
      local_var_path = '/domains/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Lookup Domain Availability and Pricing
    # Checks a domain for availability and premium status, and returns pricing information for new, renewal, and transfer actions when possible. The response also includes the order field metadata you can pass to `/domains/order` when placing a registration or transfer.
    # @param name The full domain name to look up (for example &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [DomainLookupResponse]
    def get_domain_lookup(name, opts = {})
      data, _status_code, _headers = get_domain_lookup_with_http_info(name, opts)
      data
    end

    # Lookup Domain Availability and Pricing
    # Checks a domain for availability and premium status, and returns pricing information for new, renewal, and transfer actions when possible. The response also includes the order field metadata you can pass to &#x60;/domains/order&#x60; when placing a registration or transfer.
    # @param name The full domain name to look up (for example &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainLookupResponse, Integer, Hash)>] DomainLookupResponse data, response status code and response headers
    def get_domain_lookup_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_lookup ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DomainsApi.get_domain_lookup"
      end
      # resource path
      local_var_path = '/domains/lookup/{name}'.sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainLookupResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_lookup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Registered Nameservers
    # Returns the registered nameserver hosts and glue IP addresses currently configured at the registrar. Use the returned list when adding, updating, or deleting individual nameserver records.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [DomainNameserverGetResponse]
    def get_domain_nameservers(id, opts = {})
      data, _status_code, _headers = get_domain_nameservers_with_http_info(id, opts)
      data
    end

    # List Registered Nameservers
    # Returns the registered nameserver hosts and glue IP addresses currently configured at the registrar. Use the returned list when adding, updating, or deleting individual nameserver records.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainNameserverGetResponse, Integer, Hash)>] DomainNameserverGetResponse data, response status code and response headers
    def get_domain_nameservers_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_nameservers ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_nameservers"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainNameserverGetResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_nameservers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Order Fields
    # Returns the registration-type-specific form fields required to place a domain order for the given hostname. Use the returned fields to build the POST body for `POST /domains/order`.
    # @param domain The fully qualified domain name (e.g. &#x60;example.com&#x60;).
    # @param reg_type The registration type. Common values include &#x60;register&#x60; for new registrations and &#x60;transfer&#x60; for inbound transfers.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_domain_order_fields(domain, reg_type, opts = {})
      get_domain_order_fields_with_http_info(domain, reg_type, opts)
      nil
    end

    # Get Domain Order Fields
    # Returns the registration-type-specific form fields required to place a domain order for the given hostname. Use the returned fields to build the POST body for &#x60;POST /domains/order&#x60;.
    # @param domain The fully qualified domain name (e.g. &#x60;example.com&#x60;).
    # @param reg_type The registration type. Common values include &#x60;register&#x60; for new registrations and &#x60;transfer&#x60; for inbound transfers.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_domain_order_fields_with_http_info(domain, reg_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_order_fields ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DomainsApi.get_domain_order_fields"
      end
      # verify the required parameter 'reg_type' is set
      if @api_client.config.client_side_validation && reg_type.nil?
        fail ArgumentError, "Missing the required parameter 'reg_type' when calling DomainsApi.get_domain_order_fields"
      end
      # resource path
      local_var_path = '/domains/order/{domain}/{regType}'.sub('{' + 'domain' + '}', domain.to_s).sub('{' + 'regType' + '}', reg_type.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_order_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Order Search Results
    # Returns order data for the specified domain hostname, including availability and pricing details. Use this to preview order information before placing a registration or transfer.
    # @param domain The fully qualified domain name to look up (e.g. &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_domain_order_search_results(domain, opts = {})
      get_domain_order_search_results_with_http_info(domain, opts)
      nil
    end

    # Get Domain Order Search Results
    # Returns order data for the specified domain hostname, including availability and pricing details. Use this to preview order information before placing a registration or transfer.
    # @param domain The fully qualified domain name to look up (e.g. &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_domain_order_search_results_with_http_info(domain, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_order_search_results ...'
      end
      # verify the required parameter 'domain' is set
      if @api_client.config.client_side_validation && domain.nil?
        fail ArgumentError, "Missing the required parameter 'domain' when calling DomainsApi.get_domain_order_search_results"
      end
      # resource path
      local_var_path = '/domains/order/{domain}'.sub('{' + 'domain' + '}', domain.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_order_search_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start Domain Renewal Flow
    # Starts the domain renewal workflow for an active domain. This endpoint currently returns a status message indicating that renewal handling has been triggered.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_domain_renewal(id, opts = {})
      data, _status_code, _headers = get_domain_renewal_with_http_info(id, opts)
      data
    end

    # Start Domain Renewal Flow
    # Starts the domain renewal workflow for an active domain. This endpoint currently returns a status message indicating that renewal handling has been triggered.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_domain_renewal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_renewal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_renewal"
      end
      # resource path
      local_var_path = '/domains/{id}/renew'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_renewal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Search Domain Suggestions
    # Queries the registrar for suggested domains and availability data. Use the returned `lookup` results to identify availability and then call `/domains/lookup/{name}` or `/domains/order` to obtain pricing and order fields for the chosen domain.
    # @param name The base domain name to search (for example &#x60;example&#x60; or &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [DomainSearchResponse]
    def get_domain_search(name, opts = {})
      data, _status_code, _headers = get_domain_search_with_http_info(name, opts)
      data
    end

    # Search Domain Suggestions
    # Queries the registrar for suggested domains and availability data. Use the returned &#x60;lookup&#x60; results to identify availability and then call &#x60;/domains/lookup/{name}&#x60; or &#x60;/domains/order&#x60; to obtain pricing and order fields for the chosen domain.
    # @param name The base domain name to search (for example &#x60;example&#x60; or &#x60;example.com&#x60;).
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainSearchResponse, Integer, Hash)>] DomainSearchResponse data, response status code and response headers
    def get_domain_search_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_search ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling DomainsApi.get_domain_search"
      end
      # resource path
      local_var_path = '/domains/search/{name}'.sub('{' + 'name' + '}', name.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainSearchResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start Domain Transfer Flow
    # Initiates the transfer workflow for a domain already in your account. Use this in coordination with `/domains/{id}/contact` to ensure registrant details are ready for the transfer request.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_domain_transfer(id, opts = {})
      data, _status_code, _headers = get_domain_transfer_with_http_info(id, opts)
      data
    end

    # Start Domain Transfer Flow
    # Initiates the transfer workflow for a domain already in your account. Use this in coordination with &#x60;/domains/{id}/contact&#x60; to ensure registrant details are ready for the transfer request.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_domain_transfer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_transfer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_transfer"
      end
      # resource path
      local_var_path = '/domains/{id}/transfer'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Whois Privacy Status
    # Returns status text for the Whois privacy add-on on the domain. Use this to determine whether privacy can be enabled or disabled for the current TLD before submitting updates.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_domain_whois_privacy(id, opts = {})
      data, _status_code, _headers = get_domain_whois_privacy_with_http_info(id, opts)
      data
    end

    # Get Whois Privacy Status
    # Returns status text for the Whois privacy add-on on the domain. Use this to determine whether privacy can be enabled or disabled for the current TLD before submitting updates.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_domain_whois_privacy_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domain_whois_privacy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domain_whois_privacy"
      end
      # resource path
      local_var_path = '/domains/{id}/whois'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domain_whois_privacy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Domain Orders
    # Returns the domain services on your account, including the billing order ID, hostname, expiration date, and status. Use the `domain_id` from this response with `GET /domains/{id}` to fetch full service details, or with `/domains/{id}/nameservers`, `/domains/{id}/contact`, and `/domains/{id}/whois` to manage registration settings.
    # @param [Hash] opts the optional parameters
    # @return [Array<DomainRow>]
    def get_domains_list(opts = {})
      data, _status_code, _headers = get_domains_list_with_http_info(opts)
      data
    end

    # List Domain Orders
    # Returns the domain services on your account, including the billing order ID, hostname, expiration date, and status. Use the &#x60;domain_id&#x60; from this response with &#x60;GET /domains/{id}&#x60; to fetch full service details, or with &#x60;/domains/{id}/nameservers&#x60;, &#x60;/domains/{id}/contact&#x60;, and &#x60;/domains/{id}/whois&#x60; to manage registration settings.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DomainRow>, Integer, Hash)>] Array<DomainRow> data, response status code and response headers
    def get_domains_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domains_list ...'
      end
      # resource path
      local_var_path = '/domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<DomainRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domains_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend Domain Welcome Email
    # Resends the welcome email for the domain service. The email contains registration details and management instructions.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_domains_welcome_email(id, opts = {})
      data, _status_code, _headers = get_domains_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend Domain Welcome Email
    # Resends the welcome email for the domain service. The email contains registration details and management instructions.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_domains_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_domains_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.get_domains_welcome_email"
      end
      # resource path
      local_var_path = '/domains/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_domains_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Domain Ordering Information
    # Returns the catalog of available domain services, including TLD service IDs and base Whois privacy pricing. Use the `tldServices` map to resolve a TLD into a service ID when you build an order request for `/domains/order` (POST) or the domain-field lookup endpoints.
    # @param [Hash] opts the optional parameters
    # @return [DomainOrder]
    def get_new_domain(opts = {})
      data, _status_code, _headers = get_new_domain_with_http_info(opts)
      data
    end

    # Get Domain Ordering Information
    # Returns the catalog of available domain services, including TLD service IDs and base Whois privacy pricing. Use the &#x60;tldServices&#x60; map to resolve a TLD into a service ID when you build an order request for &#x60;/domains/order&#x60; (POST) or the domain-field lookup endpoints.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainOrder, Integer, Hash)>] DomainOrder data, response status code and response headers
    def get_new_domain_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.get_new_domain ...'
      end
      # resource path
      local_var_path = '/domains/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'DomainOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#get_new_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate Domain Order
    # Returns the domain-specific field requirements for the supplied hostname and registration type. Use this to build the form data required for `/domains/order` (POST).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_domains(opts = {})
      patch_domains_with_http_info(opts)
      nil
    end

    # Validate Domain Order
    # Returns the domain-specific field requirements for the supplied hostname and registration type. Use this to build the form data required for &#x60;/domains/order&#x60; (POST).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.patch_domains ...'
      end
      # resource path
      local_var_path = '/domains/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#patch_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request Domain Renewal
    # Submits a domain renewal request for the order. Use `/domains/{id}/invoices` to identify any invoices created as part of the renewal flow.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_domain_renewal(id, opts = {})
      data, _status_code, _headers = post_domain_renewal_with_http_info(id, opts)
      data
    end

    # Request Domain Renewal
    # Submits a domain renewal request for the order. Use &#x60;/domains/{id}/invoices&#x60; to identify any invoices created as part of the renewal flow.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_domain_renewal_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.post_domain_renewal ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.post_domain_renewal"
      end
      # resource path
      local_var_path = '/domains/{id}/renew'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#post_domain_renewal\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request Domain Transfer
    # Submits a transfer request for the domain order. Use `/domains/{id}/invoices` to identify any invoices generated as part of the transfer process.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_domain_transfer(id, opts = {})
      data, _status_code, _headers = post_domain_transfer_with_http_info(id, opts)
      data
    end

    # Request Domain Transfer
    # Submits a transfer request for the domain order. Use &#x60;/domains/{id}/invoices&#x60; to identify any invoices generated as part of the transfer process.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_domain_transfer_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.post_domain_transfer ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.post_domain_transfer"
      end
      # resource path
      local_var_path = '/domains/{id}/transfer'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#post_domain_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Domain Order Search
    # Returns validation data for a domain order request (such as availability and pricing information). This is typically used as a pre-flight check before submitting a POST order.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def put_domains(opts = {})
      put_domains_with_http_info(opts)
      nil
    end

    # Domain Order Search
    # Returns validation data for a domain order request (such as availability and pricing information). This is typically used as a pre-flight check before submitting a POST order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def put_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.put_domains ...'
      end
      # resource path
      local_var_path = '/domains/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#put_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Domain Contact Details
    # Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_domain_contact(body, id, opts = {})
      data, _status_code, _headers = update_domain_contact_with_http_info(body, id, opts)
      data
    end

    # Update Domain Contact Details
    # Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_domain_contact_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.update_domain_contact ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.update_domain_contact"
      end
      # resource path
      local_var_path = '/domains/{id}/contact'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['status'] = status
      form_params['state'] = state
      form_params['org_name'] = org_name
      form_params['country'] = country
      form_params['postal_code'] = postal_code
      form_params['email'] = email
      form_params['fax'] = fax
      form_params['address2'] = address2
      form_params['address3'] = address3
      form_params['address1'] = address1
      form_params['city'] = city
      form_params['phone'] = phone
      form_params['first_name'] = first_name
      form_params['last_name'] = last_name

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#update_domain_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Domain Contact Details
    # Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.
    # @param status 
    # @param state 
    # @param org_name 
    # @param country 
    # @param postal_code 
    # @param email 
    # @param fax 
    # @param address2 
    # @param address3 
    # @param address1 
    # @param city 
    # @param phone 
    # @param first_name 
    # @param last_name 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_domain_contact(status, state, org_name, country, postal_code, email, fax, address2, address3, address1, city, phone, first_name, last_name, id, opts = {})
      data, _status_code, _headers = update_domain_contact_with_http_info(status, state, org_name, country, postal_code, email, fax, address2, address3, address1, city, phone, first_name, last_name, id, opts)
      data
    end

    # Update Domain Contact Details
    # Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.
    # @param status 
    # @param state 
    # @param org_name 
    # @param country 
    # @param postal_code 
    # @param email 
    # @param fax 
    # @param address2 
    # @param address3 
    # @param address1 
    # @param city 
    # @param phone 
    # @param first_name 
    # @param last_name 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_domain_contact_with_http_info(status, state, org_name, country, postal_code, email, fax, address2, address3, address1, city, phone, first_name, last_name, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.update_domain_contact ...'
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'org_name' is set
      if @api_client.config.client_side_validation && org_name.nil?
        fail ArgumentError, "Missing the required parameter 'org_name' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'country' is set
      if @api_client.config.client_side_validation && country.nil?
        fail ArgumentError, "Missing the required parameter 'country' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'postal_code' is set
      if @api_client.config.client_side_validation && postal_code.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'fax' is set
      if @api_client.config.client_side_validation && fax.nil?
        fail ArgumentError, "Missing the required parameter 'fax' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'address2' is set
      if @api_client.config.client_side_validation && address2.nil?
        fail ArgumentError, "Missing the required parameter 'address2' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'address3' is set
      if @api_client.config.client_side_validation && address3.nil?
        fail ArgumentError, "Missing the required parameter 'address3' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'address1' is set
      if @api_client.config.client_side_validation && address1.nil?
        fail ArgumentError, "Missing the required parameter 'address1' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'phone' is set
      if @api_client.config.client_side_validation && phone.nil?
        fail ArgumentError, "Missing the required parameter 'phone' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'first_name' is set
      if @api_client.config.client_side_validation && first_name.nil?
        fail ArgumentError, "Missing the required parameter 'first_name' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'last_name' is set
      if @api_client.config.client_side_validation && last_name.nil?
        fail ArgumentError, "Missing the required parameter 'last_name' when calling DomainsApi.update_domain_contact"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.update_domain_contact"
      end
      # resource path
      local_var_path = '/domains/{id}/contact'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['status'] = status
      form_params['state'] = state
      form_params['org_name'] = org_name
      form_params['country'] = country
      form_params['postal_code'] = postal_code
      form_params['email'] = email
      form_params['fax'] = fax
      form_params['address2'] = address2
      form_params['address3'] = address3
      form_params['address1'] = address1
      form_params['city'] = city
      form_params['phone'] = phone
      form_params['first_name'] = first_name
      form_params['last_name'] = last_name

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#update_domain_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Domain Order
    # Updates the domain service record for the order. Use this for account-level changes such as updating stored registration metadata or transfer attributes.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_domain_info(id, opts = {})
      data, _status_code, _headers = update_domain_info_with_http_info(id, opts)
      data
    end

    # Update Domain Order
    # Updates the domain service record for the order. Use this for account-level changes such as updating stored registration metadata or transfer attributes.
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_domain_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.update_domain_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.update_domain_info"
      end
      # resource path
      local_var_path = '/domains/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#update_domain_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Replace Nameserver Set
    # Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_domain_nameservers(body, id, opts = {})
      data, _status_code, _headers = update_domain_nameservers_with_http_info(body, id, opts)
      data
    end

    # Replace Nameserver Set
    # Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.
    # @param body 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_domain_nameservers_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.update_domain_nameservers ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DomainsApi.update_domain_nameservers"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.update_domain_nameservers"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['nameserver'] = @api_client.build_collection_param(nameserver, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#update_domain_nameservers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Replace Nameserver Set
    # Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.
    # @param nameserver 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def update_domain_nameservers(nameserver, id, opts = {})
      data, _status_code, _headers = update_domain_nameservers_with_http_info(nameserver, id, opts)
      data
    end

    # Replace Nameserver Set
    # Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.
    # @param nameserver 
    # @param id The domain service ID. Use &#x60;domain_id&#x60; from &#x60;GET /domains&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def update_domain_nameservers_with_http_info(nameserver, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DomainsApi.update_domain_nameservers ...'
      end
      # verify the required parameter 'nameserver' is set
      if @api_client.config.client_side_validation && nameserver.nil?
        fail ArgumentError, "Missing the required parameter 'nameserver' when calling DomainsApi.update_domain_nameservers"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsApi.update_domain_nameservers"
      end
      # resource path
      local_var_path = '/domains/{id}/nameservers'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['nameserver'] = @api_client.build_collection_param(nameserver, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsApi#update_domain_nameservers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Whois Privacy
    # Enables or disables the Whois privacy add-on for the domain. The API may create invoices when enabling privacy; use `/domains/{id}/invoices` to track billing events.
    # @param body 
[...]
