=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class MailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place Mail Order
    # Places a Mail Baby order. On success, invoices are created for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
    # @param [Hash] opts the optional parameters
    # @return [ServiceOrderPostResponse]
    def add_mail(opts = {})
      data, _status_code, _headers = add_mail_with_http_info(opts)
      data
    end

    # Place Mail Order
    # Places a Mail Baby order. On success, invoices are created for payment; use &#x60;/billing/invoices/{id}&#x60; or &#x60;/pay/{method}/{invoices}&#x60; to complete payment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceOrderPostResponse, Integer, Hash)>] ServiceOrderPostResponse data, response status code and response headers
    def add_mail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.add_mail ...'
      end
      # resource path
      local_var_path = '/mail/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServiceOrderPostResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#add_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Deny Rule
    # Adds a new deny rule to automatically block emails that match the specified criteria.
    # @param body These are the fields needed to create a new email deny rule.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def add_rule(body, id, opts = {})
      data, _status_code, _headers = add_rule_with_http_info(body, id, opts)
      data
    end

    # Create Deny Rule
    # Adds a new deny rule to automatically block emails that match the specified criteria.
    # @param body These are the fields needed to create a new email deny rule.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def add_rule_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.add_rule ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.add_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.add_rule"
      end
      # resource path
      local_var_path = '/mail/{id}/rules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['user'] = user
      form_params['type'] = type
      form_params['data'] = data

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#add_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Deny Rule
    # Adds a new deny rule to automatically block emails that match the specified criteria.
    # @param user 
    # @param type 
    # @param data 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def add_rule(user, type, data, id, opts = {})
      data, _status_code, _headers = add_rule_with_http_info(user, type, data, id, opts)
      data
    end

    # Create Deny Rule
    # Adds a new deny rule to automatically block emails that match the specified criteria.
    # @param user 
    # @param type 
    # @param data 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def add_rule_with_http_info(user, type, data, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.add_rule ...'
      end
      # verify the required parameter 'user' is set
      if @api_client.config.client_side_validation && user.nil?
        fail ArgumentError, "Missing the required parameter 'user' when calling MailApi.add_rule"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling MailApi.add_rule"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['domain', 'email', 'startswith', 'destination'].include?(type)
        fail ArgumentError, "invalid value for 'type', must be one of domain, email, startswith, destination"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling MailApi.add_rule"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.add_rule"
      end
      # resource path
      local_var_path = '/mail/{id}/rules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['user'] = user
      form_params['type'] = type
      form_params['data'] = data

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#add_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Mail Alert
    # Creates a new alert for the mail service, such as delivery or quota notifications.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def create_mail_alert(body, id, opts = {})
      data, _status_code, _headers = create_mail_alert_with_http_info(body, id, opts)
      data
    end

    # Create Mail Alert
    # Creates a new alert for the mail service, such as delivery or quota notifications.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def create_mail_alert_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_alert ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.create_mail_alert"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.create_mail_alert"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['type'] = type
      form_params['value'] = value
      form_params['to'] = to
      form_params['enabled'] = enabled

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create Mail Alert
    # Creates a new alert for the mail service, such as delivery or quota notifications.
    # @param type 
    # @param value 
    # @param to 
    # @param enabled 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def create_mail_alert(type, value, to, enabled, id, opts = {})
      data, _status_code, _headers = create_mail_alert_with_http_info(type, value, to, enabled, id, opts)
      data
    end

    # Create Mail Alert
    # Creates a new alert for the mail service, such as delivery or quota notifications.
    # @param type 
    # @param value 
    # @param to 
    # @param enabled 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def create_mail_alert_with_http_info(type, value, to, enabled, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.create_mail_alert ...'
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling MailApi.create_mail_alert"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling MailApi.create_mail_alert"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling MailApi.create_mail_alert"
      end
      # verify the required parameter 'enabled' is set
      if @api_client.config.client_side_validation && enabled.nil?
        fail ArgumentError, "Missing the required parameter 'enabled' when calling MailApi.create_mail_alert"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.create_mail_alert"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['type'] = type
      form_params['value'] = value
      form_params['to'] = to
      form_params['enabled'] = enabled

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#create_mail_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Mail Alert
    # Deletes an existing alert definition for the mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param alert_id Alert ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def delete_mail_alert(id, alert_id, opts = {})
      data, _status_code, _headers = delete_mail_alert_with_http_info(id, alert_id, opts)
      data
    end

    # Delete Mail Alert
    # Deletes an existing alert definition for the mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param alert_id Alert ID to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_mail_alert_with_http_info(id, alert_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_mail_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_mail_alert"
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling MailApi.delete_mail_alert"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'alert_id'] = alert_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_mail_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Deny Rule
    # Removes a deny rule from the mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param rule The ID of the Rules entry.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def delete_rule(id, rule, opts = {})
      data, _status_code, _headers = delete_rule_with_http_info(id, rule, opts)
      data
    end

    # Delete Deny Rule
    # Removes a deny rule from the mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param rule The ID of the Rules entry.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def delete_rule_with_http_info(id, rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delete_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delete_rule"
      end
      # verify the required parameter 'rule' is set
      if @api_client.config.client_side_validation && rule.nil?
        fail ArgumentError, "Missing the required parameter 'rule' when calling MailApi.delete_rule"
      end
      # resource path
      local_var_path = '/mail/{id}/rules/{rule}'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'rule' + '}', rule.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delete_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove Email Address from Block List
    # Removes an email address from the mail service's block lists.
    # @param email 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def delist_block(email, id, opts = {})
      data, _status_code, _headers = delist_block_with_http_info(email, id, opts)
      data
    end

    # Remove Email Address from Block List
    # Removes an email address from the mail service&#x27;s block lists.
    # @param email 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def delist_block_with_http_info(email, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delist_block ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling MailApi.delist_block"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delist_block"
      end
      # resource path
      local_var_path = '/mail/{id}/blocks/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['email'] = email

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delist_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Remove Email Address from Block List
    # Removes an email address from the mail service's block lists.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def delist_block(body, id, opts = {})
      data, _status_code, _headers = delist_block_with_http_info(body, id, opts)
      data
    end

    # Remove Email Address from Block List
    # Removes an email address from the mail service&#x27;s block lists.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def delist_block_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.delist_block ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.delist_block"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.delist_block"
      end
      # resource path
      local_var_path = '/mail/{id}/blocks/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['email'] = email

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#delist_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Mail Alerts
    # Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MailAlertsResponse]
    def get_mail_alerts(id, opts = {})
      data, _status_code, _headers = get_mail_alerts_with_http_info(id, opts)
      data
    end

    # List Mail Alerts
    # Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailAlertsResponse, Integer, Hash)>] MailAlertsResponse data, response status code and response headers
    def get_mail_alerts_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_alerts ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_alerts"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailAlertsResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Blocked Email Addresses
    # Displays a listing of the blocked email addresses
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MailBlocks]
    def get_mail_blocks(id, opts = {})
      data, _status_code, _headers = get_mail_blocks_with_http_info(id, opts)
      data
    end

    # List Blocked Email Addresses
    # Displays a listing of the blocked email addresses
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailBlocks, Integer, Hash)>] MailBlocks data, response status code and response headers
    def get_mail_blocks_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_blocks ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_blocks"
      end
      # resource path
      local_var_path = '/mail/{id}/blocks'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailBlocks' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_blocks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Delist Status
    # Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MailDelistResponse]
    def get_mail_delist(id, opts = {})
      data, _status_code, _headers = get_mail_delist_with_http_info(id, opts)
      data
    end

    # Get Delist Status
    # Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDelistResponse, Integer, Hash)>] MailDelistResponse data, response status code and response headers
    def get_mail_delist_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_delist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_delist"
      end
      # resource path
      local_var_path = '/mail/{id}/delist'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailDelistResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_delist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Deliverability Metrics
    # Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MailDeliverabilityResponse]
    def get_mail_deliverability(id, opts = {})
      data, _status_code, _headers = get_mail_deliverability_with_http_info(id, opts)
      data
    end

    # Get Deliverability Metrics
    # Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailDeliverabilityResponse, Integer, Hash)>] MailDeliverabilityResponse data, response status code and response headers
    def get_mail_deliverability_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_deliverability ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_deliverability"
      end
      # resource path
      local_var_path = '/mail/{id}/deliverability'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailDeliverabilityResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_deliverability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Mail Order
    # Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MailSchema]
    def get_mail_info(id, opts = {})
      data, _status_code, _headers = get_mail_info_with_http_info(id, opts)
      data
    end

    # Get Mail Order
    # Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailSchema, Integer, Hash)>] MailSchema data, response status code and response headers
    def get_mail_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_info"
      end
      # resource path
      local_var_path = '/mail/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Mail Invoices
    # Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_mail_invoices(id, opts = {})
      data, _status_code, _headers = get_mail_invoices_with_http_info(id, opts)
      data
    end

    # Get Mail Invoices
    # Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_mail_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_invoices"
      end
      # resource path
      local_var_path = '/mail/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Mail Orders
    # Returns the Mail Baby services on your account. Use the `mail_id` from this list with `/mail/{id}` to retrieve service details, and with `/mail/{id}/stats` or `/mail/{id}/log` to review delivery statistics.
    # @param [Hash] opts the optional parameters
    # @return [Array<MailRow>]
    def get_mail_list(opts = {})
      data, _status_code, _headers = get_mail_list_with_http_info(opts)
      data
    end

    # List Mail Orders
    # Returns the Mail Baby services on your account. Use the &#x60;mail_id&#x60; from this list with &#x60;/mail/{id}&#x60; to retrieve service details, and with &#x60;/mail/{id}/stats&#x60; or &#x60;/mail/{id}/log&#x60; to review delivery statistics.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MailRow>, Integer, Hash)>] Array<MailRow> data, response status code and response headers
    def get_mail_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_list ...'
      end
      # resource path
      local_var_path = '/mail'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<MailRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend Mail Welcome Email
    # Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_mail_welcome_email(id, opts = {})
      data, _status_code, _headers = get_mail_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend Mail Welcome Email
    # Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_mail_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_mail_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_mail_welcome_email"
      end
      # resource path
      local_var_path = '/mail/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_mail_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Mail Ordering Information
    # Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
    # @param [Hash] opts the optional parameters
    # @return [MailOrder]
    def get_new_mail(opts = {})
      data, _status_code, _headers = get_new_mail_with_http_info(opts)
      data
    end

    # Get Mail Ordering Information
    # Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MailOrder, Integer, Hash)>] MailOrder data, response status code and response headers
    def get_new_mail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_new_mail ...'
      end
      # resource path
      local_var_path = '/mail/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_new_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Deny Rules
    # Returns a listing of all the deny block rules configured for this mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<DenyRuleRecord>]
    def get_rules(id, opts = {})
      data, _status_code, _headers = get_rules_with_http_info(id, opts)
      data
    end

    # List Deny Rules
    # Returns a listing of all the deny block rules configured for this mail service.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DenyRuleRecord>, Integer, Hash)>] Array<DenyRuleRecord> data, response status code and response headers
    def get_rules_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_rules ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_rules"
      end
      # resource path
      local_var_path = '/mail/{id}/rules'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<DenyRuleRecord>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Mail Usage Statistics
    # Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time The timeframe for the statistics.
    # @return [MailStatsType]
    def get_stats(id, opts = {})
      data, _status_code, _headers = get_stats_with_http_info(id, opts)
      data
    end

    # Get Mail Usage Statistics
    # Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :time The timeframe for the statistics.
    # @return [Array<(MailStatsType, Integer, Hash)>] MailStatsType data, response status code and response headers
    def get_stats_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.get_stats ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.get_stats"
      end
      if @api_client.config.client_side_validation && opts[:'time'] && !['all', 'billing', 'month', '7d', '24h', '1d', '1h'].include?(opts[:'time'])
        fail ArgumentError, 'invalid value for "time", must be one of all, billing, month, 7d, 24h, 1d, 1h'
      end
      # resource path
      local_var_path = '/mail/{id}/stats'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'time'] = opts[:'time'] if !opts[:'time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'MailStatsType' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#get_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel Mail
    # Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2008]
    def mail_cancel(id, opts = {})
      data, _status_code, _headers = mail_cancel_with_http_info(id, opts)
      data
    end

    # Cancel Mail
    # Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2008, Integer, Hash)>] InlineResponse2008 data, response status code and response headers
    def mail_cancel_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.mail_cancel ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.mail_cancel"
      end
      # resource path
      local_var_path = '/mail/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse2008' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#mail_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delist a Blocked Sender
    # Removes an email address from blocklists for the mail service. Provide the `unblock` email address from the delist status response.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_mail_delist(body, id, opts = {})
      data, _status_code, _headers = post_mail_delist_with_http_info(body, id, opts)
      data
    end

    # Delist a Blocked Sender
    # Removes an email address from blocklists for the mail service. Provide the &#x60;unblock&#x60; email address from the delist status response.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_mail_delist_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.post_mail_delist ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.post_mail_delist"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.post_mail_delist"
      end
      # resource path
      local_var_path = '/mail/{id}/delist'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['unblock'] = unblock

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#post_mail_delist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delist a Blocked Sender
    # Removes an email address from blocklists for the mail service. Provide the `unblock` email address from the delist status response.
    # @param unblock 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def post_mail_delist(unblock, id, opts = {})
      data, _status_code, _headers = post_mail_delist_with_http_info(unblock, id, opts)
      data
    end

    # Delist a Blocked Sender
    # Removes an email address from blocklists for the mail service. Provide the &#x60;unblock&#x60; email address from the delist status response.
    # @param unblock 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def post_mail_delist_with_http_info(unblock, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.post_mail_delist ...'
      end
      # verify the required parameter 'unblock' is set
      if @api_client.config.client_side_validation && unblock.nil?
        fail ArgumentError, "Missing the required parameter 'unblock' when calling MailApi.post_mail_delist"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.post_mail_delist"
      end
      # resource path
      local_var_path = '/mail/{id}/delist'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['unblock'] = unblock

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#post_mail_delist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate Mail Order
    # Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def put_mail(opts = {})
      put_mail_with_http_info(opts)
      nil
    end

    # Validate Mail Order
    # Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def put_mail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.put_mail ...'
      end
      # resource path
      local_var_path = '/mail/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#put_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset Mail Password
    # Resets the Mail Baby service password and emails the new password to the account owner. Use `/mail/{id}` to retrieve updated credential data after the reset.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def reset_mail_password(id, opts = {})
      data, _status_code, _headers = reset_mail_password_with_http_info(id, opts)
      data
    end

    # Reset Mail Password
    # Resets the Mail Baby service password and emails the new password to the account owner. Use &#x60;/mail/{id}&#x60; to retrieve updated credential data after the reset.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def reset_mail_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.reset_mail_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.reset_mail_password"
      end
      # resource path
      local_var_path = '/mail/{id}/reset_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#reset_mail_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Email with Advanced Options
    # Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use `POST /mail/{id}/send`.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def send_adv_mail(body, id, opts = {})
      data, _status_code, _headers = send_adv_mail_with_http_info(body, id, opts)
      data
    end

    # Send Email with Advanced Options
    # Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use &#x60;POST /mail/{id}/send&#x60;.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def send_adv_mail_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_adv_mail ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.send_adv_mail"
      end
      # resource path
      local_var_path = '/mail/{id}/advsend'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['subject'] = subject
      form_params['body'] = body
      form_params['from'] = from
      form_params['to'] = @api_client.build_collection_param(to, :multi)
      form_params['replyto'] = @api_client.build_collection_param(replyto, :multi)
      form_params['cc'] = @api_client.build_collection_param(cc, :multi)
      form_params['bcc'] = @api_client.build_collection_param(bcc, :multi)
      form_params['attachments'] = @api_client.build_collection_param(attachments, :multi)
      form_params['id'] = id

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_adv_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Email with Advanced Options
    # Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use `POST /mail/{id}/send`.
    # @param subject 
    # @param body 
    # @param from 
    # @param to 
    # @param replyto 
    # @param cc 
    # @param bcc 
    # @param attachments 
    # @param id2 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def send_adv_mail(subject, body, from, to, replyto, cc, bcc, attachments, id2, id, opts = {})
      data, _status_code, _headers = send_adv_mail_with_http_info(subject, body, from, to, replyto, cc, bcc, attachments, id2, id, opts)
      data
    end

    # Send Email with Advanced Options
    # Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use &#x60;POST /mail/{id}/send&#x60;.
    # @param subject 
    # @param body 
    # @param from 
    # @param to 
    # @param replyto 
    # @param cc 
    # @param bcc 
    # @param attachments 
    # @param id2 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def send_adv_mail_with_http_info(subject, body, from, to, replyto, cc, bcc, attachments, id2, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_adv_mail ...'
      end
      # verify the required parameter 'subject' is set
      if @api_client.config.client_side_validation && subject.nil?
        fail ArgumentError, "Missing the required parameter 'subject' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'replyto' is set
      if @api_client.config.client_side_validation && replyto.nil?
        fail ArgumentError, "Missing the required parameter 'replyto' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'cc' is set
      if @api_client.config.client_side_validation && cc.nil?
        fail ArgumentError, "Missing the required parameter 'cc' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'bcc' is set
      if @api_client.config.client_side_validation && bcc.nil?
        fail ArgumentError, "Missing the required parameter 'bcc' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'attachments' is set
      if @api_client.config.client_side_validation && attachments.nil?
        fail ArgumentError, "Missing the required parameter 'attachments' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'id2' is set
      if @api_client.config.client_side_validation && id2.nil?
        fail ArgumentError, "Missing the required parameter 'id2' when calling MailApi.send_adv_mail"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.send_adv_mail"
      end
      # resource path
      local_var_path = '/mail/{id}/advsend'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['subject'] = subject
      form_params['body'] = body
      form_params['from'] = from
      form_params['to'] = @api_client.build_collection_param(to, :multi)
      form_params['replyto'] = @api_client.build_collection_param(replyto, :multi)
      form_params['cc'] = @api_client.build_collection_param(cc, :multi)
      form_params['bcc'] = @api_client.build_collection_param(bcc, :multi)
      form_params['attachments'] = @api_client.build_collection_param(attachments, :multi)
      form_params['id'] = id

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_adv_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Email
    # Sends an email through one of your mail orders. For multiple recipients or file attachments, use `POST /mail/{id}/advsend` instead.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def send_mail(body, id, opts = {})
      data, _status_code, _headers = send_mail_with_http_info(body, id, opts)
      data
    end

    # Send Email
    # Sends an email through one of your mail orders. For multiple recipients or file attachments, use &#x60;POST /mail/{id}/advsend&#x60; instead.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def send_mail_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_mail ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.send_mail"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.send_mail"
      end
      # resource path
      local_var_path = '/mail/{id}/send'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['to'] = to
      form_params['from'] = from
      form_params['subject'] = subject
      form_params['body'] = body

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Email
    # Sends an email through one of your mail orders. For multiple recipients or file attachments, use `POST /mail/{id}/advsend` instead.
    # @param to 
    # @param from 
    # @param subject 
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [GenericResponse]
    def send_mail(to, from, subject, body, id, opts = {})
      data, _status_code, _headers = send_mail_with_http_info(to, from, subject, body, id, opts)
      data
    end

    # Send Email
    # Sends an email through one of your mail orders. For multiple recipients or file attachments, use &#x60;POST /mail/{id}/advsend&#x60; instead.
    # @param to 
    # @param from 
    # @param subject 
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenericResponse, Integer, Hash)>] GenericResponse data, response status code and response headers
    def send_mail_with_http_info(to, from, subject, body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.send_mail ...'
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling MailApi.send_mail"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling MailApi.send_mail"
      end
      # verify the required parameter 'subject' is set
      if @api_client.config.client_side_validation && subject.nil?
        fail ArgumentError, "Missing the required parameter 'subject' when calling MailApi.send_mail"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.send_mail"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.send_mail"
      end
      # resource path
      local_var_path = '/mail/{id}/send'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['to'] = to
      form_params['from'] = from
      form_params['subject'] = subject
      form_params['body'] = body

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'GenericResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#send_mail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Mail Alert
    # Updates an existing alert definition for the mail service. Provide the `alert_id` returned by the list response along with updated fields.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_mail_alert(body, id, opts = {})
      data, _status_code, _headers = update_mail_alert_with_http_info(body, id, opts)
      data
    end

    # Update Mail Alert
    # Updates an existing alert definition for the mail service. Provide the &#x60;alert_id&#x60; returned by the list response along with updated fields.
    # @param body 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_mail_alert_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_mail_alert ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_mail_alert"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['alert_id'] = alert_id
      form_params['type'] = type
      form_params['value'] = value
      form_params['to'] = to
      form_params['enabled'] = enabled

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_mail_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Mail Alert
    # Updates an existing alert definition for the mail service. Provide the `alert_id` returned by the list response along with updated fields.
    # @param alert_id 
    # @param type 
    # @param value 
    # @param to 
    # @param enabled 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_mail_alert(alert_id, type, value, to, enabled, id, opts = {})
      data, _status_code, _headers = update_mail_alert_with_http_info(alert_id, type, value, to, enabled, id, opts)
      data
    end

    # Update Mail Alert
    # Updates an existing alert definition for the mail service. Provide the &#x60;alert_id&#x60; returned by the list response along with updated fields.
    # @param alert_id 
    # @param type 
    # @param value 
    # @param to 
    # @param enabled 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_mail_alert_with_http_info(alert_id, type, value, to, enabled, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_mail_alert ...'
      end
      # verify the required parameter 'alert_id' is set
      if @api_client.config.client_side_validation && alert_id.nil?
        fail ArgumentError, "Missing the required parameter 'alert_id' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'type' is set
      if @api_client.config.client_side_validation && type.nil?
        fail ArgumentError, "Missing the required parameter 'type' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'value' is set
      if @api_client.config.client_side_validation && value.nil?
        fail ArgumentError, "Missing the required parameter 'value' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'enabled' is set
      if @api_client.config.client_side_validation && enabled.nil?
        fail ArgumentError, "Missing the required parameter 'enabled' when calling MailApi.update_mail_alert"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_mail_alert"
      end
      # resource path
      local_var_path = '/mail/{id}/alerts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['alert_id'] = alert_id
      form_params['type'] = type
      form_params['value'] = value
      form_params['to'] = to
      form_params['enabled'] = enabled

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_mail_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Mail Order
    # Updates mail service metadata for the order, such as stored settings or account details.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def update_mail_info(id, opts = {})
      data, _status_code, _headers = update_mail_info_with_http_info(id, opts)
      data
    end

    # Update Mail Order
    # Updates mail service metadata for the order, such as stored settings or account details.
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def update_mail_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MailApi.update_mail_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MailApi.update_mail_info"
      end
      # resource path
      local_var_path = '/mail/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MailApi#update_mail_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View Mail Log
    # Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.  **Row grouping** is controlled by the `groupby` parameter.  By default (`groupby=recipient`), the response contains one row per delivery attempt — so a single message sent to 4 recipients produces 4 rows, each with its own `recipient`, `delivered`, `response`, and `mxHostname` values.  Set `groupby=message` to collapse to one row per message (delivery fields will reflect one arbitrary recipient).  **Pagination** is controlled by `skip` and `limit`.  The `total` in the response reflects the row count **after** grouping, so it matches the number of pages you need to fetch.  **Date filtering** accepts either a Unix timestamp (integer) or a date string parseable by PHP `strtotime()` such as `2024-01-15`, `last monday`, or `2024-01-01 00:00:00`.  Examples: `startDate=1704067200&endDate=1706745599` or `startDate=2024-01-01&endDate=2024-01-31`.  **Sorting** is controlled by `sort` and `dir`.  Currently the only sort key is `time` (default), which orders by internal row ID.  **Delivery status** can be filtered with the `delivered` parameter: `delivered=1` returns only successfully delivered messages; `delivered=0` returns messages still in queue or that failed.  **Address filtering** distinguishes between the SMTP envelope address (`from`, `to`) and message headers (`headerfrom` for the `From:` header, `replyto` for `Reply-To:`). These may differ when a message is sent on behalf of another address.  The `mailid` parameter corresponds to the `id` field in the returned `MailLogEntry` objects, **not** the `_id` field.  It also matches the transaction ID returned in the `text` field of a successful send response.  The `messageId` parameter searches the `Message-ID` email header (case-insensitive substring match). 
    # @param id The mail service ID. Use &#x60;mail_id&#x60; from &#x60;GET /mail&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :id The numeric ID of the mail order to filter by.  When omitted, logs from the first active mail order are returned.  Obtain valid IDs from &#x60;GET /mail&#x60; or &#x60;GET /mail/{id}&#x60;.
    # @option opts [String] :origin Filter by the originating IP address from which the message was submitted to the relay.  Must be a valid IPv4 or IPv6 address.
    # @option opts [String] :mx Filter by the MX hostname the relay attempted delivery to.  For example &#x60;mx.google.com&#x60; would return messages destined for Gmail recipients. Maps to &#x60;mxHostname&#x60; in the &#x60;MailLogEntry&#x60; response.
    # @option opts [String] :from Filter by SMTP envelope &#x60;MAIL FROM&#x60; address (exact match).  This is the address the relay used for bounce handling and may differ from the &#x60;From:&#x60; message header.  For header-level filtering use &#x60;headerfrom&#x60;.
    # @option opts [String] :to Filter by SMTP envelope &#x60;RCPT TO&#x60; address (exact match).  This is the delivery address used by the relay and may differ from the &#x60;To:&#x60; header when BCC recipients are involved.
[...]
