=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class QuickServersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place QuickServer Order
    # Places a QuickServer order. On success, invoices are generated for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
    # @param [Hash] opts the optional parameters
    # @return [ServiceOrderPostResponse]
    def add_qs(opts = {})
      data, _status_code, _headers = add_qs_with_http_info(opts)
      data
    end

    # Place QuickServer Order
    # Places a QuickServer order. On success, invoices are generated for payment; use &#x60;/billing/invoices/{id}&#x60; or &#x60;/pay/{method}/{invoices}&#x60; to complete payment.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceOrderPostResponse, Integer, Hash)>] ServiceOrderPostResponse data, response status code and response headers
    def add_qs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.add_qs ...'
      end
      # resource path
      local_var_path = '/qs/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServiceOrderPostResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#add_qs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete QuickServer Backup
    # Permanently removes the specified backup file from storage. Use `GET /qs/{id}/backups` to list available backup filenames before deleting.
    # @param id QuickServer ID number
    # @param file The backup filename to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [SuccessTextResponse]
    def delete_qs_backup(id, file, opts = {})
      data, _status_code, _headers = delete_qs_backup_with_http_info(id, file, opts)
      data
    end

    # Delete QuickServer Backup
    # Permanently removes the specified backup file from storage. Use &#x60;GET /qs/{id}/backups&#x60; to list available backup filenames before deleting.
    # @param id QuickServer ID number
    # @param file The backup filename to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_qs_backup_with_http_info(id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.delete_qs_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.delete_qs_backup"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling QuickServersApi.delete_qs_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/qs/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'file'] = file
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#delete_qs_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Block QuickServer SMTP
    # Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_block_smtp(id, opts = {})
      data, _status_code, _headers = do_qs_block_smtp_with_http_info(id, opts)
      data
    end

    # Block QuickServer SMTP
    # Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_block_smtp_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_block_smtp ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_block_smtp"
      end
      # resource path
      local_var_path = '/qs/{id}/block_smtp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_block_smtp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable CD Drive
    # Disables the virtual CD drive for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_disable_cd(id, opts = {})
      data, _status_code, _headers = do_qs_disable_cd_with_http_info(id, opts)
      data
    end

    # Disable CD Drive
    # Disables the virtual CD drive for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_disable_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_disable_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_disable_cd"
      end
      # resource path
      local_var_path = '/qs/{id}/disable_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_disable_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable Quotas
    # Disables disk quota enforcement for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_disable_quota(id, opts = {})
      data, _status_code, _headers = do_qs_disable_quota_with_http_info(id, opts)
      data
    end

    # Disable Quotas
    # Disables disk quota enforcement for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_disable_quota_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_disable_quota ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_disable_quota"
      end
      # resource path
      local_var_path = '/qs/{id}/disable_quota'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_disable_quota\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Eject CD Drive
    # Ejects the virtual CD from the QuickServer's CD drive.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_eject_cd(id, opts = {})
      data, _status_code, _headers = do_qs_eject_cd_with_http_info(id, opts)
      data
    end

    # Eject CD Drive
    # Ejects the virtual CD from the QuickServer&#x27;s CD drive.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_eject_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_eject_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_eject_cd"
      end
      # resource path
      local_var_path = '/qs/{id}/eject_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_eject_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable Quotas
    # Enables disk quota enforcement for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_enable_quota(id, opts = {})
      data, _status_code, _headers = do_qs_enable_quota_with_http_info(id, opts)
      data
    end

    # Enable Quotas
    # Enables disk quota enforcement for the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_enable_quota_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_enable_quota ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_enable_quota"
      end
      # resource path
      local_var_path = '/qs/{id}/enable_quota'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_enable_quota\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart QuickServer
    # Restarts the QuickServer. The server will be shut down and started again.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_restart(id, opts = {})
      data, _status_code, _headers = do_qs_restart_with_http_info(id, opts)
      data
    end

    # Restart QuickServer
    # Restarts the QuickServer. The server will be shut down and started again.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_restart_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_restart ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_restart"
      end
      # resource path
      local_var_path = '/qs/{id}/restart'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start QuickServer
    # Powers on the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_start(id, opts = {})
      data, _status_code, _headers = do_qs_start_with_http_info(id, opts)
      data
    end

    # Start QuickServer
    # Powers on the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_start_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_start ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_start"
      end
      # resource path
      local_var_path = '/qs/{id}/start'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Stop QuickServer
    # Powers off the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_qs_stop(id, opts = {})
      data, _status_code, _headers = do_qs_stop_with_http_info(id, opts)
      data
    end

    # Stop QuickServer
    # Powers off the QuickServer.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_qs_stop_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.do_qs_stop ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.do_qs_stop"
      end
      # resource path
      local_var_path = '/qs/{id}/stop'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#do_qs_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Download QuickServer Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /qs/{id}/backups` to list available backup filenames.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [InlineResponse20011]
    def download_qs_backup(body, id, opts = {})
      data, _status_code, _headers = download_qs_backup_with_http_info(body, id, opts)
      data
    end

    # Download QuickServer Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /qs/{id}/backups&#x60; to list available backup filenames.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [Array<(InlineResponse20011, Integer, Hash)>] InlineResponse20011 data, response status code and response headers
    def download_qs_backup_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.download_qs_backup ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling QuickServersApi.download_qs_backup"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.download_qs_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/qs/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20011' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#download_qs_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Download QuickServer Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /qs/{id}/backups` to list available backup filenames.
    # @param file 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [InlineResponse20011]
    def download_qs_backup(file, id, opts = {})
      data, _status_code, _headers = download_qs_backup_with_http_info(file, id, opts)
      data
    end

    # Download QuickServer Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /qs/{id}/backups&#x60; to list available backup filenames.
    # @param file 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [Array<(InlineResponse20011, Integer, Hash)>] InlineResponse20011 data, response status code and response headers
    def download_qs_backup_with_http_info(file, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.download_qs_backup ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling QuickServersApi.download_qs_backup"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.download_qs_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/qs/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20011' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#download_qs_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get QuickServer Ordering Information
    # Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.
    # @param [Hash] opts the optional parameters
    # @return [QuickserverOrder]
    def get_new_qs(opts = {})
      data, _status_code, _headers = get_new_qs_with_http_info(opts)
      data
    end

    # Get QuickServer Ordering Information
    # Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuickserverOrder, Integer, Hash)>] QuickserverOrder data, response status code and response headers
    def get_new_qs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_new_qs ...'
      end
      # resource path
      local_var_path = '/qs/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QuickserverOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_new_qs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List QuickServer Backups
    # Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /qs/{id}/backups` to download or `DELETE /qs/{id}/backups` to remove a backup. Use `POST /qs/{id}/restore` to restore from a backup.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [VpsBackupRows]
    def get_qs_backups(id, opts = {})
      data, _status_code, _headers = get_qs_backups_with_http_info(id, opts)
      data
    end

    # List QuickServer Backups
    # Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup &#x60;name&#x60; value with &#x60;PATCH /qs/{id}/backups&#x60; to download or &#x60;DELETE /qs/{id}/backups&#x60; to remove a backup. Use &#x60;POST /qs/{id}/restore&#x60; to restore from a backup.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given QuickServer.
    # @return [Array<(VpsBackupRows, Integer, Hash)>] VpsBackupRows data, response status code and response headers
    def get_qs_backups_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_backups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_backups"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/qs/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsBackupRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get QuickServer Hostname
    # Retrieves the current hostname and any validation requirements for changing it.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_change_hostname(id, opts = {})
      get_qs_change_hostname_with_http_info(id, opts)
      nil
    end

    # Get QuickServer Hostname
    # Retrieves the current hostname and any validation requirements for changing it.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_change_hostname_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_change_hostname ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_change_hostname"
      end
      # resource path
      local_var_path = '/qs/{id}/change_hostname'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_change_hostname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Change Root Password Info
    # Retrieves instructions or metadata needed to reset the root password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_change_root_password(id, opts = {})
      get_qs_change_root_password_with_http_info(id, opts)
      nil
    end

    # Get Change Root Password Info
    # Retrieves instructions or metadata needed to reset the root password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_change_root_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_change_root_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_change_root_password"
      end
      # resource path
      local_var_path = '/qs/{id}/change_root_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_change_root_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Timezone Info
    # Returns the list of available timezones that can be set on the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_qs_change_timezone(id, opts = {})
      data, _status_code, _headers = get_qs_change_timezone_with_http_info(id, opts)
      data
    end

    # Get Timezone Info
    # Returns the list of available timezones that can be set on the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def get_qs_change_timezone_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_change_timezone ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_change_timezone"
      end
      # resource path
      local_var_path = '/qs/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<String>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Webuzo Change Pass Info
    # Retrieves instructions or metadata for changing the Webuzo control panel password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_change_webuzo_password(id, opts = {})
      get_qs_change_webuzo_password_with_http_info(id, opts)
      nil
    end

    # Webuzo Change Pass Info
    # Retrieves instructions or metadata for changing the Webuzo control panel password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_change_webuzo_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_change_webuzo_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_change_webuzo_password"
      end
      # resource path
      local_var_path = '/qs/{id}/change_webuzo_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_change_webuzo_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get QuickServer Order
    # Returns detailed QuickServer information, including credentials, IPs, and available client actions.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Quickserver]
    def get_qs_info(id, opts = {})
      data, _status_code, _headers = get_qs_info_with_http_info(id, opts)
      data
    end

    # Get QuickServer Order
    # Returns detailed QuickServer information, including credentials, IPs, and available client actions.
    # @param id QuickServer ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Quickserver, Integer, Hash)>] Quickserver data, response status code and response headers
    def get_qs_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_info"
      end
      # resource path
      local_var_path = '/qs/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Quickserver' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Insert CD Information
    # Returns available ISO images that can be mounted in the QuickServer's virtual CD drive.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_insert_cd(id, opts = {})
      get_qs_insert_cd_with_http_info(id, opts)
      nil
    end

    # Insert CD Information
    # Returns available ISO images that can be mounted in the QuickServer&#x27;s virtual CD drive.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_insert_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_insert_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_insert_cd"
      end
      # resource path
      local_var_path = '/qs/{id}/insert_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_insert_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get QuickServer Invoices
    # Returns the billing invoices associated with this QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_qs_invoices(id, opts = {})
      data, _status_code, _headers = get_qs_invoices_with_http_info(id, opts)
      data
    end

    # Get QuickServer Invoices
    # Returns the billing invoices associated with this QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_qs_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_invoices"
      end
      # resource path
      local_var_path = '/qs/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List QuickServers
    # Returns the QuickServer services on your account. Use the `qs_id` values with `/qs/{id}` for details or with the action endpoints (restart, backup, etc.) to manage each server.
    # @param [Hash] opts the optional parameters
    # @return [Array<QuickserverRow>]
    def get_qs_list(opts = {})
      data, _status_code, _headers = get_qs_list_with_http_info(opts)
      data
    end

    # List QuickServers
    # Returns the QuickServer services on your account. Use the &#x60;qs_id&#x60; values with &#x60;/qs/{id}&#x60; for details or with the action endpoints (restart, backup, etc.) to manage each server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<QuickserverRow>, Integer, Hash)>] Array<QuickserverRow> data, response status code and response headers
    def get_qs_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_list ...'
      end
      # resource path
      local_var_path = '/qs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<QuickserverRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # QuickServer Reinstall OS Options
    # Returns the list of available operating system templates for reinstalling the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [VpsTemplatesList]
    def get_qs_reinstall_os(id, opts = {})
      data, _status_code, _headers = get_qs_reinstall_os_with_http_info(id, opts)
      data
    end

    # QuickServer Reinstall OS Options
    # Returns the list of available operating system templates for reinstalling the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpsTemplatesList, Integer, Hash)>] VpsTemplatesList data, response status code and response headers
    def get_qs_reinstall_os_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_reinstall_os ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_reinstall_os"
      end
      # resource path
      local_var_path = '/qs/{id}/reinstall_os'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsTemplatesList' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_reinstall_os\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset QuickServer Password Info
    # Returns information needed before resetting the QuickServer's root password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_reset_password(id, opts = {})
      get_qs_reset_password_with_http_info(id, opts)
      nil
    end

    # Reset QuickServer Password Info
    # Returns information needed before resetting the QuickServer&#x27;s root password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_reset_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_reset_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_reset_password"
      end
      # resource path
      local_var_path = '/qs/{id}/reset_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_reset_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the QuickServer's IP addresses.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [ReverseDnsEntries]
    def get_qs_reverse_dns(id, opts = {})
      data, _status_code, _headers = get_qs_reverse_dns_with_http_info(id, opts)
      data
    end

    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the QuickServer&#x27;s IP addresses.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReverseDnsEntries, Integer, Hash)>] ReverseDnsEntries data, response status code and response headers
    def get_qs_reverse_dns_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_reverse_dns ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_reverse_dns"
      end
      # resource path
      local_var_path = '/qs/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ReverseDnsEntries' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VNC Setup Info
    # Returns the current VNC connection information for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_setup_vnc(id, opts = {})
      get_qs_setup_vnc_with_http_info(id, opts)
      nil
    end

    # VNC Setup Info
    # Returns the current VNC connection information for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_setup_vnc_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_setup_vnc ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_setup_vnc"
      end
      # resource path
      local_var_path = '/qs/{id}/setup_vnc'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_setup_vnc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Traffic Usage
    # Returns bandwidth traffic usage data for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_traffic_usage(id, opts = {})
      get_qs_traffic_usage_with_http_info(id, opts)
      nil
    end

    # Get Traffic Usage
    # Returns bandwidth traffic usage data for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_traffic_usage_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_traffic_usage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_traffic_usage"
      end
      # resource path
      local_var_path = '/qs/{id}/traffic_usage'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_traffic_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get View Desktop Info
    # Returns remote desktop connection information for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_qs_view_desktop(id, opts = {})
      get_qs_view_desktop_with_http_info(id, opts)
      nil
    end

    # Get View Desktop Info
    # Returns remote desktop connection information for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_qs_view_desktop_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_view_desktop ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_view_desktop"
      end
      # resource path
      local_var_path = '/qs/{id}/view_desktop'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_view_desktop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend QuickServer Welcome Email
    # Resends the welcome email containing connection details and credentials for the QuickServer order.
    # @param id Quickserver ID
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def get_qs_welcome_email(id, opts = {})
      data, _status_code, _headers = get_qs_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend QuickServer Welcome Email
    # Resends the welcome email containing connection details and credentials for the QuickServer order.
    # @param id Quickserver ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def get_qs_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.get_qs_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.get_qs_welcome_email"
      end
      # resource path
      local_var_path = '/qs/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#get_qs_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create QuickServer Backup
    # Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_backup(id, opts = {})
      data, _status_code, _headers = post_qs_backup_with_http_info(id, opts)
      data
    end

    # Create QuickServer Backup
    # Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_backup_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_backup"
      end
      # resource path
      local_var_path = '/qs/{id}/backup'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update QuickServer Hostname
    # Submits a hostname change request for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_change_hostname(id, opts = {})
      data, _status_code, _headers = post_qs_change_hostname_with_http_info(id, opts)
      data
    end

    # Update QuickServer Hostname
    # Submits a hostname change request for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_change_hostname_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_change_hostname ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_change_hostname"
      end
      # resource path
      local_var_path = '/qs/{id}/change_hostname'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_change_hostname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change Root Password
    # Triggers a root password reset for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_change_root_password(id, opts = {})
      data, _status_code, _headers = post_qs_change_root_password_with_http_info(id, opts)
      data
    end

    # Change Root Password
    # Triggers a root password reset for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_change_root_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_change_root_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_change_root_password"
      end
      # resource path
      local_var_path = '/qs/{id}/change_root_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_change_root_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change QuickServer Timezone
    # Changes the system timezone on the QuickServer. Use `GET /qs/{id}/change_timezone` to list available options first.
    # @param timezone 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_change_timezone(timezone, id, opts = {})
      data, _status_code, _headers = post_qs_change_timezone_with_http_info(timezone, id, opts)
      data
    end

    # Change QuickServer Timezone
    # Changes the system timezone on the QuickServer. Use &#x60;GET /qs/{id}/change_timezone&#x60; to list available options first.
    # @param timezone 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_change_timezone_with_http_info(timezone, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_change_timezone ...'
      end
      # verify the required parameter 'timezone' is set
      if @api_client.config.client_side_validation && timezone.nil?
        fail ArgumentError, "Missing the required parameter 'timezone' when calling QuickServersApi.post_qs_change_timezone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_change_timezone"
      end
      # resource path
      local_var_path = '/qs/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['timezone'] = timezone

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change QuickServer Timezone
    # Changes the system timezone on the QuickServer. Use `GET /qs/{id}/change_timezone` to list available options first.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_change_timezone(body, id, opts = {})
      data, _status_code, _headers = post_qs_change_timezone_with_http_info(body, id, opts)
      data
    end

    # Change QuickServer Timezone
    # Changes the system timezone on the QuickServer. Use &#x60;GET /qs/{id}/change_timezone&#x60; to list available options first.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_change_timezone_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_change_timezone ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling QuickServersApi.post_qs_change_timezone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_change_timezone"
      end
      # resource path
      local_var_path = '/qs/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['timezone'] = timezone

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change Webuzo Password
    # Resets the Webuzo control panel password for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_change_webuzo_password(id, opts = {})
      data, _status_code, _headers = post_qs_change_webuzo_password_with_http_info(id, opts)
      data
    end

    # Change Webuzo Password
    # Resets the Webuzo control panel password for the QuickServer.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_change_webuzo_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_change_webuzo_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_change_webuzo_password"
      end
      # resource path
      local_var_path = '/qs/{id}/change_webuzo_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_change_webuzo_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Insert CD in QuickServer
    # Mounts an ISO image in the QuickServer's virtual CD drive. Use `GET /qs/{id}/insert_cd` to list available images.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_insert_cd(id, opts = {})
      data, _status_code, _headers = post_qs_insert_cd_with_http_info(id, opts)
      data
    end

    # Insert CD in QuickServer
    # Mounts an ISO image in the QuickServer&#x27;s virtual CD drive. Use &#x60;GET /qs/{id}/insert_cd&#x60; to list available images.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_insert_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_insert_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_insert_cd"
      end
      # resource path
      local_var_path = '/qs/{id}/insert_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_insert_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reinstall QuickServer OS
    # Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_reinstall_os(id, opts = {})
      data, _status_code, _headers = post_qs_reinstall_os_with_http_info(id, opts)
      data
    end

    # Reinstall QuickServer OS
    # Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_reinstall_os_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_reinstall_os ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_reinstall_os"
      end
      # resource path
      local_var_path = '/qs/{id}/reinstall_os'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_reinstall_os\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reset QuickServer Password
    # Resets the root password on the QuickServer to a new randomly generated password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_qs_reset_password(id, opts = {})
      data, _status_code, _headers = post_qs_reset_password_with_http_info(id, opts)
      data
    end

    # Reset QuickServer Password
    # Resets the root password on the QuickServer to a new randomly generated password.
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_qs_reset_password_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_reset_password ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_reset_password"
      end
      # resource path
      local_var_path = '/qs/{id}/reset_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_reset_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the QuickServer's IP addresses.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_qs_reverse_dns(body, id, opts = {})
      data, _status_code, _headers = post_qs_reverse_dns_with_http_info(body, id, opts)
      data
    end

    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the QuickServer&#x27;s IP addresses.
    # @param body 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_qs_reverse_dns_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_reverse_dns ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling QuickServersApi.post_qs_reverse_dns"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling QuickServersApi.post_qs_reverse_dns"
      end
      # resource path
      local_var_path = '/qs/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuickServersApi#post_qs_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the QuickServer's IP addresses.
    # @param ips 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_qs_reverse_dns(ips, id, opts = {})
      data, _status_code, _headers = post_qs_reverse_dns_with_http_info(ips, id, opts)
      data
    end

    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the QuickServer&#x27;s IP addresses.
    # @param ips 
    # @param id QuickServer ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_qs_reverse_dns_with_http_info(ips, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuickServersApi.post_qs_reverse_dns ...'
      end
      # verify the required parameter 'ips' is set
      if @api_client.config.client_side_validation && ips.nil?
[...]
