=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class ServersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place Server Order
    # Places an order for a new dedicated server. Use `PUT /servers/order` to validate the order first.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_server(opts = {})
      add_server_with_http_info(opts)
      nil
    end

    # Place Server Order
    # Places an order for a new dedicated server. Use &#x60;PUT /servers/order&#x60; to validate the order first.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_server_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.add_server ...'
      end
      # resource path
      local_var_path = '/servers/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#add_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Buy Now Server Options
    # Returns the configuration options and pricing for buy-it-now dedicated servers, including available bandwidth packages, IP blocks, operating systems, control panels, and RAID configurations. Use the returned option IDs when placing an order via `POST /servers/order/buy_now_server`.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20026]
    def buy_it_now_server_order(opts = {})
      data, _status_code, _headers = buy_it_now_server_order_with_http_info(opts)
      data
    end

    # Get Buy Now Server Options
    # Returns the configuration options and pricing for buy-it-now dedicated servers, including available bandwidth packages, IP blocks, operating systems, control panels, and RAID configurations. Use the returned option IDs when placing an order via &#x60;POST /servers/order/buy_now_server&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20026, Integer, Hash)>] InlineResponse20026 data, response status code and response headers
    def buy_it_now_server_order_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.buy_it_now_server_order ...'
      end
      # resource path
      local_var_path = '/servers/order/buy_now_server'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20026' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#buy_it_now_server_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Marketplace Servers
    # Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.
    # @param [Hash] opts the optional parameters
    # @return [BuyItNowList]
    def get_mp_servers(opts = {})
      data, _status_code, _headers = get_mp_servers_with_http_info(opts)
      data
    end

    # List Marketplace Servers
    # Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.
    # @param [Hash] opts the optional parameters
    # @return [Array<(BuyItNowList, Integer, Hash)>] BuyItNowList data, response status code and response headers
    def get_mp_servers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_mp_servers ...'
      end
      # resource path
      local_var_path = '/buy_now_servers_list'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BuyItNowList' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_mp_servers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server Ordering Information
    # Retrieves available server configurations and pricing for ordering a new dedicated server.
    # @param [Hash] opts the optional parameters
    # @return [ServerOrder]
    def get_new_server(opts = {})
      data, _status_code, _headers = get_new_server_with_http_info(opts)
      data
    end

    # Server Ordering Information
    # Retrieves available server configurations and pricing for ordering a new dedicated server.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerOrder, Integer, Hash)>] ServerOrder data, response status code and response headers
    def get_new_server_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_new_server ...'
      end
      # resource path
      local_var_path = '/servers/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_new_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Server Order
    # Returns detailed information about a specific server including its hardware configuration, IPs, and status.
    # @param id Server ID number.
    # @param [Hash] opts the optional parameters
    # @return [Server]
    def get_server_info(id, opts = {})
      data, _status_code, _headers = get_server_info_with_http_info(id, opts)
      data
    end

    # Get Server Order
    # Returns detailed information about a specific server including its hardware configuration, IPs, and status.
    # @param id Server ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Server, Integer, Hash)>] Server data, response status code and response headers
    def get_server_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_server_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.get_server_info"
      end
      # resource path
      local_var_path = '/servers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Server' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_server_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Server Invoices
    # Returns the billing invoices associated with this dedicated server.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_server_invoices(id, opts = {})
      data, _status_code, _headers = get_server_invoices_with_http_info(id, opts)
      data
    end

    # Get Server Invoices
    # Returns the billing invoices associated with this dedicated server.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_server_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_server_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.get_server_invoices"
      end
      # resource path
      local_var_path = '/servers/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_server_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Servers
    # Returns all dedicated server services on the account with their current status and configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<ServerRow>]
    def get_server_list(opts = {})
      data, _status_code, _headers = get_server_list_with_http_info(opts)
      data
    end

    # List Servers
    # Returns all dedicated server services on the account with their current status and configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ServerRow>, Integer, Hash)>] Array<ServerRow> data, response status code and response headers
    def get_server_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_server_list ...'
      end
      # resource path
      local_var_path = '/servers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<ServerRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_server_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the server's IP addresses.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [ReverseDnsEntries]
    def get_server_reverse_dns(id, opts = {})
      data, _status_code, _headers = get_server_reverse_dns_with_http_info(id, opts)
      data
    end

    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the server&#x27;s IP addresses.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReverseDnsEntries, Integer, Hash)>] ReverseDnsEntries data, response status code and response headers
    def get_server_reverse_dns_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_server_reverse_dns ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.get_server_reverse_dns"
      end
      # resource path
      local_var_path = '/servers/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ReverseDnsEntries' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_server_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend Server Welcome Email
    # Resends the welcome email for the order.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_servers_welcome_email(id, opts = {})
      data, _status_code, _headers = get_servers_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend Server Welcome Email
    # Resends the welcome email for the order.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_servers_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.get_servers_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.get_servers_welcome_email"
      end
      # resource path
      local_var_path = '/servers/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#get_servers_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Place Buy Now Server Order
    # Places an order for a buy-it-now dedicated server. Use `GET /servers/order/buy_now_server` to retrieve available server configurations and their IDs before ordering.
    # @param [Hash] opts the optional parameters
    # @option opts [OrderBuyNowServerBody] :body 
    # @return [ServersBuyNowResponse]
    def place_buy_now_server(opts = {})
      data, _status_code, _headers = place_buy_now_server_with_http_info(opts)
      data
    end

    # Place Buy Now Server Order
    # Places an order for a buy-it-now dedicated server. Use &#x60;GET /servers/order/buy_now_server&#x60; to retrieve available server configurations and their IDs before ordering.
    # @param [Hash] opts the optional parameters
    # @option opts [OrderBuyNowServerBody] :body 
    # @return [Array<(ServersBuyNowResponse, Integer, Hash)>] ServersBuyNowResponse data, response status code and response headers
    def place_buy_now_server_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.place_buy_now_server ...'
      end
      # resource path
      local_var_path = '/servers/order/buy_now_server'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ServersBuyNowResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#place_buy_now_server\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the server's IP addresses.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_server_reverse_dns(body, id, opts = {})
      data, _status_code, _headers = post_server_reverse_dns_with_http_info(body, id, opts)
      data
    end

    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the server&#x27;s IP addresses.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_server_reverse_dns_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.post_server_reverse_dns ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ServersApi.post_server_reverse_dns"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.post_server_reverse_dns"
      end
      # resource path
      local_var_path = '/servers/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#post_server_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the server's IP addresses.
    # @param ips 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_server_reverse_dns(ips, id, opts = {})
      data, _status_code, _headers = post_server_reverse_dns_with_http_info(ips, id, opts)
      data
    end

    # Update Reverse DNS
    # Updates the reverse DNS (PTR record) entries for the server&#x27;s IP addresses.
    # @param ips 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_server_reverse_dns_with_http_info(ips, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.post_server_reverse_dns ...'
      end
      # verify the required parameter 'ips' is set
      if @api_client.config.client_side_validation && ips.nil?
        fail ArgumentError, "Missing the required parameter 'ips' when calling ServersApi.post_server_reverse_dns"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.post_server_reverse_dns"
      end
      # resource path
      local_var_path = '/servers/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#post_server_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate Server Order
    # Validates a server order before placing it. Use this to check for errors before committing to a purchase.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def put_servers(opts = {})
      put_servers_with_http_info(opts)
      nil
    end

    # Validate Server Order
    # Validates a server order before placing it. Use this to check for errors before committing to a purchase.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def put_servers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.put_servers ...'
      end
      # resource path
      local_var_path = '/servers/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#put_servers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server IPMI Live Information
    # Returns the current IPMI live connection information for the server.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [ServerIpmiLiveInfo]
    def server_ipmi_live_get(id, opts = {})
      data, _status_code, _headers = server_ipmi_live_get_with_http_info(id, opts)
      data
    end

    # Server IPMI Live Information
    # Returns the current IPMI live connection information for the server.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerIpmiLiveInfo, Integer, Hash)>] ServerIpmiLiveInfo data, response status code and response headers
    def server_ipmi_live_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_live_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_live_get"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_live'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ServerIpmiLiveInfo' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_live_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server IPMI Live Setup
    # Configures IPMI live access by whitelisting your current IP address for connections to the server's IPMI management interface.
    # @param asset 
    # @param ip 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [ServerIpmiLiveInfo]
    def server_ipmi_live_post(asset, ip, id, opts = {})
      data, _status_code, _headers = server_ipmi_live_post_with_http_info(asset, ip, id, opts)
      data
    end

    # Server IPMI Live Setup
    # Configures IPMI live access by whitelisting your current IP address for connections to the server&#x27;s IPMI management interface.
    # @param asset 
    # @param ip 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerIpmiLiveInfo, Integer, Hash)>] ServerIpmiLiveInfo data, response status code and response headers
    def server_ipmi_live_post_with_http_info(asset, ip, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_live_post ...'
      end
      # verify the required parameter 'asset' is set
      if @api_client.config.client_side_validation && asset.nil?
        fail ArgumentError, "Missing the required parameter 'asset' when calling ServersApi.server_ipmi_live_post"
      end
      # verify the required parameter 'ip' is set
      if @api_client.config.client_side_validation && ip.nil?
        fail ArgumentError, "Missing the required parameter 'ip' when calling ServersApi.server_ipmi_live_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_live_post"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_live'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['asset'] = asset
      form_params['ip'] = ip

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerIpmiLiveInfo' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_live_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server IPMI Live Setup
    # Configures IPMI live access by whitelisting your current IP address for connections to the server's IPMI management interface.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [ServerIpmiLiveInfo]
    def server_ipmi_live_post(body, id, opts = {})
      data, _status_code, _headers = server_ipmi_live_post_with_http_info(body, id, opts)
      data
    end

    # Server IPMI Live Setup
    # Configures IPMI live access by whitelisting your current IP address for connections to the server&#x27;s IPMI management interface.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServerIpmiLiveInfo, Integer, Hash)>] ServerIpmiLiveInfo data, response status code and response headers
    def server_ipmi_live_post_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_live_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ServersApi.server_ipmi_live_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_live_post"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_live'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['asset'] = asset
      form_params['ip'] = ip

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'ServerIpmiLiveInfo' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_live_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get IPMI Power Status
    # Returns the chassis power status from ipmi.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def server_ipmi_power_get(id, opts = {})
      data, _status_code, _headers = server_ipmi_power_get_with_http_info(id, opts)
      data
    end

    # Get IPMI Power Status
    # Returns the chassis power status from ipmi.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def server_ipmi_power_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_power_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_power_get"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_power'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_power_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server IPMI Power
    # Uses the IPMI interface to set the Power status on the server.
    # @param asset 
    # @param action 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def server_ipmi_power_post(asset, action, id, opts = {})
      data, _status_code, _headers = server_ipmi_power_post_with_http_info(asset, action, id, opts)
      data
    end

    # Server IPMI Power
    # Uses the IPMI interface to set the Power status on the server.
    # @param asset 
    # @param action 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def server_ipmi_power_post_with_http_info(asset, action, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_power_post ...'
      end
      # verify the required parameter 'asset' is set
      if @api_client.config.client_side_validation && asset.nil?
        fail ArgumentError, "Missing the required parameter 'asset' when calling ServersApi.server_ipmi_power_post"
      end
      # verify the required parameter 'action' is set
      if @api_client.config.client_side_validation && action.nil?
        fail ArgumentError, "Missing the required parameter 'action' when calling ServersApi.server_ipmi_power_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['cycle', 'reset', 'on', 'off', 'soft'].include?(action)
        fail ArgumentError, "invalid value for 'action', must be one of cycle, reset, on, off, soft"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_power_post"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_power'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['asset'] = asset
      form_params['action'] = action

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_power_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Server IPMI Power
    # Uses the IPMI interface to set the Power status on the server.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def server_ipmi_power_post(body, id, opts = {})
      data, _status_code, _headers = server_ipmi_power_post_with_http_info(body, id, opts)
      data
    end

    # Server IPMI Power
    # Uses the IPMI interface to set the Power status on the server.
    # @param body 
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def server_ipmi_power_post_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.server_ipmi_power_post ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling ServersApi.server_ipmi_power_post"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.server_ipmi_power_post"
      end
      # resource path
      local_var_path = '/servers/{id}/ipmi_power'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['asset'] = asset
      form_params['action'] = action

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#server_ipmi_power_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel Server Service
    # Cancels the dedicated server service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20019]
    def servers_cancel(id, opts = {})
      data, _status_code, _headers = servers_cancel_with_http_info(id, opts)
      data
    end

    # Cancel Server Service
    # Cancels the dedicated server service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
    # @param id Server ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20019, Integer, Hash)>] InlineResponse20019 data, response status code and response headers
    def servers_cancel_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.servers_cancel ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.servers_cancel"
      end
      # resource path
      local_var_path = '/servers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20019' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#servers_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Server Order
    # Updates settings on a dedicated server order.
    # @param id Server ID number.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_server_info(id, opts = {})
      update_server_info_with_http_info(id, opts)
      nil
    end

    # Update Server Order
    # Updates settings on a dedicated server order.
    # @param id Server ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_server_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServersApi.update_server_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServersApi.update_server_info"
      end
      # resource path
      local_var_path = '/servers/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServersApi#update_server_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
