=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class TicketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create New Ticket
    # Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [TicketNewResponse]
    def add_new_ticket(body, opts = {})
      data, _status_code, _headers = add_new_ticket_with_http_info(body, opts)
      data
    end

    # Create New Ticket
    # Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
    # @param body 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketNewResponse, Integer, Hash)>] TicketNewResponse data, response status code and response headers
    def add_new_ticket_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.add_new_ticket ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TicketsApi.add_new_ticket"
      end
      # resource path
      local_var_path = '/tickets/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['subject'] = subject
      form_params['body'] = body
      form_params['service_id'] = service_id
      form_params['service_module'] = service_module

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TicketNewResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#add_new_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create New Ticket
    # Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
    # @param subject 
    # @param body 
    # @param service_id 
    # @param service_module 
    # @param [Hash] opts the optional parameters
    # @return [TicketNewResponse]
    def add_new_ticket(subject, body, service_id, service_module, opts = {})
      data, _status_code, _headers = add_new_ticket_with_http_info(subject, body, service_id, service_module, opts)
      data
    end

    # Create New Ticket
    # Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
    # @param subject 
    # @param body 
    # @param service_id 
    # @param service_module 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketNewResponse, Integer, Hash)>] TicketNewResponse data, response status code and response headers
    def add_new_ticket_with_http_info(subject, body, service_id, service_module, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.add_new_ticket ...'
      end
      # verify the required parameter 'subject' is set
      if @api_client.config.client_side_validation && subject.nil?
        fail ArgumentError, "Missing the required parameter 'subject' when calling TicketsApi.add_new_ticket"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TicketsApi.add_new_ticket"
      end
      # verify the required parameter 'service_id' is set
      if @api_client.config.client_side_validation && service_id.nil?
        fail ArgumentError, "Missing the required parameter 'service_id' when calling TicketsApi.add_new_ticket"
      end
      # verify the required parameter 'service_module' is set
      if @api_client.config.client_side_validation && service_module.nil?
        fail ArgumentError, "Missing the required parameter 'service_module' when calling TicketsApi.add_new_ticket"
      end
      # resource path
      local_var_path = '/tickets/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['subject'] = subject
      form_params['body'] = body
      form_params['service_id'] = service_id
      form_params['service_module'] = service_module

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TicketNewResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#add_new_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close Ticket
    # Closes the specified support ticket. Closed tickets can still be viewed but will no longer appear in the active inbox.
    # @param id Ticket ID
    # @param [Hash] opts the optional parameters
    # @return [CloseTicketResponseSchema]
    def close_ticket(id, opts = {})
      data, _status_code, _headers = close_ticket_with_http_info(id, opts)
      data
    end

    # Close Ticket
    # Closes the specified support ticket. Closed tickets can still be viewed but will no longer appear in the active inbox.
    # @param id Ticket ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CloseTicketResponseSchema, Integer, Hash)>] CloseTicketResponseSchema data, response status code and response headers
    def close_ticket_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.close_ticket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.close_ticket"
      end
      # resource path
      local_var_path = '/tickets/{id}/close'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'CloseTicketResponseSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#close_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Close Ticket
    # Closes the support ticket.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [ViewTicketResponse]
    def delete_ticket_info(id, opts = {})
      data, _status_code, _headers = delete_ticket_info_with_http_info(id, opts)
      data
    end

    # Close Ticket
    # Closes the support ticket.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ViewTicketResponse, Integer, Hash)>] ViewTicketResponse data, response status code and response headers
    def delete_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.delete_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.delete_ticket_info"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ViewTicketResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#delete_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Gets Information for creating a new ticket.
    # Returns the form data needed to create a new support ticket, such as available departments and service categories.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_new_ticket(opts = {})
      get_new_ticket_with_http_info(opts)
      nil
    end

    # Gets Information for creating a new ticket.
    # Returns the form data needed to create a new support ticket, such as available departments and service categories.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_new_ticket_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.get_new_ticket ...'
      end
      # resource path
      local_var_path = '/tickets/new'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#get_new_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ticket Information
    # Returns the full details of a support ticket including its history of replies.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [ViewTicketResponse]
    def get_ticket_info(id, opts = {})
      data, _status_code, _headers = get_ticket_info_with_http_info(id, opts)
      data
    end

    # Get Ticket Information
    # Returns the full details of a support ticket including its history of replies.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ViewTicketResponse, Integer, Hash)>] ViewTicketResponse data, response status code and response headers
    def get_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.get_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.get_ticket_info"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ViewTicketResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#get_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List Support Tickets
    # Returns a paginated list of support tickets on the account. Filter by status and time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for paginated results. (default to 1)
    # @option opts [String] :period How far back to show tickets from. Value is in days. (default to 30)
    # @option opts [String] :view The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types.
    # @return [Tickets]
    def get_tickets_list(opts = {})
      data, _status_code, _headers = get_tickets_list_with_http_info(opts)
      data
    end

    # List Support Tickets
    # Returns a paginated list of support tickets on the account. Filter by status and time period.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number for paginated results.
    # @option opts [String] :period How far back to show tickets from. Value is in days.
    # @option opts [String] :view The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types.
    # @return [Array<(Tickets, Integer, Hash)>] Tickets data, response status code and response headers
    def get_tickets_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.get_tickets_list ...'
      end
      if @api_client.config.client_side_validation && opts[:'period'] && !['30', '90', '365', '1825', 'all'].include?(opts[:'period'])
        fail ArgumentError, 'invalid value for "period", must be one of 30, 90, 365, 1825, all'
      end
      if @api_client.config.client_side_validation && opts[:'view'] && !['Open', 'Closed', 'On Hold', 'In Progress'].include?(opts[:'view'])
        fail ArgumentError, 'invalid value for "view", must be one of Open, Closed, On Hold, In Progress'
      end
      # resource path
      local_var_path = '/tickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'view'] = opts[:'view'] if !opts[:'view'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Tickets' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#get_tickets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reply To Ticket
    # Adds a reply to an existing support ticket.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [ViewTicketResponse]
    def post_ticket_info(id, opts = {})
      data, _status_code, _headers = post_ticket_info_with_http_info(id, opts)
      data
    end

    # Reply To Ticket
    # Adds a reply to an existing support ticket.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ViewTicketResponse, Integer, Hash)>] ViewTicketResponse data, response status code and response headers
    def post_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.post_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.post_ticket_info"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ViewTicketResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#post_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Search Support Tickets
    # Searches support tickets by email, subject, or ticket mask ID.
    # @param [Hash] opts the optional parameters
    # @return [Tickets]
    def post_tickets_list(opts = {})
      data, _status_code, _headers = post_tickets_list_with_http_info(opts)
      data
    end

    # Search Support Tickets
    # Searches support tickets by email, subject, or ticket mask ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Tickets, Integer, Hash)>] Tickets data, response status code and response headers
    def post_tickets_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.post_tickets_list ...'
      end
      # resource path
      local_var_path = '/tickets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Tickets' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#post_tickets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Ticket
    # Updates a support ticket's properties such as subject or status.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [ViewTicketResponse]
    def put_ticket_info(id, opts = {})
      data, _status_code, _headers = put_ticket_info_with_http_info(id, opts)
      data
    end

    # Update Ticket
    # Updates a support ticket&#x27;s properties such as subject or status.
    # @param id Ticket ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ViewTicketResponse, Integer, Hash)>] ViewTicketResponse data, response status code and response headers
    def put_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.put_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.put_ticket_info"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ViewTicketResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#put_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reply Ticket
    # Posts a reply to an existing support ticket thread.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [ReplyTicketRequest] :body 
    # @return [ReplyTicketResponseSchema]
    def reply_ticket(id, opts = {})
      data, _status_code, _headers = reply_ticket_with_http_info(id, opts)
      data
    end

    # Reply Ticket
    # Posts a reply to an existing support ticket thread.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [ReplyTicketRequest] :body 
    # @return [Array<(ReplyTicketResponseSchema, Integer, Hash)>] ReplyTicketResponseSchema data, response status code and response headers
    def reply_ticket_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.reply_ticket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.reply_ticket"
      end
      # resource path
      local_var_path = '/tickets/{id}/reply'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ReplyTicketResponseSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#reply_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reply Ticket
    # Posts a reply to an existing support ticket thread.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content 
    # @return [ReplyTicketResponseSchema]
    def reply_ticket(id, opts = {})
      data, _status_code, _headers = reply_ticket_with_http_info(id, opts)
      data
    end

    # Reply Ticket
    # Posts a reply to an existing support ticket thread.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :content 
    # @return [Array<(ReplyTicketResponseSchema, Integer, Hash)>] ReplyTicketResponseSchema data, response status code and response headers
    def reply_ticket_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.reply_ticket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.reply_ticket"
      end
      # resource path
      local_var_path = '/tickets/{id}/reply'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['content'] = opts[:'content'] if !opts[:'content'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ReplyTicketResponseSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#reply_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Ticket
    # Updates a support ticket's subject or body content.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateTicket] :body 
    # @return [UpdateTicketResponseSchema]
    def update_ticket_info(id, opts = {})
      data, _status_code, _headers = update_ticket_info_with_http_info(id, opts)
      data
    end

    # Update Ticket
    # Updates a support ticket&#x27;s subject or body content.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateTicket] :body 
    # @return [Array<(UpdateTicketResponseSchema, Integer, Hash)>] UpdateTicketResponseSchema data, response status code and response headers
    def update_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.update_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.update_ticket_info"
      end
      # resource path
      local_var_path = '/tickets/{id}/update'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      form_params['ip_address'] = opts[:'ip_address'] if !opts[:'ip_address'].nil?
      form_params['customer_server_access'] = opts[:'customer_server_access'] if !opts[:'customer_server_access'].nil?
      form_params['root_password'] = opts[:'root_password'] if !opts[:'root_password'].nil?
      form_params['sudo_username'] = opts[:'sudo_username'] if !opts[:'sudo_username'].nil?
      form_params['sudo_password'] = opts[:'sudo_password'] if !opts[:'sudo_password'].nil?
      form_params['port'] = opts[:'port'] if !opts[:'port'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'UpdateTicketResponseSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#update_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Ticket
    # Updates a support ticket's subject or body content.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ip 
    # @option opts [String] :ip_address 
    # @option opts [String] :customer_server_access 
    # @option opts [String] :root_password 
    # @option opts [String] :sudo_username 
    # @option opts [String] :sudo_password 
    # @option opts [Integer] :port 
    # @return [UpdateTicketResponseSchema]
    def update_ticket_info(id, opts = {})
      data, _status_code, _headers = update_ticket_info_with_http_info(id, opts)
      data
    end

    # Update Ticket
    # Updates a support ticket&#x27;s subject or body content.
    # @param id The ticket ID number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ip 
    # @option opts [String] :ip_address 
    # @option opts [String] :customer_server_access 
    # @option opts [String] :root_password 
    # @option opts [String] :sudo_username 
    # @option opts [String] :sudo_password 
    # @option opts [Integer] :port 
    # @return [Array<(UpdateTicketResponseSchema, Integer, Hash)>] UpdateTicketResponseSchema data, response status code and response headers
    def update_ticket_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.update_ticket_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.update_ticket_info"
      end
      if @api_client.config.client_side_validation && opts[:'customer_server_access'] && !['y', 'n'].include?(opts[:'customer_server_access'])
        fail ArgumentError, 'invalid value for "customer_server_access", must be one of y, n'
      end
      # resource path
      local_var_path = '/tickets/{id}/update'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      form_params['ip_address'] = opts[:'ip_address'] if !opts[:'ip_address'].nil?
      form_params['customer_server_access'] = opts[:'customer_server_access'] if !opts[:'customer_server_access'].nil?
      form_params['root_password'] = opts[:'root_password'] if !opts[:'root_password'].nil?
      form_params['sudo_username'] = opts[:'sudo_username'] if !opts[:'sudo_username'].nil?
      form_params['sudo_password'] = opts[:'sudo_password'] if !opts[:'sudo_password'].nil?
      form_params['port'] = opts[:'port'] if !opts[:'port'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'UpdateTicketResponseSchema' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#update_ticket_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
