=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class VPSApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place VPS Order
    # Places an order for a new VPS. Use `PUT /vps/order` to validate the order first.
    # @param [Hash] opts the optional parameters
    # @option opts [VpsOrderPostRequest] :body 
    # @return [ServiceOrderPostResponse]
    def add_vps(opts = {})
      data, _status_code, _headers = add_vps_with_http_info(opts)
      data
    end

    # Place VPS Order
    # Places an order for a new VPS. Use &#x60;PUT /vps/order&#x60; to validate the order first.
    # @param [Hash] opts the optional parameters
    # @option opts [VpsOrderPostRequest] :body 
    # @return [Array<(ServiceOrderPostResponse, Integer, Hash)>] ServiceOrderPostResponse data, response status code and response headers
    def add_vps_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.add_vps ...'
      end
      # resource path
      local_var_path = '/vps/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['osDistro'] = opts[:'os_distro'] if !opts[:'os_distro'].nil?
      form_params['slices'] = opts[:'slices'] if !opts[:'slices'].nil?
      form_params['vpsPlatform'] = opts[:'vps_platform'] if !opts[:'vps_platform'].nil?
      form_params['controlpanel'] = opts[:'controlpanel'] if !opts[:'controlpanel'].nil?
      form_params['period'] = opts[:'period'] if !opts[:'period'].nil?
      form_params['location'] = opts[:'location'] if !opts[:'location'].nil?
      form_params['osVersion'] = opts[:'os_version'] if !opts[:'os_version'].nil?
      form_params['hostname'] = opts[:'hostname'] if !opts[:'hostname'].nil?
      form_params['coupon'] = opts[:'coupon'] if !opts[:'coupon'].nil?
      form_params['rootpass'] = opts[:'rootpass'] if !opts[:'rootpass'].nil?
      form_params['comment'] = opts[:'comment'] if !opts[:'comment'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ServiceOrderPostResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#add_vps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Place VPS Order
    # Places an order for a new VPS. Use `PUT /vps/order` to validate the order first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :os_distro 
    # @option opts [Integer] :slices 
    # @option opts [String] :vps_platform 
    # @option opts [String] :controlpanel 
    # @option opts [Integer] :period 
    # @option opts [Integer] :location 
    # @option opts [String] :os_version 
    # @option opts [String] :hostname 
    # @option opts [String] :coupon 
    # @option opts [String] :rootpass 
    # @option opts [String] :comment 
    # @return [ServiceOrderPostResponse]
    def add_vps(opts = {})
      data, _status_code, _headers = add_vps_with_http_info(opts)
      data
    end

    # Place VPS Order
    # Places an order for a new VPS. Use &#x60;PUT /vps/order&#x60; to validate the order first.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :os_distro 
    # @option opts [Integer] :slices 
    # @option opts [String] :vps_platform 
    # @option opts [String] :controlpanel 
    # @option opts [Integer] :period 
    # @option opts [Integer] :location 
    # @option opts [String] :os_version 
    # @option opts [String] :hostname 
    # @option opts [String] :coupon 
    # @option opts [String] :rootpass 
    # @option opts [String] :comment 
    # @return [Array<(ServiceOrderPostResponse, Integer, Hash)>] ServiceOrderPostResponse data, response status code and response headers
    def add_vps_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.add_vps ...'
      end
      if @api_client.config.client_side_validation && opts[:'vps_platform'] && !['kvm', 'hyperv', 'kvmstorage'].include?(opts[:'vps_platform'])
        fail ArgumentError, 'invalid value for "vps_platform", must be one of kvm, hyperv, kvmstorage'
      end
      if @api_client.config.client_side_validation && opts[:'controlpanel'] && !['none', 'cpanel', 'da'].include?(opts[:'controlpanel'])
        fail ArgumentError, 'invalid value for "controlpanel", must be one of none, cpanel, da'
      end
      # resource path
      local_var_path = '/vps/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['osDistro'] = opts[:'os_distro'] if !opts[:'os_distro'].nil?
      form_params['slices'] = opts[:'slices'] if !opts[:'slices'].nil?
      form_params['vpsPlatform'] = opts[:'vps_platform'] if !opts[:'vps_platform'].nil?
      form_params['controlpanel'] = opts[:'controlpanel'] if !opts[:'controlpanel'].nil?
      form_params['period'] = opts[:'period'] if !opts[:'period'].nil?
      form_params['location'] = opts[:'location'] if !opts[:'location'].nil?
      form_params['osVersion'] = opts[:'os_version'] if !opts[:'os_version'].nil?
      form_params['hostname'] = opts[:'hostname'] if !opts[:'hostname'].nil?
      form_params['coupon'] = opts[:'coupon'] if !opts[:'coupon'].nil?
      form_params['rootpass'] = opts[:'rootpass'] if !opts[:'rootpass'].nil?
      form_params['comment'] = opts[:'comment'] if !opts[:'comment'].nil?

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(opts[:'body']) 

      return_type = opts[:return_type] || 'ServiceOrderPostResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#add_vps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete VPS Backup
    # Permanently removes the specified backup file from storage. Use `GET /vps/{id}/backups` to list available backup filenames before deleting.
    # @param id VPS ID number
    # @param file The backup filename to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [SuccessTextResponse]
    def delete_vps_backup(id, file, opts = {})
      data, _status_code, _headers = delete_vps_backup_with_http_info(id, file, opts)
      data
    end

    # Delete VPS Backup
    # Permanently removes the specified backup file from storage. Use &#x60;GET /vps/{id}/backups&#x60; to list available backup filenames before deleting.
    # @param id VPS ID number
    # @param file The backup filename to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def delete_vps_backup_with_http_info(id, file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.delete_vps_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.delete_vps_backup"
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling VPSApi.delete_vps_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/vps/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'file'] = file
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#delete_vps_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Blocks SMTP
    # Blocks outbound SMTP (port 25) on the VPS to prevent spam. Useful for VPS that do not need to send email.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_block_smtp(id, opts = {})
      data, _status_code, _headers = do_vps_block_smtp_with_http_info(id, opts)
      data
    end

    # Blocks SMTP
    # Blocks outbound SMTP (port 25) on the VPS to prevent spam. Useful for VPS that do not need to send email.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_block_smtp_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_block_smtp ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_block_smtp"
      end
      # resource path
      local_var_path = '/vps/{id}/block_smtp'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_block_smtp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable CD Drive
    # Disables the virtual CD drive on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_disable_cd(id, opts = {})
      data, _status_code, _headers = do_vps_disable_cd_with_http_info(id, opts)
      data
    end

    # Disable CD Drive
    # Disables the virtual CD drive on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_disable_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_disable_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_disable_cd"
      end
      # resource path
      local_var_path = '/vps/{id}/disable_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_disable_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Disable Quotas
    # Disables disk quota enforcement on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_disable_quota(id, opts = {})
      data, _status_code, _headers = do_vps_disable_quota_with_http_info(id, opts)
      data
    end

    # Disable Quotas
    # Disables disk quota enforcement on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_disable_quota_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_disable_quota ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_disable_quota"
      end
      # resource path
      local_var_path = '/vps/{id}/disable_quota'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_disable_quota\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Eject CD Drive
    # Ejects the virtual CD from the VPS CD drive.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_eject_cd(id, opts = {})
      data, _status_code, _headers = do_vps_eject_cd_with_http_info(id, opts)
      data
    end

    # Eject CD Drive
    # Ejects the virtual CD from the VPS CD drive.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_eject_cd_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_eject_cd ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_eject_cd"
      end
      # resource path
      local_var_path = '/vps/{id}/eject_cd'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_eject_cd\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enable Quotas
    # Enables disk quota enforcement on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_enable_quota(id, opts = {})
      data, _status_code, _headers = do_vps_enable_quota_with_http_info(id, opts)
      data
    end

    # Enable Quotas
    # Enables disk quota enforcement on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_enable_quota_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_enable_quota ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_enable_quota"
      end
      # resource path
      local_var_path = '/vps/{id}/enable_quota'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_enable_quota\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Restart VPS
    # Restarts the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_restart(id, opts = {})
      data, _status_code, _headers = do_vps_restart_with_http_info(id, opts)
      data
    end

    # Restart VPS
    # Restarts the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_restart_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_restart ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_restart"
      end
      # resource path
      local_var_path = '/vps/{id}/restart'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_restart\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start VPS
    # Powers on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_start(id, opts = {})
      data, _status_code, _headers = do_vps_start_with_http_info(id, opts)
      data
    end

    # Start VPS
    # Powers on the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_start_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_start ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_start"
      end
      # resource path
      local_var_path = '/vps/{id}/start'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_start\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Stop VPS
    # Powers off the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def do_vps_stop(id, opts = {})
      data, _status_code, _headers = do_vps_stop_with_http_info(id, opts)
      data
    end

    # Stop VPS
    # Powers off the VPS.
    # @param id VPS ID number.
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def do_vps_stop_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.do_vps_stop ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.do_vps_stop"
      end
      # resource path
      local_var_path = '/vps/{id}/stop'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#do_vps_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Download VPS Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /vps/{id}/backups` to list available backup filenames.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [InlineResponse20011]
    def download_vps_backup(body, id, opts = {})
      data, _status_code, _headers = download_vps_backup_with_http_info(body, id, opts)
      data
    end

    # Download VPS Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /vps/{id}/backups&#x60; to list available backup filenames.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [Array<(InlineResponse20011, Integer, Hash)>] InlineResponse20011 data, response status code and response headers
    def download_vps_backup_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.download_vps_backup ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VPSApi.download_vps_backup"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.download_vps_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/vps/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20011' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#download_vps_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Download VPS Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /vps/{id}/backups` to list available backup filenames.
    # @param file 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [InlineResponse20011]
    def download_vps_backup(file, id, opts = {})
      data, _status_code, _headers = download_vps_backup_with_http_info(file, id, opts)
      data
    end

    # Download VPS Backup
    # Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use &#x60;GET /vps/{id}/backups&#x60; to list available backup filenames.
    # @param file 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [Array<(InlineResponse20011, Integer, Hash)>] InlineResponse20011 data, response status code and response headers
    def download_vps_backup_with_http_info(file, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.download_vps_backup ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling VPSApi.download_vps_backup"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.download_vps_backup"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/vps/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20011' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#download_vps_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VPS Ordering Information
    # Retrieves available VPS configurations, OS templates, and pricing for ordering.
    # @param [Hash] opts the optional parameters
    # @return [VpsOrder]
    def get_new_vps(opts = {})
      data, _status_code, _headers = get_new_vps_with_http_info(opts)
      data
    end

    # VPS Ordering Information
    # Retrieves available VPS configurations, OS templates, and pricing for ordering.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpsOrder, Integer, Hash)>] VpsOrder data, response status code and response headers
    def get_new_vps_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_new_vps ...'
      end
      # resource path
      local_var_path = '/vps/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_new_vps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get VPS Backups List
    # Returns the available backups for the VPS across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /vps/{id}/backups` to download or `DELETE /vps/{id}/backups` to remove a backup. Use `POST /vps/{id}/restore` to restore from a backup.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [VpsBackupRows]
    def get_vps_backups(id, opts = {})
      data, _status_code, _headers = get_vps_backups_with_http_info(id, opts)
      data
    end

    # Get VPS Backups List
    # Returns the available backups for the VPS across all storage systems (Swift, MinIO, ZFS). Use the backup &#x60;name&#x60; value with &#x60;PATCH /vps/{id}/backups&#x60; to download or &#x60;DELETE /vps/{id}/backups&#x60; to remove a backup. Use &#x60;POST /vps/{id}/restore&#x60; to restore from a backup.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :all Set to &#x60;1&#x60; to list all backups across all services, not just the ones for the given VPS.
    # @return [Array<(VpsBackupRows, Integer, Hash)>] VpsBackupRows data, response status code and response headers
    def get_vps_backups_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_backups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_backups"
      end
      if @api_client.config.client_side_validation && opts[:'all'] && !['0', '1'].include?(opts[:'all'])
        fail ArgumentError, 'invalid value for "all", must be one of 0, 1'
      end
      # resource path
      local_var_path = '/vps/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'all'] = opts[:'all'] if !opts[:'all'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsBackupRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # HD Space Addon Info
    # Returns available hard drive space addon options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_vps_buy_hd_space(id, opts = {})
      get_vps_buy_hd_space_with_http_info(id, opts)
      nil
    end

    # HD Space Addon Info
    # Returns available hard drive space addon options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vps_buy_hd_space_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_buy_hd_space ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_buy_hd_space"
      end
      # resource path
      local_var_path = '/vps/{id}/buy_hd_space'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_buy_hd_space\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Additional IP Addon Info
    # Returns available additional IP address options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_vps_buy_ip(id, opts = {})
      get_vps_buy_ip_with_http_info(id, opts)
      nil
    end

    # Additional IP Addon Info
    # Returns available additional IP address options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vps_buy_ip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_buy_ip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_buy_ip"
      end
      # resource path
      local_var_path = '/vps/{id}/buy_ip'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_buy_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Timezone Info
    # Returns the list of available timezones that can be set on the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def get_vps_change_timezone(id, opts = {})
      data, _status_code, _headers = get_vps_change_timezone_with_http_info(id, opts)
      data
    end

    # Get Timezone Info
    # Returns the list of available timezones that can be set on the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Integer, Hash)>] Array<String> data, response status code and response headers
    def get_vps_change_timezone_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_change_timezone ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_change_timezone"
      end
      # resource path
      local_var_path = '/vps/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<String>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get VPS Order
    # Returns detailed information about a specific VPS including its IPs, hostname, OS, and resource allocation.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Vps]
    def get_vps_info(id, opts = {})
      data, _status_code, _headers = get_vps_info_with_http_info(id, opts)
      data
    end

    # Get VPS Order
    # Returns detailed information about a specific VPS including its IPs, hostname, OS, and resource allocation.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(Vps, Integer, Hash)>] Vps data, response status code and response headers
    def get_vps_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_info"
      end
      # resource path
      local_var_path = '/vps/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Vps' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get VPS Invoices
    # Returns the billing invoices associated with this VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_vps_invoices(id, opts = {})
      data, _status_code, _headers = get_vps_invoices_with_http_info(id, opts)
      data
    end

    # Get VPS Invoices
    # Returns the billing invoices associated with this VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_vps_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_invoices"
      end
      # resource path
      local_var_path = '/vps/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List VPS Orders
    # Returns all VPS services on the account with their current status and configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<VpsRow>]
    def get_vps_list(opts = {})
      data, _status_code, _headers = get_vps_list_with_http_info(opts)
      data
    end

    # List VPS Orders
    # Returns all VPS services on the account with their current status and configuration.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<VpsRow>, Integer, Hash)>] Array<VpsRow> data, response status code and response headers
    def get_vps_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_list ...'
      end
      # resource path
      local_var_path = '/vps'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<VpsRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VPS Reinstall OS Options
    # Returns the list of available OS templates for reinstalling the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [VpsTemplatesList]
    def get_vps_reinstall_os(id, opts = {})
      data, _status_code, _headers = get_vps_reinstall_os_with_http_info(id, opts)
      data
    end

    # VPS Reinstall OS Options
    # Returns the list of available OS templates for reinstalling the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpsTemplatesList, Integer, Hash)>] VpsTemplatesList data, response status code and response headers
    def get_vps_reinstall_os_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_reinstall_os ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_reinstall_os"
      end
      # resource path
      local_var_path = '/vps/{id}/reinstall_os'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsTemplatesList' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_reinstall_os\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the VPS IP addresses.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [ReverseDnsEntries]
    def get_vps_reverse_dns(id, opts = {})
      data, _status_code, _headers = get_vps_reverse_dns_with_http_info(id, opts)
      data
    end

    # Reverse DNS Info
    # Returns the current reverse DNS (PTR record) entries for the VPS IP addresses.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReverseDnsEntries, Integer, Hash)>] ReverseDnsEntries data, response status code and response headers
    def get_vps_reverse_dns_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_reverse_dns ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_reverse_dns"
      end
      # resource path
      local_var_path = '/vps/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ReverseDnsEntries' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # VNC Setup Info
    # Returns the current VNC connection information for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_vps_setup_vnc(id, opts = {})
      get_vps_setup_vnc_with_http_info(id, opts)
      nil
    end

    # VNC Setup Info
    # Returns the current VNC connection information for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vps_setup_vnc_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_setup_vnc ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_setup_vnc"
      end
      # resource path
      local_var_path = '/vps/{id}/setup_vnc'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_setup_vnc\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Slice Upgrade Info
    # Returns available slice upgrade options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_vps_slices(id, opts = {})
      get_vps_slices_with_http_info(id, opts)
      nil
    end

    # Slice Upgrade Info
    # Returns available slice upgrade options and pricing for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vps_slices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_slices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_slices"
      end
      # resource path
      local_var_path = '/vps/{id}/slices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_slices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Traffic Usage
    # Returns bandwidth traffic usage data for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [VpsTrafficResponse]
    def get_vps_traffic_usage(id, opts = {})
      data, _status_code, _headers = get_vps_traffic_usage_with_http_info(id, opts)
      data
    end

    # Get Traffic Usage
    # Returns bandwidth traffic usage data for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(VpsTrafficResponse, Integer, Hash)>] VpsTrafficResponse data, response status code and response headers
    def get_vps_traffic_usage_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_traffic_usage ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_traffic_usage"
      end
      # resource path
      local_var_path = '/vps/{id}/traffic_usage'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'VpsTrafficResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_traffic_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get View Desktop Info
    # Returns remote desktop connection information for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_vps_view_desktop(id, opts = {})
      get_vps_view_desktop_with_http_info(id, opts)
      nil
    end

    # Get View Desktop Info
    # Returns remote desktop connection information for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vps_view_desktop_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_view_desktop ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_view_desktop"
      end
      # resource path
      local_var_path = '/vps/{id}/view_desktop'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_view_desktop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend VPS Welcome Email
    # Resends the welcome email containing connection details and credentials for the VPS order.
    # @param id VPS ID
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_vps_welcome_email(id, opts = {})
      data, _status_code, _headers = get_vps_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend VPS Welcome Email
    # Resends the welcome email containing connection details and credentials for the VPS order.
    # @param id VPS ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_vps_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.get_vps_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.get_vps_welcome_email"
      end
      # resource path
      local_var_path = '/vps/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#get_vps_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Start a VPS Backup
    # Creates a backup of the VPS. The backup can be downloaded or restored later via the backups endpoints.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_backup(id, opts = {})
      data, _status_code, _headers = post_vps_backup_with_http_info(id, opts)
      data
    end

    # Start a VPS Backup
    # Creates a backup of the VPS. The backup can be downloaded or restored later via the backups endpoints.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_backup_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_backup ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_backup"
      end
      # resource path
      local_var_path = '/vps/{id}/backup'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Purchase HD Space Addon
    # Purchases additional hard drive space for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def post_vps_buy_hd_space(id, opts = {})
      post_vps_buy_hd_space_with_http_info(id, opts)
      nil
    end

    # Purchase HD Space Addon
    # Purchases additional hard drive space for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_vps_buy_hd_space_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_buy_hd_space ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_buy_hd_space"
      end
      # resource path
      local_var_path = '/vps/{id}/buy_hd_space'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_buy_hd_space\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Purchase Additional IP
    # Purchases an additional IP address for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def post_vps_buy_ip(id, opts = {})
      post_vps_buy_ip_with_http_info(id, opts)
      nil
    end

    # Purchase Additional IP
    # Purchases an additional IP address for the VPS.
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def post_vps_buy_ip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_buy_ip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_buy_ip"
      end
      # resource path
      local_var_path = '/vps/{id}/buy_ip'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_buy_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update VPS Hostname
    # Changes the hostname of the VPS. This queues a background task to update the server.
    # @param hostname 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_hostname(hostname, id, opts = {})
      data, _status_code, _headers = post_vps_change_hostname_with_http_info(hostname, id, opts)
      data
    end

    # Update VPS Hostname
    # Changes the hostname of the VPS. This queues a background task to update the server.
    # @param hostname 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_hostname_with_http_info(hostname, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_hostname ...'
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling VPSApi.post_vps_change_hostname"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_hostname"
      end
      # resource path
      local_var_path = '/vps/{id}/change_hostname'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['hostname'] = hostname

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_hostname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update VPS Hostname
    # Changes the hostname of the VPS. This queues a background task to update the server.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_hostname(body, id, opts = {})
      data, _status_code, _headers = post_vps_change_hostname_with_http_info(body, id, opts)
      data
    end

    # Update VPS Hostname
    # Changes the hostname of the VPS. This queues a background task to update the server.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_hostname_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_hostname ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VPSApi.post_vps_change_hostname"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_hostname"
      end
      # resource path
      local_var_path = '/vps/{id}/change_hostname'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['hostname'] = hostname

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_hostname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change VPS Root Password
    # Changes the root password of the VPS.
    # @param password 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_root_password(password, id, opts = {})
      data, _status_code, _headers = post_vps_change_root_password_with_http_info(password, id, opts)
      data
    end

    # Change VPS Root Password
    # Changes the root password of the VPS.
    # @param password 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_root_password_with_http_info(password, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_root_password ...'
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling VPSApi.post_vps_change_root_password"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_root_password"
      end
      # resource path
      local_var_path = '/vps/{id}/change_root_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['password'] = password

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_root_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change VPS Root Password
    # Changes the root password of the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_root_password(body, id, opts = {})
      data, _status_code, _headers = post_vps_change_root_password_with_http_info(body, id, opts)
      data
    end

    # Change VPS Root Password
    # Changes the root password of the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_root_password_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_root_password ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VPSApi.post_vps_change_root_password"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_root_password"
      end
      # resource path
      local_var_path = '/vps/{id}/change_root_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['password'] = password

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_root_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change VPS Timezone
    # Changes the system timezone on the VPS.
    # @param timezone 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_timezone(timezone, id, opts = {})
      data, _status_code, _headers = post_vps_change_timezone_with_http_info(timezone, id, opts)
      data
    end

    # Change VPS Timezone
    # Changes the system timezone on the VPS.
    # @param timezone 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_timezone_with_http_info(timezone, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_timezone ...'
      end
      # verify the required parameter 'timezone' is set
      if @api_client.config.client_side_validation && timezone.nil?
        fail ArgumentError, "Missing the required parameter 'timezone' when calling VPSApi.post_vps_change_timezone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_timezone"
      end
      # resource path
      local_var_path = '/vps/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['timezone'] = timezone

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change VPS Timezone
    # Changes the system timezone on the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_timezone(body, id, opts = {})
      data, _status_code, _headers = post_vps_change_timezone_with_http_info(body, id, opts)
      data
    end

    # Change VPS Timezone
    # Changes the system timezone on the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_timezone_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_timezone ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VPSApi.post_vps_change_timezone"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_timezone"
      end
      # resource path
      local_var_path = '/vps/{id}/change_timezone'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['timezone'] = timezone

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_timezone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change Webuzo Password
    # Changes the Webuzo control panel password on the VPS.
    # @param password 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_webuzo_password(password, id, opts = {})
      data, _status_code, _headers = post_vps_change_webuzo_password_with_http_info(password, id, opts)
      data
    end

    # Change Webuzo Password
    # Changes the Webuzo control panel password on the VPS.
    # @param password 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_webuzo_password_with_http_info(password, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_webuzo_password ...'
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling VPSApi.post_vps_change_webuzo_password"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_webuzo_password"
      end
      # resource path
      local_var_path = '/vps/{id}/change_webuzo_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['password'] = password

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'QueueResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VPSApi#post_vps_change_webuzo_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Change Webuzo Password
    # Changes the Webuzo control panel password on the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [QueueResponse]
    def post_vps_change_webuzo_password(body, id, opts = {})
      data, _status_code, _headers = post_vps_change_webuzo_password_with_http_info(body, id, opts)
      data
    end

    # Change Webuzo Password
    # Changes the Webuzo control panel password on the VPS.
    # @param body 
    # @param id VPS ID number
    # @param [Hash] opts the optional parameters
    # @return [Array<(QueueResponse, Integer, Hash)>] QueueResponse data, response status code and response headers
    def post_vps_change_webuzo_password_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VPSApi.post_vps_change_webuzo_password ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling VPSApi.post_vps_change_webuzo_password"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VPSApi.post_vps_change_webuzo_password"
      end
      # resource path
      local_var_path = '/vps/{id}/change_webuzo_password'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
[...]
