=begin
#InterServer Management API

## Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  

OpenAPI spec version: 0.9.0
Contact: support@interserver.net
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.78
=end

module SwaggerClient
  class WebhostingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Place Website Order
    # Places an order for a new webhosting package. Use `PUT /websites/order` to validate the order first.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_website(opts = {})
      add_website_with_http_info(opts)
      nil
    end

    # Place Website Order
    # Places an order for a new webhosting package. Use &#x60;PUT /websites/order&#x60; to validate the order first.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_website_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.add_website ...'
      end
      # resource path
      local_var_path = '/websites/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#add_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Website Ordering Information
    # Retrieves available webhosting plans and pricing for ordering.
    # @param [Hash] opts the optional parameters
    # @return [WebsitesOrder]
    def get_new_website(opts = {})
      data, _status_code, _headers = get_new_website_with_http_info(opts)
      data
    end

    # Website Ordering Information
    # Retrieves available webhosting plans and pricing for ordering.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebsitesOrder, Integer, Hash)>] WebsitesOrder data, response status code and response headers
    def get_new_website_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_new_website ...'
      end
      # resource path
      local_var_path = '/websites/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'WebsitesOrder' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_new_website\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website IP Information
    # Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via `POST /websites/{id}/buy_ip`.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20023]
    def get_website_buy_ip(id, opts = {})
      data, _status_code, _headers = get_website_buy_ip_with_http_info(id, opts)
      data
    end

    # Get Website IP Information
    # Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via &#x60;POST /websites/{id}/buy_ip&#x60;.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20023, Integer, Hash)>] InlineResponse20023 data, response status code and response headers
    def get_website_buy_ip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_website_buy_ip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_website_buy_ip"
      end
      # resource path
      local_var_path = '/websites/{id}/buy_ip'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20023' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_website_buy_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website Order
    # Returns detailed information about a specific webhosting order including its domain, plan, and status.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Website]
    def get_website_info(id, opts = {})
      data, _status_code, _headers = get_website_info_with_http_info(id, opts)
      data
    end

    # Get Website Order
    # Returns detailed information about a specific webhosting order including its domain, plan, and status.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Website, Integer, Hash)>] Website data, response status code and response headers
    def get_website_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_website_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_website_info"
      end
      # resource path
      local_var_path = '/websites/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Website' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_website_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website Invoices
    # Returns the billing invoices associated with this webhosting service.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [ChargeInvoiceRows]
    def get_website_invoices(id, opts = {})
      data, _status_code, _headers = get_website_invoices_with_http_info(id, opts)
      data
    end

    # Get Website Invoices
    # Returns the billing invoices associated with this webhosting service.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChargeInvoiceRows, Integer, Hash)>] ChargeInvoiceRows data, response status code and response headers
    def get_website_invoices_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_website_invoices ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_website_invoices"
      end
      # resource path
      local_var_path = '/websites/{id}/invoices'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ChargeInvoiceRows' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_website_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website Listing
    # Gets a listing of your webhosting orders and service details.
    # @param [Hash] opts the optional parameters
    # @return [Array<WebsiteRow>]
    def get_website_list(opts = {})
      data, _status_code, _headers = get_website_list_with_http_info(opts)
      data
    end

    # Get Website Listing
    # Gets a listing of your webhosting orders and service details.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<WebsiteRow>, Integer, Hash)>] Array<WebsiteRow> data, response status code and response headers
    def get_website_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_website_list ...'
      end
      # resource path
      local_var_path = '/websites'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<WebsiteRow>' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_website_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website Backups
    # Gets a list of the backups that exist for a website and their sizes.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [WebsiteBackups]
    def get_websites_backups(id, opts = {})
      data, _status_code, _headers = get_websites_backups_with_http_info(id, opts)
      data
    end

    # Get Website Backups
    # Gets a list of the backups that exist for a website and their sizes.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebsiteBackups, Integer, Hash)>] WebsiteBackups data, response status code and response headers
    def get_websites_backups_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_websites_backups ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_websites_backups"
      end
      # resource path
      local_var_path = '/websites/{id}/backups'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'WebsiteBackups' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_websites_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Hosting Panel Auto Login
    # Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [WebsiteLoginResponse]
    def get_websites_login(id, opts = {})
      data, _status_code, _headers = get_websites_login_with_http_info(id, opts)
      data
    end

    # Hosting Panel Auto Login
    # Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebsiteLoginResponse, Integer, Hash)>] WebsiteLoginResponse data, response status code and response headers
    def get_websites_login_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_websites_login ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_websites_login"
      end
      # resource path
      local_var_path = '/websites/{id}/login'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'WebsiteLoginResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_websites_login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Resend Website Welcome Email
    # Resends the welcome email containing hosting credentials and panel access details for the webhosting order.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [SuccessTextResponse]
    def get_websites_welcome_email(id, opts = {})
      data, _status_code, _headers = get_websites_welcome_email_with_http_info(id, opts)
      data
    end

    # Resend Website Welcome Email
    # Resends the welcome email containing hosting credentials and panel access details for the webhosting order.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuccessTextResponse, Integer, Hash)>] SuccessTextResponse data, response status code and response headers
    def get_websites_welcome_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.get_websites_welcome_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.get_websites_welcome_email"
      end
      # resource path
      local_var_path = '/websites/{id}/welcome_email'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'SuccessTextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#get_websites_welcome_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Website Reverse DNS
    # Returns the current reverse DNS (PTR record) entries for the website's IP addresses.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [ReverseDnsEntries]
    def gett_website_reverse_dns(id, opts = {})
      data, _status_code, _headers = gett_website_reverse_dns_with_http_info(id, opts)
      data
    end

    # Get Website Reverse DNS
    # Returns the current reverse DNS (PTR record) entries for the website&#x27;s IP addresses.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReverseDnsEntries, Integer, Hash)>] ReverseDnsEntries data, response status code and response headers
    def gett_website_reverse_dns_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.gett_website_reverse_dns ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.gett_website_reverse_dns"
      end
      # resource path
      local_var_path = '/websites/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'ReverseDnsEntries' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#gett_website_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Website IP DNS
    # Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20024]
    def post_website_buy_ip(body, id, opts = {})
      data, _status_code, _headers = post_website_buy_ip_with_http_info(body, id, opts)
      data
    end

    # Update Website IP DNS
    # Updates the reverse DNS hostnames for the website&#x27;s IP addresses. Provide an &#x60;ips&#x60; object mapping each IP address to its desired hostname.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20024, Integer, Hash)>] InlineResponse20024 data, response status code and response headers
    def post_website_buy_ip_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_website_buy_ip ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling WebhostingApi.post_website_buy_ip"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_website_buy_ip"
      end
      # resource path
      local_var_path = '/websites/{id}/buy_ip'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20024' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_website_buy_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Website IP DNS
    # Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.
    # @param ips 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20024]
    def post_website_buy_ip(ips, id, opts = {})
      data, _status_code, _headers = post_website_buy_ip_with_http_info(ips, id, opts)
      data
    end

    # Update Website IP DNS
    # Updates the reverse DNS hostnames for the website&#x27;s IP addresses. Provide an &#x60;ips&#x60; object mapping each IP address to its desired hostname.
    # @param ips 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20024, Integer, Hash)>] InlineResponse20024 data, response status code and response headers
    def post_website_buy_ip_with_http_info(ips, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_website_buy_ip ...'
      end
      # verify the required parameter 'ips' is set
      if @api_client.config.client_side_validation && ips.nil?
        fail ArgumentError, "Missing the required parameter 'ips' when calling WebhostingApi.post_website_buy_ip"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_website_buy_ip"
      end
      # resource path
      local_var_path = '/websites/{id}/buy_ip'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20024' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_website_buy_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request Website Migration
    # Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20025]
    def post_website_migration(body, id, opts = {})
      data, _status_code, _headers = post_website_migration_with_http_info(body, id, opts)
      data
    end

    # Request Website Migration
    # Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned &#x60;ticket&#x60; ID with &#x60;/tickets/{id}&#x60; to monitor status.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20025, Integer, Hash)>] InlineResponse20025 data, response status code and response headers
    def post_website_migration_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_website_migration ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_website_migration"
      end
      # resource path
      local_var_path = '/websites/{id}/migration'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['custPortal'] = cust_portal
      form_params['regEmail'] = reg_email
      form_params['password'] = password
      form_params['ctrlPanel'] = ctrl_panel
      form_params['ftpUsername'] = ftp_username
      form_params['ftpPassword'] = ftp_password
      form_params['siteBusyMig'] = site_busy_mig
      form_params['splReqMig'] = spl_req_mig
      form_params['domainReg'] = domain_reg
      form_params['dataMig'] = data_mig
      form_params['domainRegPortal'] = domain_reg_portal
      form_params['domainRegEmail'] = domain_reg_email
      form_params['domainRegPassword'] = domain_reg_password

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20025' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_website_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Request Website Migration
    # Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.
    # @param cust_portal 
    # @param reg_email 
    # @param password 
    # @param ctrl_panel 
    # @param ftp_username 
    # @param ftp_password 
    # @param site_busy_mig 
    # @param spl_req_mig 
    # @param domain_reg 
    # @param data_mig 
    # @param domain_reg_portal 
    # @param domain_reg_email 
    # @param domain_reg_password 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20025]
    def post_website_migration(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, opts = {})
      data, _status_code, _headers = post_website_migration_with_http_info(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, opts)
      data
    end

    # Request Website Migration
    # Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned &#x60;ticket&#x60; ID with &#x60;/tickets/{id}&#x60; to monitor status.
    # @param cust_portal 
    # @param reg_email 
    # @param password 
    # @param ctrl_panel 
    # @param ftp_username 
    # @param ftp_password 
    # @param site_busy_mig 
    # @param spl_req_mig 
    # @param domain_reg 
    # @param data_mig 
    # @param domain_reg_portal 
    # @param domain_reg_email 
    # @param domain_reg_password 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20025, Integer, Hash)>] InlineResponse20025 data, response status code and response headers
    def post_website_migration_with_http_info(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_website_migration ...'
      end
      # verify the required parameter 'cust_portal' is set
      if @api_client.config.client_side_validation && cust_portal.nil?
        fail ArgumentError, "Missing the required parameter 'cust_portal' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'reg_email' is set
      if @api_client.config.client_side_validation && reg_email.nil?
        fail ArgumentError, "Missing the required parameter 'reg_email' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'ctrl_panel' is set
      if @api_client.config.client_side_validation && ctrl_panel.nil?
        fail ArgumentError, "Missing the required parameter 'ctrl_panel' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'ftp_username' is set
      if @api_client.config.client_side_validation && ftp_username.nil?
        fail ArgumentError, "Missing the required parameter 'ftp_username' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'ftp_password' is set
      if @api_client.config.client_side_validation && ftp_password.nil?
        fail ArgumentError, "Missing the required parameter 'ftp_password' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'site_busy_mig' is set
      if @api_client.config.client_side_validation && site_busy_mig.nil?
        fail ArgumentError, "Missing the required parameter 'site_busy_mig' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'spl_req_mig' is set
      if @api_client.config.client_side_validation && spl_req_mig.nil?
        fail ArgumentError, "Missing the required parameter 'spl_req_mig' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'domain_reg' is set
      if @api_client.config.client_side_validation && domain_reg.nil?
        fail ArgumentError, "Missing the required parameter 'domain_reg' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'data_mig' is set
      if @api_client.config.client_side_validation && data_mig.nil?
        fail ArgumentError, "Missing the required parameter 'data_mig' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'domain_reg_portal' is set
      if @api_client.config.client_side_validation && domain_reg_portal.nil?
        fail ArgumentError, "Missing the required parameter 'domain_reg_portal' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'domain_reg_email' is set
      if @api_client.config.client_side_validation && domain_reg_email.nil?
        fail ArgumentError, "Missing the required parameter 'domain_reg_email' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'domain_reg_password' is set
      if @api_client.config.client_side_validation && domain_reg_password.nil?
        fail ArgumentError, "Missing the required parameter 'domain_reg_password' when calling WebhostingApi.post_website_migration"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_website_migration"
      end
      # resource path
      local_var_path = '/websites/{id}/migration'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['custPortal'] = cust_portal
      form_params['regEmail'] = reg_email
      form_params['password'] = password
      form_params['ctrlPanel'] = ctrl_panel
      form_params['ftpUsername'] = ftp_username
      form_params['ftpPassword'] = ftp_password
      form_params['siteBusyMig'] = site_busy_mig
      form_params['splReqMig'] = spl_req_mig
      form_params['domainReg'] = domain_reg
      form_params['dataMig'] = data_mig
      form_params['domainRegPortal'] = domain_reg_portal
      form_params['domainRegEmail'] = domain_reg_email
      form_params['domainRegPassword'] = domain_reg_password

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20025' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_website_migration\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Website Reverse DNS
    # Updates the reverse DNS entries for each of the IP addresses for the website.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_websites_reverse_dns(body, id, opts = {})
      data, _status_code, _headers = post_websites_reverse_dns_with_http_info(body, id, opts)
      data
    end

    # Update Website Reverse DNS
    # Updates the reverse DNS entries for each of the IP addresses for the website.
    # @param body 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_websites_reverse_dns_with_http_info(body, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_websites_reverse_dns ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling WebhostingApi.post_websites_reverse_dns"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_websites_reverse_dns"
      end
      # resource path
      local_var_path = '/websites/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_websites_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Website Reverse DNS
    # Updates the reverse DNS entries for each of the IP addresses for the website.
    # @param ips 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TextResponse]
    def post_websites_reverse_dns(ips, id, opts = {})
      data, _status_code, _headers = post_websites_reverse_dns_with_http_info(ips, id, opts)
      data
    end

    # Update Website Reverse DNS
    # Updates the reverse DNS entries for each of the IP addresses for the website.
    # @param ips 
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TextResponse, Integer, Hash)>] TextResponse data, response status code and response headers
    def post_websites_reverse_dns_with_http_info(ips, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.post_websites_reverse_dns ...'
      end
      # verify the required parameter 'ips' is set
      if @api_client.config.client_side_validation && ips.nil?
        fail ArgumentError, "Missing the required parameter 'ips' when calling WebhostingApi.post_websites_reverse_dns"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.post_websites_reverse_dns"
      end
      # resource path
      local_var_path = '/websites/{id}/reverse_dns'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['ips'] = @api_client.build_collection_param(ips, :multi)

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TextResponse' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#post_websites_reverse_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Validate Webhosting Order
    # Validates a webhosting order before placing it.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def put_websites(opts = {})
      put_websites_with_http_info(opts)
      nil
    end

    # Validate Webhosting Order
    # Validates a webhosting order before placing it.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def put_websites_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.put_websites ...'
      end
      # resource path
      local_var_path = '/websites/order'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#put_websites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update Website Order
    # Updates settings on a webhosting order.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_website_info(id, opts = {})
      update_website_info_with_http_info(id, opts)
      nil
    end

    # Update Website Order
    # Updates settings on a webhosting order.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_website_info_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.update_website_info ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.update_website_info"
      end
      # resource path
      local_var_path = '/websites/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#update_website_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Cancel Website
    # Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse20022]
    def webhosting_cancel(id, opts = {})
      data, _status_code, _headers = webhosting_cancel_with_http_info(id, opts)
      data
    end

    # Cancel Website
    # Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.
    # @param id The website service ID. Use &#x60;website_id&#x60; from &#x60;GET /websites&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse20022, Integer, Hash)>] InlineResponse20022 data, response status code and response headers
    def webhosting_cancel_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhostingApi.webhosting_cancel ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhostingApi.webhosting_cancel"
      end
      # resource path
      local_var_path = '/websites/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20022' 

      auth_names = opts[:auth_names] || ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhostingApi#webhosting_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
