//
// DNSAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class DNSAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://my.interserver.net/apiv2")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum AddDnsDomainError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "AddDnsDomainError: Unauthorized: \(object)"
            }
        }
    }

    /// Create DNS Domain
    /// - POST /dns
    /// - Creates a new DNS domain and assigns an initial A record pointing to the supplied IP address. The domain is immediately available on InterServer's DNS servers. Use `/dns/{id}` to manage records after creation.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter domain: (form) The domain name. 
    /// - parameter ip: (form) IP Address to point the domain to. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func addDnsDomain(domain: String, ip: String) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/dns"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				let domainHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"domain\"\r\n")
				    .appending("\r\n")
				multipartData.append(domainHeader.data(using: .utf8) ?? Data())
				multipartData.append(domain.data(using: .utf8) ?? Data())
				multipartData.append("\r\n".data(using: .utf8) ?? Data())

				let ipHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"ip\"\r\n")
				    .appending("\r\n")
				multipartData.append(ipHeader.data(using: .utf8) ?? Data())
				multipartData.append(ip.data(using: .utf8) ?? Data())

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddDnsDomainError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum AddDnsRecordError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "AddDnsRecordError: Unauthorized: \(object)"
            }
        }
    }

    /// Add DNS Record to Domain
    /// - POST /dns/{id}
    /// - Adds a new DNS record to the specified domain. Provide the record type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority. The record takes effect on the DNS servers immediately. Use `GET /dns/{id}` afterward to confirm the record was created.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The DNS Domain ID. 
    /// - parameter name: (form) Name part of record 
    /// - parameter type: (form)  
    /// - parameter content: (form) Content of record 
    /// - parameter ttl: (form) Time-to-live (optional, default to 86400)
    /// - parameter prio: (form) Priority (optional, default to 0)
    /// - returns: AnyPublisher<Void, Error> 
    open func addDnsRecord(id: String, name: String, type: DnsRecordType, content: String, ttl: Int? = nil, prio: Int? = nil) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/dns/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: id)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				let nameHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"name\"\r\n")
				    .appending("\r\n")
				multipartData.append(nameHeader.data(using: .utf8) ?? Data())
				multipartData.append(name.data(using: .utf8) ?? Data())
				multipartData.append("\r\n".data(using: .utf8) ?? Data())

				let typeHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"type\"\r\n")
				    .appending("\r\n")
				multipartData.append(typeHeader.data(using: .utf8) ?? Data())
				multipartData.append()
				multipartData.append("\r\n".data(using: .utf8) ?? Data())

				let contentHeader = "--\(multipartBoundary)\r\n"
				    .appending("Content-Disposition:form-data; name=\"content\"\r\n")
				    .appending("\r\n")
				multipartData.append(contentHeader.data(using: .utf8) ?? Data())
				multipartData.append(content.data(using: .utf8) ?? Data())
				multipartData.append("\r\n".data(using: .utf8) ?? Data())

				if let ttl = ttl {
					let ttlHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"ttl\"\r\n")
					    .appending("\r\n")
					multipartData.append(ttlHeader.data(using: .utf8) ?? Data())
					multipartData.append()
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let prio = prio {
					let prioHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"prio\"\r\n")
					    .appending("\r\n")
					multipartData.append(prioHeader.data(using: .utf8) ?? Data())
					multipartData.append()
				}

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return AddDnsRecordError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeleteDnsDomainError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "DeleteDnsDomainError: Unauthorized: \(object)"
            }
        }
    }

    /// Delete DNS Domain
    /// - DELETE /dns/{id}
    /// - Deletes a DNS domain and all of its associated records from the DNS servers. This action is permanent and cannot be undone. Any services relying on these DNS records will be affected immediately.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The DNS domain ID to delete. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func deleteDnsDomain(id: String) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/dns/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: id)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteDnsDomainError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum DeleteDnsRecordError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "DeleteDnsRecordError: Unauthorized: \(object)"
            }
        }
    }

    /// Delete DNS Record
    /// - DELETE /dns/{domainId}/{recordId}
    /// - Removes a DNS record from the specified domain. The deletion takes effect on the DNS servers immediately. Use `GET /dns/{id}` to verify the record has been removed.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter domainId: (path) The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. 
    /// - parameter recordId: (path) The DNS record ID within the domain. Use the record &#x60;id&#x60; from &#x60;GET /dns/{id}&#x60; to identify the record. 
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func deleteDnsRecord(domainId: Int, recordId: Int) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/dns/{domainId}/{recordId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{domainId}", with: "\(domainId)")
                localVarPath = localVarPath.replacingOccurrences(of: "{recordId}", with: "\(recordId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return DeleteDnsRecordError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetDnsDomainError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetDnsDomainError: Unauthorized: \(object)"
            }
        }
    }

    /// List Domain DNS Records
    /// - GET /dns/{id}
    /// - Returns the full set of DNS records for the specified domain, including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record `id` values with `/dns/{domainId}/{recordId}` to update or delete individual records.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter id: (path) The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. 
    /// - returns: AnyPublisher<[DnsRecord], Error> 
    open func getDnsDomain(id: Int) -> AnyPublisher<[DnsRecord], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/dns/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[DnsRecord], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetDnsDomainError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([DnsRecord].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum GetDnsListError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "GetDnsListError: Unauthorized: \(object)"
            }
        }
    }

    /// List DNS Domains
    /// - GET /dns
    /// - Returns the DNS domains on your account along with their primary A record content. Use the `id` from each entry with `/dns/{id}` to retrieve the full record set, or to add, update, and delete individual records.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - returns: AnyPublisher<[DnsListItem], Error> 
    open func getDnsList() -> AnyPublisher<[DnsListItem], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/dns"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[DnsListItem], Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return GetDnsListError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode([DnsListItem].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum UpdateDnsRecordError: Error, CustomStringConvertible {
        // Unauthorized
        case code401Error(GetAccountInfo401Response)

        public var description: String {
            switch self {
            case .code401Error(let object):
                return "UpdateDnsRecordError: Unauthorized: \(object)"
            }
        }
    }

    /// Update DNS Record
    /// - POST /dns/{domainId}/{recordId}
    /// - Updates an existing DNS record with new values. Use `GET /dns/{id}` to list records and retrieve the record IDs before updating. Changes propagate to the DNS servers immediately.
    /// - API Key:
    /// - type: apiKey sessionid 
    /// - name: sessionIdCookieAuth
    /// - API Key:
    /// - type: apiKey X-API-KEY (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey sessionid (HEADER)
    /// - name: sessionIdHeaderAuth
    /// - parameter domainId: (path) The DNS domain ID. Use the &#x60;id&#x60; from &#x60;GET /dns&#x60; to identify the domain. 
    /// - parameter recordId: (path) The DNS record ID within the domain. Use the record &#x60;id&#x60; from &#x60;GET /dns/{id}&#x60; to identify the record. 
    /// - parameter name: (form)  (optional)
    /// - parameter type: (form)  (optional)
    /// - parameter content: (form)  (optional)
    /// - parameter ttl: (form)  (optional)
    /// - parameter prio: (form)  (optional)
    /// - parameter disabled: (form)  (optional)
    /// - parameter ordername: (form)  (optional)
    /// - parameter auth: (form)  (optional)
    /// - returns: AnyPublisher<SuccessTextResponse, Error> 
    open func updateDnsRecord(domainId: Int, recordId: Int, name: String? = nil, type: DnsRecordType? = nil, content: String? = nil, ttl: String? = nil, prio: String? = nil, disabled: String? = nil, ordername: String? = nil, auth: String? = nil) -> AnyPublisher<SuccessTextResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/dns/{domainId}/{recordId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{domainId}", with: "\(domainId)")
                localVarPath = localVarPath.replacingOccurrences(of: "{recordId}", with: "\(recordId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                let multipartBoundary = String(format: "Boundary+%08X%08X", arc4random(), arc4random())
                var multipartData = Data()
				if let name = name {
					let nameHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"name\"\r\n")
					    .appending("\r\n")
					multipartData.append(nameHeader.data(using: .utf8) ?? Data())
					multipartData.append(name.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let type = type {
					let typeHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"type\"\r\n")
					    .appending("\r\n")
					multipartData.append(typeHeader.data(using: .utf8) ?? Data())
					multipartData.append()
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let content = content {
					let contentHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"content\"\r\n")
					    .appending("\r\n")
					multipartData.append(contentHeader.data(using: .utf8) ?? Data())
					multipartData.append(content.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let ttl = ttl {
					let ttlHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"ttl\"\r\n")
					    .appending("\r\n")
					multipartData.append(ttlHeader.data(using: .utf8) ?? Data())
					multipartData.append(ttl.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let prio = prio {
					let prioHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"prio\"\r\n")
					    .appending("\r\n")
					multipartData.append(prioHeader.data(using: .utf8) ?? Data())
					multipartData.append(prio.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let disabled = disabled {
					let disabledHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"disabled\"\r\n")
					    .appending("\r\n")
					multipartData.append(disabledHeader.data(using: .utf8) ?? Data())
					multipartData.append(disabled.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let ordername = ordername {
					let ordernameHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"ordername\"\r\n")
					    .appending("\r\n")
					multipartData.append(ordernameHeader.data(using: .utf8) ?? Data())
					multipartData.append(ordername.data(using: .utf8) ?? Data())
					multipartData.append("\r\n".data(using: .utf8) ?? Data())
				}

				if let auth = auth {
					let authHeader = "--\(multipartBoundary)\r\n"
					    .appending("Content-Disposition:form-data; name=\"auth\"\r\n")
					    .appending("\r\n")
					multipartData.append(authHeader.data(using: .utf8) ?? Data())
					multipartData.append(auth.data(using: .utf8) ?? Data())
				}

                multipartData.append("\r\n--\(multipartBoundary)--\r\n".data(using: .utf8) ?? Data())
                request.httpBody = multipartData
                request.setValue("\(multipartData.count)", forHTTPHeaderField: "Content-Length")
                request.setValue("multipart/form-data; boundary=\(multipartBoundary)", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SuccessTextResponse, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(GetAccountInfo401Response.self, from: transportError.data)
                            return UpdateDnsRecordError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SuccessTextResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
