openapi: 3.0.3
info:
  contact:
    email: support@interserver.net
    name: InterServer Support Staff
    url: https://www.interserver.net/contact-us.html
  description: |+
    # Overview

    The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.

    The API covers the following service categories:
    - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management
    - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting
    - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers
    - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html)
    - [Backups](https://www.interserver.net/storage/) — storage and backup services
    - Licenses — control panel and software licenses
    - [Mail](https://www.mail.baby/) — mail delivery services
    - SSL — certificate provisioning
    - Billing — invoices, payment methods, and account management

    For interactive testing, see the [API documentation](/api-docs/).

    # Authentication

    Most endpoints require authentication. Two methods are supported:

    ## API Key (Preferred)

    Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:

    ```
    X-API-KEY: your-api-key-here
    ```

    ## Session-Based Authentication

    Alternatively, authenticate by creating a session:

    1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier.
    2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:

    ```
    sessionid: your-session-id-here
    ```

    API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.

  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.interserver.net/terms-of-service.html
  title: InterServer Management API
  version: 0.9.0
externalDocs:
  description: Tips
  url: https://www.interserver.net/tips/
servers:
- description: Live API Endpoint
  url: https://my.interserver.net/apiv2
security:
- apiKeyAuth: []
- sessionIdHeaderAuth: []
- sessionIdCookieAuth: []
tags:
- description: "Endpoints that do not require authentication. Use these to check API\
    \ availability, look up reference data (countries, currencies, timezones), and\
    \ authenticate."
  name: Public
- description: "Manage your account profile, contact information, security settings,\
    \ API keys, SSH keys, two-factor authentication, and IP access restrictions."
  name: Account
- description: "Invoices, shopping cart, prepay balances, credit cards, and payment\
    \ processing. Use `/pay/{method}/{invoices}` to complete payment for outstanding\
    \ invoices."
  name: Billing
- description: "Cloud backup storage services. Order, view, and manage backup storage\
    \ quotas and credentials."
  name: Backups
- description: "Manage DNS domains and records hosted on InterServer's nameservers.\
    \ Create domains, add/update/delete A, AAAA, CNAME, MX, TXT, and other record\
    \ types."
  name: DNS
- description: "Domain registration, transfers, renewals, WHOIS, nameserver management,\
    \ and DNSSEC configuration."
  name: Domains
- description: Floating IP services that provide portable IP addresses which can be
    reassigned between servers for high availability and failover.
  name: Floating_IPs
- description: "Software license provisioning for control panels (cPanel, Plesk, DirectAdmin)\
    \ and other licensed software. Order, manage, and change IP assignments."
  name: Licenses
- description: "Mail Baby email delivery services. Order, manage, view logs, configure\
    \ alerts and deny rules, and monitor deliverability."
  name: Mail
- description: "Rapid Deploy Servers (QuickServers) — pre-configured dedicated servers\
    \ available for fast provisioning with OS reinstall, backup, and VNC capabilities."
  name: QuickServers
- description: "Dedicated server ordering and management. Configure custom hardware,\
    \ view IPMI information, and manage server lifecycle."
  name: Servers
- description: "SSL/TLS certificate provisioning and management. Order, renew, and\
    \ manage certificates for securing your domains."
  name: SSL-Certificates
- description: "Virtual Private Server management. Order, configure, backup, restore,\
    \ reinstall, and control VPS instances with full root access."
  name: VPS
- description: "Shared and reseller web hosting packages. Order, manage, and access\
    \ hosting control panels, backups, and reverse DNS."
  name: Webhosting
- description: "Support ticket system. Create new tickets, reply to existing ones,\
    \ view ticket history, and close resolved issues."
  name: Tickets
- description: "DDoS protection and IP scrubbing services. Manage protected IPs, configure\
    \ firewall rules, geographic filters, and view traffic logs."
  name: Scrub Ips
paths:
  /account:
    description: |
      This endpoint allows you to manage various user details, including contact information and account security.

      - Use the `GET` method to retrieve your account information.
      - Use the `POST` method to update your stored contact and billing information.
    get:
      description: "Returns the full account profile including contact information,\
        \ billing address, and security settings. Use this to populate account management\
        \ forms or verify account state before making changes with `POST /account`."
      operationId: getAccountInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountInfo"
          description: Your account information.
          links:
            UpdateAccountInfo:
              description: Use the returned account data to pre-fill an update form
                and submit changes via POST /account.
              operationId: updateAccountInfo
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Retrieve Account Details
      tags:
      - Account
    post:
      description: Updates the stored contact and billing information on your account.
        Submit only the fields you want to change. Validation errors are returned
        as a 422 response with field-level messages.
      operationId: updateAccountInfo
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountInfoPost"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountInfoPost"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidTimeZone:
                  value:
                    message: Invalid Time Zone
                MissingRequiredFields:
                  value:
                    message: "fname, lname cannot be empty!"
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Validation error while updating account data.
      summary: Update Account Information
      tags:
      - Account
    summary: User Account Information and Management
  /account/2fa:
    delete:
      description: "Disables two-factor authentication on the account. After disabling,\
        \ the account will only require password-based authentication."
      operationId: deleteAccountTfa
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Disable Two-Factor Authentication
      tags:
      - Account
    get:
      description: "Returns the TOTP secret key needed to configure a two-factor authentication\
        \ app (e.g. Google Authenticator). Present the `2fa_google_key` as a QR code\
        \ or display the `2fa_google_split` value for manual entry. After setup, verify\
        \ with `POST /account/2fa`."
      operationId: getAccountTfaSetup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountTfaSetup_200_response"
          description: Two-factor authentication setup data.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Two-Factor Setup Data
      tags:
      - Account
    post:
      description: Verifies the TOTP code from your authenticator app and enables
        two-factor authentication on the account. Use `GET /account/2fa` first to
        retrieve the secret key for app setup.
      operationId: updateAccountTfa
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/updateAccountTfa_request"
          application/json:
            schema:
              $ref: "#/components/schemas/updateAccountTfa_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidCode:
                  value:
                    message: Invalid Code
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Provided two-factor verification code was invalid.
      summary: Enable Two-Factor Authentication
      tags:
      - Account
  /account/apikey:
    post:
      description: Generates a new API key for the account. The previous key is immediately
        invalidated. Store the new key securely as it cannot be retrieved later.
      operationId: updateAccountApiKey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Generate New API Key
      tags:
      - Account
  /account/creditcards:
    post:
      description: Adds a new credit card to the account for billing. Card details
        are validated and stored securely. The card may require verification before
        it can be used as a payment method.
      operationId: addAccountCreditCard
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Add Credit Card to Account
      tags:
      - Billing
  /account/creditcards/{id}:
    delete:
      description: "Removes a credit card from the account. If this is the default\
        \ payment method, select a new default via `/billing/payment_method` afterward."
      operationId: deleteAccountCreditCard
      parameters:
      - description: The credit card ID. Use the card ID returned from `POST /account/creditcards`
          or listed in `/billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                StringResponseExample:
                  value: '"You were successfull."'
              schema:
                type: string
          description: Simple string response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Remove Credit Card
      tags:
      - Billing
    post:
      description: Updates an existing credit card on the account. Use this to refresh
        stored card metadata such as expiration date or billing address.
      operationId: updateAccountCreditCard
      parameters:
      - description: The credit card ID. Use the card ID returned from `POST /account/creditcards`
          or listed in `/billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                StringResponseExample:
                  value: '"You were successfull."'
              schema:
                type: string
          description: Simple string response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Credit Card
      tags:
      - Billing
  /account/features:
    post:
      description: "Updates account-level feature flags that control service capabilities.\
        \ These flags can disable password reset, OS reinstall, or other potentially\
        \ destructive operations across your services. Changes take effect immediately."
      operationId: updateAccountFeatures
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountFeatures"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountFeatures"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                NoChanges:
                  value:
                    message: Nothing to update
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Request was valid but did not contain updatable values.
      summary: Update Account Feature Flags
      tags:
      - Account
  /account/iplimits:
    patch:
      description: "Removes an IP address range from the account's access restriction\
        \ list. If this is the last range, IP limiting is effectively disabled and\
        \ the account becomes accessible from any IP address."
      operationId: deleteIpLimit
      requestBody:
        content:
          application/json: {}
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericResponse"
          description: IP Range removed.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Remove IP Access Restriction
      tags:
      - Account
    post:
      description: "Adds an IP address range to the account's access restriction list.\
        \ Once IP limiting is active, only requests originating from allowed ranges\
        \ can access the account. Provide the start and end of the range in dotted-quad\
        \ notation."
      operationId: updateAccountIpLimits
      requestBody:
        content:
          multipart/form-data:
            examples:
              IpLimitRangeFormExample:
                value:
                  start: 1.2.3.0
                  end: 1.2.3.255
            schema:
              $ref: "#/components/schemas/IpLimitRange"
          application/json:
            examples:
              IpLimitRangeJsonExample:
                value:
                  start: 1.2.3.0
                  end: 1.2.3.255
            schema:
              $ref: "#/components/schemas/IpLimitRange"
        description: The lower and upper bounds of an ip range.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidIp:
                  value:
                    message: Invalid IP Address
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: IP limit payload contains an invalid address.
      summary: Add IP Access Restriction
      tags:
      - Account
  /account/oauth/{name}:
    delete:
      description: "Unlinks a third-party OAuth provider from the account. After unlinking,\
        \ that provider can no longer be used for login."
      operationId: deleteAccountOauthName
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Unlink OAuth Account
      tags:
      - Account
  /account/oauth/{name}/logout:
    get:
      description: Logs out of the specified OAuth provider session.
      operationId: logoutAccountOauth
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Logout of OAuth
      tags:
      - Account
  /account/password:
    post:
      description: "Changes the account login password. The current password must\
        \ be provided for verification. After a successful change, existing API keys\
        \ remain valid but active sessions may require re-authentication."
      operationId: updateAccountPassword
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PasswordRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Change Account Password
      tags:
      - Account
  /account/sshkey:
    post:
      description: Updates the SSH public key stored on the account. This key can
        be automatically installed on new VPS and server orders.
      operationId: updateAccountSshKey
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AccountSshKey"
          application/json:
            schema:
              $ref: "#/components/schemas/AccountSshKey"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update SSH Keys
      tags:
      - Account
  /account/username:
    post:
      description: "Changes the login username for the account. The new username must\
        \ be unique across all accounts. After changing, use the new username for\
        \ all future logins."
      operationId: changeAccountUsername
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "400":
          content:
            application/json:
              examples:
                InvalidTimezone:
                  value:
                    code: 422
                    message: Invalid timezone
                MissingCaptcha:
                  value:
                    code: 422
                    message: missing captcha
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: The specified resource was not found
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Change Account Username
      tags:
      - Account
  /affiliate/banners:
    get:
      description: "Returns the catalog of available affiliate banner images with\
        \ their dimensions. Use these assets to build marketing creatives for your\
        \ affiliate campaigns. Each banner includes the image filename, width, and\
        \ height for layout purposes."
      operationId: getAffiliateBanners
      responses:
        "200":
          content:
            application/json:
              examples:
                AffiliateBannerExample:
                  value:
                  - image: 12946798.gif
                    width: "125"
                    height: "125"
                  - image: 12946800.gif
                    width: "160"
                    height: "90"
                  - image: 12946802.gif
                    width: "160"
                    height: "190"
                  - image: 12946806.gif
                    width: "200"
                    height: "200"
                  - image: 12946808.gif
                    width: "250"
                    height: "250"
                  - image: 12946811.gif
                    width: "300"
                    height: "250"
              schema:
                items:
                  $ref: "#/components/schemas/AffiliateBannerRow"
                type: array
          description: Affiliate Banners Array
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Affiliate Banner Assets
      tags:
      - Billing
  /affiliate/landing_pg:
    post:
      description: "Updates the affiliate landing page configuration, including the\
        \ title, description, and coupon code. Visitors who arrive through your affiliate\
        \ link see this customized page. Changes are published immediately."
      operationId: updateAffiliateLandingPage
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Configure Affiliate Landing Page
      tags:
      - Billing
  /affiliate/dock_setup:
    post:
      description: Updates the affiliate dock settings including the referral coupon
        and marketing copy. The dock is the branded landing page shown to visitors
        arriving via your affiliate link. Use this to customize the coupon code and
        promotional text.
      operationId: updateAffiliateDockSetup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliateDockSetup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Configure Affiliate Dock Settings
      tags:
      - Billing
  /affiliate/payment_setup:
    post:
      description: "Updates how you receive affiliate commission payouts. Choose between\
        \ prepay credit applied to your account balance or PayPal disbursement. When\
        \ selecting PayPal, provide the email address linked to your PayPal account."
      operationId: updateAffiliatePaymentSetup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/AffiliatePaymentSetup"
          application/json:
            schema:
              $ref: "#/components/schemas/AffiliatePaymentSetup"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Configure Affiliate Payout Preferences
      tags:
      - Billing
  /affiliate/rich_report:
    get:
      description: "Returns a detailed affiliate performance report with commission\
        \ totals, conversion rates, and traffic summary. Use this for a comprehensive\
        \ overview of your affiliate program performance in a single request."
      operationId: getAffiliateRichReport
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Affiliate Performance Report
      tags:
      - Billing
  /affiliate/sales_graph:
    get:
      description: Returns time-series sales data for the requested number of days.
        Use this to render sales trend charts in an affiliate dashboard. Each data
        point represents aggregated sales for a time period.
      operationId: getAffiliateSalesGraph
      parameters:
      - description: Number of days of sales history to include in the graph data.
          Determines the time window for the returned data points.
        explode: true
        in: query
        name: days
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatusMonthlyBreakdown"
          description: Affiliate sales graph data broken down by time period.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Affiliate Sales Graph Data
      tags:
      - Billing
  /affiliate/sales_report:
    get:
      description: Returns the affiliate sales report with commission amounts and
        order summaries. Use this for tabular sales data export or to reconcile commission
        payouts against individual referral orders.
      operationId: getAffiliateSalesReport
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: Response with a text message field.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Affiliate Sales Report
      tags:
      - Billing
  /affiliate/traffic_graph:
    get:
      description: Returns time-series traffic data for the requested number of days.
        Use this to render click and visit trend charts in an affiliate dashboard.
        Each data point represents aggregated traffic counts for a time period.
      operationId: getAffiliateTrafficGraph
      parameters:
      - description: Number of days of traffic history to include in the graph data.
          Determines the time window for the returned data points.
        explode: true
        in: query
        name: days
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonthlyCounts"
          description: Affiliate traffic graph data broken down by time period.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Affiliate Traffic Graph Data
      tags:
      - Billing
  /affiliate/web_traffic:
    get:
      description: "Returns individual web traffic log entries for affiliate referrals,\
        \ including visitor IP address, referral URL, and timestamp. Use this to audit\
        \ traffic sources, identify top referrers, or investigate suspicious click\
        \ patterns."
      operationId: getAffiliateWebTraffic
      responses:
        "200":
          content:
            application/json:
              examples:
                AffiliateWebTrafficResponseExample:
                  value:
                  - traffic_id: "91839913"
                    traffic_ip: "2a06:98c0:3600::"
                    traffic_url: https://www.interserver.net/webhosting/?id=8
                    traffic_affiliate: "8"
                    traffic_referrer: ""
                    traffic_timestamp: 2023-09-30 06:30:27
                  - traffic_id: "91831932"
                    traffic_ip: "2a06:98c0:3600::"
                    traffic_url: https://www.interserver.net/webhosting/?id=8
                    traffic_affiliate: "8"
                    traffic_referrer: ""
                    traffic_timestamp: 2023-09-30 03:15:13
              schema:
                items:
                  $ref: "#/components/schemas/AffiliateTrafficRow"
                type: array
          description: The recent affiliate web traffic
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Affiliate Web Traffic Entries
      tags:
      - Billing
  /backups:
    get:
      description: "Returns all backup storage services on your account. Each entry\
        \ includes the `backup_id`, `backup_username`, `backup_ip`, `backup_status`,\
        \ and `backup_quota`. Use the `backup_id` with `/backups/{id}` to retrieve\
        \ full service details or `/backups/{id}/login` to obtain a storage panel\
        \ session."
      operationId: getBackupsList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/BackupRow"
                type: array
          description: The listing of backup storage services on your account.
          links:
            GetBackupDetails:
              description: Use the backup_id from the list to retrieve full service
                details including connection info and status.
              operationId: getBackupInfo
              parameters:
                id: $response.body#/0/backup_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Backup Services
      tags:
      - Backups
  /backups/order:
    get:
      description: "Returns available backup storage plans, pricing tiers, and form\
        \ metadata needed to build an order form. Use the service type IDs from this\
        \ response when submitting a validation request via `PUT /backups/order` or\
        \ placing an order via `POST /backups/order`."
      operationId: getNewBackup
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupsOrder"
          description: Information needed to generate an order form.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Backup Order Form Data
      tags:
      - Backups
    post:
      description: "Places a new backup storage order and generates an invoice. On\
        \ success, the response includes invoice IDs that can be used with `/billing/invoices/{id}`\
        \ to view the invoice or `/pay/{method}/{invoices}` to complete payment. The\
        \ service is provisioned after payment is confirmed."
      operationId: addBackup
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupOrderPostResponse"
          description: Response from the backup order call including invoice IDs for
            payment.
          links:
            InitiatePayment:
              description: Use the invoice ID from the order response to retrieve
                invoice details or proceed to payment.
              operationId: getBillingInvoice
              parameters:
                id: $response.body#/invoices_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        default:
          description: Default response
      summary: Place Backup Order
      tags:
      - Backups
    put:
      description: "Validates a backup storage order without placing it, returning\
        \ calculated pricing and any validation errors. Use this to display a confirmation\
        \ screen with the final price before submitting the order via `POST /backups/order`."
      operationId: validateBackupOrder
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
          application/json:
            schema:
              $ref: "#/components/schemas/BackupOrderPutRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupOrderPutResponse"
          description: Validate Backup Order Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Validate Backup Order
      tags:
      - Backups
  /backups/{id}:
    delete:
      description: Cancels the specified backup storage service. The service remains
        accessible until the end of the current billing period. This action cannot
        be undone; a new order must be placed to restore service.
      operationId: cancelBackup
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/cancelBackup_200_response"
          description: Backups Cancel
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Cancel Backup Service
      tags:
      - Backups
    get:
      description: "Returns detailed service information for the specified backup\
        \ storage order, including `backup_username`, `backup_ip`, `backup_status`,\
        \ and `backup_quota` in `serviceInfo`. Also returns `client_links`, `billingDetails`,\
        \ `extraInfoTables`, `package`, and `custCurrency`."
      operationId: getBackupInfo
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Backup"
          description: "Full backup service details including serviceInfo, billingDetails,\
            \ and client_links."
          links:
            GetBackupInvoices:
              description: Retrieve invoices for this backup service.
              operationId: getBackupInvoices
              parameters:
                id: $request.path.id
            GetBackupLogin:
              description: Obtain a login session URL for the backup storage panel.
              operationId: getBackupLogin
              parameters:
                id: $request.path.id
            CancelBackup:
              description: Cancel this backup service.
              operationId: cancelBackup
              parameters:
                id: $request.path.id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Backup Service Details
      tags:
      - Backups
    post:
      description: "Updates backup storage service metadata, such as stored credentials\
        \ or settings for the order."
      operationId: updateBackupInfo
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Backup Information
      tags:
      - Backups
  /backups/{id}/invoices:
    get:
      description: Retrieves invoices associated with the backup storage order. Use
        this to confirm billing status or locate invoices for payment.
      operationId: getBackupInvoices
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeInvoiceRows"
          description: Get Invoices response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Backup Order Invoices
      tags:
      - Backups
  /backups/{id}/login:
    get:
      description: Creates and returns a login session URL for the backup storage
        panel. The returned session URL can be used to redirect the user directly
        into the storage management interface without requiring separate credentials.
      operationId: getBackupLogin
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupLoginResponse"
          description: Login session details for the backup storage service.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Backup Storage Panel Login
      tags:
      - Backups
  /backups/{id}/welcome_email:
    get:
      description: Resends the welcome email for the specified backup service. The
        email contains connection credentials and setup instructions. Use this when
        the original welcome email was lost or never received.
      operationId: getBackupsWelcomeEmail
      parameters:
      - description: The backup service ID. Use the `backup_id` from `GET /backups`
          to identify the service.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Resend Backup Welcome Email
      tags:
      - Backups
  /billing/cart:
    get:
      description: "Returns the current cart contents, available payment methods,\
        \ and checkout metadata for the authenticated account. Use this to display\
        \ the cart page, show totals, and determine which payment options are available\
        \ before directing the user to `/pay/{method}/{invoices}`."
      operationId: getBillingCart
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Cart contents and checkout metadata.
                type: object
          description: Current shopping cart contents and available payment methods.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Shopping Cart Contents
      tags:
      - Billing
  /billing/prepays:
    get:
      description: Lists prepay balances and their associated metadata. Use this to
        determine whether an account has usable prepay funds before selecting `prepay`
        as a payment method.
      operationId: getBillingPrePays
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Prepay balance data.
                type: object
          description: Prepay balances and metadata.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Prepay Balances
      tags:
      - Billing
    post:
      description: "Creates a new prepay balance deposit and returns the invoice ID\
        \ that must be paid to activate it. The prepay balance can then be used as\
        \ a payment method for future orders. Use `/billing/invoices/{id}` to retrieve\
        \ the generated invoice details."
      operationId: addBillingPrepay
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingPrepayRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingPrepayRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Create Prepay Deposit
      tags:
      - Billing
  /billing/prepays/{id}:
    delete:
      description: Deletes a prepay balance from the account. The balance must have
        remaining funds to be eligible for deletion. Use `GET /billing/prepays` to
        list available prepay balances and their IDs.
      operationId: deleteBillingPrepay
      parameters:
      - description: The prepay balance ID to delete.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete Prepay Balance
      tags:
      - Billing
  /billing/invoices:
    get:
      description: "Returns the invoice list for the account with summary totals.\
        \ Use the invoice IDs from the response with `/billing/invoices/{id}` to retrieve\
        \ detailed line items, or with `/pay/{method}/{invoices}` to initiate payment."
      operationId: getBillingInvoices
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInvoiceList"
          description: Invoice listing and summary for the account.
          links:
            GetInvoiceDetails:
              description: Use an invoice ID from the list to retrieve the full invoice
                details for payment or review.
              operationId: getBillingInvoice
              parameters:
                id: $response.body#/invoices/0/id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Account Invoices
      tags:
      - Billing
  /billing/invoices/{id}:
    delete:
      description: Deletes a pending (unpaid) invoice from the account. Only invoices
        with a pending payment status can be deleted. Paid invoices cannot be removed.
        Related service records and repeat invoices are also cleaned up.
      operationId: deleteBillingInvoice
      parameters:
      - description: The invoice ID to delete. Only unpaid invoices can be deleted.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete Invoice
      tags:
      - Billing
    get:
      description: "Retrieves the full invoice information including line items, amounts,\
        \ and payment status. Use this before redirecting to `/pay/{method}/{invoices}`\
        \ so you can display the exact amount due and confirm the invoice is still\
        \ unpaid."
      operationId: getBillingInvoice
      parameters:
      - description: The invoice ID. Use IDs from `GET /billing/invoices` or from
          order responses.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingInvoiceDetail"
          description: Detailed invoice payload for the requested invoice.
          links:
            DeleteInvoice:
              description: Delete this invoice if it is still unpaid.
              operationId: deleteBillingInvoice
              parameters:
                id: $request.path.id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Invoice Details
      tags:
      - Billing
  /billing/creditcards:
    post:
      description: "Adds a new credit card to the account for use as a payment method.\
        \ If the card requires verification, the response indicates the next step.\
        \ Complete verification via `GET /billing/creditcards/{id}/verify` followed\
        \ by `POST /billing/creditcards/{id}/verify` before the card can be used for\
        \ payments."
      operationId: addBillingCreditCard
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingAddCcRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Add Credit Card for Billing
      tags:
      - Billing
  /billing/creditcards/{id}:
    delete:
      description: Removes the selected credit card from the account. Use `/billing/payment_method`
        to select a new default payment method after deleting a card.
      operationId: deleteBillingCreditCard
      parameters:
      - description: The credit card ID to remove. Use IDs from `GET /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete Credit Card
      tags:
      - Billing
    post:
      description: Updates stored credit card metadata or retrieves the masked card
        details. Use this to refresh card data before verification or to update billing
        address information associated with the card.
      operationId: updateBillingCreditCard
      parameters:
      - description: The credit card ID. Use IDs from `GET /billing/creditcards` or
          the response from `POST /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Credit Card Details
      tags:
      - Billing
  /billing/creditcards/{id}/verify:
    get:
      description: Retrieves the verification requirements for a newly added credit
        card. The response indicates whether the card requires micro-charge amount
        confirmation or CVV validation. Use this before presenting a verification
        form to the user.
      operationId: getBillingCreditCardVerify
      parameters:
      - description: The credit card ID to verify. Use the ID returned from `POST
          /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Credit Card Verification Requirements
      tags:
      - Billing
    post:
      description: "Completes the credit card verification flow by submitting the\
        \ micro-charge amounts or CVV as required by `GET /billing/creditcards/{id}/verify`.\
        \ A successful response means the card is verified and can be selected as\
        \ a payment method via `/billing/payment_method`."
      operationId: postBillingCreditCardVerify
      parameters:
      - description: The credit card ID to verify. Use the ID returned from `POST
          /billing/creditcards`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingVerifyCcRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingVerifyCcRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Submit Credit Card Verification
      tags:
      - Billing
  /billing/payment_method:
    post:
      description: "Updates the account's default payment method, including selecting\
        \ a verified credit card as the primary payment source or switching to PayPal\
        \ when available."
      operationId: updateBillingPaymentMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingPaymentMethodRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/BillingPaymentMethodRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Default Payment Method
      tags:
      - Billing
  /captcha:
    get:
      description: Returns a base64-encoded JPEG captcha image for human verification.
        Display this image to the user and submit their response along with the registration
        or order form. No authentication is required for this endpoint.
      operationId: getCaptcha
      responses:
        "200":
          content:
            application/json:
              examples:
                CaptchaResponseExample:
                  value:
                    captcha: "data:image/jpeg;base64,/9j/4AAQ"
              schema:
                $ref: "#/components/schemas/CaptchaResponse"
          description: An array containing a `captcha` field containing a string with
            a base64 encoded captcha image.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      security:
      - {}
      summary: Get Captcha Challenge
      tags:
      - Public
  /buy_now_servers_list:
    get:
      description: "Returns the list of available Rapid Deploy dedicated servers with\
        \ current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation,\
        \ and location details. These servers are pre-configured and can be provisioned\
        \ immediately after purchase."
      operationId: getMPServers
      responses:
        "200":
          content:
            application/json:
              example:
              - server_id: "10467"
                cpu:
                - Xeon E3-1270v6
                - img: xeon-e3.png
                  type: XEON
                  speed: ""
                  num_cpus: "1"
                  num_cores: "4"
                memory: 64GB
                disk:
                  "4TB SSD": 4TB SSD
                bandwidth: 1Gbps Unmetered
                ips: 1 Vlan Ip (/30)
                location: NYC Region
                price: 64
              schema:
                $ref: "#/components/schemas/BuyItNowList"
          description: Marketplace Buy it now servers list
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Marketplace Servers
      tags:
      - Servers
      - Public
  /dns:
    description: View and manage your DNS domains and records
    get:
      description: "Returns the DNS domains on your account along with their primary\
        \ A record content. Use the `id` from each entry with `/dns/{id}` to retrieve\
        \ the full record set, or to add, update, and delete individual records."
      operationId: getDnsList
      responses:
        "200":
          content:
            application/json:
              examples:
                DnsListExample:
                  value:
                  - id: 68
                    name: hussfamily.com
                    content: 64.20.35.186
                  - id: 1658
                    name: detain.interserver.net
                    content: 66.45.228.74
                  - id: 1659
                    name: creation.interserver.net
                    content: 66.23.239.99
              schema:
                items:
                  $ref: "#/components/schemas/DnsListItem"
                type: array
          description: Listing of DNS domains on the account with their primary A
            record.
          links:
            GetDnsDomain:
              description: Use the domain id from the list to retrieve all DNS records
                for that domain.
              operationId: getDnsDomain
              parameters:
                id: $response.body#/0/id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List DNS Domains
      tags:
      - DNS
    post:
      description: "Creates a new DNS domain and assigns an initial A record pointing\
        \ to the supplied IP address. The domain is immediately available on InterServer's\
        \ DNS servers. Use `/dns/{id}` to manage records after creation."
      operationId: addDnsDomain
      requestBody:
        content:
          multipart/form-data:
            examples:
              DnsNewDomainExample:
                value:
                  domain: mydomain.com
                  ip: 1.2.3.4
            schema:
              $ref: "#/components/schemas/DnsNewDomain"
          application/json:
            examples:
              DnsNewDomainExampleJson:
                value:
                  domain: mydomain.com
                  ip: 1.2.3.4
            schema:
              $ref: "#/components/schemas/DnsNewDomain"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Create DNS Domain
      tags:
      - DNS
    summary: DNS Management
  /dns/{id}:
    delete:
      description: Deletes a DNS domain and all of its associated records from the
        DNS servers. This action is permanent and cannot be undone. Any services relying
        on these DNS records will be affected immediately.
      operationId: deleteDnsDomain
      parameters:
      - description: The DNS domain ID to delete. Use the `id` from `GET /dns` to
          identify the domain.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete DNS Domain
      tags:
      - DNS
    description: View and manage a domain and the records for it.
    get:
      description: "Returns the full set of DNS records for the specified domain,\
        \ including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record\
        \ `id` values with `/dns/{domainId}/{recordId}` to update or delete individual\
        \ records."
      operationId: getDnsDomain
      parameters:
      - description: The DNS domain ID. Use the `id` from `GET /dns` to identify the
          domain.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                DnsRecordExample:
                  value:
                  - id: "473"
                    domain_id: "68"
                    name: hussfamily.com
                    type: NS
                    content: cdns1.interserver.net
                    ttl: "86400"
                    prio: "0"
                    disabled: "0"
                    ordername: ""
                    auth: "1"
                  - id: "474"
                    domain_id: "68"
                    name: hussfamily.com
                    type: NS
                    content: cdns2.interserver.net
                    ttl: "86400"
                    prio: "0"
                    disabled: "0"
                    ordername: ""
                    auth: "1"
                  - id: "475"
                    domain_id: "68"
                    name: hussfamily.com
                    type: A
                    content: 64.20.35.186
                    ttl: "86400"
                    prio: "0"
                    disabled: "0"
                    ordername: ""
                    auth: "1"
              schema:
                items:
                  $ref: "#/components/schemas/DnsRecord"
                type: array
          description: The DNS records for the specified domain.
          links:
            UpdateDnsRecord:
              description: Use a record id from the list to update that DNS record.
              operationId: updateDnsRecord
              parameters:
                domainId: $request.path.id
                recordId: $response.body#/0/id
            DeleteDnsRecord:
              description: Use a record id from the list to delete that DNS record.
              operationId: deleteDnsRecord
              parameters:
                domainId: $request.path.id
                recordId: $response.body#/0/id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Domain DNS Records
      tags:
      - DNS
    post:
      description: "Adds a new DNS record to the specified domain. Provide the record\
        \ type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority.\
        \ The record takes effect on the DNS servers immediately. Use `GET /dns/{id}`\
        \ afterward to confirm the record was created."
      operationId: addDnsRecord
      parameters:
      - description: The DNS Domain ID.
        examples:
          DnsDomainIdExample:
            value: "472"
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DnsNewRecord"
          application/json:
            schema:
              $ref: "#/components/schemas/DnsNewRecord"
        required: true
      responses:
        "200":
          description: Add DNS Domain Response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Add DNS Record to Domain
      tags:
      - DNS
    summary: DNS Domain Management
  /dns/{domainId}/{recordId}:
    delete:
      description: "Removes a DNS record from the specified domain. The deletion takes\
        \ effect on the DNS servers immediately. Use `GET /dns/{id}` to verify the\
        \ record has been removed."
      operationId: deleteDnsRecord
      parameters:
      - description: The DNS domain ID. Use the `id` from `GET /dns` to identify the
          domain.
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: integer
        style: simple
      - description: "The DNS record ID within the domain. Use the record `id` from\
          \ `GET /dns/{id}` to identify the record."
        explode: false
        in: path
        name: recordId
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Delete DNS Record
      tags:
      - DNS
    description: Manage a DNS Record for the given Domain.
    post:
      description: "Updates an existing DNS record with new values. Use `GET /dns/{id}`\
        \ to list records and retrieve the record IDs before updating. Changes propagate\
        \ to the DNS servers immediately."
      operationId: updateDnsRecord
      parameters:
      - description: The DNS domain ID. Use the `id` from `GET /dns` to identify the
          domain.
        explode: false
        in: path
        name: domainId
        required: true
        schema:
          type: integer
        style: simple
      - description: "The DNS record ID within the domain. Use the record `id` from\
          \ `GET /dns/{id}` to identify the record."
        explode: false
        in: path
        name: recordId
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DnsUpdateRecord"
          application/json:
            schema:
              $ref: "#/components/schemas/DnsUpdateRecord"
        description: The request data to update a dns record.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update DNS Record
      tags:
      - DNS
    summary: DNS Record Management
  /domains:
    get:
      description: "Returns the domain services on your account, including the billing\
        \ order ID, hostname, expiration date, and status. Use the `domain_id` from\
        \ this response with `GET /domains/{id}` to fetch full service details, or\
        \ with `/domains/{id}/nameservers`, `/domains/{id}/contact`, and `/domains/{id}/whois`\
        \ to manage registration settings."
      operationId: getDomainsList
      responses:
        "200":
          content:
            application/json:
              examples:
                DomainsExample:
                  value:
                  - domain_id: "418295"
                    domain_hostname: unixsrv10.com
                    domain_expire_date: ""
                    cost: "11.00"
                    domain_status: canceled
                  - domain_id: "592337"
                    domain_hostname: detain.dev
                    domain_expire_date: 2023-08-14T00:59:38.000Z
                    cost: "18.00"
                    domain_status: active
              schema:
                items:
                  $ref: "#/components/schemas/DomainRow"
                type: array
          description: The listing of `Domains` services on your account.
          links:
            getDomainInfo:
              description: "Use the `domain_id` from any item in the response array\
                \ to fetch full service details via `GET /domains/{id}`."
              operationId: getDomainInfo
              parameters:
                id: $response.body#/0/domain_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: List Domain Orders
      tags:
      - Domains
  /domains/lookup/{name}:
    get:
      description: "Checks a domain for availability and premium status, and returns\
        \ pricing information for new, renewal, and transfer actions when possible.\
        \ The response also includes the order field metadata you can pass to `/domains/order`\
        \ when placing a registration or transfer."
      operationId: getDomainLookup
      parameters:
      - description: The full domain name to look up (for example `example.com`).
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainLookupResponse"
          description: "Availability, pricing, and field metadata for the requested\
            \ domain."
          links:
            addDomain:
              description: Use the pricing and field metadata from this lookup response
                to populate the order request for `POST /domains/order`.
              operationId: addDomain
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "422":
          content:
            application/json:
              examples:
                InvalidDomainName:
                  value:
                    message: Invalid Domain
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: The domain input was invalid.
      summary: Lookup Domain Availability and Pricing
      tags:
      - Domains
  /domains/search/{name}:
    get:
      description: "Queries the registrar for suggested domains and availability data.\
        \ Use the returned `lookup` results to identify availability and then call\
        \ `/domains/lookup/{name}` or `/domains/order` to obtain pricing and order\
        \ fields for the chosen domain."
      operationId: getDomainSearch
      parameters:
      - description: The base domain name to search (for example `example` or `example.com`).
        explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainSearchResponse"
          description: Suggested and lookup results for the supplied search term.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
        "404":
          content:
            application/json:
              examples:
                InvalidSearchResponse:
                  value:
                    message: Invalid Search Response!  Either there was an error communicating
                      with the registrars or We received no results.
              schema:
                $ref: "#/components/schemas/TextResponse"
          description: No search suggestions or registrar response available.
      summary: Search Domain Suggestions
      tags:
      - Domains
  /domains/order:
    get:
      description: "Returns the catalog of available domain services, including TLD\
        \ service IDs and base Whois privacy pricing. Use the `tldServices` map to\
        \ resolve a TLD into a service ID when you build an order request for `/domains/order`\
        \ (POST) or the domain-field lookup endpoints."
      operationId: getNewDomain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainOrder"
          description: Domain registration order information.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Ordering Information
      tags:
      - Domains
    patch:
      description: Returns the domain-specific field requirements for the supplied
        hostname and registration type. Use this to build the form data required for
        `/domains/order` (POST).
      operationId: patchDomains
      responses:
        "200":
          description: Validate Domain order response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Validate Domain Order
      tags:
      - Domains
    post:
      description: "Places a new domain registration or transfer order. Use the results\
        \ from `/domains/lookup/{name}` or `/domains/order/{domain}/{regType}` to\
        \ populate the required domain fields before submitting the order."
      operationId: addDomain
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceOrderPostResponse"
          description: "Order placed successfully. Use the invoice ID to proceed to\
            \ payment via `/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`."
          links:
            InitiatePayment:
              description: Use the invoice ID from the order response to retrieve
                invoice details or proceed to payment.
              operationId: getBillingInvoice
              parameters:
                id: $response.body#/iid
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Place Domain Order
      tags:
      - Domains
    put:
      description: Returns validation data for a domain order request (such as availability
        and pricing information). This is typically used as a pre-flight check before
        submitting a POST order.
      operationId: putDomains
      responses:
        "200":
          description: Validate Domain Order response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Domain Order Search
      tags:
      - Domains
  /domains/order/{domain}:
    get:
      description: "Returns order data for the specified domain hostname, including\
        \ availability and pricing details. Use this to preview order information\
        \ before placing a registration or transfer."
      operationId: getDomainOrderSearchResults
      parameters:
      - description: The fully qualified domain name to look up (e.g. `example.com`).
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Domain availability and pricing information.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Order Search Results
      tags:
      - Domains
  /domains/order/{domain}/{regType}:
    get:
      description: Returns the registration-type-specific form fields required to
        place a domain order for the given hostname. Use the returned fields to build
        the POST body for `POST /domains/order`.
      operationId: getDomainOrderFields
      parameters:
      - description: The fully qualified domain name (e.g. `example.com`).
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      - description: The registration type. Common values include `register` for new
          registrations and `transfer` for inbound transfers.
        explode: false
        in: path
        name: regType
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: Registration-type-specific form field definitions.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Order Fields
      tags:
      - Domains
  /domains/{id}:
    delete:
      description: "Cancels the domain order in the billing system. After cancellation\
        \ the service will no longer auto-renew and will transition to a `canceled`\
        \ status. The domain registration itself may remain active at the registrar\
        \ until its current expiration date, but no further renewals will be processed.\
        \ Treat the domain as inactive in downstream automation after this call succeeds."
      operationId: CancelDomain
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelDomain_200_response"
          description: Domains Cancel
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Cancel Domain Order
      tags:
      - Domains
    get:
      description: "Fetches the detailed domain service record (billing, registration,\
        \ and service metadata) for the specified order ID. Use the `domain_hostname`\
        \ from this response when calling `/domains/lookup/{name}` or when interacting\
        \ with nameserver and DNSSEC management endpoints."
      operationId: getDomainInfo
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Domain"
          description: Domain Information.
          links:
            getDomainContact:
              description: Retrieve the registrant and admin contact details for this
                domain.
              operationId: getDomainContact
              parameters:
                id: $response.body#/serviceInfo/domain_id
            getDomainDnssec:
              description: Retrieve the DNSSEC DS records for this domain.
              operationId: getDomainDnssec
              parameters:
                id: $response.body#/serviceInfo/domain_id
            getDomainInvoices:
              description: Retrieve the billing invoices for this domain order.
              operationId: getDomainInvoices
              parameters:
                id: $response.body#/serviceInfo/domain_id
            getDomainWhoisPrivacy:
              description: Retrieve the Whois privacy status for this domain.
              operationId: getDomainWhoisPrivacy
              parameters:
                id: $response.body#/serviceInfo/domain_id
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Order
      tags:
      - Domains
    post:
      description: Updates the domain service record for the order. Use this for account-level
        changes such as updating stored registration metadata or transfer attributes.
      operationId: updateDomainInfo
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Domain Order
      tags:
      - Domains
  /domains/{id}/contact:
    get:
      description: "Returns the current domain contact details that will be used for\
        \ the registrant, admin, technical, and billing contact records. Use this\
        \ response as the basis for any contact updates."
      operationId: getDomainContact
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainContactDetails"
          description: The registrant/admin contact details for the domain.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Contact Details
      tags:
      - Domains
    post:
      description: Updates the registrant/admin contact details for the domain. Submit
        the same fields returned by the GET response after making the desired changes.
        Domain updates require the service to be active and unlocked.
      operationId: updateDomainContact
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainContactDetails"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DomainContactDetails"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Update Domain Contact Details
      tags:
      - Domains
  /domains/{id}/dnssec:
    delete:
      description: Removes DNSSEC DS records from the domain registration. Use this
        to disable DNSSEC at the registrar level.
      operationId: deleteDomainDnssec
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Set to `delete` to remove all DNSSEC records.
        explode: true
        in: query
        name: action
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Remove Domain DNSSEC Records
      tags:
      - Domains
    get:
      description: Returns the DNSSEC DS records registered with the domain. Use the
        record data if you need to synchronize DNSSEC settings with another registry
        or to prepare an update request.
      operationId: getDomainDnssec
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DomainDnssecRecords"
          description: DNSSEC records currently applied to the domain.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain DNSSEC Records
      tags:
      - Domains
    post:
      description: "Adds DNSSEC DS records to the domain registration. Provide one\
        \ or more DNSSEC record entries (algorithm, digest type, digest, key tag).\
        \ Registrations must be active."
      operationId: addDomainDnssec
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DomainDnssecRequest"
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/DomainDnssecRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Add Domain DNSSEC Records
      tags:
      - Domains
  /domains/{id}/invoices:
    get:
      description: Retrieves invoice records associated with the domain order. Use
        this to reconcile billing or to confirm whether renewals or add-ons (such
        as Whois privacy) have been invoiced.
      operationId: getDomainInvoices
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChargeInvoiceRows"
          description: Get Invoices response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Get Domain Invoices
      tags:
      - Domains
  /domains/{id}/renew:
    get:
      description: Starts the domain renewal workflow for an active domain. This endpoint
        currently returns a status message indicating that renewal handling has been
        triggered.
      operationId: getDomainRenewal
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Start Domain Renewal Flow
      tags:
      - Domains
    post:
      description: "Submits a domain renewal request for the order. Use `/domains/{id}/invoices`\
        \ to identify any invoices created as part of the renewal flow."
      operationId: postDomainRenewal
      parameters:
      - description: The domain service ID. Use `domain_id` from `GET /domains`.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessTextResponse"
          description: A response indicating the operation completed successfully
            with a text message.
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getAccountInfo_401_response"
          description: Unauthorized
      summary: Request Domain Renewal
      tags:
      - Domains
  /domains/{id}/transfer:
    get:
      description: "Initiates the transfer workflow for a domain already in your account.\
        \ Use this in coordination with `/domains/{id}/contact` to ensure registrant\
        \ details are ready for the transfer request."
      operationId: getDomainTransfer
      parameters:
[...]
