/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.IpObject
import org.openapitools.client.model.License
import org.openapitools.client.model.LicenseRow
import org.openapitools.client.model.LicensesCancel200Response
import org.openapitools.client.model.LicensesOrder
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LicensesApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new LicensesApi(baseUrl)
}

class LicensesApi(baseUrl: String) {

  /**
   * Places an order for a new software license. Use `PUT /licenses/order` to validate the order first.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addLicense()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/licenses/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Returns detailed information about a specific license including its type, IP assignment, and status.
   * 
   * Expected answers:
   *   code 200 : License (License information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicenseInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[License] =
    ApiRequest[License](ApiMethods.GET, baseUrl, "/licenses/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[License](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the billing invoices associated with this license service.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicenseInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/licenses/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns all software license services on the account with their current status and IP assignments.
   * 
   * Expected answers:
   *   code 200 : Seq[LicenseRow] (The listing of `Licenses` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getLicenseList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[LicenseRow]] =
    ApiRequest[Seq[LicenseRow]](ApiMethods.GET, baseUrl, "/licenses", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[LicenseRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the available license types and pricing for a specific license category. Use the category tags from `GET /licenses/order` to identify valid values.
   * 
   * Expected answers:
   *   code 200 :  (License types and pricing for the specified category.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param catTag The license category tag (e.g. `cpanel`, `plesk`). Obtain valid values from the `GET /licenses/order` response.
   */
  def getLicenseOrderCatTagInfo(catTag: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/licenses/order/{catTag}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("catTag", catTag)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email for the license service. The email contains the license key and activation instructions.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def getLicensesWelcomeEmail(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/licenses/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves available license types, categories, and pricing for ordering a new license.
   * 
   * Expected answers:
   *   code 200 : LicensesOrder (License ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewLicense()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[LicensesOrder] =
    ApiRequest[LicensesOrder](ApiMethods.GET, baseUrl, "/licenses/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[LicensesOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Cancels a license service. After cancellation the license key is deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
   * 
   * Expected answers:
   *   code 200 : LicensesCancel200Response (License Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def licensesCancel(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[LicensesCancel200Response] =
    ApiRequest[LicensesCancel200Response](ApiMethods.DELETE, baseUrl, "/licenses/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[LicensesCancel200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the IP address associated with the license. The service must be active. Use `GET /licenses/{id}` to view the current IP assignment before making changes.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   * @param ipObject 
   */
  def postLicenseChangeIp(id: Int, ipObject: IpObject)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/licenses/{id}/change_ip", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(ipObject)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Validates a license order before placing it. Use this to check for errors before committing to a purchase.
   * 
   * Expected answers:
   *   code 200 :  (Validate Licenses order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putLicenses()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/licenses/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates settings on a license service such as its assigned IP.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The license service ID. Use `license_id` from `GET /licenses`.
   */
  def updateLicenseInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/licenses/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      



}

