/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CancelScrubIp200Response
import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.CreateFilter
import org.openapitools.client.model.CreateFilter201Response
import org.openapitools.client.model.CreateFilter400Response
import org.openapitools.client.model.CreateFilter500Response
import org.openapitools.client.model.CreateFirewallRule
import org.openapitools.client.model.CreateGeoFirewallRule
import org.openapitools.client.model.CreateGeoRule400Response
import org.openapitools.client.model.CreateRule201Response
import org.openapitools.client.model.CreateRule400Response
import org.openapitools.client.model.CreateRule500Response
import org.openapitools.client.model.DeleteFilter200Response
import org.openapitools.client.model.DeleteFilter400Response
import org.openapitools.client.model.DeleteFilter500Response
import org.openapitools.client.model.DeleteFirewallRule
import org.openapitools.client.model.DeleteGeoFirewallRule
import org.openapitools.client.model.DisableScrub200Response
import org.openapitools.client.model.DisableScrub400Response
import org.openapitools.client.model.DisableScrub500Response
import org.openapitools.client.model.EnableScrub200Response
import org.openapitools.client.model.EnableScrub500Response
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.GetOrderDetail200Response
import org.openapitools.client.model.GetScrubIpDetails200Response
import org.openapitools.client.model.PlaceScrubOrder201Response
import org.openapitools.client.model.ScrubIpFilterTypes
import org.openapitools.client.model.ScrubIpPlaceOrder
import org.openapitools.client.model.ScrubIpsDeleteRule200Response
import org.openapitools.client.model.ScrubIpsDeleteRule400Response
import org.openapitools.client.model.ScrubIpsDeleteRule500Response
import org.openapitools.client.model.ScrubIpsLogRowSchema
import org.openapitools.client.model.ScrubIpsRowSchema
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ScrubIpsApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new ScrubIpsApi(baseUrl)
}

class ScrubIpsApi(baseUrl: String) {

  /**
   * Cancels the Scrub IP DDoS protection service. The protection will be removed and billing will stop at the end of the current billing cycle.
   * 
   * Expected answers:
   *   code 200 : CancelScrubIp200Response (Request OK)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   */
  def cancelScrubIp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CancelScrubIp200Response] =
    ApiRequest[CancelScrubIp200Response](ApiMethods.DELETE, baseUrl, "/scrub_ips/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[CancelScrubIp200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Creates a traffic filter for the Scrub IP service. Filters apply predefined scrubbing profiles (e.g., DNS, HTTP) to specific destination ports. Use `GET /scrub_ips/filter_types` to list available filter types.
   * 
   * Expected answers:
   *   code 201 : CreateFilter201Response (Request OK)
   *   code 400 : CreateFilter400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : CreateFilter500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param createFilter 
   */
  def createFilter(id: Int, createFilter: CreateFilter)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CreateFilter201Response] =
    ApiRequest[CreateFilter201Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/create_filter", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(createFilter)
      .withPathParam("id", id)
      .withSuccessResponse[CreateFilter201Response](201)
      .withErrorResponse[CreateFilter400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[CreateFilter500Response](500)
      

  /**
   * Creates a geographic-based firewall rule for the Scrub IP service. Geo rules allow you to block or allow traffic from specific countries or regions.
   * 
   * Expected answers:
   *   code 201 : CreateRule201Response (Create firewall rule for scrub ip)
   *   code 400 : CreateGeoRule400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : CreateRule500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param createGeoFirewallRule 
   */
  def createGeoRule(id: Int, createGeoFirewallRule: CreateGeoFirewallRule)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CreateRule201Response] =
    ApiRequest[CreateRule201Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/create_geo_rule", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(createGeoFirewallRule)
      .withPathParam("id", id)
      .withSuccessResponse[CreateRule201Response](201)
      .withErrorResponse[CreateGeoRule400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[CreateRule500Response](500)
      

  /**
   * Creates a new firewall rule for the Scrub IP service. Rules allow you to block or allow traffic based on source IP, destination port, and protocol.
   * 
   * Expected answers:
   *   code 201 : CreateRule201Response (Create firewall rule for scrub ip)
   *   code 400 : CreateRule400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : CreateRule500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param createFirewallRule 
   */
  def createRule(id: Int, createFirewallRule: CreateFirewallRule)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CreateRule201Response] =
    ApiRequest[CreateRule201Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/create_rule", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(createFirewallRule)
      .withPathParam("id", id)
      .withSuccessResponse[CreateRule201Response](201)
      .withErrorResponse[CreateRule400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[CreateRule500Response](500)
      

  /**
   * Removes an existing traffic filter from the Scrub IP service. Provide the same filter parameters used during creation to identify which filter to remove.
   * 
   * Expected answers:
   *   code 200 : DeleteFilter200Response (Delete filter for scrub ip)
   *   code 400 : DeleteFilter400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : DeleteFilter500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param createFilter 
   */
  def deleteFilter(id: Int, createFilter: CreateFilter)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DeleteFilter200Response] =
    ApiRequest[DeleteFilter200Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/delete_filter", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(createFilter)
      .withPathParam("id", id)
      .withSuccessResponse[DeleteFilter200Response](200)
      .withErrorResponse[DeleteFilter400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[DeleteFilter500Response](500)
      

  /**
   * Disables DDoS scrubbing protection on the IP address. Traffic will no longer be routed through the scrubbing infrastructure.
   * 
   * Expected answers:
   *   code 200 : DisableScrub200Response (Request OK)
   *   code 400 : DisableScrub400Response (Bad request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : DisableScrub500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   */
  def disableScrub(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DisableScrub200Response] =
    ApiRequest[DisableScrub200Response](ApiMethods.GET, baseUrl, "/scrub_ips/{id}/disable", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[DisableScrub200Response](200)
      .withErrorResponse[DisableScrub400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[DisableScrub500Response](500)
      

  /**
   * Enables DDoS scrubbing protection on the IP address associated with this service. Traffic will be routed through the scrubbing infrastructure to filter malicious packets.
   * 
   * Expected answers:
   *   code 200 : EnableScrub200Response (Request OK)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : EnableScrub500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   */
  def enableScrub(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[EnableScrub200Response] =
    ApiRequest[EnableScrub200Response](ApiMethods.GET, baseUrl, "/scrub_ips/{id}/enable", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[EnableScrub200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[EnableScrub500Response](500)
      

  /**
   * Returns the available Scrub IP service plans and pricing information needed to build an order form.
   * 
   * Expected answers:
   *   code 200 : GetOrderDetail200Response (Order details)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getOrderDetail()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[GetOrderDetail200Response] =
    ApiRequest[GetOrderDetail200Response](ApiMethods.GET, baseUrl, "/scrub_ips/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[GetOrderDetail200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns detailed information about a Scrub IP service, including connection details, billing information, active firewall rules, and traffic filters.
   * 
   * Expected answers:
   *   code 200 : GetScrubIpDetails200Response (Scrub IP service details including firewall rules and filters.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   */
  def getScrubIpDetails(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[GetScrubIpDetails200Response] =
    ApiRequest[GetScrubIpDetails200Response](ApiMethods.GET, baseUrl, "/scrub_ips/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[GetScrubIpDetails200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the list of scrub filter types that can be used when creating filter rules via `/scrub_ips/{id}/create_filter`.
   * 
   * Expected answers:
   *   code 200 : ScrubIpFilterTypes (Supported scrub filter types for building firewall rules.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getScrubIpFilterTypes()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ScrubIpFilterTypes] =
    ApiRequest[ScrubIpFilterTypes](ApiMethods.GET, baseUrl, "/scrub_ips/filter_types", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[ScrubIpFilterTypes](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves invoices associated with the scrub IP service. Use these invoices to confirm billing status or to initiate payment.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   */
  def getScrubIpInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/scrub_ips/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the activity and event logs for the Scrub IP service, including scrubbing events and configuration changes.
   * 
   * Expected answers:
   *   code 200 : Seq[ScrubIpsLogRowSchema] (Scrub Ips logs)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Scrub Order ID
   */
  def getScrubIpLogs(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[ScrubIpsLogRowSchema]] =
    ApiRequest[Seq[ScrubIpsLogRowSchema]](ApiMethods.GET, baseUrl, "/scrub_ips/{id}/logs", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Seq[ScrubIpsLogRowSchema]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns all Scrub IP DDoS protection services on your account with their current status and associated IP addresses.
   * 
   * Expected answers:
   *   code 200 : Seq[ScrubIpsRowSchema] (Scrub Ips list)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getScrubIpsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[ScrubIpsRowSchema]] =
    ApiRequest[Seq[ScrubIpsRowSchema]](ApiMethods.GET, baseUrl, "/scrub_ips", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[ScrubIpsRowSchema]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Places an order for a new Scrub IP DDoS protection service. On success, an invoice is generated for payment.
   * 
   * Expected answers:
   *   code 201 : PlaceScrubOrder201Response (Request OK)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param scrubIpPlaceOrder 
   */
  def placeScrubOrder(scrubIpPlaceOrder: ScrubIpPlaceOrder)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[PlaceScrubOrder201Response] =
    ApiRequest[PlaceScrubOrder201Response](ApiMethods.POST, baseUrl, "/scrub_ips/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(scrubIpPlaceOrder)
      .withSuccessResponse[PlaceScrubOrder201Response](201)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Removes an existing geographic-based firewall rule from the Scrub IP service. Use the `rule_id` from the service details response to identify the rule to delete.
   * 
   * Expected answers:
   *   code 200 : ScrubIpsDeleteRule200Response (Delete firewall rule for scrub ip)
   *   code 400 : ScrubIpsDeleteRule400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : ScrubIpsDeleteRule500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param deleteGeoFirewallRule 
   */
  def scrubIpsDeleteGeoRule(id: Int, deleteGeoFirewallRule: DeleteGeoFirewallRule)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ScrubIpsDeleteRule200Response] =
    ApiRequest[ScrubIpsDeleteRule200Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/delete_geo_rule", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(deleteGeoFirewallRule)
      .withPathParam("id", id)
      .withSuccessResponse[ScrubIpsDeleteRule200Response](200)
      .withErrorResponse[ScrubIpsDeleteRule400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[ScrubIpsDeleteRule500Response](500)
      

  /**
   * Removes an existing firewall rule from the Scrub IP service. Use the `rule_id` from the service details response to identify the rule to delete.
   * 
   * Expected answers:
   *   code 200 : ScrubIpsDeleteRule200Response (Delete firewall rule for scrub ip)
   *   code 400 : ScrubIpsDeleteRule400Response (Bad Request)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 500 : ScrubIpsDeleteRule500Response (Internal Server Error)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id ScrubIp ID number
   * @param deleteFirewallRule 
   */
  def scrubIpsDeleteRule(id: Int, deleteFirewallRule: DeleteFirewallRule)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ScrubIpsDeleteRule200Response] =
    ApiRequest[ScrubIpsDeleteRule200Response](ApiMethods.POST, baseUrl, "/scrub_ips/{id}/delete_rule", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(deleteFirewallRule)
      .withPathParam("id", id)
      .withSuccessResponse[ScrubIpsDeleteRule200Response](200)
      .withErrorResponse[ScrubIpsDeleteRule400Response](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[ScrubIpsDeleteRule500Response](500)
      



}

