/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.DownloadQsBackup200Response
import org.openapitools.client.model.DownloadQsBackupRequest
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.QueueResponse
import org.openapitools.client.model.RestoreRequest
import org.openapitools.client.model.ReverseDnsEntries
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.TextResponse
import org.openapitools.client.model.VPSCancel200Response
import org.openapitools.client.model.Vps
import org.openapitools.client.model.VpsBackupRows
import org.openapitools.client.model.VpsOrder
import org.openapitools.client.model.VpsOrderPostRequest
import org.openapitools.client.model.VpsOrderPutRequest
import org.openapitools.client.model.VpsOrderPutResponse
import org.openapitools.client.model.VpsRow
import org.openapitools.client.model.VpsTemplatesList
import org.openapitools.client.model.VpsTrafficResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VPSApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new VPSApi(baseUrl)
}

class VPSApi(baseUrl: String) {

  /**
   * Places an order for a new VPS. Use `PUT /vps/order` to validate the order first.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param vpsOrderPostRequest 
   */
  def addVps(vpsOrderPostRequest: Option[VpsOrderPostRequest] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(vpsOrderPostRequest)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Permanently removes the specified backup file from storage. Use `GET /vps/{id}/backups` to list available backup filenames before deleting.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param file The backup filename to delete.
   * @param all Set to `1` to list all backups across all services, not just the ones for the given VPS.
   */
  def deleteVpsBackup(id: Int, file: String, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.DELETE, baseUrl, "/vps/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("all", all)
      .withQueryParam("file", file)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Blocks outbound SMTP (port 25) on the VPS to prevent spam. Useful for VPS that do not need to send email.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsBlockSmtp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/block_smtp", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Disables the virtual CD drive on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsDisableCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/disable_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Disables disk quota enforcement on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsDisableQuota(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/disable_quota", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Ejects the virtual CD from the VPS CD drive.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsEjectCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/eject_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Enables disk quota enforcement on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsEnableQuota(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/enable_quota", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Restarts the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsRestart(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/restart", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Powers on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsStart(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/start", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Powers off the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def doVpsStop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/stop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /vps/{id}/backups` to list available backup filenames.
   * 
   * Expected answers:
   *   code 200 : DownloadQsBackup200Response (Download URL for the backup file.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param downloadQsBackupRequest 
   * @param all Set to `1` to list all backups across all services, not just the ones for the given VPS.
   */
  def downloadVpsBackup(id: Int, downloadQsBackupRequest: DownloadQsBackupRequest, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DownloadQsBackup200Response] =
    ApiRequest[DownloadQsBackup200Response](ApiMethods.PATCH, baseUrl, "/vps/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(downloadQsBackupRequest)
      .withQueryParam("all", all)
      .withPathParam("id", id)
      .withSuccessResponse[DownloadQsBackup200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves available VPS configurations, OS templates, and pricing for ordering.
   * 
   * Expected answers:
   *   code 200 : VpsOrder (VPS Order information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewVps()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsOrder] =
    ApiRequest[VpsOrder](ApiMethods.GET, baseUrl, "/vps/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[VpsOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the available backups for the VPS across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /vps/{id}/backups` to download or `DELETE /vps/{id}/backups` to remove a backup. Use `POST /vps/{id}/restore` to restore from a backup.
   * 
   * Expected answers:
   *   code 200 : VpsBackupRows (The listing of the available backups)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param all Set to `1` to list all backups across all services, not just the ones for the given VPS.
   */
  def getVpsBackups(id: Int, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsBackupRows] =
    ApiRequest[VpsBackupRows](ApiMethods.GET, baseUrl, "/vps/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("all", all)
      .withPathParam("id", id)
      .withSuccessResponse[VpsBackupRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns available hard drive space addon options and pricing for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Get VPS Buy HD Space information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsBuyHdSpace(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vps/{id}/buy_hd_space", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns available additional IP address options and pricing for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (VPS Buy IP information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsBuyIp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vps/{id}/buy_ip", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the list of available timezones that can be set on the VPS.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (VPS Change Timezone info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsChangeTimezone(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, baseUrl, "/vps/{id}/change_timezone", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Seq[String]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns detailed information about a specific VPS including its IPs, hostname, OS, and resource allocation.
   * 
   * Expected answers:
   *   code 200 : Vps (The VPS Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Vps] =
    ApiRequest[Vps](ApiMethods.GET, baseUrl, "/vps/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Vps](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the billing invoices associated with this VPS.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get VPS Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/vps/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns all VPS services on the account with their current status and configuration.
   * 
   * Expected answers:
   *   code 200 : Seq[VpsRow] (The listing of `Vps` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getVpsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[VpsRow]] =
    ApiRequest[Seq[VpsRow]](ApiMethods.GET, baseUrl, "/vps", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[VpsRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the list of available OS templates for reinstalling the VPS.
   * 
   * Expected answers:
   *   code 200 : VpsTemplatesList (VPS Reinstall OS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsReinstallOs(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsTemplatesList] =
    ApiRequest[VpsTemplatesList](ApiMethods.GET, baseUrl, "/vps/{id}/reinstall_os", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[VpsTemplatesList](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current reverse DNS (PTR record) entries for the VPS IP addresses.
   * 
   * Expected answers:
   *   code 200 : ReverseDnsEntries (VPS Reverse DNS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsReverseDns(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ReverseDnsEntries] =
    ApiRequest[ReverseDnsEntries](ApiMethods.GET, baseUrl, "/vps/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ReverseDnsEntries](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current VNC connection information for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Get VPS Setup VNC Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsSetupVnc(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vps/{id}/setup_vnc", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns available slice upgrade options and pricing for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (VPS Slices information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsSlices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vps/{id}/slices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns bandwidth traffic usage data for the VPS.
   * 
   * Expected answers:
   *   code 200 : VpsTrafficResponse (Get VPS Traffic usage)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsTrafficUsage(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsTrafficResponse] =
    ApiRequest[VpsTrafficResponse](ApiMethods.GET, baseUrl, "/vps/{id}/traffic_usage", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[VpsTrafficResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns remote desktop connection information for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Get VPS View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def getVpsViewDesktop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vps/{id}/view_desktop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email containing connection details and credentials for the VPS order.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID
   */
  def getVpsWelcomeEmail(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/vps/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Creates a backup of the VPS. The backup can be downloaded or restored later via the backups endpoints.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsBackup(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/vps/{id}/backup", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Purchases additional hard drive space for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Post Buy HD Space for VPS response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsBuyHdSpace(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/{id}/buy_hd_space", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Purchases an additional IP address for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Submit VPS Buy IP form response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsBuyIp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/{id}/buy_ip", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the hostname of the VPS. This queues a background task to update the server.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param hostname 
   */
  def postVpsChangeHostname(id: Int, hostname: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/change_hostname", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("hostname", hostname)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the root password of the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param password 
   */
  def postVpsChangeRootPassword(id: Int, password: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/change_root_password", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("password", password)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the system timezone on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param timezone The time zone
   */
  def postVpsChangeTimezone(id: Int, timezone: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/change_timezone", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("timezone", timezone)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the Webuzo control panel password on the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param password 
   */
  def postVpsChangeWebuzoPassword(id: Int, password: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/change_webuzo_password", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("password", password)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Mounts an ISO image in the VPS virtual CD drive from the given URL.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param url 
   */
  def postVpsInsertCd(id: Int, url: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/insert_cd", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("url", url)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Reinstalls the operating system on the VPS. Warning - all data will be erased.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param template OS Template Filename
   * @param localPassword Password for this account.
   * @param password Password for Root / Administrator Account.
   */
  def postVpsReinstallOs(id: Int, template: String, localPassword: String, password: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/reinstall_os", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("template", template)
      .withFormParam("password", password)
      .withFormParam("localPassword", localPassword)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resets the root password on the VPS to a new randomly generated password.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsResetPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/reset_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Initiates a restore of the VPS from a previously created backup. The restore operation overwrites the current disk contents. Use `GET /vps/{id}/backups` to retrieve available backup names.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 400 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param restoreRequest VPS Restore request
   */
  def postVpsRestore(id: Int, restoreRequest: RestoreRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/restore", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(restoreRequest)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[TextResponse](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the reverse DNS (PTR record) entries for the VPS IP addresses.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Update VPS Reverse DNS response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   * @param reverseDnsEntries 
   */
  def postVpsReverseDns(id: Int, reverseDnsEntries: ReverseDnsEntries)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.POST, baseUrl, "/vps/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(reverseDnsEntries)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Sets up or refreshes the VNC console connection for the VPS.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsSetupVnc(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/vps/{id}/setup_vnc", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Purchases a slice upgrade for the VPS to increase CPU, RAM, and disk resources.
   * 
   * Expected answers:
   *   code 200 :  (Update VPS slices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsSlices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/{id}/slices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates or refreshes the remote desktop session for the VPS.
   * 
   * Expected answers:
   *   code 200 :  (Submit VPS View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def postVpsViewDesktop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/{id}/view_desktop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Validates a VPS order before placing it. Returns cost breakdown and any validation errors.
   * 
   * Expected answers:
   *   code 200 : VpsOrderPutResponse (Validate VPS order response.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param vpsOrderPutRequest 
   */
  def putVps(vpsOrderPutRequest: Option[VpsOrderPutRequest] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsOrderPutResponse] =
    ApiRequest[VpsOrderPutResponse](ApiMethods.PUT, baseUrl, "/vps/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(vpsOrderPutRequest)
      .withSuccessResponse[VpsOrderPutResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates settings on a VPS order.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number.
   */
  def updateVpsInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vps/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Cancels the VPS service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
   * 
   * Expected answers:
   *   code 200 : VPSCancel200Response (VPS Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id VPS ID number
   */
  def vPSCancel(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VPSCancel200Response] =
    ApiRequest[VPSCancel200Response](ApiMethods.DELETE, baseUrl, "/vps/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[VPSCancel200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      



}

