# coding: utf-8

"""
    InterServer Management API

    # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.    # noqa: E501

    OpenAPI spec version: 0.9.0
    Contact: support@interserver.net
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from myadmin-client-python.api_client import ApiClient


class AccountApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def change_account_username(self, **kwargs):  # noqa: E501
        """Change Account Username  # noqa: E501

        Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_account_username(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.change_account_username_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.change_account_username_with_http_info(**kwargs)  # noqa: E501
            return data

    def change_account_username_with_http_info(self, **kwargs):  # noqa: E501
        """Change Account Username  # noqa: E501

        Changes the login username for the account. The new username must be unique across all accounts. After changing, use the new username for all future logins.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_account_username_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method change_account_username" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/username', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_account_oauth_name(self, name, **kwargs):  # noqa: E501
        """Unlink OAuth Account  # noqa: E501

        Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_account_oauth_name(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_account_oauth_name_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_account_oauth_name_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def delete_account_oauth_name_with_http_info(self, name, **kwargs):  # noqa: E501
        """Unlink OAuth Account  # noqa: E501

        Unlinks a third-party OAuth provider from the account. After unlinking, that provider can no longer be used for login.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_account_oauth_name_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_account_oauth_name" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `delete_account_oauth_name`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/oauth/{name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_account_tfa(self, **kwargs):  # noqa: E501
        """Disable Two-Factor Authentication  # noqa: E501

        Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_account_tfa(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_account_tfa_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_account_tfa_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_account_tfa_with_http_info(self, **kwargs):  # noqa: E501
        """Disable Two-Factor Authentication  # noqa: E501

        Disables two-factor authentication on the account. After disabling, the account will only require password-based authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_account_tfa_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_account_tfa" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/2fa', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_ip_limit(self, **kwargs):  # noqa: E501
        """Remove IP Access Restriction  # noqa: E501

        Removes an IP address range from the account's access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ip_limit(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GenericResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_ip_limit_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.delete_ip_limit_with_http_info(**kwargs)  # noqa: E501
            return data

    def delete_ip_limit_with_http_info(self, **kwargs):  # noqa: E501
        """Remove IP Access Restriction  # noqa: E501

        Removes an IP address range from the account's access restriction list. If this is the last range, IP limiting is effectively disabled and the account becomes accessible from any IP address.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_ip_limit_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: GenericResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_ip_limit" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/iplimits', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GenericResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_account_info(self, **kwargs):  # noqa: E501
        """Retrieve Account Details  # noqa: E501

        Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with `POST /account`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_account_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: AccountInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_account_info_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_account_info_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_account_info_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve Account Details  # noqa: E501

        Returns the full account profile including contact information, billing address, and security settings. Use this to populate account management forms or verify account state before making changes with `POST /account`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_account_info_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: AccountInfo
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_account_info" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AccountInfo',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_account_tfa_setup(self, **kwargs):  # noqa: E501
        """Get Two-Factor Setup Data  # noqa: E501

        Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the `2fa_google_key` as a QR code or display the `2fa_google_split` value for manual entry. After setup, verify with `POST /account/2fa`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_account_tfa_setup(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_account_tfa_setup_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_account_tfa_setup_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_account_tfa_setup_with_http_info(self, **kwargs):  # noqa: E501
        """Get Two-Factor Setup Data  # noqa: E501

        Returns the TOTP secret key needed to configure a two-factor authentication app (e.g. Google Authenticator). Present the `2fa_google_key` as a QR code or display the `2fa_google_split` value for manual entry. After setup, verify with `POST /account/2fa`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_account_tfa_setup_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_account_tfa_setup" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/2fa', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_home(self, **kwargs):  # noqa: E501
        """Get Home Data  # noqa: E501

        Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_home(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Home
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_home_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_home_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_home_with_http_info(self, **kwargs):  # noqa: E501
        """Get Home Data  # noqa: E501

        Returns an overview of the account suitable for a dashboard home page, including service counts, recent activity, and account-level alerts. Requires an authenticated session.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_home_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: Home
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_home" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/home', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Home',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_search(self, **kwargs):  # noqa: E501
        """Search Autocomplete  # noqa: E501

        Returns autocomplete results for the account's services and records. Use this endpoint to power global search experiences in the client portal.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_search(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SearchAutocompleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_search_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_search_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_search_with_http_info(self, **kwargs):  # noqa: E501
        """Search Autocomplete  # noqa: E501

        Returns autocomplete results for the account's services and records. Use this endpoint to power global search experiences in the client portal.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_search_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SearchAutocompleteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_search" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/search', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SearchAutocompleteResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def logout(self, **kwargs):  # noqa: E501
        """Log Out  # noqa: E501

        Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.logout_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.logout_with_http_info(**kwargs)  # noqa: E501
            return data

    def logout_with_http_info(self, **kwargs):  # noqa: E501
        """Log Out  # noqa: E501

        Invalidates the current session. After calling this endpoint, the session token can no longer be used for authenticated requests. The client should discard the stored session ID.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method logout" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/logout', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def logout_account_oauth(self, name, **kwargs):  # noqa: E501
        """Logout of OAuth  # noqa: E501

        Logs out of the specified OAuth provider session.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout_account_oauth(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.logout_account_oauth_with_http_info(name, **kwargs)  # noqa: E501
        else:
            (data) = self.logout_account_oauth_with_http_info(name, **kwargs)  # noqa: E501
            return data

    def logout_account_oauth_with_http_info(self, name, **kwargs):  # noqa: E501
        """Logout of OAuth  # noqa: E501

        Logs out of the specified OAuth provider session.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.logout_account_oauth_with_http_info(name, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method logout_account_oauth" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `logout_account_oauth`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'name' in params:
            path_params['name'] = params['name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/oauth/{name}/logout', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_api_key(self, **kwargs):  # noqa: E501
        """Generate New API Key  # noqa: E501

        Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_api_key(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_api_key_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_account_api_key_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_account_api_key_with_http_info(self, **kwargs):  # noqa: E501
        """Generate New API Key  # noqa: E501

        Generates a new API key for the account. The previous key is immediately invalidated. Store the new key securely as it cannot be retrieved later.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_api_key_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_api_key" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/apikey', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_features(self, disable_reset, disable_reinstall, **kwargs):  # noqa: E501
        """Update Account Feature Flags  # noqa: E501

        Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_features(disable_reset, disable_reinstall, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int disable_reset: (required)
        :param int disable_reinstall: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_features_with_http_info(disable_reset, disable_reinstall, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_features_with_http_info(disable_reset, disable_reinstall, **kwargs)  # noqa: E501
            return data

    def update_account_features_with_http_info(self, disable_reset, disable_reinstall, **kwargs):  # noqa: E501
        """Update Account Feature Flags  # noqa: E501

        Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_features_with_http_info(disable_reset, disable_reinstall, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int disable_reset: (required)
        :param int disable_reinstall: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['disable_reset', 'disable_reinstall']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_features" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'disable_reset' is set
        if ('disable_reset' not in params or
                params['disable_reset'] is None):
            raise ValueError("Missing the required parameter `disable_reset` when calling `update_account_features`")  # noqa: E501
        # verify the required parameter 'disable_reinstall' is set
        if ('disable_reinstall' not in params or
                params['disable_reinstall'] is None):
            raise ValueError("Missing the required parameter `disable_reinstall` when calling `update_account_features`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'disable_reset' in params:
            form_params.append(('disable_reset', params['disable_reset']))  # noqa: E501
        if 'disable_reinstall' in params:
            form_params.append(('disable_reinstall', params['disable_reinstall']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/features', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_features(self, body, **kwargs):  # noqa: E501
        """Update Account Feature Flags  # noqa: E501

        Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_features(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountFeatures body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_features_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_features_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_account_features_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update Account Feature Flags  # noqa: E501

        Updates account-level feature flags that control service capabilities. These flags can disable password reset, OS reinstall, or other potentially destructive operations across your services. Changes take effect immediately.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_features_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountFeatures body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_features" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_account_features`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'disable_reset' in params:
            form_params.append(('disable_reset', params['disable_reset']))  # noqa: E501
        if 'disable_reinstall' in params:
            form_params.append(('disable_reinstall', params['disable_reinstall']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/features', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_info(self, name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, **kwargs):  # noqa: E501
        """Update Account Information  # noqa: E501

        Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_info(name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str company: (required)
        :param str address: (required)
        :param str address2: (required)
        :param str city: (required)
        :param str state: (required)
        :param str zip: (required)
        :param str country: (required)
        :param str phone: (required)
        :param str locale: (required)
        :param str email_invoices: (required)
        :param str email_abuse: (required)
        :param bool disable_reset: (required)
        :param bool disable_reinstall: (required)
        :param bool disable_server_notifications: (required)
        :param bool disable_email_notifications: (required)
        :param str gstin: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_info_with_http_info(name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_info_with_http_info(name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, **kwargs)  # noqa: E501
            return data

    def update_account_info_with_http_info(self, name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, **kwargs):  # noqa: E501
        """Update Account Information  # noqa: E501

        Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_info_with_http_info(name, company, address, address2, city, state, zip, country, phone, locale, email_invoices, email_abuse, disable_reset, disable_reinstall, disable_server_notifications, disable_email_notifications, gstin, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str name: (required)
        :param str company: (required)
        :param str address: (required)
        :param str address2: (required)
        :param str city: (required)
        :param str state: (required)
        :param str zip: (required)
        :param str country: (required)
        :param str phone: (required)
        :param str locale: (required)
        :param str email_invoices: (required)
        :param str email_abuse: (required)
        :param bool disable_reset: (required)
        :param bool disable_reinstall: (required)
        :param bool disable_server_notifications: (required)
        :param bool disable_email_notifications: (required)
        :param str gstin: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['name', 'company', 'address', 'address2', 'city', 'state', 'zip', 'country', 'phone', 'locale', 'email_invoices', 'email_abuse', 'disable_reset', 'disable_reinstall', 'disable_server_notifications', 'disable_email_notifications', 'gstin']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'name' is set
        if ('name' not in params or
                params['name'] is None):
            raise ValueError("Missing the required parameter `name` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'company' is set
        if ('company' not in params or
                params['company'] is None):
            raise ValueError("Missing the required parameter `company` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'address' is set
        if ('address' not in params or
                params['address'] is None):
            raise ValueError("Missing the required parameter `address` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'address2' is set
        if ('address2' not in params or
                params['address2'] is None):
            raise ValueError("Missing the required parameter `address2` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'city' is set
        if ('city' not in params or
                params['city'] is None):
            raise ValueError("Missing the required parameter `city` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'state' is set
        if ('state' not in params or
                params['state'] is None):
            raise ValueError("Missing the required parameter `state` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'zip' is set
        if ('zip' not in params or
                params['zip'] is None):
            raise ValueError("Missing the required parameter `zip` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'country' is set
        if ('country' not in params or
                params['country'] is None):
            raise ValueError("Missing the required parameter `country` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'phone' is set
        if ('phone' not in params or
                params['phone'] is None):
            raise ValueError("Missing the required parameter `phone` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'locale' is set
        if ('locale' not in params or
                params['locale'] is None):
            raise ValueError("Missing the required parameter `locale` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'email_invoices' is set
        if ('email_invoices' not in params or
                params['email_invoices'] is None):
            raise ValueError("Missing the required parameter `email_invoices` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'email_abuse' is set
        if ('email_abuse' not in params or
                params['email_abuse'] is None):
            raise ValueError("Missing the required parameter `email_abuse` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'disable_reset' is set
        if ('disable_reset' not in params or
                params['disable_reset'] is None):
            raise ValueError("Missing the required parameter `disable_reset` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'disable_reinstall' is set
        if ('disable_reinstall' not in params or
                params['disable_reinstall'] is None):
            raise ValueError("Missing the required parameter `disable_reinstall` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'disable_server_notifications' is set
        if ('disable_server_notifications' not in params or
                params['disable_server_notifications'] is None):
            raise ValueError("Missing the required parameter `disable_server_notifications` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'disable_email_notifications' is set
        if ('disable_email_notifications' not in params or
                params['disable_email_notifications'] is None):
            raise ValueError("Missing the required parameter `disable_email_notifications` when calling `update_account_info`")  # noqa: E501
        # verify the required parameter 'gstin' is set
        if ('gstin' not in params or
                params['gstin'] is None):
            raise ValueError("Missing the required parameter `gstin` when calling `update_account_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'company' in params:
            form_params.append(('company', params['company']))  # noqa: E501
        if 'address' in params:
            form_params.append(('address', params['address']))  # noqa: E501
        if 'address2' in params:
            form_params.append(('address2', params['address2']))  # noqa: E501
        if 'city' in params:
            form_params.append(('city', params['city']))  # noqa: E501
        if 'state' in params:
            form_params.append(('state', params['state']))  # noqa: E501
        if 'zip' in params:
            form_params.append(('zip', params['zip']))  # noqa: E501
        if 'country' in params:
            form_params.append(('country', params['country']))  # noqa: E501
        if 'phone' in params:
            form_params.append(('phone', params['phone']))  # noqa: E501
        if 'locale' in params:
            form_params.append(('locale', params['locale']))  # noqa: E501
        if 'email_invoices' in params:
            form_params.append(('email_invoices', params['email_invoices']))  # noqa: E501
        if 'email_abuse' in params:
            form_params.append(('email_abuse', params['email_abuse']))  # noqa: E501
        if 'disable_reset' in params:
            form_params.append(('disable_reset', params['disable_reset']))  # noqa: E501
        if 'disable_reinstall' in params:
            form_params.append(('disable_reinstall', params['disable_reinstall']))  # noqa: E501
        if 'disable_server_notifications' in params:
            form_params.append(('disable_server_notifications', params['disable_server_notifications']))  # noqa: E501
        if 'disable_email_notifications' in params:
            form_params.append(('disable_email_notifications', params['disable_email_notifications']))  # noqa: E501
        if 'gstin' in params:
            form_params.append(('gstin', params['gstin']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_info(self, body, **kwargs):  # noqa: E501
        """Update Account Information  # noqa: E501

        Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountInfoPost body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_info_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_info_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_account_info_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update Account Information  # noqa: E501

        Updates the stored contact and billing information on your account. Submit only the fields you want to change. Validation errors are returned as a 422 response with field-level messages.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_info_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountInfoPost body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_account_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'name' in params:
            form_params.append(('name', params['name']))  # noqa: E501
        if 'company' in params:
            form_params.append(('company', params['company']))  # noqa: E501
        if 'address' in params:
            form_params.append(('address', params['address']))  # noqa: E501
        if 'address2' in params:
            form_params.append(('address2', params['address2']))  # noqa: E501
        if 'city' in params:
            form_params.append(('city', params['city']))  # noqa: E501
        if 'state' in params:
            form_params.append(('state', params['state']))  # noqa: E501
        if 'zip' in params:
            form_params.append(('zip', params['zip']))  # noqa: E501
        if 'country' in params:
            form_params.append(('country', params['country']))  # noqa: E501
        if 'phone' in params:
            form_params.append(('phone', params['phone']))  # noqa: E501
        if 'locale' in params:
            form_params.append(('locale', params['locale']))  # noqa: E501
        if 'email_invoices' in params:
            form_params.append(('email_invoices', params['email_invoices']))  # noqa: E501
        if 'email_abuse' in params:
            form_params.append(('email_abuse', params['email_abuse']))  # noqa: E501
        if 'disable_reset' in params:
            form_params.append(('disable_reset', params['disable_reset']))  # noqa: E501
        if 'disable_reinstall' in params:
            form_params.append(('disable_reinstall', params['disable_reinstall']))  # noqa: E501
        if 'disable_server_notifications' in params:
            form_params.append(('disable_server_notifications', params['disable_server_notifications']))  # noqa: E501
        if 'disable_email_notifications' in params:
            form_params.append(('disable_email_notifications', params['disable_email_notifications']))  # noqa: E501
        if 'gstin' in params:
            form_params.append(('gstin', params['gstin']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_ip_limits(self, start, end, **kwargs):  # noqa: E501
        """Add IP Access Restriction  # noqa: E501

        Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ip_limits(start, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start: (required)
        :param str end: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_ip_limits_with_http_info(start, end, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_ip_limits_with_http_info(start, end, **kwargs)  # noqa: E501
            return data

    def update_account_ip_limits_with_http_info(self, start, end, **kwargs):  # noqa: E501
        """Add IP Access Restriction  # noqa: E501

        Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ip_limits_with_http_info(start, end, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str start: (required)
        :param str end: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['start', 'end']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_ip_limits" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'start' is set
        if ('start' not in params or
                params['start'] is None):
            raise ValueError("Missing the required parameter `start` when calling `update_account_ip_limits`")  # noqa: E501
        # verify the required parameter 'end' is set
        if ('end' not in params or
                params['end'] is None):
            raise ValueError("Missing the required parameter `end` when calling `update_account_ip_limits`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'start' in params:
            form_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            form_params.append(('end', params['end']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/iplimits', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_ip_limits(self, body, **kwargs):  # noqa: E501
        """Add IP Access Restriction  # noqa: E501

        Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ip_limits(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IpLimitRange body: The lower and upper bounds of an ip range. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_ip_limits_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_ip_limits_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_account_ip_limits_with_http_info(self, body, **kwargs):  # noqa: E501
        """Add IP Access Restriction  # noqa: E501

        Adds an IP address range to the account's access restriction list. Once IP limiting is active, only requests originating from allowed ranges can access the account. Provide the start and end of the range in dotted-quad notation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ip_limits_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IpLimitRange body: The lower and upper bounds of an ip range. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_ip_limits" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_account_ip_limits`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'start' in params:
            form_params.append(('start', params['start']))  # noqa: E501
        if 'end' in params:
            form_params.append(('end', params['end']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/iplimits', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_password(self, password, **kwargs):  # noqa: E501
        """Change Account Password  # noqa: E501

        Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_password(password, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str password: (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_password_with_http_info(password, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_password_with_http_info(password, **kwargs)  # noqa: E501
            return data

    def update_account_password_with_http_info(self, password, **kwargs):  # noqa: E501
        """Change Account Password  # noqa: E501

        Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_password_with_http_info(password, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str password: (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['password']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_password" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'password' is set
        if ('password' not in params or
                params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `update_account_password`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'password' in params:
            form_params.append(('password', params['password']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/password', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_password(self, body, **kwargs):  # noqa: E501
        """Change Account Password  # noqa: E501

        Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_password(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PasswordRequest body: (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_password_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_password_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_account_password_with_http_info(self, body, **kwargs):  # noqa: E501
        """Change Account Password  # noqa: E501

        Changes the account login password. The current password must be provided for verification. After a successful change, existing API keys remain valid but active sessions may require re-authentication.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_password_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PasswordRequest body: (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_password" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_account_password`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'password' in params:
            form_params.append(('password', params['password']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/password', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_ssh_key(self, ssh_key, **kwargs):  # noqa: E501
        """Update SSH Keys  # noqa: E501

        Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ssh_key(ssh_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ssh_key: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_ssh_key_with_http_info(ssh_key, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_ssh_key_with_http_info(ssh_key, **kwargs)  # noqa: E501
            return data

    def update_account_ssh_key_with_http_info(self, ssh_key, **kwargs):  # noqa: E501
        """Update SSH Keys  # noqa: E501

        Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ssh_key_with_http_info(ssh_key, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str ssh_key: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ssh_key']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_ssh_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ssh_key' is set
        if ('ssh_key' not in params or
                params['ssh_key'] is None):
            raise ValueError("Missing the required parameter `ssh_key` when calling `update_account_ssh_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ssh_key' in params:
            form_params.append(('ssh_key', params['ssh_key']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/sshkey', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_ssh_key(self, body, **kwargs):  # noqa: E501
        """Update SSH Keys  # noqa: E501

        Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ssh_key(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountSshKey body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_ssh_key_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_ssh_key_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def update_account_ssh_key_with_http_info(self, body, **kwargs):  # noqa: E501
        """Update SSH Keys  # noqa: E501

        Updates the SSH public key stored on the account. This key can be automatically installed on new VPS and server orders.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_ssh_key_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AccountSshKey body: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_ssh_key" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `update_account_ssh_key`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ssh_key' in params:
            form_params.append(('ssh_key', params['ssh_key']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data', 'application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/account/sshkey', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_account_tfa(self, _2fa_google_code, **kwargs):  # noqa: E501
        """Enable Two-Factor Authentication  # noqa: E501

        Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use `GET /account/2fa` first to retrieve the secret key for app setup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_tfa(_2fa_google_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str _2fa_google_code: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_account_tfa_with_http_info(_2fa_google_code, **kwargs)  # noqa: E501
        else:
            (data) = self.update_account_tfa_with_http_info(_2fa_google_code, **kwargs)  # noqa: E501
            return data

    def update_account_tfa_with_http_info(self, _2fa_google_code, **kwargs):  # noqa: E501
        """Enable Two-Factor Authentication  # noqa: E501

        Verifies the TOTP code from your authenticator app and enables two-factor authentication on the account. Use `GET /account/2fa` first to retrieve the secret key for app setup.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_account_tfa_with_http_info(_2fa_google_code, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str _2fa_google_code: (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['_2fa_google_code']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_account_tfa" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter '_2fa_google_code' is set
        if ('_2fa_google_code' not in params or
                params['_2fa_google_code'] is None):
            raise ValueError("Missing the required parameter `_2fa_google_code` when calling `update_account_tfa`")  # noqa: E501

[...]
