# coding: utf-8

"""
    InterServer Management API

    # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.    # noqa: E501

    OpenAPI spec version: 0.9.0
    Contact: support@interserver.net
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from myadmin-client-python.api_client import ApiClient


class WebhostingApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_website(self, **kwargs):  # noqa: E501
        """Place Website Order  # noqa: E501

        Places an order for a new webhosting package. Use `PUT /websites/order` to validate the order first.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_website(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ServiceOrderPostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_website_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.add_website_with_http_info(**kwargs)  # noqa: E501
            return data

    def add_website_with_http_info(self, **kwargs):  # noqa: E501
        """Place Website Order  # noqa: E501

        Places an order for a new webhosting package. Use `PUT /websites/order` to validate the order first.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_website_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: ServiceOrderPostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_website" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/order', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ServiceOrderPostResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_new_website(self, **kwargs):  # noqa: E501
        """Website Ordering Information  # noqa: E501

        Retrieves available webhosting plans and pricing for ordering.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_new_website(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: WebsitesOrder
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_new_website_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_new_website_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_new_website_with_http_info(self, **kwargs):  # noqa: E501
        """Website Ordering Information  # noqa: E501

        Retrieves available webhosting plans and pricing for ordering.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_new_website_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: WebsitesOrder
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_new_website" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/order', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WebsitesOrder',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_website_buy_ip(self, id, **kwargs):  # noqa: E501
        """Get Website IP Information  # noqa: E501

        Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via `POST /websites/{id}/buy_ip`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_buy_ip(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20024
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_website_buy_ip_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_website_buy_ip_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_website_buy_ip_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Website IP Information  # noqa: E501

        Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via `POST /websites/{id}/buy_ip`.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_buy_ip_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20024
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_website_buy_ip" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_website_buy_ip`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/buy_ip', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20024',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_website_info(self, id, **kwargs):  # noqa: E501
        """Get Website Order  # noqa: E501

        Returns detailed information about a specific webhosting order including its domain, plan, and status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: Website
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_website_info_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_website_info_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_website_info_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Website Order  # noqa: E501

        Returns detailed information about a specific webhosting order including its domain, plan, and status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_info_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: Website
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_website_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_website_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Website',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_website_invoices(self, id, **kwargs):  # noqa: E501
        """Get Website Invoices  # noqa: E501

        Returns the billing invoices associated with this webhosting service.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_invoices(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: ChargeInvoiceRows
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_website_invoices_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_website_invoices_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_website_invoices_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Website Invoices  # noqa: E501

        Returns the billing invoices associated with this webhosting service.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_invoices_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: ChargeInvoiceRows
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_website_invoices" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_website_invoices`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/invoices', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ChargeInvoiceRows',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_website_list(self, **kwargs):  # noqa: E501
        """Get Website Listing  # noqa: E501

        Gets a listing of your webhosting orders and service details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[WebsiteRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_website_list_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_website_list_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_website_list_with_http_info(self, **kwargs):  # noqa: E501
        """Get Website Listing  # noqa: E501

        Gets a listing of your webhosting orders and service details.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_website_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[WebsiteRow]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_website_list" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[WebsiteRow]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_websites_backups(self, id, **kwargs):  # noqa: E501
        """Get Website Backups  # noqa: E501

        Gets a list of the backups that exist for a website and their sizes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_backups(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: WebsiteBackups
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_websites_backups_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_websites_backups_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_websites_backups_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Website Backups  # noqa: E501

        Gets a list of the backups that exist for a website and their sizes.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_backups_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: WebsiteBackups
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_websites_backups" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_websites_backups`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/backups', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WebsiteBackups',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_websites_login(self, id, **kwargs):  # noqa: E501
        """Hosting Panel Auto Login  # noqa: E501

        Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_login(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: WebsiteLoginResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_websites_login_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_websites_login_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_websites_login_with_http_info(self, id, **kwargs):  # noqa: E501
        """Hosting Panel Auto Login  # noqa: E501

        Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_login_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: WebsiteLoginResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_websites_login" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_websites_login`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/login', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WebsiteLoginResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_websites_welcome_email(self, id, **kwargs):  # noqa: E501
        """Resend Website Welcome Email  # noqa: E501

        Resends the welcome email containing hosting credentials and panel access details for the webhosting order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_welcome_email(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_websites_welcome_email_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_websites_welcome_email_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def get_websites_welcome_email_with_http_info(self, id, **kwargs):  # noqa: E501
        """Resend Website Welcome Email  # noqa: E501

        Resends the welcome email containing hosting credentials and panel access details for the webhosting order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_websites_welcome_email_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_websites_welcome_email" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_websites_welcome_email`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/welcome_email', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def gett_website_reverse_dns(self, id, **kwargs):  # noqa: E501
        """Get Website Reverse DNS  # noqa: E501

        Returns the current reverse DNS (PTR record) entries for the website's IP addresses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.gett_website_reverse_dns(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: ReverseDnsEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.gett_website_reverse_dns_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.gett_website_reverse_dns_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def gett_website_reverse_dns_with_http_info(self, id, **kwargs):  # noqa: E501
        """Get Website Reverse DNS  # noqa: E501

        Returns the current reverse DNS (PTR record) entries for the website's IP addresses.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.gett_website_reverse_dns_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: ReverseDnsEntries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method gett_website_reverse_dns" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `gett_website_reverse_dns`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/reverse_dns', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ReverseDnsEntries',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_website_buy_ip(self, body, id, **kwargs):  # noqa: E501
        """Update Website IP DNS  # noqa: E501

        Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_buy_ip(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdBuyIpBody body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20025
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_website_buy_ip_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_website_buy_ip_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def post_website_buy_ip_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Update Website IP DNS  # noqa: E501

        Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_buy_ip_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdBuyIpBody body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20025
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_website_buy_ip" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_website_buy_ip`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_website_buy_ip`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ips' in params:
            form_params.append(('ips', params['ips']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/buy_ip', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20025',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_website_buy_ip(self, ips, id, **kwargs):  # noqa: E501
        """Update Website IP DNS  # noqa: E501

        Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_buy_ip(ips, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param dict(str, str) ips: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20025
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_website_buy_ip_with_http_info(ips, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_website_buy_ip_with_http_info(ips, id, **kwargs)  # noqa: E501
            return data

    def post_website_buy_ip_with_http_info(self, ips, id, **kwargs):  # noqa: E501
        """Update Website IP DNS  # noqa: E501

        Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_buy_ip_with_http_info(ips, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param dict(str, str) ips: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20025
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ips', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_website_buy_ip" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ips' is set
        if ('ips' not in params or
                params['ips'] is None):
            raise ValueError("Missing the required parameter `ips` when calling `post_website_buy_ip`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_website_buy_ip`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ips' in params:
            form_params.append(('ips', params['ips']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/buy_ip', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20025',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_website_migration(self, body, id, **kwargs):  # noqa: E501
        """Request Website Migration  # noqa: E501

        Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_migration(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdMigrationBody body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20026
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_website_migration_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_website_migration_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def post_website_migration_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Request Website Migration  # noqa: E501

        Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_migration_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param IdMigrationBody body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20026
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_website_migration" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_website_migration`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'cust_portal' in params:
            form_params.append(('custPortal', params['cust_portal']))  # noqa: E501
        if 'reg_email' in params:
            form_params.append(('regEmail', params['reg_email']))  # noqa: E501
        if 'password' in params:
            form_params.append(('password', params['password']))  # noqa: E501
        if 'ctrl_panel' in params:
            form_params.append(('ctrlPanel', params['ctrl_panel']))  # noqa: E501
        if 'ftp_username' in params:
            form_params.append(('ftpUsername', params['ftp_username']))  # noqa: E501
        if 'ftp_password' in params:
            form_params.append(('ftpPassword', params['ftp_password']))  # noqa: E501
        if 'site_busy_mig' in params:
            form_params.append(('siteBusyMig', params['site_busy_mig']))  # noqa: E501
        if 'spl_req_mig' in params:
            form_params.append(('splReqMig', params['spl_req_mig']))  # noqa: E501
        if 'domain_reg' in params:
            form_params.append(('domainReg', params['domain_reg']))  # noqa: E501
        if 'data_mig' in params:
            form_params.append(('dataMig', params['data_mig']))  # noqa: E501
        if 'domain_reg_portal' in params:
            form_params.append(('domainRegPortal', params['domain_reg_portal']))  # noqa: E501
        if 'domain_reg_email' in params:
            form_params.append(('domainRegEmail', params['domain_reg_email']))  # noqa: E501
        if 'domain_reg_password' in params:
            form_params.append(('domainRegPassword', params['domain_reg_password']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/migration', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20026',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_website_migration(self, cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, **kwargs):  # noqa: E501
        """Request Website Migration  # noqa: E501

        Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_migration(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cust_portal: (required)
        :param str reg_email: (required)
        :param str password: (required)
        :param str ctrl_panel: (required)
        :param str ftp_username: (required)
        :param str ftp_password: (required)
        :param str site_busy_mig: (required)
        :param str spl_req_mig: (required)
        :param str domain_reg: (required)
        :param str data_mig: (required)
        :param str domain_reg_portal: (required)
        :param str domain_reg_email: (required)
        :param str domain_reg_password: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20026
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_website_migration_with_http_info(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_website_migration_with_http_info(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, **kwargs)  # noqa: E501
            return data

    def post_website_migration_with_http_info(self, cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, **kwargs):  # noqa: E501
        """Request Website Migration  # noqa: E501

        Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_website_migration_with_http_info(cust_portal, reg_email, password, ctrl_panel, ftp_username, ftp_password, site_busy_mig, spl_req_mig, domain_reg, data_mig, domain_reg_portal, domain_reg_email, domain_reg_password, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str cust_portal: (required)
        :param str reg_email: (required)
        :param str password: (required)
        :param str ctrl_panel: (required)
        :param str ftp_username: (required)
        :param str ftp_password: (required)
        :param str site_busy_mig: (required)
        :param str spl_req_mig: (required)
        :param str domain_reg: (required)
        :param str data_mig: (required)
        :param str domain_reg_portal: (required)
        :param str domain_reg_email: (required)
        :param str domain_reg_password: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20026
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cust_portal', 'reg_email', 'password', 'ctrl_panel', 'ftp_username', 'ftp_password', 'site_busy_mig', 'spl_req_mig', 'domain_reg', 'data_mig', 'domain_reg_portal', 'domain_reg_email', 'domain_reg_password', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_website_migration" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cust_portal' is set
        if ('cust_portal' not in params or
                params['cust_portal'] is None):
            raise ValueError("Missing the required parameter `cust_portal` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'reg_email' is set
        if ('reg_email' not in params or
                params['reg_email'] is None):
            raise ValueError("Missing the required parameter `reg_email` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'password' is set
        if ('password' not in params or
                params['password'] is None):
            raise ValueError("Missing the required parameter `password` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'ctrl_panel' is set
        if ('ctrl_panel' not in params or
                params['ctrl_panel'] is None):
            raise ValueError("Missing the required parameter `ctrl_panel` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'ftp_username' is set
        if ('ftp_username' not in params or
                params['ftp_username'] is None):
            raise ValueError("Missing the required parameter `ftp_username` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'ftp_password' is set
        if ('ftp_password' not in params or
                params['ftp_password'] is None):
            raise ValueError("Missing the required parameter `ftp_password` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'site_busy_mig' is set
        if ('site_busy_mig' not in params or
                params['site_busy_mig'] is None):
            raise ValueError("Missing the required parameter `site_busy_mig` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'spl_req_mig' is set
        if ('spl_req_mig' not in params or
                params['spl_req_mig'] is None):
            raise ValueError("Missing the required parameter `spl_req_mig` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'domain_reg' is set
        if ('domain_reg' not in params or
                params['domain_reg'] is None):
            raise ValueError("Missing the required parameter `domain_reg` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'data_mig' is set
        if ('data_mig' not in params or
                params['data_mig'] is None):
            raise ValueError("Missing the required parameter `data_mig` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'domain_reg_portal' is set
        if ('domain_reg_portal' not in params or
                params['domain_reg_portal'] is None):
            raise ValueError("Missing the required parameter `domain_reg_portal` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'domain_reg_email' is set
        if ('domain_reg_email' not in params or
                params['domain_reg_email'] is None):
            raise ValueError("Missing the required parameter `domain_reg_email` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'domain_reg_password' is set
        if ('domain_reg_password' not in params or
                params['domain_reg_password'] is None):
            raise ValueError("Missing the required parameter `domain_reg_password` when calling `post_website_migration`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_website_migration`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'cust_portal' in params:
            form_params.append(('custPortal', params['cust_portal']))  # noqa: E501
        if 'reg_email' in params:
            form_params.append(('regEmail', params['reg_email']))  # noqa: E501
        if 'password' in params:
            form_params.append(('password', params['password']))  # noqa: E501
        if 'ctrl_panel' in params:
            form_params.append(('ctrlPanel', params['ctrl_panel']))  # noqa: E501
        if 'ftp_username' in params:
            form_params.append(('ftpUsername', params['ftp_username']))  # noqa: E501
        if 'ftp_password' in params:
            form_params.append(('ftpPassword', params['ftp_password']))  # noqa: E501
        if 'site_busy_mig' in params:
            form_params.append(('siteBusyMig', params['site_busy_mig']))  # noqa: E501
        if 'spl_req_mig' in params:
            form_params.append(('splReqMig', params['spl_req_mig']))  # noqa: E501
        if 'domain_reg' in params:
            form_params.append(('domainReg', params['domain_reg']))  # noqa: E501
        if 'data_mig' in params:
            form_params.append(('dataMig', params['data_mig']))  # noqa: E501
        if 'domain_reg_portal' in params:
            form_params.append(('domainRegPortal', params['domain_reg_portal']))  # noqa: E501
        if 'domain_reg_email' in params:
            form_params.append(('domainRegEmail', params['domain_reg_email']))  # noqa: E501
        if 'domain_reg_password' in params:
            form_params.append(('domainRegPassword', params['domain_reg_password']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/migration', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20026',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_websites_reverse_dns(self, body, id, **kwargs):  # noqa: E501
        """Update Website Reverse DNS  # noqa: E501

        Updates the reverse DNS entries for each of the IP addresses for the website.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_websites_reverse_dns(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReverseDnsEntries body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_websites_reverse_dns_with_http_info(body, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_websites_reverse_dns_with_http_info(body, id, **kwargs)  # noqa: E501
            return data

    def post_websites_reverse_dns_with_http_info(self, body, id, **kwargs):  # noqa: E501
        """Update Website Reverse DNS  # noqa: E501

        Updates the reverse DNS entries for each of the IP addresses for the website.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_websites_reverse_dns_with_http_info(body, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ReverseDnsEntries body: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_websites_reverse_dns" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `post_websites_reverse_dns`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_websites_reverse_dns`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ips' in params:
            form_params.append(('ips', params['ips']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/reverse_dns', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_websites_reverse_dns(self, ips, id, **kwargs):  # noqa: E501
        """Update Website Reverse DNS  # noqa: E501

        Updates the reverse DNS entries for each of the IP addresses for the website.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_websites_reverse_dns(ips, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param dict(str, object) ips: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.post_websites_reverse_dns_with_http_info(ips, id, **kwargs)  # noqa: E501
        else:
            (data) = self.post_websites_reverse_dns_with_http_info(ips, id, **kwargs)  # noqa: E501
            return data

    def post_websites_reverse_dns_with_http_info(self, ips, id, **kwargs):  # noqa: E501
        """Update Website Reverse DNS  # noqa: E501

        Updates the reverse DNS entries for each of the IP addresses for the website.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.post_websites_reverse_dns_with_http_info(ips, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param dict(str, object) ips: (required)
        :param int id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: TextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['ips', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_websites_reverse_dns" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'ips' is set
        if ('ips' not in params or
                params['ips'] is None):
            raise ValueError("Missing the required parameter `ips` when calling `post_websites_reverse_dns`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `post_websites_reverse_dns`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'ips' in params:
            form_params.append(('ips', params['ips']))  # noqa: E501

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json', 'multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}/reverse_dns', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def put_websites(self, **kwargs):  # noqa: E501
        """Validate Webhosting Order  # noqa: E501

        Validates a webhosting order before placing it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_websites(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.put_websites_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.put_websites_with_http_info(**kwargs)  # noqa: E501
            return data

    def put_websites_with_http_info(self, **kwargs):  # noqa: E501
        """Validate Webhosting Order  # noqa: E501

        Validates a webhosting order before placing it.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.put_websites_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method put_websites" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/order', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_website_info(self, id, **kwargs):  # noqa: E501
        """Update Website Order  # noqa: E501

        Updates settings on a webhosting order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_website_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_website_info_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_website_info_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def update_website_info_with_http_info(self, id, **kwargs):  # noqa: E501
        """Update Website Order  # noqa: E501

        Updates settings on a webhosting order.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_website_info_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: SuccessTextResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_website_info" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `update_website_info`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SuccessTextResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def webhosting_cancel(self, id, **kwargs):  # noqa: E501
        """Cancel Website  # noqa: E501

        Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.webhosting_cancel(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20023
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.webhosting_cancel_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.webhosting_cancel_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def webhosting_cancel_with_http_info(self, id, **kwargs):  # noqa: E501
        """Cancel Website  # noqa: E501

        Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.webhosting_cancel_with_http_info(id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The website service ID. Use `website_id` from `GET /websites`. (required)
        :return: InlineResponse20023
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method webhosting_cancel" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `webhosting_cancel`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKeyAuth', 'sessionIdCookieAuth', 'sessionIdHeaderAuth']  # noqa: E501

        return self.api_client.call_api(
            '/websites/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20023',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
