/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Backup
import org.openapitools.client.model.BackupLoginResponse
import org.openapitools.client.model.BackupOrderPostResponse
import org.openapitools.client.model.BackupOrderPutResponse
import org.openapitools.client.model.BackupRow
import org.openapitools.client.model.BackupsOrder
import org.openapitools.client.model.CancelBackup200Response
import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BackupsApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new BackupsApi(baseUrl)
}

class BackupsApi(baseUrl: String) {

  /**
   * Places a new backup storage order and generates an invoice. On success, the response includes invoice IDs that can be used with `/billing/invoices/{id}` to view the invoice or `/pay/{method}/{invoices}` to complete payment. The service is provisioned after payment is confirmed.
   * 
   * Expected answers:
   *   code 200 : BackupOrderPostResponse (Response from the backup order call including invoice IDs for payment.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param validateOnly 
   * @param serviceType 
   * @param coupon 
   */
  def addBackup(validateOnly: Option[Boolean] = None, serviceType: Option[Int] = None, coupon: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[BackupOrderPostResponse] =
    ApiRequest[BackupOrderPostResponse](ApiMethods.POST, baseUrl, "/backups/order", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("validateOnly", validateOnly)
      .withFormParam("serviceType", serviceType)
      .withFormParam("coupon", coupon)
      .withSuccessResponse[BackupOrderPostResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Cancels the specified backup storage service. The service remains accessible until the end of the current billing period. This action cannot be undone; a new order must be placed to restore service.
   * 
   * Expected answers:
   *   code 200 : CancelBackup200Response (Backups Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def cancelBackup(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CancelBackup200Response] =
    ApiRequest[CancelBackup200Response](ApiMethods.DELETE, baseUrl, "/backups/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[CancelBackup200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns detailed service information for the specified backup storage order, including `backup_username`, `backup_ip`, `backup_status`, and `backup_quota` in `serviceInfo`. Also returns `client_links`, `billingDetails`, `extraInfoTables`, `package`, and `custCurrency`.
   * 
   * Expected answers:
   *   code 200 : Backup (Full backup service details including serviceInfo, billingDetails, and client_links.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def getBackupInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Backup] =
    ApiRequest[Backup](ApiMethods.GET, baseUrl, "/backups/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Backup](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves invoices associated with the backup storage order. Use this to confirm billing status or locate invoices for payment.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def getBackupInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/backups/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Creates and returns a login session URL for the backup storage panel. The returned session URL can be used to redirect the user directly into the storage management interface without requiring separate credentials.
   * 
   * Expected answers:
   *   code 200 : BackupLoginResponse (Login session details for the backup storage service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def getBackupLogin(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[BackupLoginResponse] =
    ApiRequest[BackupLoginResponse](ApiMethods.GET, baseUrl, "/backups/{id}/login", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[BackupLoginResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns all backup storage services on your account. Each entry includes the `backup_id`, `backup_username`, `backup_ip`, `backup_status`, and `backup_quota`. Use the `backup_id` with `/backups/{id}` to retrieve full service details or `/backups/{id}/login` to obtain a storage panel session.
   * 
   * Expected answers:
   *   code 200 : Seq[BackupRow] (The listing of backup storage services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getBackupsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[BackupRow]] =
    ApiRequest[Seq[BackupRow]](ApiMethods.GET, baseUrl, "/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[BackupRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email for the specified backup service. The email contains connection credentials and setup instructions. Use this when the original welcome email was lost or never received.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def getBackupsWelcomeEmail(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/backups/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns available backup storage plans, pricing tiers, and form metadata needed to build an order form. Use the service type IDs from this response when submitting a validation request via `PUT /backups/order` or placing an order via `POST /backups/order`.
   * 
   * Expected answers:
   *   code 200 : BackupsOrder (Information needed to generate an order form.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewBackup()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[BackupsOrder] =
    ApiRequest[BackupsOrder](ApiMethods.GET, baseUrl, "/backups/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[BackupsOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates backup storage service metadata, such as stored credentials or settings for the order.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The backup service ID. Use the `backup_id` from `GET /backups` to identify the service.
   */
  def updateBackupInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/backups/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Validates a backup storage order without placing it, returning calculated pricing and any validation errors. Use this to display a confirmation screen with the final price before submitting the order via `POST /backups/order`.
   * 
   * Expected answers:
   *   code 200 : BackupOrderPutResponse (Validate Backup Order Response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param validateOnly 
   * @param serviceType 
   * @param coupon 
   */
  def validateBackupOrder(validateOnly: Option[Boolean] = None, serviceType: Option[Int] = None, coupon: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[BackupOrderPutResponse] =
    ApiRequest[BackupOrderPutResponse](ApiMethods.PUT, baseUrl, "/backups/order", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("validateOnly", validateOnly)
      .withFormParam("serviceType", serviceType)
      .withFormParam("coupon", coupon)
      .withSuccessResponse[BackupOrderPutResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      



}

