/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CancelDomain200Response
import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.Domain
import org.openapitools.client.model.DomainContactDetails
import org.openapitools.client.model.DomainDnssecRecords
import org.openapitools.client.model.DomainDnssecRequest
import org.openapitools.client.model.DomainLookupResponse
import org.openapitools.client.model.DomainNameserverGetResponse
import org.openapitools.client.model.DomainNameserverPostRequest
import org.openapitools.client.model.DomainNameserverPutRequest
import org.openapitools.client.model.DomainOrder
import org.openapitools.client.model.DomainRow
import org.openapitools.client.model.DomainSearchResponse
import org.openapitools.client.model.DomainWhoisPrivacyRequest
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.TextResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DomainsApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new DomainsApi(baseUrl)
}

class DomainsApi(baseUrl: String) {

  /**
   * Places a new domain registration or transfer order. Use the results from `/domains/lookup/{name}` or `/domains/order/{domain}/{regType}` to populate the required domain fields before submitting the order.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addDomain()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ServiceOrderPostResponse] =
    ApiRequest[ServiceOrderPostResponse](ApiMethods.POST, baseUrl, "/domains/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[ServiceOrderPostResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Adds DNSSEC DS records to the domain registration. Provide one or more DNSSEC record entries (algorithm, digest type, digest, key tag). Registrations must be active.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param domainDnssecRequest 
   */
  def addDomainDnssec(id: Int, domainDnssecRequest: DomainDnssecRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/dnssec", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(domainDnssecRequest)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Adds a new registered nameserver (glue record) for the domain using the supplied hostname and IP address. Use `GET /domains/{id}/nameservers` to confirm that the new entry exists.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param domainNameserverPostRequest 
   */
  def addDomainNameserver(id: Int, domainNameserverPostRequest: DomainNameserverPostRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/nameservers", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(domainNameserverPostRequest)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Cancels the domain order in the billing system. After cancellation the service will no longer auto-renew and will transition to a `canceled` status. The domain registration itself may remain active at the registrar until its current expiration date, but no further renewals will be processed. Treat the domain as inactive in downstream automation after this call succeeds.
   * 
   * Expected answers:
   *   code 200 : CancelDomain200Response (Domains Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def cancelDomain(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CancelDomain200Response] =
    ApiRequest[CancelDomain200Response](ApiMethods.DELETE, baseUrl, "/domains/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[CancelDomain200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Removes DNSSEC DS records from the domain registration. Use this to disable DNSSEC at the registrar level.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param action Set to `delete` to remove all DNSSEC records.
   */
  def deleteDomainDnssec(id: Int, action: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.DELETE, baseUrl, "/domains/{id}/dnssec", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("action", action)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Removes a registered nameserver (glue record) from the domain. Specify the zero-based `index` of the nameserver to remove as returned by `GET /domains/{id}/nameservers`.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param index The index of the registered nameserver from the registered nameservers list to delete.  
   */
  def deleteDomainNameserver(id: Int, index: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.DELETE, baseUrl, "/domains/{id}/nameservers", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("index", index)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current domain contact details that will be used for the registrant, admin, technical, and billing contact records. Use this response as the basis for any contact updates.
   * 
   * Expected answers:
   *   code 200 : DomainContactDetails (The registrant/admin contact details for the domain.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainContact(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainContactDetails] =
    ApiRequest[DomainContactDetails](ApiMethods.GET, baseUrl, "/domains/{id}/contact", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[DomainContactDetails](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the DNSSEC DS records registered with the domain. Use the record data if you need to synchronize DNSSEC settings with another registry or to prepare an update request.
   * 
   * Expected answers:
   *   code 200 : DomainDnssecRecords (DNSSEC records currently applied to the domain.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainDnssec(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainDnssecRecords] =
    ApiRequest[DomainDnssecRecords](ApiMethods.GET, baseUrl, "/domains/{id}/dnssec", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[DomainDnssecRecords](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Fetches the detailed domain service record (billing, registration, and service metadata) for the specified order ID. Use the `domain_hostname` from this response when calling `/domains/lookup/{name}` or when interacting with nameserver and DNSSEC management endpoints.
   * 
   * Expected answers:
   *   code 200 : Domain (Domain Information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Domain] =
    ApiRequest[Domain](ApiMethods.GET, baseUrl, "/domains/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Domain](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves invoice records associated with the domain order. Use this to reconcile billing or to confirm whether renewals or add-ons (such as Whois privacy) have been invoiced.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/domains/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Checks a domain for availability and premium status, and returns pricing information for new, renewal, and transfer actions when possible. The response also includes the order field metadata you can pass to `/domains/order` when placing a registration or transfer.
   * 
   * Expected answers:
   *   code 200 : DomainLookupResponse (Availability, pricing, and field metadata for the requested domain.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 422 : TextResponse (The domain input was invalid.)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param name The full domain name to look up (for example `example.com`).
   */
  def getDomainLookup(name: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainLookupResponse] =
    ApiRequest[DomainLookupResponse](ApiMethods.GET, baseUrl, "/domains/lookup/{name}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("name", name)
      .withSuccessResponse[DomainLookupResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[TextResponse](422)
      

  /**
   * Returns the registered nameserver hosts and glue IP addresses currently configured at the registrar. Use the returned list when adding, updating, or deleting individual nameserver records.
   * 
   * Expected answers:
   *   code 200 : DomainNameserverGetResponse (Domain registered nameservers list response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainNameservers(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainNameserverGetResponse] =
    ApiRequest[DomainNameserverGetResponse](ApiMethods.GET, baseUrl, "/domains/{id}/nameservers", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[DomainNameserverGetResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the registration-type-specific form fields required to place a domain order for the given hostname. Use the returned fields to build the POST body for `POST /domains/order`.
   * 
   * Expected answers:
   *   code 200 :  (Registration-type-specific form field definitions.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param domain The fully qualified domain name (e.g. `example.com`).
   * @param regType The registration type. Common values include `register` for new registrations and `transfer` for inbound transfers.
   */
  def getDomainOrderFields(domain: String, regType: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/domains/order/{domain}/{regType}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("domain", domain)
      .withPathParam("regType", regType)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns order data for the specified domain hostname, including availability and pricing details. Use this to preview order information before placing a registration or transfer.
   * 
   * Expected answers:
   *   code 200 :  (Domain availability and pricing information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param domain The fully qualified domain name to look up (e.g. `example.com`).
   */
  def getDomainOrderSearchResults(domain: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/domains/order/{domain}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("domain", domain)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Starts the domain renewal workflow for an active domain. This endpoint currently returns a status message indicating that renewal handling has been triggered.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainRenewal(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/domains/{id}/renew", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Queries the registrar for suggested domains and availability data. Use the returned `lookup` results to identify availability and then call `/domains/lookup/{name}` or `/domains/order` to obtain pricing and order fields for the chosen domain.
   * 
   * Expected answers:
   *   code 200 : DomainSearchResponse (Suggested and lookup results for the supplied search term.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : TextResponse (No search suggestions or registrar response available.)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param name The base domain name to search (for example `example` or `example.com`).
   */
  def getDomainSearch(name: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainSearchResponse] =
    ApiRequest[DomainSearchResponse](ApiMethods.GET, baseUrl, "/domains/search/{name}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("name", name)
      .withSuccessResponse[DomainSearchResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withErrorResponse[TextResponse](404)
      

  /**
   * Initiates the transfer workflow for a domain already in your account. Use this in coordination with `/domains/{id}/contact` to ensure registrant details are ready for the transfer request.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainTransfer(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/domains/{id}/transfer", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns status text for the Whois privacy add-on on the domain. Use this to determine whether privacy can be enabled or disabled for the current TLD before submitting updates.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainWhoisPrivacy(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/domains/{id}/whois", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the domain services on your account, including the billing order ID, hostname, expiration date, and status. Use the `domain_id` from this response with `GET /domains/{id}` to fetch full service details, or with `/domains/{id}/nameservers`, `/domains/{id}/contact`, and `/domains/{id}/whois` to manage registration settings.
   * 
   * Expected answers:
   *   code 200 : Seq[DomainRow] (The listing of `Domains` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getDomainsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[DomainRow]] =
    ApiRequest[Seq[DomainRow]](ApiMethods.GET, baseUrl, "/domains", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[DomainRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email for the domain service. The email contains registration details and management instructions.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def getDomainsWelcomeEmail(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/domains/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the catalog of available domain services, including TLD service IDs and base Whois privacy pricing. Use the `tldServices` map to resolve a TLD into a service ID when you build an order request for `/domains/order` (POST) or the domain-field lookup endpoints.
   * 
   * Expected answers:
   *   code 200 : DomainOrder (Domain registration order information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewDomain()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DomainOrder] =
    ApiRequest[DomainOrder](ApiMethods.GET, baseUrl, "/domains/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[DomainOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the domain-specific field requirements for the supplied hostname and registration type. Use this to build the form data required for `/domains/order` (POST).
   * 
   * Expected answers:
   *   code 200 :  (Validate Domain order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def patchDomains()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PATCH, baseUrl, "/domains/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Submits a domain renewal request for the order. Use `/domains/{id}/invoices` to identify any invoices created as part of the renewal flow.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def postDomainRenewal(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/renew", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Submits a transfer request for the domain order. Use `/domains/{id}/invoices` to identify any invoices generated as part of the transfer process.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def postDomainTransfer(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/transfer", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns validation data for a domain order request (such as availability and pricing information). This is typically used as a pre-flight check before submitting a POST order.
   * 
   * Expected answers:
   *   code 200 :  (Validate Domain Order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putDomains()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/domains/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the registrant/admin contact details for the domain. Submit the same fields returned by the GET response after making the desired changes. Domain updates require the service to be active and unlocked.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param domainContactDetails 
   */
  def updateDomainContact(id: Int, domainContactDetails: DomainContactDetails)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/contact", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(domainContactDetails)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the domain service record for the order. Use this for account-level changes such as updating stored registration metadata or transfer attributes.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   */
  def updateDomainInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Replaces the full nameserver assignment for the domain with the provided list. This is the primary method for changing which authoritative nameservers the domain delegates to.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param domainNameserverPutRequest 
   */
  def updateDomainNameservers(id: Int, domainNameserverPutRequest: DomainNameserverPutRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.PUT, baseUrl, "/domains/{id}/nameservers", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(domainNameserverPutRequest)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Enables or disables the Whois privacy add-on for the domain. The API may create invoices when enabling privacy; use `/domains/{id}/invoices` to track billing events.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The domain service ID. Use `domain_id` from `GET /domains`.
   * @param domainWhoisPrivacyRequest 
   */
  def updateDomainWhoisPrivacy(id: Int, domainWhoisPrivacyRequest: DomainWhoisPrivacyRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/domains/{id}/whois", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(domainWhoisPrivacyRequest)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      



}

