/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BuyItNowList
import org.openapitools.client.model.CaptchaResponse
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.GetOauthRedirect200Response
import org.openapitools.client.model.LoginErrorResponse
import org.openapitools.client.model.LoginInfo
import org.openapitools.client.model.LoginSubmissionExample
import org.openapitools.client.model.LoginSubmissionExampleGRecaptchaResponse
import org.openapitools.client.model.LoginSuccessResponse
import org.openapitools.client.model.PatchOauthTwoFactor200Response
import org.openapitools.client.model.PatchOauthTwoFactorRequest
import org.openapitools.client.model.PostOauthCallback200Response
import org.openapitools.client.model.PostOauthCallbackRequest
import org.openapitools.client.model.ServicesInfo
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PublicApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new PublicApi(baseUrl)
}

class PublicApi(baseUrl: String) {

  /**
   * Returns a base64-encoded JPEG captcha image for human verification. Display this image to the user and submit their response along with the registration or order form. No authentication is required for this endpoint.
   * 
   * Expected answers:
   *   code 200 : CaptchaResponse (An array containing a `captcha` field containing a string with a base64 encoded captcha image.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getCaptcha()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CaptchaResponse] =
    ApiRequest[CaptchaResponse](ApiMethods.GET, baseUrl, "/captcha", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[CaptchaResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns a map of country codes to country names. Use the optional `fetch_by` parameter to select the key format: `iso2` (default, two-letter codes), `iso3` (three-letter codes), or `numcode` (numeric codes). Use these values when populating country fields in account registration or domain contact forms.
   * 
   * Expected answers:
   *   code 200 : Any (The list of countries with both 2 letter abbreviations and the country names.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param fetchBy Get countries by iso2 or iso3 or numcode
   */
  def getCountries(fetchBy: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.GET, baseUrl, "/account/countries", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("fetch_by", fetchBy)
      .withSuccessResponse[Any](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns metadata about the API server's available modules, service packages, categories, and types. This public endpoint does not require authentication and is useful for discovering supported services before placing orders.
   * 
   * Expected answers:
   *   code 200 : ServicesInfo (The modules and services information from the server.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getInfo()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ServicesInfo] =
    ApiRequest[ServicesInfo](ApiMethods.GET, baseUrl, "/info", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[ServicesInfo](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Gets the various pieces of information useful for generating a login page.
   * 
   * Expected answers:
   *   code 200 : LoginInfo (Various pieces of information useful for rendering a login page.)
   *   code 403 : LoginErrorResponse (Error response to a login request.)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getLoginInfo()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[LoginInfo] =
    ApiRequest[LoginInfo](ApiMethods.GET, baseUrl, "/login", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[LoginInfo](200)
      .withErrorResponse[LoginErrorResponse](403)
      

  /**
   * Returns the list of available Rapid Deploy dedicated servers with current pricing. Each entry includes CPU, memory, disk, bandwidth, IP allocation, and location details. These servers are pre-configured and can be provisioned immediately after purchase.
   * 
   * Expected answers:
   *   code 200 : BuyItNowList (Marketplace Buy it now servers list)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getMPServers()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[BuyItNowList] =
    ApiRequest[BuyItNowList](ApiMethods.GET, baseUrl, "/buy_now_servers_list", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[BuyItNowList](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the OAuth redirect URL for the specified provider. Redirect the user to this URL to begin the OAuth authentication flow. After the user authorizes, the provider will redirect back to your callback endpoint where you should call `POST /oauth`.
   * 
   * Expected answers:
   *   code 200 : GetOauthRedirect200Response (OAuth redirect URL for the requested provider.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param provider The OAuth provider name (e.g. `Google`).
   */
  def getOauthRedirect(provider: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[GetOauthRedirect200Response] =
    ApiRequest[GetOauthRedirect200Response](ApiMethods.GET, baseUrl, "/oauth", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("provider", provider)
      .withSuccessResponse[GetOauthRedirect200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the complete list of available timezone identifiers (e.g. `America/New_York`, `UTC`). Use these values when updating timezone settings on your account or on VPS and QuickServer services via `/vps/{id}/change_timezone` or `/qs/{id}/change_timezone`.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (An array of all available timezone identifiers.)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getTimezones()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, baseUrl, "/account/timezones", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[String]](200)
      

  /**
   * Completes the OAuth login by verifying a two-factor authentication code. Use the `account_id` returned by `POST /oauth` when the response contained `error_code: \"2fa_required\"`.
   * 
   * Expected answers:
   *   code 200 : PatchOauthTwoFactor200Response (OAuth 2FA verification result.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param patchOauthTwoFactorRequest 
   */
  def patchOauthTwoFactor(patchOauthTwoFactorRequest: PatchOauthTwoFactorRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[PatchOauthTwoFactor200Response] =
    ApiRequest[PatchOauthTwoFactor200Response](ApiMethods.PATCH, baseUrl, "/oauth", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(patchOauthTwoFactorRequest)
      .withSuccessResponse[PatchOauthTwoFactor200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Performs a single ping/pong request to let you know if the server is up.
   * 
   * Expected answers:
   *   code 200 : String (A simple response of \"pong\" for use with simple tests to see if a service is up. )
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Something is wrong)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def pingServer()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[String] =
    ApiRequest[String](ApiMethods.GET, baseUrl, "/ping", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[String](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Handles the OAuth callback after the user authorizes with the provider. Returns the login status. If the account has two-factor authentication enabled, the response will include `error_code: \"2fa_required\"` and an `account_id`; use `PATCH /oauth` with the 2FA code and account ID to complete login.
   * 
   * Expected answers:
   *   code 200 : PostOauthCallback200Response (OAuth callback result.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param provider The OAuth provider name (e.g. `Google`).
   * @param postOauthCallbackRequest 
   */
  def postOauthCallback(provider: String, postOauthCallbackRequest: Option[PostOauthCallbackRequest] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[PostOauthCallback200Response] =
    ApiRequest[PostOauthCallback200Response](ApiMethods.POST, baseUrl, "/oauth", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(postOauthCallbackRequest)
      .withQueryParam("provider", provider)
      .withSuccessResponse[PostOauthCallback200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Authenticates using the provided login credentials and returns a session token. Include the returned session ID in the `sessionid` header on subsequent requests. If authentication fails, a `402` error is returned.
   * 
   * Expected answers:
   *   code 200 : LoginSuccessResponse (Successful login response containing the session token.)
   *   code 402 : LoginErrorResponse (Error response to a login request.)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param login 
   * @param passwd 
   * @param remember 
   * @param gRecaptchaResponse 
   * @param tfa Two Factor Authentication Response.
   */
  def submitLogin(login: String, passwd: String, remember: Option[String] = None, gRecaptchaResponse: Option[LoginSubmissionExampleGRecaptchaResponse] = None, tfa: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[LoginSuccessResponse] =
    ApiRequest[LoginSuccessResponse](ApiMethods.POST, baseUrl, "/login", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("login", login)
      .withFormParam("passwd", passwd)
      .withFormParam("remember", remember)
      .withFormParam("g-recaptcha-response", gRecaptchaResponse)
      .withFormParam("tfa", tfa)
      .withSuccessResponse[LoginSuccessResponse](200)
      .withErrorResponse[LoginErrorResponse](402)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Creates a new account in our system using the provided information.
   * 
   * Expected answers:
   *   code 200 :  (Account created successfully.)
   *   code 402 : LoginErrorResponse (Error response to a login request.)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param loginSubmissionExample 
   */
  def submitSignup(loginSubmissionExample: Option[LoginSubmissionExample] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/signup", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(loginSubmissionExample)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[LoginErrorResponse](402)
      



}

