/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.DownloadQsBackup200Response
import org.openapitools.client.model.DownloadQsBackupRequest
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.QueueResponse
import org.openapitools.client.model.Quickserver
import org.openapitools.client.model.QuickserverOrder
import org.openapitools.client.model.QuickserverRow
import org.openapitools.client.model.QuickserversCancel200Response
import org.openapitools.client.model.RestoreRequest
import org.openapitools.client.model.ReverseDnsEntries
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.TextResponse
import org.openapitools.client.model.VpsBackupRows
import org.openapitools.client.model.VpsTemplatesList
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object QuickServersApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new QuickServersApi(baseUrl)
}

class QuickServersApi(baseUrl: String) {

  /**
   * Places a QuickServer order. On success, invoices are generated for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addQs()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/qs/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Permanently removes the specified backup file from storage. Use `GET /qs/{id}/backups` to list available backup filenames before deleting.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param file The backup filename to delete.
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def deleteQsBackup(id: Int, file: String, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.DELETE, baseUrl, "/qs/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("all", all)
      .withQueryParam("file", file)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Blocks outbound SMTP for the QuickServer to prevent email abuse. Use this action when responding to abuse notifications or to enforce outbound email policies.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsBlockSmtp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/block_smtp", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Disables the virtual CD drive for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsDisableCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/disable_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Disables disk quota enforcement for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsDisableQuota(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/disable_quota", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Ejects the virtual CD from the QuickServer's CD drive.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsEjectCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/eject_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Enables disk quota enforcement for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsEnableQuota(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/enable_quota", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Restarts the QuickServer. The server will be shut down and started again.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsRestart(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/restart", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Powers on the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsStart(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/start", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Powers off the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def doQsStop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.GET, baseUrl, "/qs/{id}/stop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Generates a pre-signed download URL for the specified backup file. The URL is valid for 24 hours. Use `GET /qs/{id}/backups` to list available backup filenames.
   * 
   * Expected answers:
   *   code 200 : DownloadQsBackup200Response (Download URL for the backup file.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param downloadQsBackupRequest 
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def downloadQsBackup(id: Int, downloadQsBackupRequest: DownloadQsBackupRequest, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[DownloadQsBackup200Response] =
    ApiRequest[DownloadQsBackup200Response](ApiMethods.PATCH, baseUrl, "/qs/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(downloadQsBackupRequest)
      .withQueryParam("all", all)
      .withPathParam("id", id)
      .withSuccessResponse[DownloadQsBackup200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns QuickServer ordering metadata and available plans. Use these details to build the order form and to validate a plan selection.
   * 
   * Expected answers:
   *   code 200 : QuickserverOrder (Quickserver Ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewQs()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QuickserverOrder] =
    ApiRequest[QuickserverOrder](ApiMethods.GET, baseUrl, "/qs/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[QuickserverOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the available backups for the QuickServer across all storage systems (Swift, MinIO, ZFS). Use the backup `name` value with `PATCH /qs/{id}/backups` to download or `DELETE /qs/{id}/backups` to remove a backup. Use `POST /qs/{id}/restore` to restore from a backup.
   * 
   * Expected answers:
   *   code 200 : VpsBackupRows (The listing of available backups for the QuickServer.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param all Set to `1` to list all backups across all services, not just the ones for the given QuickServer.
   */
  def getQsBackups(id: Int, all: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsBackupRows] =
    ApiRequest[VpsBackupRows](ApiMethods.GET, baseUrl, "/qs/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("all", all)
      .withPathParam("id", id)
      .withSuccessResponse[VpsBackupRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves the current hostname and any validation requirements for changing it.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Hostname info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeHostname(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/change_hostname", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves instructions or metadata needed to reset the root password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Root Password response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeRootPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/change_root_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the list of available timezones that can be set on the QuickServer.
   * 
   * Expected answers:
   *   code 200 : Seq[String] (QuickServer Change Timezone info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeTimezone(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[String]] =
    ApiRequest[Seq[String]](ApiMethods.GET, baseUrl, "/qs/{id}/change_timezone", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Seq[String]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves instructions or metadata for changing the Webuzo control panel password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Change Webuzo Password info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsChangeWebuzoPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/change_webuzo_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns detailed QuickServer information, including credentials, IPs, and available client actions.
   * 
   * Expected answers:
   *   code 200 : Quickserver (Quickserver details)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def getQsInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Quickserver] =
    ApiRequest[Quickserver](ApiMethods.GET, baseUrl, "/qs/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Quickserver](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns available ISO images that can be mounted in the QuickServer's virtual CD drive.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Insert CD info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsInsertCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/insert_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the billing invoices associated with this QuickServer.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/qs/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the QuickServer services on your account. Use the `qs_id` values with `/qs/{id}` for details or with the action endpoints (restart, backup, etc.) to manage each server.
   * 
   * Expected answers:
   *   code 200 : Seq[QuickserverRow] (The listing of `Quickservers` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getQsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[QuickserverRow]] =
    ApiRequest[Seq[QuickserverRow]](ApiMethods.GET, baseUrl, "/qs", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[QuickserverRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the list of available operating system templates for reinstalling the QuickServer.
   * 
   * Expected answers:
   *   code 200 : VpsTemplatesList (QuickServer Reinstall OS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsReinstallOs(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[VpsTemplatesList] =
    ApiRequest[VpsTemplatesList](ApiMethods.GET, baseUrl, "/qs/{id}/reinstall_os", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[VpsTemplatesList](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns information needed before resetting the QuickServer's root password.
   * 
   * Expected answers:
   *   code 200 :  (QuickServer Reset password info)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsResetPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/reset_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current reverse DNS (PTR record) entries for the QuickServer's IP addresses.
   * 
   * Expected answers:
   *   code 200 : ReverseDnsEntries (QuickServer Reverse DNS info response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsReverseDns(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ReverseDnsEntries] =
    ApiRequest[ReverseDnsEntries](ApiMethods.GET, baseUrl, "/qs/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ReverseDnsEntries](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current VNC connection information for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer Setup VNC Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsSetupVnc(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/setup_vnc", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns bandwidth traffic usage data for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer Traffic usage)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsTrafficUsage(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/traffic_usage", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns remote desktop connection information for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Get QuickServer View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def getQsViewDesktop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/qs/{id}/view_desktop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email containing connection details and credentials for the QuickServer order.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Quickserver ID
   */
  def getQsWelcomeEmail(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.GET, baseUrl, "/qs/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Creates a backup of the QuickServer. The backup can be downloaded or restored later via the backups endpoints.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsBackup(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/backup", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Submits a hostname change request for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeHostname(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/change_hostname", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Triggers a root password reset for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeRootPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/change_root_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Changes the system timezone on the QuickServer. Use `GET /qs/{id}/change_timezone` to list available options first.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param timezone The time zone
   */
  def postQsChangeTimezone(id: Int, timezone: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/change_timezone", "multipart/form-data")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withFormParam("timezone", timezone)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resets the Webuzo control panel password for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsChangeWebuzoPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/change_webuzo_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Mounts an ISO image in the QuickServer's virtual CD drive. Use `GET /qs/{id}/insert_cd` to list available images.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsInsertCd(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/insert_cd", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Reinstalls the operating system on the QuickServer. Warning - this will erase all data on the server.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsReinstallOs(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/reinstall_os", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resets the root password on the QuickServer to a new randomly generated password.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsResetPassword(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/reset_password", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the reverse DNS (PTR record) entries for the QuickServer's IP addresses.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Update QuickServer Reverse DNS response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param reverseDnsEntries 
   */
  def postQsReverseDns(id: Int, reverseDnsEntries: ReverseDnsEntries)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.POST, baseUrl, "/qs/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(reverseDnsEntries)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Sets up or refreshes the VNC console connection for the QuickServer.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsSetupVnc(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/setup_vnc", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Searches and filters the QuickServer's bandwidth traffic usage data by date range.
   * 
   * Expected answers:
   *   code 200 :  (Submit QuickServer Traffic Usage)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsTrafficUsage(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/qs/{id}/traffic_usage", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates or refreshes the remote desktop session for the QuickServer.
   * 
   * Expected answers:
   *   code 200 :  (Submit QuickServer View Desktop Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def postQsViewDesktop(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/qs/{id}/view_desktop", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Initiates a restore of the QuickServer from a previously created backup. The restore operation overwrites the current disk contents. Use `GET /qs/{id}/backups` to retrieve available backup names.
   * 
   * Expected answers:
   *   code 200 : QueueResponse (Response message from sending a service queue.)
   *   code 400 : TextResponse (Response with a text message field.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   * @param restoreRequest QuickServer Restore request
   */
  def postQuickServerRestore(id: Int, restoreRequest: RestoreRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QueueResponse] =
    ApiRequest[QueueResponse](ApiMethods.POST, baseUrl, "/qs/{id}/restore", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(restoreRequest)
      .withPathParam("id", id)
      .withSuccessResponse[QueueResponse](200)
      .withErrorResponse[TextResponse](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Validates a QuickServer order and returns pricing or validation errors. Use this before submitting the final order.
   * 
   * Expected answers:
   *   code 200 :  (Validate QuickServer Order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putQs()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/qs/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Cancels the QuickServer service. The server will be deprovisioned and billing will stop at the end of the current billing cycle.
   * 
   * Expected answers:
   *   code 200 : QuickserversCancel200Response (Rapid Deploy Servers Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number
   */
  def quickserversCancel(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[QuickserversCancel200Response] =
    ApiRequest[QuickserversCancel200Response](ApiMethods.DELETE, baseUrl, "/qs/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[QuickserversCancel200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates QuickServer metadata or stored settings associated with the order.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id QuickServer ID number.
   */
  def updateQsInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/qs/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      



}

