/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.math.BigDecimal
import org.openapitools.client.model.CloseTicketResponseSchema
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.ReplyTicketRequest
import org.openapitools.client.model.ReplyTicketResponseSchema
import org.openapitools.client.model.TicketNew
import org.openapitools.client.model.TicketNewResponse
import org.openapitools.client.model.Tickets
import org.openapitools.client.model.UpdateTicket
import org.openapitools.client.model.UpdateTicketResponseSchema
import org.openapitools.client.model.ViewTicketResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TicketsApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new TicketsApi(baseUrl)
}

class TicketsApi(baseUrl: String) {

  /**
   * Creates a new support ticket. Optionally link it to a specific service by providing the service ID and module.
   * 
   * Expected answers:
   *   code 200 : TicketNewResponse (A successful response after creating a ticket)
   *   code 400 : TicketNewResponse (A successful response after creating a ticket)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param ticketNew 
   */
  def addNewTicket(ticketNew: TicketNew)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TicketNewResponse] =
    ApiRequest[TicketNewResponse](ApiMethods.POST, baseUrl, "/tickets/new", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(ticketNew)
      .withSuccessResponse[TicketNewResponse](200)
      .withErrorResponse[TicketNewResponse](400)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Closes the specified support ticket. Closed tickets can still be viewed but will no longer appear in the active inbox.
   * 
   * Expected answers:
   *   code 200 : CloseTicketResponseSchema (Close ticket.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Ticket ID
   */
  def closeTicket(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[CloseTicketResponseSchema] =
    ApiRequest[CloseTicketResponseSchema](ApiMethods.GET, baseUrl, "/tickets/{id}/close", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[CloseTicketResponseSchema](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Closes the support ticket.
   * 
   * Expected answers:
   *   code 200 : ViewTicketResponse (Ticket Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Ticket ID number.
   */
  def deleteTicketInfo(id: BigDecimal)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ViewTicketResponse] =
    ApiRequest[ViewTicketResponse](ApiMethods.DELETE, baseUrl, "/tickets/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ViewTicketResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Returns the form data needed to create a new support ticket, such as available departments and service categories.
   * 
   * Expected answers:
   *   code 200 :  (New ticket form data including departments and service categories.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewTicket()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/tickets/new", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the full details of a support ticket including its history of replies.
   * 
   * Expected answers:
   *   code 200 : ViewTicketResponse (Ticket Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Ticket ID number.
   */
  def getTicketInfo(id: BigDecimal)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ViewTicketResponse] =
    ApiRequest[ViewTicketResponse](ApiMethods.GET, baseUrl, "/tickets/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ViewTicketResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Returns a paginated list of support tickets on the account. Filter by status and time period.
   * 
   * Expected answers:
   *   code 200 : Tickets (The listing of support tickets.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param page Page number for paginated results.
   * @param period How far back to show tickets from. Value is in days.
   * @param view The status of tickets to view. Possible values are Open, Closed, On Hold, and In Progress.  If not specified it will show all types.
   */
  def getTicketsList(page: Option[Int] = None, period: Option[String] = None, view: Option[String] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Tickets] =
    ApiRequest[Tickets](ApiMethods.GET, baseUrl, "/tickets", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withQueryParam("page", page)
      .withQueryParam("period", period)
      .withQueryParam("view", view)
      .withSuccessResponse[Tickets](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Adds a reply to an existing support ticket.
   * 
   * Expected answers:
   *   code 200 : ViewTicketResponse (Ticket Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Ticket ID number.
   */
  def postTicketInfo(id: BigDecimal)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ViewTicketResponse] =
    ApiRequest[ViewTicketResponse](ApiMethods.POST, baseUrl, "/tickets/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ViewTicketResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Searches support tickets by email, subject, or ticket mask ID.
   * 
   * Expected answers:
   *   code 200 : Tickets (Search through the ticket system for a given email, subject, or ticket mask id.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def postTicketsList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Tickets] =
    ApiRequest[Tickets](ApiMethods.POST, baseUrl, "/tickets", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Tickets](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates a support ticket's properties such as subject or status.
   * 
   * Expected answers:
   *   code 200 : ViewTicketResponse (Ticket Information)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id Ticket ID number.
   */
  def putTicketInfo(id: BigDecimal)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ViewTicketResponse] =
    ApiRequest[ViewTicketResponse](ApiMethods.PUT, baseUrl, "/tickets/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ViewTicketResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Posts a reply to an existing support ticket thread.
   * 
   * Expected answers:
   *   code 200 : ReplyTicketResponseSchema (Post Reply to the ticket.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The ticket ID number.
   * @param replyTicketRequest 
   */
  def replyTicket(id: BigDecimal, replyTicketRequest: Option[ReplyTicketRequest] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ReplyTicketResponseSchema] =
    ApiRequest[ReplyTicketResponseSchema](ApiMethods.POST, baseUrl, "/tickets/{id}/reply", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(replyTicketRequest)
      .withPathParam("id", id)
      .withSuccessResponse[ReplyTicketResponseSchema](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Updates a support ticket's subject or body content.
   * 
   * Expected answers:
   *   code 200 : UpdateTicketResponseSchema (Response from updating a support ticket.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The ticket ID number.
   * @param updateTicket 
   */
  def updateTicketInfo(id: BigDecimal, updateTicket: Option[UpdateTicket] = None)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[UpdateTicketResponseSchema] =
    ApiRequest[UpdateTicketResponseSchema](ApiMethods.POST, baseUrl, "/tickets/{id}/update", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(updateTicket)
      .withPathParam("id", id)
      .withSuccessResponse[UpdateTicketResponseSchema](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      .withDefaultErrorResponse[Unit]
      



}

