/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.GetWebsiteBuyIp200Response
import org.openapitools.client.model.PostWebsiteBuyIp200Response
import org.openapitools.client.model.PostWebsiteBuyIpRequest
import org.openapitools.client.model.PostWebsiteMigration200Response
import org.openapitools.client.model.PostWebsiteMigrationRequest
import org.openapitools.client.model.PostWebsiteMigrationRequest1
import org.openapitools.client.model.ReverseDnsEntries
import org.openapitools.client.model.ServiceOrderPostResponse
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.model.TextResponse
import org.openapitools.client.model.WebhostingCancel200Response
import org.openapitools.client.model.Website
import org.openapitools.client.model.WebsiteBackups
import org.openapitools.client.model.WebsiteLoginResponse
import org.openapitools.client.model.WebsiteRow
import org.openapitools.client.model.WebsitesOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WebhostingApi {

  def apply(baseUrl: String = "https://my.interserver.net/apiv2") = new WebhostingApi(baseUrl)
}

class WebhostingApi(baseUrl: String) {

  /**
   * Places an order for a new webhosting package. Use `PUT /websites/order` to validate the order first.
   * 
   * Expected answers:
   *   code 200 : ServiceOrderPostResponse (Order placed successfully. Use the invoice ID to proceed to payment via `/pay/{method}/{invoices}` or view the invoice at `/billing/invoices/{id}`.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addWebsite()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ServiceOrderPostResponse] =
    ApiRequest[ServiceOrderPostResponse](ApiMethods.POST, baseUrl, "/websites/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[ServiceOrderPostResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Retrieves available webhosting plans and pricing for ordering.
   * 
   * Expected answers:
   *   code 200 : WebsitesOrder (Website ordering details including available plans and pricing.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewWebsite()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[WebsitesOrder] =
    ApiRequest[WebsitesOrder](ApiMethods.GET, baseUrl, "/websites/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[WebsitesOrder](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the IP addresses assigned to the website along with their current reverse DNS hostnames. Use this information to review assignments before updating reverse DNS via `POST /websites/{id}/buy_ip`.
   * 
   * Expected answers:
   *   code 200 : GetWebsiteBuyIp200Response (Current IP addresses and their reverse DNS hostnames for the website.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsiteBuyIp(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[GetWebsiteBuyIp200Response] =
    ApiRequest[GetWebsiteBuyIp200Response](ApiMethods.GET, baseUrl, "/websites/{id}/buy_ip", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[GetWebsiteBuyIp200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns detailed information about a specific webhosting order including its domain, plan, and status.
   * 
   * Expected answers:
   *   code 200 : Website (Website details)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsiteInfo(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Website] =
    ApiRequest[Website](ApiMethods.GET, baseUrl, "/websites/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[Website](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the billing invoices associated with this webhosting service.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsiteInvoices(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ChargeInvoiceRows] =
    ApiRequest[ChargeInvoiceRows](ApiMethods.GET, baseUrl, "/websites/{id}/invoices", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ChargeInvoiceRows](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Gets a listing of your webhosting orders and service details.
   * 
   * Expected answers:
   *   code 200 : Seq[WebsiteRow] (The listing of `Websites` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getWebsiteList()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Seq[WebsiteRow]] =
    ApiRequest[Seq[WebsiteRow]](ApiMethods.GET, baseUrl, "/websites", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Seq[WebsiteRow]](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Gets a list of the backups that exist for a website and their sizes.
   * 
   * Expected answers:
   *   code 200 : WebsiteBackups (Get Website Backups response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsitesBackups(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[WebsiteBackups] =
    ApiRequest[WebsiteBackups](ApiMethods.GET, baseUrl, "/websites/{id}/backups", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[WebsiteBackups](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns an auto-login URL for the webhosting control panel. Use this to access cPanel or DirectAdmin without entering credentials.
   * 
   * Expected answers:
   *   code 200 : WebsiteLoginResponse (Get Website Login response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsitesLogin(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[WebsiteLoginResponse] =
    ApiRequest[WebsiteLoginResponse](ApiMethods.GET, baseUrl, "/websites/{id}/login", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[WebsiteLoginResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Resends the welcome email containing hosting credentials and panel access details for the webhosting order.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def getWebsitesWelcomeEmail(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.GET, baseUrl, "/websites/{id}/welcome_email", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Returns the current reverse DNS (PTR record) entries for the website's IP addresses.
   * 
   * Expected answers:
   *   code 200 : ReverseDnsEntries (List of reverse dns entries)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def gettWebsiteReverseDns(id: Int)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[ReverseDnsEntries] =
    ApiRequest[ReverseDnsEntries](ApiMethods.GET, baseUrl, "/websites/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[ReverseDnsEntries](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the reverse DNS hostnames for the website's IP addresses. Provide an `ips` object mapping each IP address to its desired hostname.
   * 
   * Expected answers:
   *   code 200 : PostWebsiteBuyIp200Response (DNS update result.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   * @param postWebsiteBuyIpRequest 
   */
  def postWebsiteBuyIp(id: Int, postWebsiteBuyIpRequest: PostWebsiteBuyIpRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[PostWebsiteBuyIp200Response] =
    ApiRequest[PostWebsiteBuyIp200Response](ApiMethods.POST, baseUrl, "/websites/{id}/buy_ip", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(postWebsiteBuyIpRequest)
      .withPathParam("id", id)
      .withSuccessResponse[PostWebsiteBuyIp200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Submits a website migration request from your current hosting provider to InterServer. Provide the credentials and details for your current host so our team can perform the migration. A support ticket is created to track the migration progress; use the returned `ticket` ID with `/tickets/{id}` to monitor status.
   * 
   * Expected answers:
   *   code 200 : PostWebsiteMigration200Response (Migration request submitted.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   * @param postWebsiteMigrationRequest 
   */
  def postWebsiteMigration(id: Int, postWebsiteMigrationRequest: PostWebsiteMigrationRequest)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[PostWebsiteMigration200Response] =
    ApiRequest[PostWebsiteMigration200Response](ApiMethods.POST, baseUrl, "/websites/{id}/migration", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(postWebsiteMigrationRequest)
      .withPathParam("id", id)
      .withSuccessResponse[PostWebsiteMigration200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates the reverse DNS entries for each of the IP addresses for the website.
   * 
   * Expected answers:
   *   code 200 : TextResponse (Response from the update reverse DNS call.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   * @param reverseDnsEntries 
   */
  def postWebsitesReverseDns(id: Int, reverseDnsEntries: ReverseDnsEntries)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[TextResponse] =
    ApiRequest[TextResponse](ApiMethods.POST, baseUrl, "/websites/{id}/reverse_dns", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withBody(reverseDnsEntries)
      .withPathParam("id", id)
      .withSuccessResponse[TextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Validates a webhosting order before placing it.
   * 
   * Expected answers:
   *   code 200 :  (Validate Website order response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putWebsites()(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/websites/order", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withSuccessResponse[Unit](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Updates settings on a webhosting order.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def updateWebsiteInfo(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[SuccessTextResponse] =
    ApiRequest[SuccessTextResponse](ApiMethods.POST, baseUrl, "/websites/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[SuccessTextResponse](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      

  /**
   * Cancels a webhosting service. The service will be scheduled for termination and all hosted content will be removed. This action cannot be undone.
   * 
   * Expected answers:
   *   code 200 : WebhostingCancel200Response (Website cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The website service ID. Use `website_id` from `GET /websites`.
   */
  def webhostingCancel(id: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[WebhostingCancel200Response] =
    ApiRequest[WebhostingCancel200Response](ApiMethods.DELETE, baseUrl, "/websites/{id}", "application/json")
      .withApiKey(apiKey, "sessionid", COOKIE)
      .withApiKey(apiKey, "X-API-KEY", HEADER)
      .withApiKey(apiKey, "sessionid", HEADER)
      .withPathParam("id", id)
      .withSuccessResponse[WebhostingCancel200Response](200)
      .withErrorResponse[GetAccountInfo401Response](401)
      



}

