/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.DnsListItem
import org.openapitools.client.model.DnsRecord
import org.openapitools.client.model.DnsRecordType.*
import org.openapitools.client.model.DnsRecordType
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.core.JsonSupport.{*, given}
import org.openapitools.client.core.FormSerializable
import org.openapitools.client.core.FormStyleFormat
import org.openapitools.client.core.HeaderSerializable
import org.openapitools.client.core.ApiKeyLocation
import org.openapitools.client.core.PathStyleFormat
import org.openapitools.client.core.PathSerializable
import org.openapitools.client.core.CookieSerializable
import org.openapitools.client.core.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object DNSApi:
  def apply(baseUrl: String = "https://my.interserver.net/apiv2"): DNSApi[org.openapitools.client.core.Authorization.NoAuthorization.type] = DNSApi(baseUrl, org.openapitools.client.core.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): DNSApi[org.openapitools.client.core.Authorization.BasicAuth] =
    DNSApi(baseUrl, org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): DNSApi[org.openapitools.client.core.Authorization.ApiKey] =
    DNSApi(baseUrl, org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): DNSApi[org.openapitools.client.core.Authorization.BearerToken] =
    DNSApi(baseUrl, org.openapitools.client.core.Authorization.BearerToken(token))

case class DNSApi[Auth <: org.openapitools.client.core.Authorization] private (baseUrl: String, authConfig: org.openapitools.client.core.Authorization):
  def withBasicAuth(username: String, password: String): DNSApi[org.openapitools.client.core.Authorization.BasicAuth] =
    copy(authConfig = org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): DNSApi[org.openapitools.client.core.Authorization.ApiKey] =
    copy(authConfig = org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withNoAuth: DNSApi[org.openapitools.client.core.Authorization.NoAuthorization.type] =
    copy(authConfig = org.openapitools.client.core.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): DNSApi[org.openapitools.client.core.Authorization.BearerToken] =
    copy(authConfig = org.openapitools.client.core.Authorization.BearerToken(token))

  /**
   * Creates a new DNS domain and assigns an initial A record pointing to the supplied IP address. The domain is immediately available on InterServer's DNS servers. Use `/dns/{id}` to manage records after creation.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param domain The domain name.
   * @param ip IP Address to point the domain to.
   */
  def addDnsDomain(domain: String, ip: String)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val requestURL =
      uri"$baseUrl/dns"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("multipart/form-data")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .multipartBody(Seq(
            
        Some(multipart("domain", domain.toString))
,

            
        Some(multipart("ip", ip.toString))


      ).flatten)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Adds a new DNS record to the specified domain. Provide the record type (A, AAAA, CNAME, MX, TXT, etc.), name, content, TTL, and priority. The record takes effect on the DNS servers immediately. Use `GET /dns/{id}` afterward to confirm the record was created.
   * 
   * Expected answers:
   *   code 200 :  (Add DNS Domain Response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The DNS Domain ID.
   * @param name Name part of record
   * @param `type` 
   * @param content Content of record
   * @param ttl Time-to-live
   * @param prio Priority
   */
  def addDnsRecord(id: String, name: String, `type`: DnsRecordType, content: String, ttl: Option[Int] = scala.None, prio: Option[Int] = scala.None)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/dns/${idPathParam}"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("multipart/form-data")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .multipartBody(Seq(
            
        Some(multipart("name", name.toString))
,

            
        Some(multipart("type", FormSerializable.serialize("type", `type`, FormStyleFormat.FORM, false)))
,

            
        Some(multipart("content", content.toString))
,

            
        ttl.map(value => multipart("ttl", value.toString))
,

            
        prio.map(value => multipart("prio", value.toString))


      ).flatten)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Deletes a DNS domain and all of its associated records from the DNS servers. This action is permanent and cannot be undone. Any services relying on these DNS records will be affected immediately.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The DNS domain ID to delete. Use the `id` from `GET /dns` to identify the domain.
   */
  def deleteDnsDomain(id: String)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/dns/${idPathParam}"

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Removes a DNS record from the specified domain. The deletion takes effect on the DNS servers immediately. Use `GET /dns/{id}` to verify the record has been removed.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param domainId The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
   * @param recordId The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.
   */
  def deleteDnsRecord(domainId: Int, recordId: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val domainIdPathParam = PathSerializable.serialize("domainId", domainId, PathStyleFormat.SIMPLE, false)
    val recordIdPathParam = PathSerializable.serialize("recordId", recordId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/dns/${domainIdPathParam}/${recordIdPathParam}"

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns the full set of DNS records for the specified domain, including NS, A, AAAA, CNAME, MX, TXT, and other record types. Use the record `id` values with `/dns/{domainId}/{recordId}` to update or delete individual records.
   * 
   * Expected answers:
   *   code 200 : Seq[DnsRecord] (The DNS records for the specified domain.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
   */
  def getDnsDomain(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Seq[DnsRecord]]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/dns/${idPathParam}"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[Seq[DnsRecord]])

  /**
   * Returns the DNS domains on your account along with their primary A record content. Use the `id` from each entry with `/dns/{id}` to retrieve the full record set, or to add, update, and delete individual records.
   * 
   * Expected answers:
   *   code 200 : Seq[DnsListItem] (Listing of DNS domains on the account with their primary A record.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getDnsList(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Seq[DnsListItem]]] =
    val requestURL =
      uri"$baseUrl/dns"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[Seq[DnsListItem]])

  /**
   * Updates an existing DNS record with new values. Use `GET /dns/{id}` to list records and retrieve the record IDs before updating. Changes propagate to the DNS servers immediately.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param domainId The DNS domain ID. Use the `id` from `GET /dns` to identify the domain.
   * @param recordId The DNS record ID within the domain. Use the record `id` from `GET /dns/{id}` to identify the record.
   * @param name 
   * @param `type` 
   * @param content 
   * @param ttl 
   * @param prio 
   * @param disabled 
   * @param ordername 
   * @param auth 
   */
  def updateDnsRecord(domainId: Int, recordId: Int, name: Option[String] = scala.None, `type`: Option[DnsRecordType] = scala.None, content: Option[String] = scala.None, ttl: Option[String] = scala.None, prio: Option[String] = scala.None, disabled: Option[String] = scala.None, ordername: Option[String] = scala.None, auth: Option[String] = scala.None)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val domainIdPathParam = PathSerializable.serialize("domainId", domainId, PathStyleFormat.SIMPLE, false)
    val recordIdPathParam = PathSerializable.serialize("recordId", recordId, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/dns/${domainIdPathParam}/${recordIdPathParam}"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("multipart/form-data")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .multipartBody(Seq(
            
        name.map(value => multipart("name", value.toString))
,

            
        `type`.map(value => multipart("type", FormSerializable.serialize("type", value, FormStyleFormat.FORM, false)))
,

            
        content.map(value => multipart("content", value.toString))
,

            
        ttl.map(value => multipart("ttl", value.toString))
,

            
        prio.map(value => multipart("prio", value.toString))
,

            
        disabled.map(value => multipart("disabled", value.toString))
,

            
        ordername.map(value => multipart("ordername", value.toString))
,

            
        auth.map(value => multipart("auth", value.toString))


      ).flatten)
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

end DNSApi