/**
 * InterServer Management API
 * # Overview  The InterServer Management API provides programmatic access to manage your InterServer services. Use this REST API to automate provisioning, configuration, and billing operations across your account.  The API covers the following service categories: - [Domains](https://www.interserver.net/domains/) — registration, transfers, and DNS management - [Web Hosting](https://www.interserver.net/hosting/) — shared and reseller hosting - [VPS Hosting](https://www.interserver.net/vps/) — virtual private servers - [Dedicated Servers](https://www.interserver.net/dedicated/) — bare metal and [Rapid Deploy Servers](https://www.interserver.net/dedicated/rapid-deploy.html) - [Backups](https://www.interserver.net/storage/) — storage and backup services - Licenses — control panel and software licenses - [Mail](https://www.mail.baby/) — mail delivery services - SSL — certificate provisioning - Billing — invoices, payment methods, and account management  For interactive testing, see the [API documentation](/api-docs/).  # Authentication  Most endpoints require authentication. Two methods are supported:  ## API Key (Preferred)  Generate an API key from the [Account Security](https://my.interserver.net/account_security) page on [my.interserver.net](https://my.interserver.net/). Pass it in the `X-API-KEY` request header:  ``` X-API-KEY: your-api-key-here ```  ## Session-Based Authentication  Alternatively, authenticate by creating a session:  1. **Log in** — Send a `POST` request to `/login` with your account credentials. The response includes a session identifier. 2. **Pass the session ID** — Include the session identifier in the `sessionid` header on subsequent requests:  ``` sessionid: your-session-id-here ```  API key authentication is recommended for most integrations as it does not expire and avoids the overhead of session management.  
 *
 * The version of the OpenAPI document: 0.9.0
 * Contact: support@interserver.net
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ChargeInvoiceRows
import org.openapitools.client.model.DenyRuleNew
import org.openapitools.client.model.DenyRuleRecord
import org.openapitools.client.model.GenericResponse
import org.openapitools.client.model.GetAccountInfo401Response
import org.openapitools.client.model.MailAlertRequest
import org.openapitools.client.model.MailAlertUpdateRequest
import org.openapitools.client.model.MailAlertsResponse
import org.openapitools.client.model.MailBlocks
import org.openapitools.client.model.MailCancel200Response
import org.openapitools.client.model.MailDelistRequest
import org.openapitools.client.model.MailDelistResponse
import org.openapitools.client.model.MailDeliverabilityResponse
import org.openapitools.client.model.MailLog
import org.openapitools.client.model.MailOrder
import org.openapitools.client.model.MailRow
import org.openapitools.client.model.MailSchema
import org.openapitools.client.model.MailStatsType
import org.openapitools.client.model.SendMail
import org.openapitools.client.model.SendMailAdv
import org.openapitools.client.model.SuccessTextResponse
import org.openapitools.client.core.JsonSupport.{*, given}
import org.openapitools.client.core.FormSerializable
import org.openapitools.client.core.FormStyleFormat
import org.openapitools.client.core.HeaderSerializable
import org.openapitools.client.core.ApiKeyLocation
import org.openapitools.client.core.PathStyleFormat
import org.openapitools.client.core.PathSerializable
import org.openapitools.client.core.CookieSerializable
import org.openapitools.client.core.Helpers.*
import sttp.client4.jsoniter.*
import sttp.client4.*
import sttp.model.Method

object MailApi:
  def apply(baseUrl: String = "https://my.interserver.net/apiv2"): MailApi[org.openapitools.client.core.Authorization.NoAuthorization.type] = MailApi(baseUrl, org.openapitools.client.core.Authorization.NoAuthorization)
  def withBasicAuth(baseUrl: String, username: String, password: String): MailApi[org.openapitools.client.core.Authorization.BasicAuth] =
    MailApi(baseUrl, org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(baseUrl: String, apiKey: String): MailApi[org.openapitools.client.core.Authorization.ApiKey] =
    MailApi(baseUrl, org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withBearerTokenAuth(baseUrl: String, token: String): MailApi[org.openapitools.client.core.Authorization.BearerToken] =
    MailApi(baseUrl, org.openapitools.client.core.Authorization.BearerToken(token))

case class MailApi[Auth <: org.openapitools.client.core.Authorization] private (baseUrl: String, authConfig: org.openapitools.client.core.Authorization):
  def withBasicAuth(username: String, password: String): MailApi[org.openapitools.client.core.Authorization.BasicAuth] =
    copy(authConfig = org.openapitools.client.core.Authorization.BasicAuth(username, password))

  def withApiKeyAuth(apiKey: String): MailApi[org.openapitools.client.core.Authorization.ApiKey] =
    copy(authConfig = org.openapitools.client.core.Authorization.ApiKey(apiKey))

  def withNoAuth: MailApi[org.openapitools.client.core.Authorization.NoAuthorization.type] =
    copy(authConfig = org.openapitools.client.core.Authorization.NoAuthorization)

  def withBearerTokenAuth(token: String): MailApi[org.openapitools.client.core.Authorization.BearerToken] =
    copy(authConfig = org.openapitools.client.core.Authorization.BearerToken(token))

  /**
   * Places a Mail Baby order. On success, invoices are created for payment; use `/billing/invoices/{id}` or `/pay/{method}/{invoices}` to complete payment.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def addMail(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val requestURL =
      uri"$baseUrl/mail/order"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Adds a new deny rule to automatically block emails that match the specified criteria.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Deny rule created successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param denyRuleNew These are the fields needed to create a new email deny rule.
   */
  def addRule(id: Int, denyRuleNew: DenyRuleNew)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], GenericResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/rules"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(denyRuleNew))
      .response(asJson[GenericResponse])

  /**
   * Creates a new alert for the mail service, such as delivery or quota notifications.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailAlertRequest 
   */
  def createMailAlert(id: Int, mailAlertRequest: MailAlertRequest)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/alerts"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(mailAlertRequest))
      .response(asJson[SuccessTextResponse])

  /**
   * Deletes an existing alert definition for the mail service.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param alertId Alert ID to delete.
   */
  def deleteMailAlert(id: Int, alertId: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/alerts"
        .addParams(FormSerializable.serialize("alert_id", alertId, FormStyleFormat.FORM, true): _*)

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SuccessTextResponse])

  /**
   * Removes a deny rule from the mail service.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Deny rule deleted successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param rule The ID of the Rules entry.
   */
  def deleteRule(id: Int, rule: String)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], GenericResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val rulePathParam = PathSerializable.serialize("rule", rule, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/rules/${rulePathParam}"

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[GenericResponse])

  /**
   * Removes an email address from the mail service's block lists.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email address removed from block list successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param email an email address
   */
  def delistBlock(id: Int, email: Option[String] = scala.None)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], GenericResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/blocks/delete"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("multipart/form-data")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .multipartBody(Seq(
            
        email.map(value => multipart("email", value.toString))


      ).flatten)
      .response(asJson[GenericResponse])

  /**
   * Returns the alert configuration for the mail service. Use the alert IDs from this response with PUT or DELETE to update or remove alerts.
   * 
   * Expected answers:
   *   code 200 : MailAlertsResponse (Alert configuration for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailAlerts(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailAlertsResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/alerts"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailAlertsResponse])

  /**
   * Displays a listing of the blocked email addresses
   * 
   * Expected answers:
   *   code 200 : MailBlocks (OK)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailBlocks(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailBlocks]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/blocks"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailBlocks])

  /**
   * Returns the current blocklist and delisting information for the mail service, including recent local and trap blocks.
   * 
   * Expected answers:
   *   code 200 : MailDelistResponse (Blocklist entries and delist details for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailDelist(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailDelistResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/delist"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailDelistResponse])

  /**
   * Returns deliverability statistics such as delivered vs. bounced counts and percentages. Use query filters to pivot the response by domain or sender.
   * 
   * Expected answers:
   *   code 200 : MailDeliverabilityResponse (Deliverability metrics for the mail service.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailDeliverability(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailDeliverabilityResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/deliverability"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailDeliverabilityResponse])

  /**
   * Returns detailed information for the mail service, including credentials and service metadata required to configure your sending client.
   * 
   * Expected answers:
   *   code 200 : MailSchema (Mail Information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailInfo(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailSchema]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailSchema])

  /**
   * Retrieves invoices associated with the mail service. Use these invoices to validate billing status or initiate payment.
   * 
   * Expected answers:
   *   code 200 : ChargeInvoiceRows (Get Invoices response)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailInvoices(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], ChargeInvoiceRows]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/invoices"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[ChargeInvoiceRows])

  /**
   * Returns the Mail Baby services on your account. Use the `mail_id` from this list with `/mail/{id}` to retrieve service details, and with `/mail/{id}/stats` or `/mail/{id}/log` to review delivery statistics.
   * 
   * Expected answers:
   *   code 200 : Seq[MailRow] (The listing of `Mail` services on your account.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getMailList(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Seq[MailRow]]] =
    val requestURL =
      uri"$baseUrl/mail"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[Seq[MailRow]])

  /**
   * Resends the welcome email for the Mail Baby service. The email contains SMTP credentials and configuration instructions.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getMailWelcomeEmail(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/welcome_email"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SuccessTextResponse])

  /**
   * Returns available Mail Baby plans and ordering metadata. Use the service type IDs from this response when validating or placing a new mail order.
   * 
   * Expected answers:
   *   code 200 : MailOrder (Mail ordering information.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def getNewMail(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailOrder]] =
    val requestURL =
      uri"$baseUrl/mail/order"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailOrder])

  /**
   * Returns a listing of all the deny block rules configured for this mail service.
   * 
   * Expected answers:
   *   code 200 : Seq[DenyRuleRecord] (List of configured deny rules.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def getRules(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Seq[DenyRuleRecord]]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/rules"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[Seq[DenyRuleRecord]])

  /**
   * Returns usage statistics for the mail service over the requested time period, including send counts, delivery rates, and quota consumption.
   * 
   * Expected answers:
   *   code 200 : MailStatsType (Mail service usage statistics.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param time The timeframe for the statistics.
   */
  def getStats(id: Int, time: Option[String] = scala.None)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailStatsType]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/stats"
        .addParams(FormSerializable.serialize("time", time, FormStyleFormat.FORM, true): _*)

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailStatsType])

  /**
   * Cancels a Mail Baby service. After cancellation the mail credentials are deactivated and the service transitions to a canceled status. No further billing charges will be incurred.
   * 
   * Expected answers:
   *   code 200 : MailCancel200Response (Mail Cancel)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def mailCancel(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailCancel200Response]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}"

    basicRequest
      .method(Method.DELETE, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailCancel200Response])

  /**
   * Removes an email address from blocklists for the mail service. Provide the `unblock` email address from the delist status response.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailDelistRequest 
   */
  def postMailDelist(id: Int, mailDelistRequest: MailDelistRequest)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/delist"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(mailDelistRequest))
      .response(asJson[SuccessTextResponse])

  /**
   * Validates a Mail Baby order and returns pricing or errors. Use this before placing the final order.
   * 
   * Expected answers:
   *   code 200 :  (Validate Mail order response.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   */
  def putMail(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val requestURL =
      uri"$baseUrl/mail/order"

    basicRequest
      .method(Method.PUT, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Resets the Mail Baby service password and emails the new password to the account owner. Use `/mail/{id}` to retrieve updated credential data after the reset.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def resetMailPassword(id: Int)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/reset_password"

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[SuccessTextResponse])

  /**
   * Sends an email through one of your mail orders with support for file attachments, CC, BCC, and other advanced options. For simple single-recipient sends, use `POST /mail/{id}/send`.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email queued successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param sendMailAdv 
   */
  def sendAdvMail(id: Int, sendMailAdv: SendMailAdv)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], GenericResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/advsend"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(sendMailAdv))
      .response(asJson[GenericResponse])

  /**
   * Sends an email through one of your mail orders. For multiple recipients or file attachments, use `POST /mail/{id}/advsend` instead.
   * 
   * Expected answers:
   *   code 200 : GenericResponse (Email queued successfully.)
   *   code 400 : GetAccountInfo401Response (The specified resource was not found)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 404 : GetAccountInfo401Response (The specified resource was not found)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param sendMail 
   */
  def sendMail(id: Int, sendMail: SendMail)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], GenericResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/send"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(sendMail))
      .response(asJson[GenericResponse])

  /**
   * Updates an existing alert definition for the mail service. Provide the `alert_id` returned by the list response along with updated fields.
   * 
   * Expected answers:
   *   code 200 : SuccessTextResponse (A response indicating the operation completed successfully with a text message.)
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param mailAlertUpdateRequest 
   */
  def updateMailAlert(id: Int, mailAlertUpdateRequest: MailAlertUpdateRequest)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], SuccessTextResponse]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/alerts"

    basicRequest
      .method(Method.PUT, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .body(asJson(mailAlertUpdateRequest))
      .response(asJson[SuccessTextResponse])

  /**
   * Updates mail service metadata for the order, such as stored settings or account details.
   * 
   * Expected answers:
   *   code 401 : GetAccountInfo401Response (Unauthorized)
   *   code 0 :  (Default response)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   */
  def updateMailInfo(id: String)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], Unit]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}"

    basicRequest
      .method(Method.POST, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asString.mapWithMetadata(ResponseAs.deserializeRightWithError(_ => Right(()))))

  /**
   * Returns a paginated log of emails sent through this mail service, with optional filtering by sender, recipient, date range, and delivery status.
   * 
   * Expected answers:
   *   code 200 : MailLog (Paginated list of mail log entries matching the specified filters.)
   *   code 400 :  (bad input parameter)
   * 
   * Available security schemes:
   *   sessionIdCookieAuth (apiKey)
   *   apiKeyAuth (apiKey)
   *   sessionIdHeaderAuth (apiKey)
   * 
   * @param id The mail service ID. Use `mail_id` from `GET /mail`.
   * @param id2 The ID of your mail order this will be sent through.
   * @param origin originating ip address sending mail
   * @param mx mx record mail was sent to
   * @param from from email address
   * @param to to/destination email address
   * @param subject subject containing this string
   * @param mailid mail id
   * @param skip number of records to skip for pagination
   * @param limit maximum number of records to return
   * @param startDate earliest date to get emails in unix timestamp format
   * @param endDate Latest date to get emails in unix timestamp format.
   * @param delivered Filter emails by whether or not they were delivered.
   */
  def viewMailLog(id: Int, id2: Option[Long] = scala.None, origin: Option[String] = scala.None, mx: Option[String] = scala.None, from: Option[String] = scala.None, to: Option[String] = scala.None, subject: Option[String] = scala.None, mailid: Option[String] = scala.None, skip: Option[Int] = scala.None, limit: Option[Int] = scala.None, startDate: Option[Long] = scala.None, endDate: Option[Long] = scala.None, delivered: Option[String] = scala.None)(using Auth <:< org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey | org.openapitools.client.core.Authorization.ApiKey): sttp.client4.Request[Either[ResponseException[String], MailLog]] =
    val idPathParam = PathSerializable.serialize("id", id, PathStyleFormat.SIMPLE, false)
    val requestURL =
      uri"$baseUrl/mail/${idPathParam}/log"
        .addParams(FormSerializable.serialize("id", id2, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("origin", origin, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("mx", mx, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("from", from, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("to", to, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("subject", subject, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("mailid", mailid, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("skip", skip, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("limit", limit, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("startDate", startDate, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("endDate", endDate, FormStyleFormat.FORM, true): _*)
        .addParams(FormSerializable.serialize("delivered", delivered, FormStyleFormat.FORM, true): _*)

    basicRequest
      .method(Method.GET, requestURL)
      .contentType("application/json")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.COOKIE, "sessionid")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "X-API-KEY")
      .auth(authConfig, org.openapitools.client.core.ApiKeyLocation.HEADER, "sessionid")
      .response(asJson[MailLog])

end MailApi